[2020-08-25 18:49] anandyita-sinha-1 opened #1264 "no test found with test runner 'junit5'"
I have one feature file which I'm trying to run through with the below code. whenever I try to run it as a Junit or TestNG it gives an error telling no test found

[code]

[2020-08-25 20:27] anandyita-sinha-1 commented on #1264
[automation.zip](https://github.com/intuit/karate/files/5126120/automation.zip)

[2020-08-26 02:28] ptrthomas commented on #1264
@anandyita-sinha-1 sorry you haven't followed the instructions, read them again. what is the command you expect to execute for example. also the zip is corrupted it is only 22 bytes https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-08-26 02:28] #1264 closed

[2020-08-26 03:14] ptrthomas commented on #1263
moving to project board: https://github.com/intuit/karate/projects/3#card-30606076

[2020-08-26 03:15] #1263 closed

[2020-08-26 03:16] ptrthomas commented on #1184
closing because of lack of data. this is one of the things that will be easier to figure once we get a real-life scenario from the field

[2020-08-26 03:16] #1184 closed

[2020-08-26 15:42] trySometngNew opened #1265 "IntelliJ Quickstart not working for Karate 0.9.6 and OpenJDK 11"
Hi Karate Team,
Thanks for creating Karate Test Framework. I am getting issue of "no tests were found" while following Quickstart tutorial for Karate. Only changes i made were :
Karate Test Framework version : 0.9.6
JDK : OpenJDK 11

The only difference which you may not experience is shown in attached IntelliJ IDEA pop-up dialog box of "Windows Defender might impact performance" which i ignore.
!

[2020-08-26 15:51] trySometngNew commented on #1265
I get same issue with Karate Version 0.9.5 also

[2020-08-26 15:53] ptrthomas commented on #1265
<img width="1022" alt="image" src="https://user-images.githubusercontent.com/915480/91326640-3077bc80-e7e2-11ea-9360-c0a6acb9b251.png">

works for me. there seems to be something seriously wrong in your env or intellij install. I am on JDK8 - if there is something that you can figure out that needs to change for JDK11 let us know

closing because no one has reported this

[2020-08-26 15:53] #1265 closed

[2020-08-26 20:38] ewexlerr opened #1266 "Match statement with array on lefthand side causes ParseException"
**Issue**:
A match statement like these:
`    * match ['foo', 'bar'] contains 'foo'`
`    * match ['foo', 'bar'] == ['foo', 'bar']`
Results in an error like:
`net.minidev.json.parser.ParseException: Unexpected End Of File position 5: null`

**Expected Behavior:**
Both of the above match statements should pass without error. I have tested with my sample project and it worked fine up to 0.9.6.RC3 -

[2020-08-27 03:47] ptrthomas commented on #1266
@ewexlerr yep. this is a `won't fix` for me. Karate was designed originally to support only JsonPath and literals on the Left-Hand-Side of a `match`. we did improve the parser, but there are some edge cases like this.

but not to worry, here's the guaranteed work-around, other than referring to a variable or `response` directly on the LHS which is what you would do 90% of the time. wrap the expres

[2020-08-27 03:47] #1266 closed

[2020-08-27 15:15] ewexlerr commented on #1266
Hi @ptrthomas, thanks for getting back to me. The parentheses workaround gets the job done - very cool! However, I thought I should mention that there seems to be the same issue even when the LHS _is_ a variable if it comes from a Scenario Outline Examples table, e.g.:

[code]

I imagine you feel the same way about this and I can confirm that the parentheses workaround is effective in this case as

[2020-08-27 18:51] ptrthomas commented on #1266
@ewexlerr thanks, to me this is the exact same thing the `<>` will simply be replaced with the table cell at run time

[2020-08-27 20:46] anandyita-sinha-1 opened #1267 "No tests found for test runner Junit5"
I have created a maven project in eclipse. when I run the default example I don't see any issue any the feature file is executed successfully. but when I make some changes in the runner file and specify the feature file name, then it gives me an error message as
 "No tests found for test runner Junit5".

whenever open any feature file it shows me an error message as "An internal error occurred dur

[2020-08-28 02:41] ptrthomas commented on #1267
you made a mistake in the classpath. read the docs carefully. and make this change

[code]

[2020-08-28 02:41] #1267 closed

[2020-08-28 09:12] mihirmehta opened #1268 "Karate Gatling tests error - Failed to execute goal io.gatling:gatling-maven-plugin:3.0.4:test (default-cli) on project RC: No simulations to run on Eclipse"
I am trying to run a simple performance test on an endpoint that registers a device. However when I run the command
[code]
I get an error as follows:

[code]
I have attached the source files, pom.xml and karate-config.js that are required for further investigation.
I have also attached the runner file which works when executed from within Eclipse.
I have also included the passwords  that are neede

[2020-08-28 09:50] ptrthomas commented on #1268
<img width="564" alt="image" src="https://user-images.githubusercontent.com/915480/91547714-f1f91380-e941-11ea-9255-f7bf9e7ee5a7.png">

you have a typo. any questions.

[2020-08-28 09:50] #1268 closed

[2020-08-28 09:53] mihirmehta commented on #1268
ah!!! Such a silly mistake! I corrected that and it works. Thank you very much Peter!

[2020-08-28 12:59] jbart18 opened #1269 "[KARATE] [UI} Switching to browser window/TAB cant be made active / accessible"
Hi @ptrthomas

project: [ui-e2e-test.zip](https://github.com/intuit/karate/files/5142150/ui-e2e-test.zip)

I am a big fan of Karate and everything you have done and are doing in building out such an easy to use test framework, which eliminates unnecessary overhead. I introduced MPROTO to karate earlier in the year and am impressed with the contribution he made and how quickly it's been implemented

[2020-08-28 13:13] ptrthomas commented on #1269
@jbart18 yes this is hard. I have no idea how they have gotten chrome to open a completely new window.

here is what I suggest:

[code]

so now everything is in the same window, clean and you still are using the link as it appears. if you really want to simulate the pop up window, I can't help sorry, you'll have to figure this out by trial and error or we may even need to make changes to Karate, s

[2020-08-28 13:13] #1269 closed

[2020-08-28 13:45] jbart18 commented on #1269
Thanks @ptrthomas  for the **immediate** reply - very impressive. That suggestion works and allows me to continue in an atypical situation.
Thanks Heaps JB

[2020-08-28 18:41] ericdriggs opened #1270 "New karate report has slow performance when selecting scenario from left side-bar"
Steps to reproduce:

Load karate-summary.html
select feature
select scenario
browser shows loading symbol for long time (~10-30 seconds)

Using large feature file. I mail you an example zip if it would be helpful

[2020-08-28 19:30] ptrthomas commented on #1270
@ericdriggs absolutely a won't fix for me :) PR's welcome

[2020-08-28 20:51] orisvogel opened #1271 "JUnit Tests fails if default locale has a different number represenation as US locale"
I've checked out the repository and I've tried to run `mvn clean install -P pre-release`. Then some BigDecimal test fails, because my default locale is "de_DE" and the method `convertToBigDecimal` is using the default locale.

I've created a fix https://github.com/orisvogel/karate/commit/892ffe621254b3ac2c48a14dedaac8687524de03 for this problem so that the conversion no longer depends on the defau

[2020-08-29 05:00] sadiqkassamali opened #1272 "Karate report enhancement"
Karate report enhancement.
Ability to copy full response by clicking a button.
Since responses get BIG depending on the service, there should be a way to CLICK COPY response in test in Karate Report.

[2020-08-29 05:06] sadiqkassamali commented on #1272
It would be something like this https://codepen.io/shaikmaqsood/pen/XmydxJ but for for response or print statements in karate report

[2020-08-29 17:26] ptrthomas commented on #1271
@orisvogel thanks for the PR !

[2020-08-31 02:25] sadiqkassamali commented on #1272
Thanks for picking it up peter :)

[2020-09-01 13:58] krstcs opened #1276 "Input() method doesn't input any value in Chrome when using ChromeDriver with the useAutomationExtension:false setting"
When using ChromeDriver with the 'useAutomationExtension' switch set to 'false' (company doesn't allow unpacked extensions), the Karate input() method doesn't actually input the given value into the field.  Without the switch the test works correctly and input() actually inputs the value (but we have to contest with the ChromeDriver popup).  The same test works fine in Selenium with the switch or

[2020-09-01 14:46] ptrthomas commented on #1276
@krstcs   first of all you see this message: `Deprecated chrome option is ignored: useAutomationExtension`

what's happening is `chromedriver` is switching to old non-w3c more, for details see: https://medium.com/@alex.designworks/chromedriver-75-enforces-w3c-standard-breaking-behat-tests-460cad435545 - it actually seems to be a weird bug, and I have no idea why it does that

I tried simulating th

[2020-09-01 14:46] #1276 closed

[2020-09-01 17:22] Krishchaithu opened #1277 "callonce is running multiple time in scenario outline | expected to run only once and provide same results always"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-09-01 17:24] ptrthomas commented on #1277
see second link above

[2020-09-01 17:24] #1277 closed

[2020-09-02 21:01] digoo opened #1279 "Loading a file with csv type leads to java.lang.NullPointerException"
I was trying to load a csv file with the csv type and I'm receiving NPE, I have attached the project for debug, but:

[code]

[code]
It must be related to `read` function.

[anyToCsvNPE.zip](https://github.com/intuit/karate/files/5164757/anyToCsvNPE.zip)

[2020-09-03 04:16] ptrthomas commented on #1279
@digoo sorry, csv is for converting strings to JSON, for example:

[code]

if you think something needs to be changed, please contribute code (or docs)

[2020-09-03 04:16] #1279 closed

[2020-09-03 06:09] ptrthomas opened #1280 "karate.get() and other JS API should work using current thread context e.g. for getting UI driver"
there are a few cases where using the `karate` object, uses the context *at the time the JS block was evaluated*

so in case we loaded a function via `karate-config.js` but now we are within a "called" feature or something, using that JS function would use the "wrong" context,

great example is that if we attempted to do `karate.get('driver')` - a UI driver that is "lazily" initialized would not b

[2020-09-04 15:05] chrisw-everflow commented on #916
Just ran into this, yes...don't have a comment as the first line in your JS

[2020-09-04 15:17] ptrthomas opened #1281 "GraalJS and runner and reporter improvements - performance, streams, config"
this is an "umbrella" issue and I may close some of the existing issues as duplicates. there is a refactoring that will go along with this, ~~perhaps~~ the graal migration

* ✅ introduce a scenario stream concept
  * a "generator function" that can produce scenarios at run-time, lazily for best performance
  * split scenarios for parallel execution
  * result streams can be combined to aggregate r

[2020-09-04 15:19] ptrthomas commented on #1272
rolling into #1281

[2020-09-04 15:19] #1272 closed

[2020-09-04 15:21] ptrthomas commented on #951
rolling into #1281 - most likely will not do markdown or asciidoc for now (can always be added later once we have a foundation). but we will build our own HTML templating approach, there are some interesting ideas in the works, stay tuned !

[2020-09-04 15:21] #951 closed

[2020-09-04 17:06] KostasKgr commented on #1281
Thanks for raising this Peter, You've noted everything I had in mind.

In case it helps I have crafted a simple example similar to what I had used in a project. Checking task manager in windows it consumes 4.2gb of memory with 2000 elements in the dynamic scenario.
https://github.com/KostasKgr/karate-issues/blob/heavy_cpu_memory_on_dynamic_scenario/src/test/java/examples/example.feature

I had als

[2020-09-05 03:23] ptrthomas commented on #1281
@KostasKgr XML report maybe it is this problem someone just reported: https://stackoverflow.com/q/63747415/143475 - I've added it to the master list

[2020-09-06 07:13] kraul25 opened #1282 "in Karate the surefire XML report created appends and merges test steps for all examples one after another in next test executed"
am running following scenario example:

Scenario Outline: Basic test for user <userID>
When url 'xyz'
And path 'abc/efg'
And params id = <userID>
When method get
Then status 200

Example:
|userID|
|1|
|2|
|3|
|4|
Note: I am passing userID from examples to scenario name and also params now after this is executed the xml report generated in surefire for above test looks something like this:

<testSu

[2020-09-06 07:33] ptrthomas commented on #1282
@kraul25 sorry, I specifically asked for a sample project. can reopen once that is available: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-09-06 08:48] kraul25 commented on #1282
Nothing special that I am doing... This could be reproduced with any existing karate projects available. . I am using parallel runner as: https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/DemoTestParallel.java... Upto you to fix it or not or keep it closed/invalid. Difficult for me to create a new project and upload as I am using office machine only which blocks everythin

[2020-09-06 09:03] ptrthomas commented on #1282
@kraul25 we will look at this in #1281 but no guarantees without a way to replicate. I do wish more people contributed code instead of complaining, but that's just me

[2020-09-08 12:02] Sdaas opened #1283 "Unable to right click on .feature file if path to file contains spaces."
Normally, I can right click on a `.feature` file to run all the tests in it. However, this does not work with IntelliJ if the path to the file contains a space. e.g,. `~/Idea Projects/hello-karate/src/test/...../hello.feature`. Steps to reproduce it

* Use IntelliJ
* Create a folder called `foo bar` (with space)
* git clone `https://github.com/Sdaas/hello-karate` into this folder
* Attempt to run

[2020-09-09 12:14] joelpramos commented on #1280
The issue reported in https://stackoverflow.com/questions/63797890/creating-functions-for-re-usable-features-in-karate-core/ seems to relate with this one so I'll dig deeper into the code. Will let you know if I have any updates.

[2020-09-09 12:19] ptrthomas commented on #1280
@joelpramos just make sure you switched to the `develop` branch if you built locally. it would be great if you can find a fix / PR, but if you find a way to replicate, do follow this process, it would be very helpful: https://github.com/intuit/karate/tree/develop/examples/ui-test

[2020-09-10 05:54] zouchengli opened #1284 "data-urlencode how use mock netty server feature file configure"
curl --location --request GET 'http://127.0.0.1:8080/interface?id=N10' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'grant_type=test'

[2020-09-10 06:00] ptrthomas commented on #1284
@zouchengli please ask these kinds of questions on stack overflow and try to be more clear please: https://stackoverflow.com/questions/tagged/karate

[2020-09-10 06:00] #1284 closed

[2020-09-11 12:22] joelpramos commented on #1280
@ptrthomas I tried using the `develop` branch. Will triage further in the next week and/or provide a minimalist example.

[2020-09-13 17:19] dasarih commented on #388
Have you  tried to iterate through each  of the booking id to call "https://restful-booker.herokuapp.com/booking/:id" after calling "curl -i https://restful-booker.herokuapp.com/booking". I  don't know how to do this in  Karate. It is not working  for  me

[2020-09-13 18:08] ptrthomas commented on #388
@dasarih use stack overflow for questions please: https://stackoverflow.com/questions/tagged/karate

[2020-09-16 15:36] advoinik-clgx commented on #916
for me, the root was in a place much before response - when I set path
`And path /path/path` - forgot to get the path into quotes.
`And path '/path/path'` worked well

[2020-09-16 16:12] dmitry-minchuk opened #1285 "How to turn off Chrome Password Manager in Karate"
Hello,
Can't find a way in Karate to disable chrome password manager via chrome options. Here is my best, but it's not working:

`{type: 'chrome', executable: '/Applications/Google Chrome.app/Contents/MacOS/Google Chrome', goog:chromeOptions: { credentials_enable_service: false, profile.password_manager_enabled: false }}`

Is there any documentation on required options hierarchy for karate driver

[2020-09-16 17:17] ptrthomas commented on #1285
@dmitry-minchuk we prefer questions like this on stack overflow. that said maybe using `addOptions: ['--disable-save-password-bubble']` may be sufficient.

also refer this comment in case it helps: https://github.com/intuit/karate/issues/1134#issuecomment-638990087

if you can suggest what documentation should be added (ideally submit a PR) we will update it

[2020-09-16 17:17] #1285 closed

[2020-09-18 04:21] ptrthomas opened #1286 "[hacktoberfest] instructions for contributors - list of backlog items - read this first"
Thank you for your interest in contributing to Karate ! We have a set of well-documented roadmap items and enhancements proposed here: https://github.com/intuit/karate/projects/3

![image](https://user-images.githubusercontent.com/915480/65544000-345ed880-dec7-11e9-90f4-97534e917ae0.png)

All you need to do is choose what you wish to work on, look at the **Proposed**  column - and then we will mov

[2020-09-21 04:24] DeGuitard opened #1287 "Update snakeyaml version to fix CVE-2017-18640"
Hello,

This morning I found that the OSS Sonatype index maven plugin is failing the build of any project using karate because of CVE-2017-18640. This issue exists in snakeyaml 1.24 (the version currently used). A [ticket was opened](https://bitbucket.org/asomov/snakeyaml/issues/377/allow-configuration-for-preventing-billion) in the SnakeYAML repo and it [got fixed in 1.26](https://bitbucket.org/a

[2020-09-21 04:30] ptrthomas commented on #1287
@DeGuitard done thanks, release 1.0 may be a few months out but we should be able to get a 0.9.7.RC1 in a week or two

[2020-09-21 04:38] DeGuitard commented on #1287
That was fast, thanks a lot :)

[2020-09-21 04:53] ptrthomas commented on #1287
@DeGuitard no worries. we'll keep this open until a formal release version (just our process, reopening)

[2020-09-23 22:15] joelpramos commented on #1280
@ptrthomas I can confirm the issue is addressed in the develop branch however I did encountered a new (strange) problem, not sure if you noticed it already...

If I use call read a *.feature file that has these helper functions and save it into a variable for reference (for my case I have the function moveAndClick) somehow the value of the JSON variables in context of the execution change to a str

[2020-09-24 03:19] ptrthomas commented on #1280
@joelpramos that print behavior happens when you have recursive references (because of the way they were inited), so it is fine. if you want you should be able to use `copy` to deep-clone the params `* copy temp = params` and then print them

[2020-09-24 10:27] joelpramos commented on #1280
It's something that doesn't seem to happen in the previous version. Also note that I used print but same is valid for match conditions or just using values. I'll probably look to have that working on my code to be able to namespace the additional dsl functions so I'll do some digging and if I find a workaround/fix I'll open a new ticket so it's not confused.

Nonetheless the problem I identified a

[2020-09-24 10:38] ptrthomas commented on #1280
@joelpramos

that doesn't sound good, so do try and replicate.

[2020-09-25 08:10] gavl-cdl opened #1289 "Documentation for `match contains` does not reflect changes in 0.9.6"
The second example in the documentation for `match contains` states:

But this example fails in 0.9.6 (line break added for readability):

`assertion failed: path: $.d, actual: {a=1, b=2}, expected: {b=2}, `
`reason: actual value has 1 more key(s) than expected: {a=1}`

Indeed, the documentation for the new `match contains deep` and the 0.9.6 release notes both use this same example to describe th

[2020-09-25 08:55] ptrthomas commented on #1289
thanks for raising this. fixed and release-notes updated

[2020-09-25 08:55] #1289 closed

[2020-09-25 09:05] gavl-cdl commented on #1289
Wow, <1 hour to fixed.  Thanks!

[2020-09-26 17:42] saurabh150891 opened #1290 "Certificates are not being picked/read in Karate Test Suite"
I am going to start by appreciating this framework, indeed the nicest to test our APIs and even better to understand it.

Documentation is also too good for a person who has just started coding in Karate! (Hopefully I have read most of it :P)

I am facing certificate related issue while executing my test cases.

Project has a *Common.feature* file that has a line as under to configure my certifica

[2020-09-26 18:46] ptrthomas commented on #1290
@saurabh150891 follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-09-26 18:46] #1290 closed

[2020-09-30 20:24] hkka opened #1292 "[Documentation - Gradle] can't run a selected test with gradle command line as the doc said"
Hi

Sorry for not providing a sample project for my issue, my problem is i can't run a single test following the doc :

`./gradlew clean test -Dtest=MyRunner`

But this one works :

`./gradlew clean test --tests "api.myapp.MyRunner"`

Here is my settings :

- gradle 6.3

- Karate 0.9.5

- adoptopenjdk-11

I think documentation should be updated.

Thank you

[2020-10-01 03:44] ptrthomas opened #1293 "unify cookie for api and ui tests"
based on feedback, team wants to do hybrid tests and port all cookies from the API http-client to the UI tests

we potentially need the reverse as well. right now thinking that making the JSON the same should be good enough so they can be passed around. to investigate

[2020-10-01 03:52] interactwithankush commented on #1292
I would like to contribute. Can I please be assigned to this problem?

[2020-10-01 03:54] ptrthomas commented on #1292
@interactwithankush yes, go ahead

[2020-10-01 08:15] scarlink opened #1294 "configure responseHeaders with a function"
Hello, I don't know if it's possible for a mock feature server (or a proxy feature server) to configure the responseHeaders with a function, in the same way as we do with the headers in the client part:

https://github.com/intuit/karate#configure-headers

So I would like to have something like this:
* def buildHeaders =
"""
function fn() {
  return { 'Content-Type:'  '....',  'My-Header': karate.g

[2020-10-01 08:53] ptrthomas commented on #1294
works for me. is the `configure` in the `Background:` section.

to re-open, please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-01 08:53] #1294 closed

[2020-10-01 18:08] wevertoncastro opened #1295 "Create a websocket connection to listen to a graphQL subscription"
Hello,

As was said here: [https://stackoverflow.com/questions/64144671/how-to-implement-the-connection-to-a-websocket-to-make-a-suscription-graphql-wit](https://stackoverflow.com/questions/64144671/how-to-implement-the-connection-to-a-websocket-to-make-a-suscription-graphql-wit)

I need to create a websocket connection to make a subscription and to hear the feedback.

1- I tried to use the exampl

[2020-10-01 18:13] ptrthomas commented on #1295
if you provide an example we can look into it, follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-01 18:13] #1295 closed

[2020-10-02 05:00] shreyamalik19 commented on #1286
Hi, could you please assign https://github.com/intuit/karate/projects/3#card-41317200 to me? Thanks!

[2020-10-02 05:25] ptrthomas commented on #1286
@shreyamalik19 done

[2020-10-02 10:56] Nishant-sehgal commented on #1181
@ptrthomas can you assign this issue  to me?

[2020-10-02 11:34] ptrthomas commented on #1286
@Nishant-sehgal done https://github.com/intuit/karate/issues/1181#issuecomment-702666410

[2020-10-02 12:37] Nishant-sehgal commented on #1181
@ptrthomas  Have done initial analysis.

https://github.com/intuit/karate/blob/3322d55a30b06b3cc5f16d2c2e00562d3d0eea54/karate-core/src/main/java/com/intuit/karate/http/HttpUtils.java#L118

Double Quotes if present in front or in end are not removed in above class and it end up escaping the quotes while creating ContentType object.

Will be adding a new method in StringUtils.trimDoubleQuotes to tr

[2020-10-02 13:54] ptrthomas commented on #1181
this may need research but if we are only trying to get the Charset - we should use the `HttpUtils` from Netty which has a `public static Charset getCharset(CharSequence contentTypeValue, Charset defaultCharset)` method.

[2020-10-02 16:34] Nishant-sehgal commented on #1181
Till here everything works fine. https://github.com/intuit/karate/blob/master/karate-apache/src/main/java/com/intuit/karate/http/apache/ApacheHttpUtils.java#L89
But when we are trying to withParameters with key,value this is the place where double quotes are getting escaped.

[2020-10-02 18:19] ptrthomas commented on #1181
@Nishant-sehgal let me try again, I'm saying we need to rewrite the karate httputils to use this method: https://netty.io/4.1/api/io/netty/handler/codec/http/HttpUtil.html#getCharset-java.lang.CharSequence-java.nio.charset.Charset-

[2020-10-02 23:01] tlebhar opened #1298 "'retry until' fails when 'headers' has a null value"
[myproject_TL-RetryFailures.zip](https://github.com/intuit/karate/files/5320664/myproject_TL-RetryFailures.zip)

The attached project demonstrates the issue.  The first scenario in users.feature provides an offeringId for the headers and it successfully retries three times.  The called feature expects responseStatus 204, so it always fails and retries.

The second scenario doesn't provide offering

[2020-10-03 05:47] ptrthomas commented on #1298
@tlebhar thanks, this is fixed in `develop`. the `__arg` is a special variable with some issues we will fix in the next version. for now, can you avoid it. one tip: when you pass data as a `call` argument, they will automatically be available in the called feature by name, try it out. `__arg` is intended as a convenience when you want to grab the call arg as a single JSON

we'll keep this open unt

[2020-10-03 10:35] Nishant-sehgal commented on #1181
@ptrthomas I am trying to understand how will using HttpUtil.getCharset of netty help.

If we use netty Implementation or existing karate httputils both are behaving the same way and returning the same Charset object with same data.

Issue is when we are setting parameter in content type.
[code]

Since we are creating HttpEntity object that requires ContentType.

I also found ContentType.parse(med

[2020-10-03 12:00] ptrthomas commented on #1181
@Nishant-sehgal thanks for the analysis, this helps ! option 2 sounds like less of a hack to me

[2020-10-04 16:25] Nishant-sehgal commented on #1181
@ptrthomas Have raised a initial PR share your thoughts for the same. [PR](https://github.com/intuit/karate/pull/1299)

[2020-10-04 16:26] Nishant-sehgal commented on #1181
Meanwhile i also though of an other implementation
[code]

[2020-10-05 20:34] sengopal commented on #498
Just in case someone likes to know the answer https://stackoverflow.com/questions/60219788/karate-exception-raises-for-invalid-jsonpath. Please use the SO post as @ptrthomas has suggested for any comments.

[2020-10-06 03:53] chaudharydeepak commented on #1165
Hi @ptrthomas - if its ok can I pls pick this? I tried to request this from project board proposed column - couldnt find anything to request? Let me know, Thank you

[2020-10-06 03:56] chaudharydeepak commented on #1286
Hi, can you pls assign https://github.com/intuit/karate/projects/3#card-41317122 to me?Thank you.

[2020-10-06 04:04] ptrthomas commented on #1165
@chaudharydeepak yes go ahead

[2020-10-06 04:06] ptrthomas commented on #1286
@chaudharydeepak yes go ahead

[2020-10-06 04:19] chaudharydeepak commented on #1165
Thank you @ptrthomas - I quickly glanced through code base
https://github.com/intuit/karate/blob/2b45168df0d8ade7d609b83acf46a942a560fe1f/karate-apache/src/main/java/com/intuit/karate/http/apache/ApacheHttpClient.java#L262

From what i understood - at line above we can simply check for if cookie is already expired, then dont set it - else let it flow through. Since my pretty new to this code base,

[2020-10-06 06:28] ptrthomas commented on #1165
lets not do configuration for now, user can always manually send a cookie
I'm not sure if setting the expiration date is enough - but the best way is to write a test and add behavior to the karate-demo server if needed, we will need tests. also I'm okay if we focus on apache only, but would be ideal if we look at jersey also. it may be a good idea to see what the jersey behavior is - in case it is

[2020-10-06 07:04] chaudharydeepak commented on #1165
@ptrthomas - I verified that as long as expiration date is set on the cookie - apache CookieStore takes care of removing any expired cookies before making a request - so I think we should be good there - i wrote some simple tests for ApacheHttpClient to verify. Will validate for Jersey Client and testing with demo server too.

[2020-10-06 10:01] Nishant-sehgal commented on #1286
@ptrthomas Can you assign https://github.com/intuit/karate/issues/1076 to me?

[2020-10-06 10:25] ptrthomas commented on #1286
@Nishant-sehgal done

[2020-10-06 10:25] ptrthomas commented on #1286
@Nishant-sehgal done

[2020-10-06 11:06] chaudharydeepak commented on #1165
@ptrthomas - just to keep you posted -
Below tests run fine with Apachehttpclient but fail with Jersey

`Scenario: expired cookie is not in response
    Given path 'search', 'cookies'
    And cookie foo = {value:'bar', expires:'Tue, 09 Jun 2020 14:43:04 GMT'}
    And param domain = '.abcdfdf.com'
    #And param expires = 'Tue, 09 Jun 2020 14:43:04 GMT'
    When method get
    Then status 200
    A

[2020-10-06 11:12] ptrthomas commented on #1165
@chaudharydeepak thanks. you can try for jersey - but worst case you can use a tag `@apache` so that the scenario is not run on the jersey side.

[2020-10-06 19:20] sixdouglas commented on #1286
Hi @ptrthomas can you assigne me this ticket :
https://github.com/intuit/karate/projects/3#card-36146380

[2020-10-06 19:26] ptrthomas commented on #1286
@sixdouglas done

[2020-10-07 02:47] joelpramos commented on #751
@celcius112 I'm facing the same (exactly lie @ptrthomas warned in #1225 ...) and wondering whether you ever got to work around this

[2020-10-07 02:54] ptrthomas commented on #751
@joelpramos can you create the smallest possible JAR or project where we can see this problem - I'll take a look sometime. in the meantime - do try and debug and make sense of the `FileUtils` code

[2020-10-07 05:58] sixdouglas opened #1303 "Add support for Microsoft Edge Chromium browser"
This issue is to be linked with the project card: https://github.com/intuit/karate/projects/3#card-36146380

[2020-10-07 07:14] SibusisoYingwane opened #1304 "status code was: 500, expected: 200 when I am uploading document"
Hi

I am trying to upload a document BUT I am getting status code was: 500, expected: 200.
I tried to mimic this test using POSTMAN and its works with the same headers and background configs

Background:
    * header Accept = 'application/json'
    * configure ssl = true
    * configure charset = null
    * configure headers = {Cookie : null}
    * def Timeout = 800000
    * def myfile = { read: '

[2020-10-07 07:46] celcius112 commented on #751
hello @joelpramos, the issue came from the different `Classloader` used by Kareta versus the one used by the spring-loader when launching a bootjar. I have created a [PR](https://github.com/intuit/karate/pull/833) to resolve this issue, but unfortunately some rework was necessary in order to make it work on windows, which I was far from motivated to do (and I'm sorry for that 😞 ).

We have found a

[2020-10-07 08:38] ptrthomas commented on #1304
sorry. you HAVE to follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-07 08:38] #1304 closed

[2020-10-07 10:39] RaghavendraHosur opened #1305 "Post with Json file gives invalid response error"
More details of issue can be found in this link
https://stackoverflow.com/questions/64231273/i-get-invalid-data-when-i-post-my-request-in-karate

I have attached dummy project which is filing . Please refer to \src\test\java\karate\Createbill.feature
[Raghu.zip](https://github.com/intuit/karate/files/5339912/Raghu.zip)

[2020-10-07 10:56] ptrthomas commented on #1305
no instructions and curl command that works is STILL needed

[2020-10-07 10:56] #1305 closed

[2020-10-07 11:10] RaghavendraHosur commented on #1305
curl -d "@A.json" -H "Content-type: application/json"  --user Raghu:Password!1 "https://api-int-europe.abc.abc.com/tm/abc.com/order/v1/?action=create"

[2020-10-07 11:12] ptrthomas commented on #1305
@RaghavendraHosur sorry `curl: (6) Could not resolve host: api-int-europe.abc.abc.com` also your project is not in quick start form. can you please talk to the developers of the service you are trying to hit instead of wasting our time ? thanks. maybe there is a bug on the server

[2020-10-07 11:21] sixdouglas commented on #1303
Thanks for having updated the documentation

[2020-10-07 11:51] ptrthomas commented on #1303
@sixdouglas no problem, thanks for the clean code ! I'll keep this open until the next formal release, just the process we use

[2020-10-07 13:13] joelpramos commented on #751
@ptrthomas I've been trying to go through FileUtils and the Resource file (my current exception is on the method Resource.getStream() so looking at changes there for now). I didn't fully understand all the changes @celcius112 did in his PR but will keep going through it today for inspiration :)

Example here: https://github.com/joelpramos/karate-classpath
- running in IntelliJ is perfectly fine (i

[2020-10-07 13:43] RaghavendraHosur commented on #1305
After few hours on debugging solved issue by adding * configure charset = null . With close monitering of system logs and karate logs , Karate adds Content-Type: application/json; charset=UTF-8 as default. Which I had to disable forcefully

[2020-10-07 13:44] RaghavendraHosur commented on #1305
Thanks to * configure charset = null option

[2020-10-07 14:27] ptrthomas commented on #1305
@RaghavendraHosur okay, thanks for sharing, I'll add this info to stack overflow

[2020-10-07 16:46] Nishant-sehgal commented on #1076
@ptrthomas As per initial analysis cucumber-reporting is bringing in following dependencies.
jackson: 2.8.5
log4j:2.6
commons-collections:3.2.1

[code]

shall i go ahead and upgrade the versions of these jars?

[2020-10-07 16:58] ptrthomas commented on #1076
@Nishant-sehgal hmm that's a tough one. I am actually thinking of removing cucumber-reporting in the next version. but you can go ahead and see if upgrading cucumber-reporting to latest version (we haven't done this for 3 years) causes any problems - else I would drop this and pick another one

[2020-10-08 03:42] QuadeMorrison opened #1306 "Mock Jersey Servlet doesn't add query params to the requestURI"
It appears that query params aren't appeneded to the end of the request URI for the mock jersey servlet. For example I would expect something like:
localhost:8080/hello?greeting=hello
But instead the url given is
localhost:8080/hello

This can be replicated using the example provided here with slight modifications
https://github.com/intuit/karate/tree/master/karate-mock-servlet

Replace the get he

[2020-10-08 03:56] ptrthomas commented on #1306
tagging as help wanted / hacktoberfest - anyone reading this - please consider contributing code, thanks

[2020-10-08 06:56] sixdouglas commented on #1286
Hi,
Can you tell me more about what you have in mind in this card:
https://github.com/intuit/karate/projects/3#card-32867382
I would be happy to help you any further but I'm not sure to understand it well.

[2020-10-08 07:16] ptrthomas commented on #1286
@sixdouglas that is hard to explain in short and may require you to read the links provided. but the goal is test-case generation. where the user needs to only specify some rules e.g. data-types (where karate has an existing system, e.g. `#string` `#boolean` etc) and then some optional additional rules: e.g. "name should be less than 20 chars". and then you get something like this as a result: htt

[2020-10-08 07:42] Nishant-sehgal commented on #1076
@ptrthomas Yes i tried upgrading the jar to 5.3.1. Did not see any issues.Let me raise a PR.

jackson: 2.10.1
collections: 3.2.2

[2020-10-08 14:19] Nishant-sehgal commented on #1286
@ptrthomas can you assign https://github.com/intuit/karate/issues/1175 to me?

[2020-10-08 14:27] ptrthomas commented on #1286
@Nishant-sehgal done

[2020-10-08 16:36] joelpramos commented on #751
Got a fix for the 2nd problem (doesn't seem to address the first) here: https://github.com/joelpramos/karate/commit/8b506060cdb62c38dbd7ddaab9575be81aaa5867 (there are several comments and System.out.println() just wanted to show you).

Found another problem with the way I'm using Karate in which Nashorn can't load a class from the Spring Boot classpath (this is a pretty good hint .. https://githu

[2020-10-08 16:43] Jack-Hua-Lu opened #1309 "Building karate-chrome docker image locally causing dependency conflict in 0.9.6"
Building karate-chrome docker image locally by running: https://github.com/intuit/karate/blob/master/karate-docker/karate-chrome/install.sh causing  maven dependency conflict. It happens in 0.9.6

Step to reproduce:
1. Setup Maven project and write any UI test, making sure it runs.
2. Clone karate-chrome above and run  https://github.com/intuit/karate/blob/master/karate-docker/karate-chrome/instal

[2020-10-08 16:56] ptrthomas commented on #751
@joelpramos this helps - sorry for not replying yesterday. I'm actually in the middle of a super-ambitious re-write of the core and moving things over to GraalVM refer #1281 - and one of the things I'm keen to do is get the file / classloading right this time. so once I get a chance I plan to look through your log and make sure the new code works and retro-apply whatever possible to `develop` in t

[2020-10-08 19:40] sixdouglas commented on #1286
@ptrthomas so let’s put it simple. What you wish to have, is a system that can generate multiple values as query inputs to call the tested system (and so multiple test executions), according to some rules.

In the case of the Endava CATS, the rules are defined in the OpenAPI contract.

If the user defines a schema like this :

```{ id: "#number", name: "#string" }```

and calls that new 'module' s

[2020-10-09 03:39] ptrthomas commented on #1286
@sixdouglas yes that's right

[2020-10-09 03:41] ptrthomas commented on #1306
thanks @liranz10 for the fix

[2020-10-09 03:43] ptrthomas commented on #1309
tagging as help-wanted / hacktoberfest - this is a weird edge case that most end-users will not land. also I would like someone to verify that a`mvn clean` would suffice

[2020-10-09 09:52] lhimo opened #1311 "Error message not so explicit for complex JSON 'schema' validation"
I'm trying to validate a json like this

`{
	"field1": [],
	"field2": null,
	"field3": true,
	"field4": "FULL",
	"field5": true,
	"field6": "abc",
	"field7": 123123,
	"field8": 123123,
	"field9": null,
	"field10": "D516F95F-F459-493C-9C0F-69E6CDE19CB1",
	"field11": [
		"ASDASD",
		"ZXCZXC",
		"QWEQWE",
		"VZVZVZ"
	],
	"field12": "bcv",
	"field13": "BB",
	"field14": 6548943,
	"field15": "498451",

[2020-10-09 10:11] ptrthomas commented on #1311
<img width="909" alt="image" src="https://user-images.githubusercontent.com/915480/95571236-bd4ea080-0a45-11eb-9a5a-71e715cfb525.png">

I think you will like the new version ! thanks for submitting the example will close as duplicate of #1281

[2020-10-09 10:11] #1311 closed

[2020-10-09 11:56] sixdouglas commented on #1286
@ptrthomas : you can assign the ticket to me. I'll create the issue to discuss it further with you.

[2020-10-09 11:59] ptrthomas commented on #1286
@sixdouglas done

[2020-10-09 11:59] sixdouglas commented on #1286
@ptrthomas : I would love to try the Github too
https://github.com/intuit/karate/projects/3#card-26888700

[2020-10-09 12:01] sixdouglas opened #1312 "Add Property based testing functionality"
Issue to discuss about the project card : https://github.com/intuit/karate/projects/3#card-32867382

[2020-10-09 12:03] ptrthomas commented on #1286
@sixdouglas github actions also assigned

[2020-10-09 15:04] sixdouglas opened #1313 "Use Github Actions"
Issue linked to the project card https://github.com/intuit/karate/projects/3#card-26888700

[2020-10-09 17:30] sixdouglas commented on #1313
What would be the event that will trigger this action? What do you think of the Release Creation event ? Or do you prefer to start it manually?

In the card, you make reference to a readme.txt file.
https://github.com/intuit/karate/blob/develop/karate-core/src/test/resources/readme.txt
Can you give me more details about the content of this file?

What does the `dev:` mean?
What do you do when you

[2020-10-09 22:58] joelpramos commented on #751
@ptrthomas no problem - this is open source I don't expect an immediate answer :) To workaround the Nashorn issue I exposed a method to allow me to instantiate the Nashorn engine directly. I tried with passing thread context etc but seems like when the parallel runner starts the classpath context is lost. With that new method all I do is after starting my spring applications I call the following l

[2020-10-10 03:44] ptrthomas commented on #1313
@sixdouglas we can keep it simple and manually trigger that itself would be helpful
yes the content is cryptic and is my personal release cheat sheet. if it helps even if some portion of it is automated (e.g. lines 1-15) that would be a good starting point. but feel free to skip this and choose another task

[2020-10-10 03:53] ptrthomas commented on #751
@joelpramos ok. just one thing - on the `rewrite` branch I made some changes to `Resource` and `FileUtils` - mainly I did not want `Resource` to need a `ClassLoader` passed any more and have only one (less confusing) entry point. I would like to add these changes to the `develop` branch before you proceed, or would you be able to experiment first along those lines to confirm

here's one diff: http

[2020-10-10 13:01] joelpramos commented on #751
I'll try to merge your changes to those two files to minimize conflicts and test it on my end.

I tried using getSystemClassLoader() and it fails ([see here](https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-executable-jar-format.html#executable-jar-restrictions)). I haven't found an issue with the thread contextloader() so I'd suggest to stick with that. According to [this s

[2020-10-10 13:07] ptrthomas commented on #751
@joelpramos great, thanks - I agree that in any case we should expose a method via the API so that one can force-override a custom class-loader at run-time

[2020-10-10 13:36] chaudharydeepak commented on #1211
@ptrthomas - we possibly can handle this the same way we did for expiring cookies - in this scenario we can check on max-age - if its 0 then mark cookie expired i.e. do not pass it along. Pls assign this to me & I can take it forward. Thank you.

[2020-10-10 13:38] chaudharydeepak commented on #1293
@ptrthomas - as discussed, Pls assign this to me. Thank you.

[2020-10-11 04:23] chaudharydeepak commented on #1211
@zgael - ideally, shouldnt last test case check for sentCookie as null? since the /delete should have removed the cookie, so when you call /list, no cookie was sent in the request?

[2020-10-11 11:21] Nishant-sehgal commented on #1175
@ptrthomas I was debugging this issue.What i found is if StackOverflowError is thrown it does not have error message set in it
so we see [ERROR]   FooRunner.testUsers foo.feature:4 - null.

We can set the error as it is if error.getMessage() is null WDYT?

https://github.com/intuit/karate/blob/3322d55a30b06b3cc5f16d2c2e00562d3d0eea54/karate-core/src/main/java/com/intuit/karate/core/Result.java#L96

[2020-10-11 11:51] ptrthomas commented on #1175
@Nishant-sehgal yes go ahead

[2020-10-11 17:33] chaudharydeepak commented on #1293
@ptrthomas - can you pls help me with some of the requirements for this issue? From my very limited understanding, the Http Client is used for API testing and you possibly have some similar UI framework for UI testing - is the goal to have same cookies apply to both http clients as well as UI frameworks? Currently the cookies can be via header[Set-Cookie] or set in DSL as following:

`And cookie f

[2020-10-11 18:46] mehrapratik opened #1320 "String + Conditional String does not append both string"
* def obj1 = "123" + "xyx"
* print obj1
* def obj11 = "123" + (true) ? "xyx" : "abc"
* print obj11
* def obj12 = "123" + (false) ? "xyx" : "abc"
* print obj12

#----Output
[print] 123xyx
[print] xyx
[print] xyx

#----Expected Output
[print] 123xyx
[print] 123xyx
[print] 123abc

[2020-10-11 18:47] mehrapratik commented on #1320
Java example
  public static void main(String[] args) {
      String obj1 = "123" + "xyz" ;
      String obj11 = "123" + ((true ) ? "xyz" : "abc" );
        System.out.println(obj1);
        System.out.println(obj11);
    }

[2020-10-12 03:38] ptrthomas commented on #1293
@chaudharydeepak no worries. first have a look at how cookies work for UI tests: https://github.com/intuit/karate/tree/master/karate-core#cookieset and there is an example of creating a UI cookie one at a time

so the requirement is a simple way to just take ALL HTTP client `responseCookies` and add them to the UI driver. today it has to be done manually using a loop

the driver has `getCookies()`

[2020-10-12 03:41] ptrthomas commented on #1320
use brackets, and next time please use stack overflow for these kinds of questions

`def obj11 = "123" + (true ? "xyx" : "abc")`

[2020-10-12 03:41] #1320 closed

[2020-10-12 05:33] Vikash007-123 commented on #692
How I will call karte-config.js file in feature file

my kartae-config.js file Her
function fn() {

	var config = {
			someUrl : 'https://reqres.in/api/users/3'

	};

	// don't waste time waiting for a connection or if servers don't respond within 5 seconds
	/*karate.configure('connectTimeout', 5000);
	karate.configure('readTimeout', 5000);*/
	return config;
}

and my feature fie is Here
Feature:

[2020-10-12 05:34] Vikash007-123 commented on #692
I try to call but I got some exceptions. I mentioned down could you check
KarateDemo.config: config.feature:7 - evaluation (js) failed:
someUrl, javax.script.ScriptException: ReferenceError: "someUrl" is not defined in <eval> at line number 1
stack trace: jdk.nashorn.api.scripting.NashornScriptEngine.throwAsScriptException(NashornScriptEngine.java:47
0)

[2020-10-12 05:59] ptrthomas commented on #692
@Vikash007-123 follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-12 11:36] theathlete3141 opened #1321 "Complex optional schema validation not working as expected"
Complex optional schema validation appears works as expected in json. However attempting to do the same in xml does not work as expected.
[code]

In each case `b` is a "complex" object which is optional. With json, this field can either be present (and match the expected schema) or not present and the tests will pass. In xml, this does not work. Xml test2 fails with
[code]
In the xml example, it f

[2020-10-12 13:21] ptrthomas commented on #1321
@theathlete3141 to me XML complex schema validation is a won't fix, but I'll leave this tagged as `help wanted` for some time. feel free to contribute a PR

[2020-10-12 13:39] theathlete3141 opened #1322 "Value not being passed to reusable feature file"
Using karate version 0.9.6, there is a strange issue related to the simultaneous use of reusable feature files, callonce, scenarios, scenario outlines.

The following (`test1.feature`) will fail
[code]
Where `doSomething.feature`
[code]
And `doSomethingWithValue.feature`
[code]
Although `value` is `1` (as expected) within the scenario outline, in `doSomethingWithValue.feature` it is instead equal

[2020-10-12 13:55] ptrthomas commented on #1322
@theathlete3141 tagging as help wanted. not considering a priority as you are using global variable scope. note that any feature call argument JSON will be auto-added to the scope of the called feature and 0.9.5 behavior could have been a bug. feel free to challenge based on what the documentation says (e.g. shared / isolated scope)

[2020-10-12 15:03] theathlete3141 commented on #1321
Thanks @ptrthomas. I'll bear this in mind for the moment and see if I can temporarily work around this for the moment

[2020-10-12 15:05] theathlete3141 commented on #1322
Thanks @ptrthomas. I'll go back to the documentation so that I can better understand scopes

[2020-10-12 17:27] sixdouglas commented on #1312
@ptrthomas : Here is my actual thoughts:
In gherkin files there is a possibility of having multiple values for a value, using tables.
Do you think we can introduce a new keyword in the syntax (or something more appropriate according to you), that would in background fill a table with autogenerated values?

[2020-10-12 17:48] ptrthomas commented on #1312
@sixdouglas you are on the right track ! can you take a look at this, it is in the `develop` branch already: https://twitter.com/KarateDSL/status/1305144489523048448 - I think that should suffice, try it and let me know.

[2020-10-12 19:27] sixdouglas commented on #1312
Wonderful! I didn't know anything this functionality. Are you a mentalist?

[2020-10-12 21:22] chaudharydeepak commented on #1293
@ptrthomas Thank you - I will checkout all above details and update here in a few days.

[2020-10-13 02:06] tup916 commented on #1286
Hi, I was wondering if I could do some refactoring around[ this file](https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/Runner.java)? As a karate user, I often find myself reading through this and wishing more/better features could spring up from here if it the design allowed a bit of extension. I am not sure how to go about doing this. I would ideally just f

[2020-10-13 03:39] ptrthomas commented on #1286
@tup916 I'm right now doing a major overhaul of the code, see #1281 and the `rewrite` branch. I'm leaving the `Runner` for the end but any ideas and suggestions will help, this is the time, even if this may not align to a `hacktoberfest` timeline. please comment on 1281 with your ideas to start with even if it is a wishlist, so we can start planning for that

[2020-10-13 05:21] Vikash007-123 commented on #692
@ptrthomas  I am not able to find that could you help me please

[2020-10-13 05:47] ptrthomas commented on #692
@Vikash007-123 here is a screenshot
![Uploading image.png…]()

[2020-10-13 05:59] gujju195 opened #1324 "Using Karate Unable to send input values to authentication window"
Hi Team,

I am working on application where it asks for authentication and when i send values to the authentication window using below command its displaying  **cannot read property 'focus' of null**

Command used : When input('input[name=username]', 'username')

Could you please help me with solution how to send values to authentication so that i work on automation e2e flow of my application

[2020-10-13 06:06] ptrthomas commented on #1324
@gujju195 follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-13 06:06] #1324 closed

[2020-10-13 07:56] theathlete3141 opened #1325 "XML schema validation for number/boolean not working as expected"
Karate version 0.9.6. Example project attached
[myproject.zip](https://github.com/intuit/karate/files/5369757/myproject.zip)

Number type JSON schema validation works as expected
[code]
Whereas the equivalent XML test fails with error `path: /root/key, actual: '1', expected: '#number', reason: not a number`
[code]
Instead the following will pass
[code]
The same thing happens with booleans (replaci

[2020-10-13 07:56] theathlete3141 opened #1326 "XML schema validation for empty string not working as expected"
Karate version 0.9.6. Example project attached
[myproject.zip](https://github.com/intuit/karate/files/5369790/myproject.zip)

In JSON, an empty string is validated as expected
[code]
Whereas the equivalent XML test fails with error `path: /root/key, actual: null, expected: '#string', reason: not a string`
[code]
However the following will pass
[code]

[2020-10-13 07:58] theathlete3141 commented on #1325
Example project ran using
[code]

[2020-10-13 07:58] theathlete3141 commented on #1326
Example project ran using
[code]

[2020-10-13 08:01] ptrthomas commented on #1326
@theathlete3141 please consider contributing code

[2020-10-13 08:03] ptrthomas commented on #1325
@theathlete3141 closing this as won't fix. think about it in XML - everything is a string. unless you have a schema, which karate intentionally does not support. if you want this feature please contribute code, thanks.

[2020-10-13 08:03] #1325 closed

[2020-10-13 08:16] ptrthomas commented on #1326
@theathlete3141 on second thoughts, this is also a won't fix, feel free to contribute code or suggest a change to the documentation. some things are just not clear in XML for example should element text be auto trimmed in this case: `<foo>\n   bar\n   </foo>` so you can use `#present` as it works the way you expect.

[2020-10-13 08:16] #1326 closed

[2020-10-13 08:18] chaudharydeepak commented on #1293
@ptrthomas - spend sometime today - I think I got gist of basic requirement - made some changes and tested out with following test case -

    Scenario: pass cookie from API call to UI call
      Given path 'search', 'cookies'
      And cookie foo = {value:'bar', path:'/search'}
      When method get
      Then status 200
      And match response == '#[1]'
      And match response[0] contains { na

[2020-10-13 16:37] ptrthomas commented on #1322
@theathlete3141 thank you for raising this and I have fixed it - it was indeed introduced in 0.9.6
please keep up the good work and ignore my previous comments - which is me over-reacting to people finding bugs in my code >_<

I've made sure this fix is in the new version / re-writing - so this helps a lot. it would be good if you can build from source and confirm that it works (the developer guid

[2020-10-14 00:18] gujju195 commented on #1269
Hi ,
I have application and when i just load the application url, its opening one more window to authenticate and i am getting "TypeError: Cannot read property 'focus' of null

Could any one help me with this

[2020-10-14 00:19] gujju195 commented on #1269
@ptrthomas ,Could you help with this

[2020-10-14 00:57] jbart18 commented on #1269
It sounds exactly similar to the problem i had above, if clicking a link /
targeted url opens in a brand new browser window (not a new tab) id suggest
following the work around Peter mentioned above. If its opening in a new
tab, you'll need to switchPage first then attempt to access input field.
Its a bit hard to provide answer or suggestions without an example or
greater detail of the problem.

H

[2020-10-14 01:18] gujju195 commented on #1269
Hi Jbart18 ,

i have tried above workaround but no luck

Scenario is as below
Given i have url and i launch it and its opening one more new  window to authenticate and i have tried switching of window and focus but unable to send keys to authentication window

Regards,
gujju195

[2020-10-14 01:40] ptrthomas commented on #1269
@gujju195 if you can follow this process (or at the very least point to a public page) to replicate that will help all of us, else this is a waste of your time: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

see how this issue was submitted as an example

[2020-10-14 06:42] chaudharydeepak commented on #1293
@ptrthomas - today I spent sometime trying to reverse the hybrid test scenario - i.e. set cookie in UI call and then make that available to api call -

    Scenario: pass cookie from a UI call to a certain API call
      Given driver demoBaseUrl + '/search/cookies'
      Given def cookie2 = { name: 'hello', value: 'world' }
      When cookie(cookie2)
      Then match driver.cookies contains '#(^co

[2020-10-14 07:04] ptrthomas commented on #1293
@chaudharydeepak `driver.cookies` which is the same as `driver.getCookies()` should already return a `List<Map>` right - I thought it would "just work"

[2020-10-14 07:15] chaudharydeepak commented on #1293
Yeah it returns that - though because the way `public void cookies(String expr)` is currently written, it ends up throwing exception because of this line 'Map<String, Object> map = evalMapExpr(expr);' - tries to evaluate the expression to a map vs its a list of map. `https://github.com/chaudharydeepak/karate/blob/master/karate-core/src/main/java/com/intuit/karate/core/ScenarioContext.java#L657`

[2020-10-14 07:22] ptrthomas commented on #1293
@chaudharydeepak ah I got it. okay, you can do a conditional, does this help ? you can do this inside `void cookies(expr)`

'''java
        ScriptValue value = Script.evalKarateExpression(expr, this);
        if (value.isMapLike()) {

        } else if (value.isListLike()) {
        }
[code]

[2020-10-14 07:24] chaudharydeepak commented on #1293
@ptrthomas - yup, i took care of that exactly like as you mentioned - removed the hard-coded text etc 👍 ! will do some more testing / validations and push this for your review. Thank you.

[2020-10-14 08:27] theathlete3141 opened #1327 "Incorrect value used in scenario outline"
Using karate version 0.9.5 there is an issue related to the use of callonce and scenario outlines. Note that this issue is still present in 0.9.6 although slightly different.

Example project is attached.
[myproject.zip](https://github.com/intuit/karate/files/5376685/myproject.zip)
This is ran using
[code]
Below I discuss the actual and expected output for each test (ideally I would have written t

[2020-10-14 11:27] theathlete3141 commented on #1322
I think all devs are a little protective of their code ;)

For completeness, I also want to add that (when not using your fix) using `def` with `callonce` would also fix the original issue (`test5.feature`)
[code]
However using `def` with the `call` does not fix the issue i.e. the following would still fail (`test6.feature`)
[code]

[2020-10-14 11:35] theathlete3141 commented on #1327
An additional test case:
[code]
Prints as expected
[code]

[2020-10-14 11:45] ptrthomas commented on #1327
@theathlete3141 here is a yes or no question for you. did you verify that the fix for #1322 fixes this or not ?

[2020-10-14 13:33] theathlete3141 commented on #1327
No, I haven't had chance to yet. But since #1322 is related to a change between 0.9.5 and 0.9.6, whereas this issue is present from 0.9.5 I wasn't sure if they were the same issue. And from this issue we now have additional test cases for when the fix is applied anyway.

[2020-10-14 13:48] ptrthomas commented on #1327
@theathlete3141 okay, as I said on the other issue it would be extremely helpful if you follow the developer guide and verify once: https://github.com/intuit/karate/wiki/Developer-Guide - since these are not using `match` they are not good tests anyway. and way too much for me to read. ideally your test can fit into 2 files and a few lines - closing as duplicate, feel free to update other ticket

[2020-10-14 18:34] kruthika16 commented on #1292
I'd like to contribute. Could you assign this issue to me?

[2020-10-14 18:48] ptrthomas commented on #1292
@kruthika16 yes, go ahead

[2020-10-14 19:08] bkahlert opened #1329 "Feature Request: JUnit 5 TestSource (IDE "jump to source" feature)"
Karate has a nice JUnit 5 support. IntelliJ has a nice JUnit 5 support. What is missing is support for JUnit 5 TestSource (https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests-uri-test-source) which would allow clicking on a failed test...

<img width="199" alt="image" src="https://user-images.githubusercontent.com/1170054/96033618-98509800-0e60-11eb-98a7-cb344a8d320d.png"

[2020-10-14 19:17] ptrthomas commented on #1329
@bkahlert sure, I was not aware of this - also cc @kirksl to look out for similar possibilities on the VS Code plugin side

for now I'll tag this as `hacktoberfest` to see if anyone steps up

[2020-10-14 19:21] ptrthomas commented on #1329
@bkahlert BTW I'm re-writing the core of karate ref #1281 - so if you have any more things you'd like to improve, this is a good time, feel free to add comments. here is one example of upcoming improvements: https://github.com/intuit/karate/issues/1311#issuecomment-706094978

[2020-10-15 04:50] ptrthomas opened #1330 "karate.config.dir on windows results in path-separator replaced by dot"
refer https://stackoverflow.com/q/64363749/143475

would appreciate someone on windows debugging and fixing this - but able to confirm that mac / linux is ok with the fix

most likely this line is the problem: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/ScriptBindings.java#L108

[2020-10-15 10:03] theathlete3141 commented on #1322
I have checked out the develop branch (commit 2b7be93b) and ran
[code]
in the root directory.
I can see that the `callonce-bg.feature` test in is run and passes which verifies the fix
(karate-gatling fails

[2020-10-15 10:34] scarlink opened #1331 "karate-netty proxy sends previous request payload when dealing with next request"
It happens that the `karate.proceed()` is sending the body of a previous scenario when the incoming request is lacking one.
Forwarding a GET request doesn't make it happens, maybe karate strips the payload automatically in the GET request, but in
the last request, the DELETE one, it happens that the proxy is sending to the mock server the payload of the first POST request.
After the first and seco

[2020-10-15 10:38] theathlete3141 commented on #1327
I have refactored the tests to use match statements. Please see this new example project.
[myproject.zip](https://github.com/intuit/karate/files/5384185/myproject.zip)

For example `test1.framework`
[code]
Fails the match statements for value = 2. It prints
[code]
Showing that the second time through the scenario outline it is reusing variables from the first time through (although the scenarioNam

[2020-10-15 10:40] ptrthomas commented on #1331
we normally insist on a way to replicate: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

given that hacktoberfest is on - I'll leave this open for a while

[2020-10-15 10:49] ptrthomas commented on #1327
@theathlete3141 perfect ! thanks

[2020-10-15 12:33] theathlete3141 commented on #1327
@ptrthomas could you please reopen the issue?

[2020-10-15 13:47] ptrthomas commented on #1327
@theathlete3141 as I expected this is a duplicate, see the commit. I think you missed a step or two in the dev guide. closing

[2020-10-15 13:58] chaudharydeepak commented on #1331
@ptrthomas - if its ok I will be interested in working on this.

@scarlink - as mentioned by @ptrthomas earlier, can you pls drop a sample project showing the logs / bug you are experiencing? This will help in resolving [ if issue exists ] in a much timely manner, Thank you for your understanding.

[2020-10-15 16:22] theathlete3141 commented on #1327
@ptrthomas I don't think this is a duplicate

I have checked out the most recent commit on develop (758fe9ff) and then make a modification to `callonce-bg.feature` to remove the scenario i.e.
[code]
Run this and the test will continue to pass. However if you inspect the output then you will see that it prints:
[code]
Which is incorrect.

This is the same issue which I described in my updated examp

[2020-10-15 17:25] scarlink commented on #1331
I'll try to send you one tomorrow

[2020-10-15 18:17] Sudhish2607 commented on #1330
@ptrthomas I would like to work on the fix if it's ok?

[2020-10-15 18:26] ptrthomas commented on #1330
@Sudhish2607 yes go ahead

[2020-10-15 18:37] Nishant-sehgal commented on #1286
@ptrthomas can you assign https://github.com/intuit/karate/pull/1243 to me?

[2020-10-15 19:40] ptrthomas commented on #1286
@Nishant-sehgal yes go ahead. if you comment on that ticket I will assign

[2020-10-15 19:49] zgael commented on #1211
@chaudharydeepak - Yeah sentCookie = null would work also with this test case as there is no other cookie that should be set for this domain.

[2020-10-16 06:30] chaudharydeepak commented on #1331
@scarlink can you try setting request to non-empty value?
`* request 'some value'`

@ptrthomas - seems if request body is set empty, its not properly reset inside `ScriptValueMap` - I recreated the scenario by running :

    Given url "http://localhost:8090"
    #And path 'resources', 1, 'M'
    And request { name: 'Billie' }
    And header TestSuite-Test-ID = 'karate-proxy-post'
    When method p

[2020-10-16 06:40] chaudharydeepak commented on #1331
@ptrthomas - i think i got the issue - will submit PR soon. Thank you.

[2020-10-16 10:19] ptrthomas commented on #1327
@theathlete3141 agreed. will look into it

[2020-10-16 13:51] chaudharydeepak commented on #1329
@ptrthomas - this looks an interesting enhancement- if its ok I would like to take a initial jab at it? Thank you.

any pointers to get started wrt karate to implement this will be appreciated (though not mandatory) 😀 !

[2020-10-16 13:53] ptrthomas commented on #1327
fixing this only for the new `rewrite` branch

[2020-10-16 13:58] ptrthomas commented on #1329
@chaudharydeepak go for it, any research findings will help I still don't understand what OP meant by `we virtually had to turn Karate upside down`

[2020-10-16 23:14] rooeque opened #1333 "Incompatibility with newest Gatling 3.4.x"
After upgrading to gatling 3.4.x on our side, we noticed that karate-gatling tests are now crashing.

Here is the stacktrace:

[code]

In [this](https://github.com/gatling/gatling/commit/ddd1a113c4b1ac359e574d2f266bf5a803855198#diff-067150f0c0f973a825b6a19d5435465493c62bcb4e35d22125081dde7d17e0a5) commit as part of Gatling `3.4.x` we see that `NoopOnStart` was replaced by `Session.identity`, the f

[2020-10-17 05:55] ptrthomas commented on #1333
@rooeque if you can follow this process (should be simple, just change a version maybe) that will increase the chances of fixing this sooner: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-17 05:56] saurabhmarpadge commented on #1309
Would like to contribute to above project.
Please assign it to me

[2020-10-17 05:57] ptrthomas commented on #1309
@saurabhmarpadge done

[2020-10-17 06:31] sixdouglas commented on #1333
Hi,
I can propose a PR to bump up Gatling version. I made it work locally, but was not sure if it was on the Roadmap.
@ptrthomas what do you think?

[2020-10-17 06:44] ptrthomas commented on #1333
@sixdouglas by all means ! btw if you use slack: https://twitter.com/KarateDSL/status/937271659785961477

[2020-10-17 06:57] chaudharydeepak commented on #1329
@ptrthomas - let me know if any documentation needs to be updated to highlight this. Thank you.

[2020-10-17 07:04] sixdouglas commented on #1333
@rooeque here is my branch [bumpUpGatlingVersion](https://github.com/sixdouglas/karate/tree/feat/bumpUpGatlingVersion), can you test with this fix?

[2020-10-17 07:28] ptrthomas commented on #1329
@chaudharydeepak this is great, I think the IDE auto experience is good enough

[2020-10-17 10:31] saurabhmarpadge commented on #1309
@ptrthomas seems I need to spend some more time to learn the karate before starting contributing to karate. I will unassign myself for now.

[2020-10-18 09:53] wpanas commented on #1286
@ptrthomas I think I can handle https://github.com/intuit/karate/projects/3#card-26888794

[2020-10-18 10:11] ptrthomas commented on #1286
@wpanas done

[2020-10-18 10:34] wpanas opened #1337 "Add Docker image for Firefox"
Implementation of https://github.com/intuit/karate/projects/3#card-26888794

[2020-10-18 10:45] wpanas commented on #1337
@ptrthomas do you have any preference for firefox's exposed port?

[2020-10-18 14:11] ptrthomas commented on #1337
@wpanas good question - looks like it is 2828 https://firefox-source-docs.mozilla.org/testing/geckodriver/Flags.html

[2020-10-18 14:13] ptrthomas commented on #1337
@wpanas wait - unless you are using geckodriver, then it is 4444

[2020-10-18 14:53] ptrthomas opened #1338 "[discuss] improvements to mocks in the next version"
also paging @michaelpro1 as this is related to https://github.com/intuit/karate/pull/1159

lots to unpack here, so will start with bullet points - feel free to ask questions and I can elaborate

1. while switching to graal-js, currently doing a overhaul of core #1281
2. have come up with a new way to create mocks which will be pure JS, here is an example: [payments.js](https://github.com/intuit/ka

[2020-10-18 23:27] chaudharydeepak commented on #1260
@ptrthomas - if this is still an issue, pls assign to me. Thank you.

[2020-10-19 03:37] ptrthomas commented on #1260
yes, thanks

[2020-10-19 10:18] theathlete3141 commented on #820
@ptrthomas was just about to raise this issue before I found it here. I don't think that this behaviour is clearly documented.

[2020-10-19 11:36] ptrthomas commented on #820
@theathlete3141 yes ;)

[2020-10-19 16:02] bkahlert commented on #1329
@ptrthomas wish list:
- a builder would be great (see attached)
- a way to configure that JSON / Cucumber reports should be generated as well
- or at least a way to find out different paths easier

I already worked on these features and attached what I got far :)
[Archive.zip](https://github.com/intuit/karate/files/5403142/Archive.zip)

[2020-10-19 16:11] ptrthomas commented on #1329
@bkahlert great, (2) is certainly happening in 1281 - I thought the `Runner` and JUnit5 helpers were already builder-like - but we'll try improve those. since I'm not that great at kotlin you can request any specifics. maybe best thing is when we start releasing RC builds, you can try them and provide feedback. may be a month or two out

[2020-10-19 16:44] bkahlert commented on #1329
@ptrthomas Can't wait to see how you're going to solve the problem of finding the original feature file. I'm using this heuristic approach
[code]
which works in my IntelliJ but not guaranteed to work everywhere.

Concerning the builder pattern:
It might also be a misunderstanding. It would be helpful to also be able to set system properties for the scope of the test execution because I like to set

[2020-10-19 16:53] ptrthomas commented on #1329
yes will take care of this in 1281 - another reason is so that you can even run multiple "suites" in parallel, which we are designing for

sounds like you are using spring boot, please do be aware of #751 and maybe you can advise / help test - also there is this classpath scanner lib that may help with your first point: https://github.com/intuit/karate/pull/1317#issuecomment-706912304

[2020-10-19 16:58] ptrthomas commented on #1329
yes. one option is to have the user specify an optional config file or system property which will make karate look in e.g. `src/test/java` for whatever is found in `target/test-classes`

[2020-10-19 17:37] chaudharydeepak commented on #1329
Hi @ptrthomas - regarding configuration - i think it will make sense to have a global or module specific config file (kafka.props etc) pre-configured to load on runtime - & as well supports different profiles - for ex test env1 / test env 2 etc. Let me know if I am on wrong track altogether on this requirement.

[2020-10-19 17:42] ptrthomas commented on #1329
@chaudharydeepak yes I haven't thought this through - actually we may be overthinking this - what if this was just yet another param we can pass into the `Runner` / `RunnerOptions` etc and even CLI

[2020-10-20 01:20] gujju195 opened #1340 "How to make use of selenium driver instance in karate UI"
Hi ,

I am doing POC on karate and i am trying to use selenium with karate .

Is it possible to use selenium driver instance in the karate and if yes please provide the solution

[2020-10-20 01:37] gujju195 commented on #1340
@ptrthomas .Please help me with a solution

[2020-10-20 04:07] ptrthomas commented on #1340
@gujju195 please ask these kinds of questions on stack overflow: https://stackoverflow.com/a/47233301/143475

[2020-10-20 04:07] #1340 closed

[2020-10-20 09:56] michaelpro1 commented on #1338
Pure javascript looks good too, I'm thinking to improve readability you'll need to add few more helper functions. e.g. an example
[code]
[code]

This is just an example, but allowing some kind of router-subrouter will help split the more advanced mocks. This is where well thought out helper methods would help avoid boiler-plate and the mocks maintainable.

[2020-10-20 10:08] ptrthomas commented on #1338
@michaelpro1 great, thanks for taking a look. I also would lean towards being more "opinionated" for e.g.

* no need for a "main" entry point router. btw the `ServerConfig` is a place where you can plug-in fancy central behavior if really needed: https://github.com/intuit/karate/blob/rewrite/karate-core2/src/main/java/com/intuit/karate/server/ServerConfig.java#L48
* else you just add JS files for

[2020-10-20 10:24] michaelpro1 commented on #1338
This seems OK for simple mocks (without wildcard/regex params), but for advanced usage maybe ServerContext can also lookout for `featureServer.js` or something like that?

Are you planning on using the non-locking request processing as I see with ThreadLocals?
I ran into a lot of trouble in Gatling/JMeter tests because either underlying objects weren't Concurrent/Synchronized or there was no longe

[2020-10-20 11:07] ptrthomas commented on #1338
here's where my PoV is that this is a "mock" ;) that said, I'll wait for the advanced use cases to become obvious. i the meantime feel free to provide examples of these advanced use cases. my hypothesis is that the way it is right now is sufficient to build a complete back-end (including HTML templating BTW)

and yes, I'm going with ThreadLocal all the way

[2020-10-20 11:25] wpanas commented on #1337
@ptrthomas I was asking about something else. `karate-chrome` now exposes port 9222. Should I use different for `karate-firefox`?

[2020-10-20 11:31] ptrthomas commented on #1337
@wpanas maybe you should explain briefly what your approach is. is it based on a) geckodriver b) marionette or c) playwright - that will help

[2020-10-20 13:49] wpanas commented on #1337
@ptrthomas As I dug deeper I realised that it might be too time consuming for me to finish this task. Sorry.

[2020-10-21 10:46] bkahlert opened #1341 "Incorrect file URLs (file:path ➜ file://path)"
The file URLs used for logging are missing two slashes.

Log example:
[code]

According to https://tools.ietf.org/html/rfc8089#page-10 and from my practical experience the following "is the most common format in use today" (very good support in common IDEs and browsers):
[code]

![image](https://user-images.githubusercontent.com/1170054/96705245-50b49980-1395-11eb-8d61-e57ec7154ac9.png)

[2020-10-21 11:06] michaelpro1 commented on #1338
I do find that mocks start off small but tend to grow larger as systems start interacting with more and more things.

One example would be BenTen's Karate mocks, and another is more generic Test Harness that could encompass OAuth, Microservices and even some external APIs which may or may not have wildcard path parameters.

Deferring all logic to the underlying JS allows your codebase to be minima

[2020-10-21 11:30] ptrthomas commented on #1338
@michaelpro1 noted. I think there is a need for `router.js`, not ruling it out - but I would like to see a real-life need / example first. I 100% see a need to do some fancy mapping e.g. `/foo/v1/*` --> `/api/dogs.js`

regarding html - you can try run [ServerRunner](https://github.com/intuit/karate/tree/rewrite/karate-core2/src/test/java/demo) - navigate to `localhost:8080/index` and take a look

[2020-10-21 12:43] manuarlin commented on #1341
Hello,

Is this issue still open? I would like to contribute, could it be assigned to me?

[2020-10-21 13:44] ptrthomas commented on #1341
@manuarlin yes please go ahead

[2020-10-21 14:00] rooeque commented on #1333
@sixdouglas tested your branch, tests are working now! Thanks fo the quick turnaround

@ptrthomas I saw this issue was tagged with the `1.0.0` milestone. Any chance we could get a closer patch release (e.x.

[2020-10-21 14:46] ptrthomas commented on #1333
@rooeque okay we'll try. have to wait at least 2 weeks - get hacktoberfest done etc.

meanwhile I've heard there are ways to create your own public artifact - I haven't tried - but if you do let us know, I'm sure a lot of teams would benefit: https://twitter.com/maxandersen/status/1277116280542281729

[2020-10-21 15:22] rooeque commented on #1333
@ptrthomas cool, thanks! JitPack looks really cool as an alternative to native releases. Unfortunately, in a lot of the machines our company uses to run builds/tests, we have networking setup in a way that connections only get through if it's specified on a whitelist, so the only way to pull external dependencies is through a private Artifactory repository. I surmise that it would probably be fast

[2020-10-21 17:36] satrivaicci commented on #1321
@ptrthomas @theathlete3141 I'm interested in fixing this issue. Any guidance will be appreciated.

[2020-10-21 17:43] ptrthomas commented on #1321
@satrivaicci this is a little tricky in my opinion especially as I am re-writing some of the code responsible. but it is supposed to be easier to understand. so I suggest starting with the unit test cases here: https://github.com/intuit/karate/blob/rewrite/karate-core2/src/test/java/com/intuit/karate/match/MatchTest.java

if that makes sense, please go ahead !

[2020-10-22 03:47] manochitra opened #1342 "Namespace Isssue while reading xmlfile"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-22 03:49] manochitra commented on #1342
While reading XML file , xml files are populated with empty namespace attribute ?

<document xmlns=""> ,how to avoid this .I am using Karate 0.9.5 version.

[2020-10-22 03:58] ptrthomas commented on #1342
see this: https://stackoverflow.com/a/57042773/143475

to reopen - read the links in your first comment above please

[2020-10-22 03:58] #1342 closed

[2020-10-22 07:11] muchurami opened #1343 "How to make the attributes over-write which are assigned in another feature file"
My requirement is to pass null values for '**manager_corp_id**' and '**manager_id**' to test one of the negative case
When ever we call 'WorkDay_EIM_UserData.feature', it fetches the values from 'WorkDay_EIM_UserData.feature'
But I want to pass as null for both these values
Below is what I implemented. But it is fetching the values as '1234' and '5643454345'

testApp.feature
=========
* def manage

[2020-10-22 07:24] ptrthomas commented on #1343
@muchurami do you mind creating a simple example by following the process here ? thanks: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

first do read the docs in case you missed anything: https://github.com/intuit/karate#shared-scope

[2020-10-22 07:24] #1343 closed

[2020-10-22 18:10] chaudharydeepak commented on #1260
@ptrthomas - i looked at it today - i don't see any errors we possibly could be inducing - the path resolution is provided by underlying libraries and nothing is found for "//details" vs "/*//details".

Now, for the error we see above as mentioned by @orisvogel - its a simple fix.

Let me know the expectations here - i can create a simple PR to resolve the mentioned npe issue. Thank you.

[2020-10-22 18:20] ptrthomas commented on #1260
@chaudharydeepak yes let's fix the npe, thanks

[2020-10-22 18:35] chaudharydeepak commented on #1260
@ptrthomas - done. Thank you.

[2020-10-22 18:41] chaudharydeepak commented on #1337
@ptrthomas - i can possibly help-out with this - though need some clarification on the requirement - can you pls share what exactly needs to be dockerized? Thank you.

[2020-10-23 02:34] chaudharydeepak commented on #1337
@ptrthomas - i guess i figured it out - created karate-firefox [ pretty similar to karate-chrome ] inside karate-docker.
configured to install Firefox and geckodriver from DockerFile -

    RUN apt-get update \
      && apt-get install -y firefox-esr

    RUN wget -q "https://github.com/mozilla/geckodriver/releases/download/v0.27.0/geckodriver-v0.27.0-linux64.tar.gz" -O
           /tmp/geckodriver

[2020-10-23 02:43] ptrthomas commented on #1337
@chaudharydeepak I think this is great, go for it. we can improve in stages

[2020-10-23 03:38] chaudharydeepak commented on #1337
@ptrthomas - cool, i write a separate branch from develop for this issue and we can go from there. Thank you.

[2020-10-23 05:22] chaudharydeepak commented on #1309
@ptrthomas - I can take a look at this too, pls assign if still open. Thank you.

[2020-10-23 05:33] ptrthomas commented on #1309
@chaudharydeepak that would help ! thanks

[2020-10-23 05:48] chaudharydeepak commented on #1309
@Jack-Hua-Lu - I just tried executing as per your steps [ using current develop branch ] and didn't encountered any error -

1. executed driver.demo.Demo06Runner [ this will open chrome browser few times ]
2. installed local docker chrome image - execute build.sh vs install.sh.
3. executed test in step 1.

I have mac with docker desktop running.

can you please upload a sample workspace / code to

[2020-10-23 06:33] michaelpro1 commented on #1338
Ahh you're using Thymeleaf for that, do you think it would make more sense to apply the HTML logic if either
* `Content-Type: */*html`
* Template name ends with `.htm`
* Content includes `<html>`, but this is bound to run into trouble

Otherwise using Thymeleaf is excellent 👍  at this kind of thing, just have to make sure that its cache is cleared on file refresh if it's using any.

[2020-10-23 06:51] ptrthomas commented on #1338
@michaelpro1 I think you are still thinking REST, this is way more ambitious - intended to be "the web framework I always wanted". for e.g. this is not just Thymeleaf - but combined with GraalJS - more on this later but for now see what happens at runtime to `<div th:insert="person" ka:target="this"></div>`

[2020-10-24 17:31] digoo opened #1348 "Unable to start driver with other type than chrome"
This is related to a comment made on Slack channel: https://karate-dsl.slack.com/archives/C4PMFDE3D/p1603403739133100

[ui-test.zip](https://github.com/intuit/karate/files/5433492/ui-test.zip)

Set:
`<karate.version>2.0.0</karate.version>`

OS used: MacOs.
Works well on: 0.9.6

Then execute, comment the used type and use next one:
(First one is chrome and will work, other ones like chromedriver an

[2020-10-24 17:49] ptrthomas commented on #1348
sorry, process: https://github.com/intuit/karate/tree/develop/examples/ui-test

[2020-10-24 18:08] digoo commented on #1348
[ui-test.zip](https://github.com/intuit/karate/files/5433490/ui-test.zip)

Not a problem, as mentioned you just need to open whatever page with chromedriver or geckodriver.

[2020-10-24 18:29] ptrthomas commented on #1348
tagging as help wanted. not a priority as this is an unreleased version.

[2020-10-24 18:46] chaudharydeepak commented on #1286
@ptrthomas - Hi Peter, I am interested in working on - https://github.com/intuit/karate/projects/3#card-30212558. I have some ideas around it and can share on the ticket / issue log itself. Thank you.

[2020-10-25 04:20] ptrthomas commented on #1286
@chaudharydeepak that's a good one. take your time - even if you don't make the hacktoberfest deadline

[2020-10-25 20:27] chaudharydeepak commented on #1286
@ptrthomas - starting to look into it - realizing that possibly I can cover other items like performance metrics etc, as its all kind of encompassing with devtools protocol[chrome] - and really enjoyed the way current drivers are written / designed. Thank you.

[2020-10-27 01:08] satrivaicci commented on #1321
@ptrthomas Would it make sense to have something similar to this [method](https://github.com/intuit/karate/blob/rewrite/karate-core2/src/main/java/com/intuit/karate/match/MatchOperation.java#L394) but specific to xml and json objects being compared against a schema.

What I'm thinking is that when the object being compared is either json or xml it uses the `actual` map as the baseline to start che

[2020-10-27 01:53] hujunhaorobert commented on #1338
Hi @ptrthomas and @michaelpro1,

I had been using Karate Mock 0.9.5 for a while. And noticed there were big changes on scenario-matching algorithm from 0.9.5 to 0.9.6. In 0.9.6 calculating scores makes the mock scenario-matching rule more complex. And did not see any document to explain the scenario matching rule before diving into the change commits #1159.

I like all of the mock improvement idea

[2020-10-27 04:27] ptrthomas commented on #1321
@satrivaicci I need an example to understand this. for me JSON == Map. note that we convert XML to a Map before trying to do match stuff. it is complicated. we do retain the fact that the original object is XML in the `MatchContext`. that's all I can think of

[2020-10-27 04:29] ptrthomas commented on #1338
@hujunhaorobert thanks for the feedback, this helps. keep watching the twitter / linkedin feeds for updates, we'll announce when RC releases are ready

[2020-10-27 11:00] akpune21 opened #1351 "How to integrate serenity with Karate"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-27 11:52] ptrthomas commented on #1351
@akpune21 not supported

[2020-10-27 11:52] #1351 closed

[2020-10-27 12:58] venkiteelay opened #1352 "Karate closing the browser even though it didnot invoke the browser in first place"
We all know that karate has the capability to interact with already opened chrome browser as long as the chrome is opened with --remote-debugging-port value in the first place. The example driver config in karate is as below.
[code]
However, once the feature file is finished, the browser is getting closed by karate. This is causing us a bit of pain as we are testing a Point Of Sale application bui

[2020-10-27 13:29] ptrthomas commented on #1352
@venkiteelay I decided to introduce a `stop` driver config, because karate stopping the driver is a convenience that teams rely on currently. please see commit for docs. it would be great if you can test this and see if it works as expected !

[2020-10-27 16:44] ptrthomas commented on #1309
closing this as there is no response from @Jack-Hua-Lu - thanks @chaudharydeepak for looking into this

[2020-10-27 16:44] #1309 closed

[2020-10-28 02:42] Sudhish2607 commented on #1330
I tried to replicate the issue mentioned in [StackOverflow](https://stackoverflow.com/questions/64363749/karate-runner-karate-jar-command-line-args-settings-issue/). I believe it's not a bug!

It's happening because the command is being run on PowerShell instead of CMD.

Solution:
- Update the default shell of VisualStudio from PowerShell to CMD
- Update the system-properties parameter from `-Dkar

[2020-10-28 02:47] ptrthomas commented on #1330
@Sudhish2607 makes total sense. thank you so much for looking into this and for adding a good stack-overflow answer ! I will close this then.

cc @kirksl just for information, I didn't know about the back-ticks thing in powershell

[2020-10-28 02:47] #1330 closed

[2020-10-28 02:57] Sudhish2607 commented on #1330
@ptrthomas, PowerShell could be a trouble for setting up the plugin on VS. Should we add the VS-plugin installation instructions [here](https://github.com/intuit/karate/wiki/IDE-Support#visual-studio-code)?

[2020-10-28 03:11] Sudhish2607 commented on #1283
@ptrthomas I would like to work on the fix if it's ok?

[2020-10-28 04:00] ptrthomas commented on #1330
@Sudhish2607 thanks, I just did that and linked to a page where is a lot of detail: https://github.com/intuit/karate/wiki/Karate-Robot-Windows-Install-Guide#install-visual-studio-code

[2020-10-28 04:20] satrivaicci commented on #1321
@ptrthomas Created this PR with a proposed solution, let me know what you think. Thanks. https://github.com/intuit/karate/pull/1353

[2020-10-28 04:32] ptrthomas commented on #1321
@satrivaicci I think karate is working fine, here is a commit where I added the tests from your examples that DO work, the rest are not: https://github.com/intuit/karate/commit/98dd05e98c5c8730682b21ad20dc101dfaab1378

[2020-10-29 16:53] federicomarilungo opened #1355 "Documentation error - Enviroment Switching for Gradle"
In documentation https://github.com/intuit/karate#switching-the-environment

it configure gradlew enviroment variable using :

`./gradlew test -Dkarate.env=e2e`

but that dont work

![image](https://user-images.githubusercontent.com/36702914/97605705-b801c780-19ed-11eb-8ff4-755dea7f20f5.png)

The right way is :

command with -P

`./gradlew test -Pkarate.env=e2e`

and in build.gradle.tk (in my case

[2020-10-29 17:16] ptrthomas commented on #1355
@federicomarilungo ah gradle, my nemesis. I am not a gradle expert and am going to get someone I know to look at this and comment here, thanks for reporting. can you do me a favor and let me know what you think of https://github.com/intuit/karate/pull/1336 - is that ok or what

[2020-10-29 17:21] krstcs commented on #1355
Have you tried wrapping the -D options in quotes?  I'm using the following and karate-config.js is picking up the -D options correctly.

`gradle build -Plocal "-DfileLogLevel=info" "-DconsoleLogLevel=debug"`

-Plocal is working as well, it's project specific and makes my build use local maven dependencies (I use it to make sure my Karate wrapper works before pushing to AzureGit).

[2020-10-29 17:24] krstcs commented on #1355
And, my karate-config.js (I use a karate-base.js so config is short):
`function fn() {
    var fileLogLevel = karate.properties['fileLogLevel'];
    var consoleLogLevel = karate.properties['consoleLogLevel'];
    karate.log('fileLogLevel system property was:', fileLogLevel);
    karate.log('consoleLogLevel system property was:', consoleLogLevel);
}`

[2020-10-29 19:25] federicomarilungo commented on #1355
lots of thanks!

[2020-10-29 19:53] federicomarilungo commented on #1355
I believe is ok , but its an older gradle version
gradle in karate demo should be updated

im using gradle with kotlin now , so i cant test it easily

really thanks for answer. may be its works ok in older version of gradle

[2020-10-29 19:56] krstcs commented on #1355
I'm using Gradle 6.2.2, which isn't 'THAT' old.  We can't move passed that yet because our internal maven repository isn't publishing it's certs for TLS yet.  :-/

[2020-10-29 21:58] digoo opened #1356 "Unable to print env within JS in a shared context"
File: [varAtJS.zip](https://github.com/intuit/karate/files/5460331/varAtJS.zip)
Could be related to #1322 #1327 #1280 but not duplicate as far I have tested.

It happened on releases: 0.9.5 and 0.9.6 and with develop branch.
It used to work about ~20 days ago with develop branch.

It's a simple test:
[code]

Where we have at karate-config.js a common routine file being loaded and the var we want t

[2020-10-30 02:47] ptrthomas commented on #1356
one line change: `var Common = karate.call(true, 'classpath:routine/routineTest.feature');`

refer docs: https://github.com/intuit/karate#call-vs-read see 8the row

[2020-10-30 02:47] #1356 closed

[2020-10-30 02:50] ptrthomas commented on #1355
ok, I'll see if anyone contributes a PR

[2020-10-30 04:20] digoo commented on #1356
Thank you Peter for pointing to the missing detail!

I have tried with `karate.callSingle()` but it seems to not work. It's that designed to work that way? If not I could try to include this option there too I would just need your help to point a headstart on the code for me. Thank you once again.

[2020-10-30 04:46] ptrthomas commented on #1356
@digoo not designed that way. I think it is fine as it is. if you need to pass any variables, do it explicitly:

`karate.callSingle('some.feature', { some: 'value' });`

[2020-10-30 14:53] Vineethreddi opened #1359 "Karate is not able to parse xpath with single quote, My id has a single quote as shown "//*[@id="locations'0'.address1"]" I'm getting XPath expression not valid error. I used "//*[@id='locations\'0\'.address1']""
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-10-30 15:07] ptrthomas commented on #1359
@Vineethreddi please use stack overflow (or see links above)

[2020-10-30 15:07] #1359 closed

[2020-11-02 12:18] lhimo commented on #1162
@ptrthomas Could you provide an example of the library you're using?

[2020-11-02 13:11] ptrthomas commented on #1162
@lhimo not maven though: https://github.com/intuit/karate/wiki/Karate-Robot-Windows-Install-Guide#install-visual-studio-code

just realized something, the debug server has to start a new thread see line 342: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/debug/DapServerHandler.java#L342

which may cause issues with frameworks that do threadlocal kind of st

[2020-11-02 13:11] ptrthomas commented on #1162
cc @kirksl

[2020-11-03 09:00] jahanzaib-dar commented on #792
I had to call a single file (multiple times) with different params, but once for a feature file. We just have to put callonce with the last call in the order. It worked for me.
[code]

[2020-11-03 16:19] msharma555 commented on #826
What would be the assertion if I want to validate if `$.oType` value should either be 'A' or 'B' in response

[2020-11-03 17:33] ptrthomas commented on #826
@msharma555 stack overflow pls: https://stackoverflow.com/a/50350442/143475

[2020-11-03 22:00] scottashipp opened #1360 "Behavior of header matching should treat field names as case-insensitive, but not values"
# Overview

First, the default behavior of Karate is incorrect in how it handles the matching of _header field names_. It treats them in a case-sensitive manner, which is incorrect, as will be explained below.

Second, the documentation is (perhaps inadvertently) misleading in that it suggests that _both_ header field names and  header field values are treated case-insensitive according to the HTT

[2020-11-03 22:01] scottashipp commented on #1360
[myproject.zip](https://github.com/intuit/karate/files/5484308/myproject.zip)

[2020-11-04 02:17] ptrthomas commented on #1360
@scottashipp thanks for the details:
* would be much easier if you provide a PR with what exactly the docs should be (docs are hard ;)
* initially yes we lowercased the header values as well, but not in the latest version
* this test shows how you can switch on the lower-casing of header names and it works as expected
* again, would be super convenient if you provide a PR (ideally with a new test

[2020-11-04 12:17] Monicadev1 opened #1361 "Unable to achieve expected transaction with Karate-Gatling for load testing"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

We are using Karate-Gatling for performing load testing, with 4 APIs services

when we

[2020-11-04 13:05] ManishK17 opened #1362 "Uploading an image using Multipart by karate API tool"
I am trying to upload an image on our channel using Karate. It's getting response status as 200 but image is not uploaded on site. I tried it with postman and it worked but I am failing while doing it with karate. I don't what wrong I am doing.

[code]

[2020-11-04 13:37] ptrthomas commented on #1361
@Monicadev1 see the links above, also you double-posted on stack-overflow which has been closed as a duplicate, go read the linked answer please

[2020-11-04 13:37] #1361 closed

[2020-11-04 13:40] ptrthomas commented on #1362
use stack overflow: https://stackoverflow.com/search?q=%5Bkarate%5D+postman+curl

or follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-11-04 13:40] #1362 closed

[2020-11-04 14:35] lhimo commented on #1162
Should I put it in the TestRunner.java ?

[2020-11-04 14:41] ptrthomas commented on #1162
@lhimo maybe. it needs some research, which I don't have time for just right now

[2020-11-04 18:41] mpuertao opened #1364 "Error with Content-Type in the Request"
Hello, Best regards.

Currently I am making a POST request to an API that receives in the headers Content-Type: application-json, since Karate fails me indicating that the Content-Type is invalid. I also tried with single quotes but it keeps failing

But if I make the same request from Postman or Insomnia the request passes successfully.

**With Karate 0.9.6:**

![image](https://user-images.github

[2020-11-04 18:45] ptrthomas commented on #1364
@mpuertao read this carefully please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-11-04 18:45] #1364 closed

[2020-11-05 11:58] hujunhaorobert opened #1365 "bodyPath('/Not/Existing/Path') throws java.lang.NullPointerException with stack trace: com.intuit.karate.core.ScriptBridge.xmlPath(ScriptBridge.java:421)"
Error Symptom:
I have a Mock Server scenario to parse the SOAP request body (payload), which is  a XML format. I need to check a body path in XML, to see if it is existing or not. When it is a not existing path by calling bodyPath(), there is an exception. E.g.
evaluation (js) failed: bodyPath(descriptionPath) == null ? null : bodyPath(descriptionPath), java.lang.NullPointerException
stack trace:

[2020-11-05 12:00] hujunhaorobert commented on #1365
I will raise a PR for this bug

[2020-11-05 12:41] ptrthomas commented on #1365
duplicate of #1346 #1260

[2020-11-05 12:41] #1365 closed

[2020-11-05 14:23] ujibang opened #1367 "Support Java 15 that removes Nashorn"
Java 15 that removes Nashorn https://openjdk.java.net/jeps/372

Will karate support Java 15. And how?

[2020-11-05 14:36] theathlete3141 opened #1368 "Allow a Karate scenario to be able to return values to the Gatling Simulation"
### SUMMARY

This is a "nice to have feature" as workarounds exist. This issue demonstrates a known difference between raw-Gatling and Karate-Gatling, and how fixing to match the behaviour could be useful in another scenario.

Allowing a Karate scenario to be able to return values to the Gatling simulation would allow for better code.

### CURRENT ISSUE AND WORKAROUND

Consider the raw-Gatling sim

[2020-11-05 16:35] ptrthomas commented on #1367
ETA jan 2021 #1281

[2020-11-05 16:35] #1367 closed

[2020-11-05 16:38] ptrthomas commented on #1368
not reading all of this right now, my priority is the graal migration

I would be interested to hear thoughts of @sixdouglas

[2020-11-06 21:02] sixdouglas commented on #1368
@theathlete3141 I think you try to do something you shouldn't. In my opinion tests are suppose to be independant, and should be executed in any order, as you would do with Unit Tests. Trying to retrieve data in scenario `n+1`, generated in test `n` is a bad idea.
@ptrthomas any additional thoughts on this would be appreciated.

Having said that, do you think you could do it this way:
[code]
This w

[2020-11-06 22:01] sixdouglas commented on #1368
Second thought about this issue:
My answer would be good for a classic karate test, it would not apply to the karate gatling tests.
In these tests, you're using karate to pilot Gatling and what you want is to load test the API. So normal rules may not apply here. This is why a single scenarion for a everything should work for you.

[2020-11-07 01:37] ptrthomas commented on #1368
agree with @sixdouglas - especially: https://stackoverflow.com/a/46080568/143475

I still haven't read this in detail but because you can "call scenarios by tag": https://github.com/intuit/karate/tree/master/karate-gatling#tag-selector

this means you can "compose" a load test out of the universe of karate classic tests that you already have

so my thinking is you can easily write this one extra f

[2020-11-09 02:17] bharatgurbani21 opened #1369 "Allow a Karate framework to integrate with Allure Reporting and export variables to Python files. I see when using karate with Python there is no integration with external Files of python language and reporting"
Allow a Karate framework to integrate with Allure Reporting and export variables to Python files. I see when using karate with Python there is no integration with external Files of python language and reporting

[2020-11-09 03:59] ptrthomas commented on #1369
sorry, closing as `wontfix`

[2020-11-09 03:59] #1369 closed

[2020-11-09 05:29] thleqel opened #1370 "csv should support the empty string as the parameter instead of throwing java.lang.NullPointerException"
I am testing a micro-service that returns the response content-type as `text/csv`. If there is no data, it still returns an empty string.

I use Karate `csv` keyword to convert the response to json for further verification. Everything works fine except when there is an empty response, the scripts throw `java.lang.NullPointerException`, instead of returning an empty json.

The issue can be reproduc

[2020-11-09 05:43] thleqel commented on #1370
@ptrthomas I can create a PR to fix this if you like.

[2020-11-09 06:13] ptrthomas commented on #1370
@thleqel thanks for offering, since we are actively prepping a new branch the fix will go there so we'll do it

[2020-11-09 10:30] theathlete3141 commented on #1368
Perhaps my original message was too verbose but my test case is:
- Create n cats
- AND THEN get each of the n cats
This is not the same as:
- Create a cat and get the cat n times
This test case necessitates that the create and get be in different karate scenarios. Each of the creates returns an id which I need to be able to store to use in the gets.

I have now tried to write this using raw-Gatlin

[2020-11-09 11:00] ptrthomas commented on #1368
you can call a scenario (by tag) and return data, I really don't understand what the problem is. writing to a file sounds like a made-up requirement, so maybe the right thing is indeed to write some extra java code: https://stackoverflow.com/a/54593057/143475

so far I consider this ask as very low priority

[2020-11-09 19:07] theathlete3141 commented on #1368
I was able to get my test case to work in raw-Gatling.
https://github.com/gatling/gatling/issues/4003#issuecomment-723977513

The important part being that I can get the id from the create output, add this to a queue, and use this as a feeder for my get input.

Is this possible in Karate-Gatling? (How) Can I access some output from a Karate scenario in a Gatling simulation?

[2020-11-09 20:04] sixdouglas commented on #1368
@theathlete3141 I now this is a sample to illustrate what you want to achieve. But to be sure I understand well what you want to do, I'll try to explain it with my words.

In this Gatling test case, you do:

* call 1 API, `/cats` to create one Cat and get its `id` back from the server
* you run this call indefinitely
* feed a Queue with the newly created IDs
* read the Queue
* call another API wit

[2020-11-10 07:19] ptrthomas commented on #1338
@hujunhaorobert I've just brought the `rewrite` branch up to par for mocks. there are breaking changes to the Java API but not the JS API. I curated this commit to serve as a reference and one of the hard things ahead is to write an upgrade / migration guide: https://github.com/intuit/karate/commit/a83f76e40bc8e092d6a0c0fda247c9d075325f9f

would be good if you can follow the development guide on t

[2020-11-10 08:42] theathlete3141 commented on #1368
@sixdouglas almost - I only want to create a finite number of cats initially, rather than create them indefinitely.

The exact use case I was given (using generic terms):
1. Call the first API to create n objects. The response contains an `id` which is required in steps 2 and 3
2. Repeat across all objects at a rate r: call a second API to perform some modification to each object
3. Repeat across

[2020-11-10 09:11] ptrthomas commented on #1368
@theathlete3141 best thing is for you to contribute code. so far the only person who understands the gatling code (which is actually very few lines of code) is @sixdouglas - between you two I think you can figure it out. as I said, I don't see this as a priority for me any time soon.

[2020-11-10 17:37] ameyanatu opened #1371 "Caused by: java.lang.NullPointerException: Cannot invoke "javax.script.ScriptEngine.createBindings()" because "com.intuit.karate.ScriptBindings.NASHORN" is null"
I have used the QuickStart method to setup Karate on my Mac

I have also installed Cucumber Eclipse Plugin and when I execute the feature file then I am getting the following error

Exception in thread "main" java.lang.ExceptionInInitializerError
	at com.intuit.karate.Runner$Builder.tagSelector(Runner.java:80)
	at com.intuit.karate.Runner.parallel(Runner.java:309)
	at com.intuit.karate.Runner$Buil

[2020-11-10 17:54] ptrthomas commented on #1371
@ameyanatu please use stack overflow for these kinds of questions: https://stackoverflow.com/a/54490277/143475

or follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-11-10 17:54] #1371 closed

[2020-11-12 22:02] hpracjos commented on #1371
Request to please unsubscribe me from thread..

Thanks

On Tue, Nov 10, 2020, 5:37 PM Ameya Natu <notifications@github.com> wrote:

[2020-11-13 22:55] hujunhaorobert commented on #1338
@ptrthomas Just noticed your message. Thanks for your effort on the mock server improvement. Yes, I will try that locally firstly and  then give feedback to you.

[2020-11-15 04:51] sakinala opened #1372 "Karate-UI-Automation : Getting "com.intuit.karate.ScriptBindings.NASHORN" is null issue when create new simple maven project and execute"
I just created a simple maven project and created a simple feature file to launch the browser but getting the following issue:

[code]

I used Karate version 0.9.6 and tried with 0.9.5 also

Can you please look into this to resolve this issue:
[karate-ui-automation.zip](https://github.com/intuit/karate/files/5541869/karate-ui-automation.zip)

[2020-11-15 06:30] ptrthomas commented on #1372
@sakinala sorry you haven't followed the process: https://github.com/intuit/karate/tree/master/examples/ui-test

I suggest that you use the ZIP release, it is simpler for you: https://github.com/intuit/karate/wiki/ZIP-Release

[2020-11-15 06:30] #1372 closed

[2020-11-15 06:31] ptrthomas commented on #1372
@sakinala also note that karate requires Java 8-12 only

[2020-11-16 17:04] #1286 closed

[2020-11-16 17:06] ptrthomas opened #1373 "1.0 release thread"
this issue is to provide updates and collect feedback. also will hold some images needed for the wiki

this wiki page will hold details: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-11-16 17:13] ptrthomas commented on #1373
<img width="558" alt="image" src="https://user-images.githubusercontent.com/915480/99284973-efc99580-285c-11eb-93fb-ce4583fb7c6e.png">

- ES6 arrow functions
- string interpolation within back-ticks
- JS array behavior e.g. `Array.map()`, note that `karate.map()` is still an option

[2020-11-16 17:20] ptrthomas commented on #1373
<img width="632" alt="image" src="https://user-images.githubusercontent.com/915480/99285627-cc531a80-285d-11eb-9ec9-9bf799fd9024.png">

* each level of the payload is reported as well-formed JSON (to make cutting and pasting easier)
* JSON keys will be sorted so that the payloads "line up" as far as possible - which makes it easier to eyeball

[2020-11-18 01:44] corp-ray opened #1375 "callSingle executes multiple times on failure"
If callSingle throws, Karate doesn't cache the result. It looks like it only saves the result on success. (https://github.com/intuit/karate/blob/3322d55a30b06b3cc5f16d2c2e00562d3d0eea54/karate-core/src/main/java/com/intuit/karate/core/ScriptBridge.java#L560 ).
Not sure if this is deemed desirable. For my use case (login attempt. I get locked out of an account on multiple failed attempts to log in)

[2020-11-18 03:18] ptrthomas commented on #1375
@corp-ray if you can provide a minimal example following this process - that would be great, else this is tagged as `help wanted`: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-11-18 14:44] kellenMohamed opened #1377 "How to compare character fields returned to postegres in the Karate query?"
Hello @ptrthomas,

I need a help. I used the example structure (#dogs.feature) to call the database and execute the query.
But always when I try to compare the varchar column I receveid the error message:

                   ^ in <eval> at line number 1 at column number 18.

How can I compare a Varchar column from database with my character example.

In this last my tentative I didn't insert the q

[2020-11-18 15:26] ptrthomas commented on #1377
@kellenMohamed unfortunately I can't help you with this. this is a common question and my response is here: https://stackoverflow.com/a/52078427/143475 - please try to get someone who knows about DB queries to help you

[2020-11-18 15:26] #1377 closed

[2020-11-18 17:19] kellenMohamed commented on #1377
@ptrthomas My issue is different from this ticket that you mencioned.
It a Karate issue when read the query.
Because all the error message received is:
    1:55 Expected , but found public."TABLE_NAME" LOC WHERE

I think is related how write the query in the Karate when I have string comparation. U tried the sintaxe below:
     db.readRow('SELECT column1, column2, column3 FROM' 'public."TABLE" LOC

[2020-11-18 18:25] ptrthomas commented on #1377
@kellenMohamed sorry I don't know. see if a search here helps, all the best: https://stackoverflow.com/search?q=+sql+%5Bkarate%5D

[2020-11-18 18:27] corp-ray commented on #1375
Sure. https://github.com/corp-ray/demonstrateCallSingleProblem

Relevant parts are https://github.com/corp-ray/demonstrateCallSingleProblem/blob/master/myproject/src/test/java/karate-config.js#L18 which calls a.feature via callSingle, and
https://github.com/corp-ray/demonstrateCallSingleProblem/blob/master/myproject/src/test/java/examples/users/a.feature#L7 which throws when a.feature is executed.

[2020-11-18 18:34] ptrthomas commented on #1360
@scottashipp it would be great if you can try the `rewrite` branch and confirm that this is fixed: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-11-18 18:34] #1360 closed

[2020-11-18 18:37] ptrthomas commented on #1348
closing as there are a lot of changes. please wait for RC releases and re-submit

[2020-11-18 18:37] #1348 closed

[2020-11-18 18:38] ptrthomas commented on #1338
closing this thread, use #1373 for any more discussion

[2020-11-18 18:38] #1338 closed

[2020-11-18 18:42] ptrthomas commented on #1321
anyone interested in fixing this can look at this part of the code in `ScenarioEngine` (currently the `rewrite` branch:
<img width="839" alt="image" src="https://user-images.githubusercontent.com/915480/99573227-d7dc4800-29fb-11eb-9d15-2fab495ad2b5.png">

[2020-11-19 07:13] hujunhaorobert commented on #1373
@ptrthomas I had rebuild the **rewrite branch** locally and generated karate-2.0.0.jar, and below is test finding:
1. the fixing solution for issue #1365 I reported is not integrated to rewrite branch yet and the issue is still there.
  java.lang.NullPointerException stack trace: com.intuit.karate.core.ScriptBridge.xmlPath(ScriptBridge.java:426)
2. When building Standalone JAR and ZIP, under karat

[2020-11-19 11:27] ptrthomas commented on #1373
@hujunhaorobert thanks for trying out the `rewrite` branch. I have made changes for bodyPath() to work in the new code: https://github.com/intuit/karate/commit/6ce22ce1668e3939aa23e5b5a8b9b7eb0808019b

I also suspect you may not have switched cleanly to the `rewrite` branch, there should not be anything under `karate-netty` anymore, it is all moved to `karate-core` - anyway please see if the mocks

[2020-11-19 15:39] scottashipp commented on #1360
Great I will verify today!

[2020-11-19 15:53] mihirmehta opened #1378 "Failed to find file when trying to run on docker for Karate UI Automation"
I am facing an issue when I try to run Karate tests in a docker container. I have a E2E feature file that calls another commonly used feature file. When I run the test using docker, I get an error that the feature file was not found in the classpath provided.

The test runs well locally but the issue is when I run it on docker. I am attaching the minimalistic source code files that would help us r

[2020-11-19 16:34] ptrthomas commented on #1378
@mihirmehta to all who are reading this - please see if you can help

meanwhile mihir I suggest you use a hardcoded path like `file:/root/etc` to get things to work, you can use the hard-coded path based on an environment switch, does that make sense

[2020-11-19 17:20] scottashipp commented on #1360
I have confirmed that the `rewrite` branch fixes this issue. Thank you @ptrthomas !

[2020-11-19 17:44] mihirmehta commented on #1378
Thanks for the suggestion @ptrthomas . Tried chosing the path based on an environment switch in karate-config.js to see if this works. Something like this:
[code]
 However looks like ` When def party_create_agreement = call read('#(path)')` looks for a
[code]
Does read not take in the path as a variable(from karate-config.js) or is this escaping single quote in js or may be something else I may be

[2020-11-19 17:51] theathlete3141 opened #1379 "Karate-Gatling struggles to post xml at high rate compared to other requests"
Issue first noticed on the develop branch, however as I know that the rewrite branch is the priority I have been able to replicate this here (commit 6ce22ce1).

Attached is a directory which should be copied to examples/gatling/src/test/java/example.
[example.zip](https://github.com/intuit/karate/files/5568671/example.zip)
I can provide a full working example project if required.

Please note that

[2020-11-19 18:33] chaudharydeepak commented on #1378
@mihirmehta - its possibly because case-sensitive naming of file [ running in editor vs on linux in docker ]

classpath:AgreementManagerUI/Features/CreateAgreement.Feature
vs
actual file name is CreateAgreement.feature [ f and not F ]

Please try again., this should resolve. Thank you.

[2020-11-19 18:59] ptrthomas commented on #1379
@theathlete3141 the rate I'm going likely to look at this next year :P - one suggestion is try to form the payload as a string (use `text` if needed) to avoid XML parsing - as always any investigation or better still code contribution from you or anyone else is welcome. all the best !

[2020-11-19 20:33] kellenMohamed commented on #1377
Hello @ptrthomas thank you.

I got to work with convertion: cast (<code> as varchar)

I would you like to ask you if it is possible to connect in 2 database with Karate.
Because I found examples only with one connection.

I need in my feature to execute 2 queries in different databases.

[2020-11-19 22:42] mihirmehta commented on #1378
@chaudharydeepak - Thanks for this! That was it! The file name it was indeed! Changed it to the correct name(.feature) and docker does not complain anymore! Thank you for your help!

Closing this unless there is anything that can be taken in as an improvement(ignore the case sensitiveness of .feature or .Feature!)

[2020-11-19 22:42] #1378 closed

[2020-11-20 01:25] ptrthomas commented on #1377
@kellenMohamed great, regarding 2 databases, my answer is the same: https://stackoverflow.com/a/52078427/143475

[2020-11-20 04:44] ptrthomas commented on #1373
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/915480/99760013-13b8ff80-2b19-11eb-97a3-9ee4332b28b2.png">

passing JS functions top Java code that will be executed on another thread has to be wrapped using `karate.toJava()`

[2020-11-20 04:48] samparoy006 opened #1380 "Not able to connect Azure Cloud DB with Karate Framework Automation using AD Universal Authentication process"
I need to connect to Azure Cloud DB using Active Directory Universal Authentication with Karate Framework. I have tried using the below connection String. But getting error like:

org.springframework.jdbc.CannotGetJdbcConnectionException: Failed to obtain JDBC Connection; nested exception is com.microsoft.sqlserver.jdbc.SQLServerException: Login failed for user 'XXXXX@yy.zzzzzz.com'. ClientConnect

[2020-11-20 05:00] ptrthomas commented on #1380
@samparoy006 please follow this process (yes, down to the last detail): https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

but read this first, it may save you some time: https://github.com/intuit/karate/issues/1377

[2020-11-20 05:00] #1380 closed

[2020-11-20 08:30] sixdouglas commented on #1379
@theathlete3141 If you put the payload in a variable instead of the request ligne :

[code]

The speed is better, but not yet fast.

[code]

But, as a lot of work is done on XML payload to parse it, a lot of time is wasted in your case.

[2020-11-20 09:50] theathlete3141 commented on #1379
Thank you both for your suggestions. I've found that the way in which the request is formed makes a big difference to how fast they can be executed

**postXml.feature**
From the original example
[code]
[code]

**postXml2.feature**
Modifying postXml.feature so that the payload is on one line
[code]
[code]

**postXml3.feature**
Modifying postXml.feature to define the payload separately to setting th

[2020-11-20 10:01] ptrthomas commented on #1379
if the response is xml - karate will attempt to always parse it by default which will explain that

there is an experimental way to have more control over the request (approximate code below) which may be interesting to explore

[code]

[2020-11-20 10:03] ptrthomas commented on #1379
.. but may not be sending the stats to gatling ;) I'm not too worried about this use-case a) in real-life most systems would spend time waiting for responses b) in the worst case, just write a bit of Java code that makes the raw HTTP request and you publish the stats to the `PerfContext` manually.

[2020-11-20 12:53] sixdouglas commented on #1379
In deed, this way it works:

[code]

[code]

But no results sent back to Gatling. I suppose it is normal, since it is not Gatling that actually send the request, but the current JRE.

By the way, is it possible to use Gatling Load Injectors through Karate?

[2020-11-20 15:20] ptrthomas commented on #1379
@sixdouglas great, thanks for testing that out ! actually you can do this if you measure the time manually

[code]
I'm not sure what you mean by load injectors, do you mean feeders ?

[2020-11-20 16:26] sixdouglas commented on #1379
In deed, it works

[code]

[code]

The results are collected, but the timing is still longer than with json payload.

When you want to apply a heavy load on a system, one Gatling Instance may not be enough. In this case, you can have multiple Gatling injectors (runners) and one Gatling master to give the tasks and collect statistics (more details [here](https://gatling.io/docs/current/cookbook/sca

[2020-11-20 16:56] ptrthomas commented on #1379
@sixdouglas ah yes - this also is broken after the re-factoring, but you may find this interesting, last section covers gatling: https://github.com/intuit/karate/wiki/Distributed-Testing

[2020-11-20 18:06] ptrthomas commented on #751
@joelpramos I have reworked the resource / classpath scanning code using io.github.classgraph - would be great if you can check if this works in spring boot now

[2020-11-20 23:32] hujunhaorobert commented on #1373
@ptrthomas Yes, I met some trouble to get standalone karate-{version}.jar for my mock testing.  In order to regenerate that JAR, I was following the **Developer Guide** of **Build Standalone JAR and ZIP** from https://github.com/intuit/karate/wiki/Developer-Guide. I see there is nothing except README.md under karate-netty now,  can you specify how to generate Karate standalone JAR, or how can I ge

[2020-11-21 02:34] ptrthomas commented on #1373
@hujunhaorobert since all the code is in `karate-core` it is a little simpler.

* navigate to the `karate-core` directory in a terminal / console
* `mvn clean install -P fatjar`
* if needed add `-DskipTests` to the above
* the JAR and ZIP will be available in `karate-core/target`

[2020-11-21 09:27] ptrthomas commented on #1373
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/915480/99873917-74276a00-2c09-11eb-9a7b-1e3ef13cfdd9.png">

breaking change - but this was the best way to solve the js threading problem
`karate.listen()` is gone, instead there is a new DSL keyword `listen` that just takes a number (expressions also allowed) above is the example of the before--after for the message queu

[2020-11-21 14:45] stefdaems opened #1381 "Send scenario result in after scenario hook to external endpoint"
I want to be able to send the scenario result (testName + status) to an external endpoint, right after the execution of the scenario.

My karate-config looks like this:
[code]

In de Background part of my feature I've added

[code]

Fetch seems to be unknown to karate, so is there any possibility to add fetch (or node-fetch or axios...) to the modules which can be used.

If I'm totally missing out

[2020-11-21 15:27] ptrthomas commented on #1381
@stefdaems answered on stack overflow. also keep in mind that karate *is* an http client so you don't need fetch and what not. also see this thread for other ideas: https://github.com/intuit/karate/issues/619

[2020-11-21 15:27] #1381 closed

[2020-11-21 15:43] stefdaems commented on #1381
Thanks for the quick response @ptrthomas but this still kept me a bit in the dark. The docs referred to aren't shining much light on my question.

Does this indicate I don't need to use the afterscenario any longer and look for the ExecutionHook to be implemented somewhere, somehow?

I expect the need to implement something like Kafka.post(url, body, header)....

[2020-11-21 17:07] ptrthomas commented on #1381
@stefdaems you can use any karate feature in `afterScenario`, here is an example: https://stackoverflow.com/a/51467470/143475 - and karate can make http calls

there are more examples in the `karate-demo`

if that doesn't work, then go for hooks

you can't use npm / random js libraries in karate

if you read the other thread, you may find that it may be much more convenient to send all results at

[2020-11-23 01:14] hujunhaorobert commented on #1373
@ptrthomas By following your instruction above, I re-generated the karate-2.0.0.jar successfully, which is good.

I copy this jar file to my mockTest project, and put my customised karate-config.js file under the mockTest project folder, same as main-mock-server.feature. When I launching my mock server by CLI:
java -cp karate-2.0.0.jar com.intuit.karate.Main -m main-mock-server.feature -p {{port-i

[2020-11-23 03:48] ptrthomas commented on #1373
@hujunhaorobert it is likely the previous behavior was a bug. in mocks, there is not really a `classpath:` concept unless you know what classpath is set when you start the JVM. in this case use a relative path or set the directory that karate will use for finding the `karate-config.js` as per the documentation. if you still feel this is an issue please provide a sample project

[2020-11-23 14:13] sumargoraymond commented on #1373
Returning object literal with `karate.call('some_js_file.js')` does not work on the RC.

Example js file:
[code]
}

Calling the js file's method using `karate.call` with below code returns undefined:
[code]

[2020-11-23 14:39] sumargoraymond commented on #1373
Calling Java function using obtained variable raises an error.

The following is the sample feature file:

[code]

Utilities file is as below:
[code]

The error raised is:

[code]

[2020-11-23 14:46] ptrthomas commented on #1373
@sumargoraymond for your first comment, I cannot replicate: https://github.com/intuit/karate/commit/263ce53140ee1960e27ef655850fcd7b58ead872

and regarding the second, `JsList` is not intended for end-users, just use normal Java Map / List / primitives like before, please

[2020-11-23 14:49] sumargoraymond commented on #1373
Hi @ptrthomas , previously we are using `ArrayList<String>`

However we tried using `JsList` because it raises an error:

[code]

[2020-11-23 14:53] sumargoraymond commented on #1373
Hi @ptrthomas , can you try outputting https://github.com/intuit/karate/commit/263ce53140ee1960e27ef655850fcd7b58ead872 with `result.varA` instead?

Thanks

[2020-11-23 15:09] ptrthomas commented on #1373
@sumargoraymond you are absolutely right ! thanks :) should be fixed now

[2020-11-23 16:29] ptrthomas commented on #1373
<img width="760" alt="image" src="https://user-images.githubusercontent.com/915480/99987633-b6ea6d00-2dd6-11eb-9916-d4770eb29e88.png">

some improvements to the `Runner.builder()` that are subtle but you are going to enjoy:
* no more relying on `System.property()`
* set `karate.env`
* set even the location of the `karate-config.js`
* and even set system properties per test-suite
* the goal here is

[2020-11-23 16:34] theathlete3141 opened #1382 "Karate-Gatling - after a failed karate feature is ran, the session status is not updated from OK to KO"
The following was reproduced on the rewrite branch (commit 87725004).

First consider the following Gating simulation to understand the expected behaviour
[code]
Where mockServer.feature
[code]
And prints
[code]
Which demonstrates that the initial status is OK, and after a failed request the status is KO and will remain as KO even if there is subsequently another successful request.

Consider the

[2020-11-23 16:41] ptrthomas commented on #1382
this is deep into a usage pattern hardly any karate users use, duly marking as `help wanted` - one comment is the simpler you can make this example - the higher the likelihood of someone attempting to troubleshoot this

[2020-11-23 16:42] ptrthomas commented on #1382
also I'm sure a workaround is to manually set the session to KO if needed

[2020-11-23 18:24] theathlete3141 commented on #1382
I appreciate that in normal usage of karate-gatling it is not expected that this pattern would be used. I raised this issue simply to highlight how it doesn't behave in the same way as raw-Gatling.
The most simple example to demonstrate this is
[code]
vs
[code]
But the longer original example demonstrates the full behaviour, namely that although the status is set to KO after a failed request, it i

[2020-11-23 19:20] ptrthomas commented on #1382
@theathlete3141 I'm sure you can find a solution or hint, you've done it before 👍

[2020-11-26 11:30] ptrthomas commented on #797
@jesimone57 if you are still using the mock-servlet, can you help test the upcoming release which has some breaking changes: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-11-26 16:14] mihirmehta commented on #1015
@paaco , @ptrthomas : Can we confirm if this was released? I was trying to use `configure driver { type: 'geckodriver', headless: true }` but it still opens the firefox browser. I checked the readme edit that @paaco provided above and that is not present in the current release too. I see it was merged in the develop branch back in January but not sure if it made to the release.  The getCapablities

[2020-11-26 17:02] paaco commented on #1015
@mihirmehta The initial code has been reworked to more generic code and now you have to use the `webDriverSession` field as described here: https://github.com/intuit/karate/tree/master/karate-core#webdriversession

It's a bit complicated with all the brackets, but basically you should do something like:
`* configure driver = { type: 'geckodriver', webDriverSession: { "capabilities": { "alwaysMatch

[2020-11-26 17:20] mihirmehta commented on #1015
@paaco : Thank you very much for this. This was really helpful and it works for me now with the webDriverSession field. Thank you once again.

[2020-11-26 17:51] arochagabriel opened #1384 "Karate mobile: input() doesn't work"
build.gradle
[code]

[code]
locators.json
[code]
[code]
Appium version: 1.19.0
Node: 12.18.4
xcode: 11.7
sdkmanager: 26.1.1
Android emulator version 30.2.6.0

I tested both on platform iOS and Android, with differents of course locators and without success.

Thanks team

[2020-11-26 18:16] ptrthomas commented on #1384
@babusekaran any ideas

[2020-11-26 20:43] babusekaran commented on #1384
@arochagabriel can you attach the complete logs? from the execution, I cant see the exact request and response for `input()`. honestly, I have no way to reproduce this without a code to reproduce.

also you can try [Appium Desktop](https://github.com/appium/appium-desktop/releases/tag/v1.18.3) to confirm if the same works there when you use send keys option and share that log as well.

[2020-11-27 00:43] arochagabriel commented on #1384
yeah man @babusekaran I deleted all the retries and it works now, but I had to use delay in some steps, I don't like it, but it works. Thanks, team.

[2020-11-27 10:38] sumargoraymond commented on #1373
`-Dkarate.options` passed from the terminal does not seem to be honored when using hook on test runner.

E.g. running `mvn clean test -Dkarate.options="--tags @test" -Dtest=TestRunner -Dkarate.env=production` should run test with the annotation: `@test`

// TestRunner.java
[code]

The test runner will run tests with the default annotation (`~@ignore`) instead of the `@test` from the terminal input

[2020-11-27 11:04] ptrthomas commented on #1373
@sumargoraymond this is a tough one. I'm planning to change the way this works. what I propose is:

* if the user has not specified anything in code, the environment will be used, e.g. command line
* else the code has "higher priority"

in fact the code example in the post just above is an example why this is needed. here, `karate.env=docker` and `server.port` will be set by Java code and cannot b

[2020-11-27 12:32] ptrthomas commented on #1373
@sumargoraymond please ignore what I said above, I remembered that frameworks e.g spring / boot give highest priority to command-line, then system properties - and this is the right way to be able to change things at deployment / ci

so I made it work now like it used to, can you please take a look again and confirm

and thanks for trying out the early versions like this - it makes things so much

[2020-11-27 14:53] sumargoraymond commented on #1373
Sure thing, will do. Thanks @ptrthomas

[2020-11-27 16:10] sumargoraymond commented on #1373
A test scenario with `GET` request stopped working on the RC. It works fine on the existing karate.

*Because the URL is confidential, however, I will not be able to give the details. But it goes something like this:

[code]

It raises an error
`io.netty.handler.codec.http.cookie.DefaultCookie.sameSite()Lio/netty/handler/codec/http/cookie/CookieHeaderNames$SameSite;`

Seems to be an issue on handl

[2020-11-27 16:22] ptrthomas commented on #1373
@sumargoraymond can you provide the values of the request and response headers, specifically the `Cookie` and `Set-Cookie` ones

[2020-11-27 18:26] sumargoraymond commented on #1373
@ptrthomas , I just realized that the behavior on RC is the correct one. It should raise a failure since when I tried requesting manually it raises an error.

Somehow the error isn't raised on the existing version. I tried outputting the response using the existing version and it prints nothing yet the test just passes as if nothing is examined. Anyhow, it is our test that needs an update. The RC

[2020-11-28 03:30] ptrthomas commented on #1373
@sumargoraymond unfortunately I can't do anything unless I get some way to replicate, so I'm going to move on to other things. it is possible that your server has a bug and it doesn't support some cookies: https://web.dev/samesite-cookies-explained/

I'm sure you can find a way to replicate. for e.g.

[code]

[2020-11-28 04:04] sumargoraymond commented on #1373
My bad @ptrthomas , the server does indeed require a certain key value pair for the cookie. After implementing the necessary cookie on the header, it works well on RC.

[2020-11-28 04:10] ptrthomas commented on #1373
@sumargoraymond great. I'm still worried about the error message, since it is not helpful and I'm not able to understand how that will happen. please look out for ways you can replicate it - I'm sure you can mask all the values and figure out a way to replicate, thanks

[2020-11-30 09:30] sumargoraymond commented on #1373
@ptrthomas Just realized it today, here is the `set-cookie` information from the response header of the failure. Just in case it might be useful:

[code]

[2020-11-30 10:13] ptrthomas commented on #1373
@sumargoraymond that helps. I made some config changes, so do test when possible

by the way everything is back on the `develop` branch, I've updated the developer guide: https://github.com/intuit/karate/wiki/Developer-Guide

[2020-11-30 10:20] sumargoraymond commented on #1373
Hi @ptrthomas I tried doing this and changes the mechanism of obtaining samesite. It works on our test cases now. https://github.com/sumargoraymond/karate/commit/016141cf12dee7a619252f4a413998fd40da73ec

[2020-11-30 10:24] sumargoraymond commented on #1373
Perhaps we can implement such kind of approach instead of ignoring the cookies?

[2020-11-30 10:31] sumargoraymond commented on #1373
Thanks @ptrthomas tests now run like a charm

[2020-11-30 10:54] dalvarezabal opened #1385 "Add dynamic signatures to header request based on request body"
After our conversation on Stack Overflow
https://stackoverflow.com/questions/65018596/how-to-handle-requests-with-signatures-on-karate-tests/65072062#65072062

We would like to have the possibility to handle requests with signature as part of the request in the header.

In our case we have two headers:

**ApiKey**: this value is always the same
**Signature**: this value depends on the request body

[2020-11-30 12:13] ptrthomas commented on #1385
@dalvarezabal hope you are able to build locally by following the instructions here: https://github.com/intuit/karate/wiki/Developer-Guide

now there is a single argument passed to the header function which represents the raw request. you can use `bodyAsString` or the `body` (as bytes) "property" to get the value of the body

the headers are also available if you want if you call `request.getHeade

[2020-11-30 17:47] ptrthomas commented on #1375
@corp-ray fixed, would be great if you can try the `develop` branch, the error reporting + logging should be much better in the new version: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-11-30 18:32] corp-ray commented on #1375
Wow!!! Thanks for the quick fix! Also am thrilled that the new version has an upgraded JS engine.

[2020-12-01 07:11] ptrthomas commented on #1355
I'm closing this - if anything needs to be changed in karate, I need a PR @federicomarilungo

[2020-12-01 07:11] #1355 closed

[2020-12-01 08:38] stefdaems opened #1386 "replace placeholder in graphql ignores enums and stringifies"
I'm reading a graphql query and store it in a variable, afterwards I do a replace of a variable in the stored graphql. The replacement is stringified, although there is an enum in.

`
query() {
  blabla(
    varToReplace: < varToReplace >
    queryOptions: {}
  ) {
    boemba {
      id
      )
    }
  }
}
`

My scenario part for reading in looks like this
[code]

But the actual query executed doe

[2020-12-01 09:18] ptrthomas commented on #1386
closing since you double-posted on stack-overflow. answered there

[2020-12-01 09:18] #1386 closed

[2020-12-01 10:53] dalvarezabal commented on #1385
Thanks for the quick answer, I will try to test this during this week 👍

[2020-12-01 11:03] ptrthomas opened #1387 "driver and robot to take screenshot by default, since a very common ask"
the `afterScenario()` approach has limits, especially in called features: https://stackoverflow.com/q/65088505/143475

thinking a `configure driver` setting to disable is needed, and this is enabled by default

[code]

[2020-12-01 12:21] ptrthomas commented on #1385
@dalvarezabal if it helps we just made an RC release: https://twitter.com/KarateDSL/status/1333707459823734785

[2020-12-01 20:43] corp-ray commented on #1375
Okay, was able to test it out. Looks fine to me. I only see the log statement occurring once now so it looks like the code is only getting executed once.

[2020-12-02 07:44] ptrthomas commented on #1165
I'm closing this issue because the code is completely rewritten. @chaudharydeepak did a great job implementing expiry checks but after some back and forth, I've decided that as a testing framework, users may want to send invalid cookies to the server to see how it behaves. the next version has no cookie checks at all, users can send whatever they want

[2020-12-02 07:44] #1165 closed

[2020-12-02 16:27] ptrthomas commented on #1373
reading of `karate.options` from the system properties / command-line is broken in 0.9.9.RC1 - thanks @mihirmehta for the report. this is fixed in the `develop` branch

[2020-12-03 15:09] test-098 opened #1388 "Encode embedded xml value to base64 and decode response value"
Feature: Demo

Background: Given url URL_Demo * configure headers = null * headers { Content-Type : 'text/xml' }

Scenario: Demo * def payload = read('classpath:appSoap/files/payload_Demo.xml')

* set payload //Demo/request = {'param1': '#(param1)'}

* set payload //Demo/request = {'param2': '#(param2)'}

* set payload //Demo/request = {'param3': '#(param3)'}

* def data =
  """
  <request xmlns="

[2020-12-03 15:12] ptrthomas commented on #1388
@test-098 sorry. follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-12-03 15:13] #1388 closed

[2020-12-04 06:37] ptrthomas commented on #1177
@maxandersen max - we finally got rid of the extra CLI. there is only one artifact. `karate-core` everything is in this one dependency. hope you get a change to try it sometime, I don't think your existing tests would break, but in case: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-04 11:21] ivangsa opened #1389 "Split logback logs into multiple subloggers | Implement a LogsServer"
Hi

we are creating a lot of karate for API E2E testing, and we would like to stop maintaining Postman collections and leverage the same karate tests for both automation and manual debugging/developing, and debug http request/responses is hard just by reading karate logs, we usually end up scrolling up and down, copy/pasting payloads into editors, format json...

so we have developed a quick poor-

[2020-12-04 12:10] ptrthomas commented on #1389
@ivangsa ok thanks for this. I'd really like to build as much of these generic needs into karate. just that next 1-2 months I'm busy wrapping up the 1.0 - but I'll do my best to roll some of these in

can you take a look at this "hook", it emits logs in a special format that IntelliJ understands: https://github.com/intuit/karate/blob/develop/karate-core/src/main/java/com/intuit/karate/cli/Intellij

[2020-12-04 14:29] hoby1cat8 commented on #1287
Anyone aware of testing using snakeyaml 1.27 with karate 0.9.5?  Any issues discovered if so?  Thanks

[2020-12-04 15:32] ptrthomas commented on #1287
@hoby1cat8 as far as I know there are no issues. the problem reported here is if any extra security checks are being run as part of a build

[2020-12-04 15:39] ptrthomas commented on #1177
made change as per twitter discussion: https://twitter.com/maxandersen/status/1334826965577117699

[2020-12-04 15:54] hoby1cat8 commented on #1287
OK thanks @ptrthomas . We came across this via security scan so planning our update/testing path to resolve. Since you're going to 1.26 of snakeyaml in Karate 1.0.0 we may update/test only version 1.26 of snakeyaml with 0.9.5.

[2020-12-04 16:42] ptrthomas commented on #1287
@hoby1cat8 ah. thanks for the reminder, I just did a sweep of the project and upgraded all the dependencies I could. so karate 1.0 will use snakeyaml 1.27

[2020-12-05 05:11] ptrthomas commented on #1163
@ivangsa and please do test on 1.0 to avoid surprises: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-05 05:14] ptrthomas commented on #1389
closing for now, but the discussion can continue. my opinion is that if the HTML report gives you

a) an easy way to cut and paste requests and responses
b) as a bonus - an easy way to make the request via cURL or a similar "swagger style" mechanism

there is no need for anything else. teams can of course implement hooks for any specific custom needs

[2020-12-05 05:14] #1389 closed

[2020-12-05 08:05] ptrthomas commented on #1156
@treyturner I think this is working as expected in the 1.0 stream, can you try and confirm: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-05 10:53] sdoneva92 commented on #678
Hi Peter. I have found the same bug, but when we have a string '' in the string response whit the match keyword. You replicate it as follows:
You can match that any string response 'error_message=Required String parameter 'cust_id' is not present' that contains in it any string is failing.

Regards,
Svetlana

[2020-12-05 11:05] sdoneva92 opened #1390 "Match parser gets an error when a string is inside a string message"
Hi Peter,

We have a problem parsing with the match assertion a message from a response where a string is inside the string response:

Here is also the example : 'error_message=Required String parameter 'cust_id' is not present'

**And the error we get when we use this step definitions:**
    **And match response contains 'error_message=Required String parameter 'cust_id' is not present'**
**Error

[2020-12-05 11:38] ptrthomas commented on #1390
@sdoneva92 sorry I can't understand your example, so I'm pasting one below, which works for me. maybe you just need to use double quotes, or pre-process the strings you get

to re-open, make it clear please

[code]

[2020-12-05 11:38] #1390 closed

[2020-12-05 13:01] Rupal-Saxena commented on #452
What is the solution???

[2020-12-05 13:14] ptrthomas commented on #452
@Rupal-Saxena ask on stack overflow please: https://stackoverflow.com/a/54851582/143475

[2020-12-05 15:25] sdoneva92 commented on #1390
Thanks Peter. Can you please also add it do the karate documentation as it is a basic principle from the programming and this is a very custom framework using Cucumber and otherwise when we use single quotes it doesn't get parsed. Thank you in advance and have a nice evening!

[2020-12-05 17:11] ptrthomas commented on #1390
@sdoneva92 actually Karate has nothing to do with Cucumber and is more like JS, where the basic principle is that double-quotes can be used. you are welcome.

[2020-12-06 00:37] maxandersen commented on #1177
fyi, with latest jbang install if you put a jbang-catalog.json into intuit/karate with alias for karate jar you can do things like:

`curl -Ls https://sh.jbang.dev | bash -s - app setup; jbang app install karate@intuit/karate`

this will have `karate` installed in path including downloading jbang + java if needed.

you could also make a intuit/jbang-catalog then the name would just be `karate@intu

[2020-12-06 00:54] maxandersen commented on #1177
note, `jbang app install --name karate  http://com.intuit.karate:karate-core:0.9.9.RC1` works today.

[2020-12-06 02:49] ptrthomas commented on #1177
@maxandersen that is awesome. I think the command above has a cut-and-paste error it should be (no `http://`)

[code]

I started a new shell, but `karate` doesn't work, does it need the main-class manifest ? that will be in the next version

[code]

[2020-12-06 04:45] ptrthomas commented on #1293
I think this works now, here is the new, improved test-suite: https://github.com/intuit/karate/blob/develop/karate-e2e-tests/src/test/java/driver/04.feature

[2020-12-06 06:20] maxandersen commented on #1177
Yes, still need a main to be there :)

[2020-12-07 08:07] dhoanglong91 opened #1391 "(DataDriven) afterScenario is called although scenario is not executed yet"
I have a scenario outline like below where I use read() to read a CSV file
[code]
And in Background, I configure a afterScenario to clean up DB after scenario ran
[code]
Run the test and afterScenario is ran before the scenario, hence making the test fails
[code]

This issue does not occur if I draw a table in Examples instead using read()
[code]

[2020-12-07 08:10] ptrthomas commented on #1391
@dhoanglong91 to re-open, please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-12-07 08:10] #1391 closed

[2020-12-07 09:21] ivangsa commented on #1389
Ok, using `ExcecutionHook` I think we can send all information we need to the IDE at runtime

I see that we are thinking of two different use cases:

One is analysing results, once the tests are up and running on the pipeline, and something goes wrong then a good report with all the information it's necesary to track down what was wrong (the environment, the apis, the test itself...)

A different

[2020-12-07 10:04] mihirmehta opened #1392 "Issue with geckodriver with karate-junit4-2.0.0"
When we try to run a simple test with firefox as a browser with the latest karate-junit4-2.0.0 depedency from the develop branch, we see a Null pointer error as follows:

`Given driver 'https://www.amazon.co.uk'
java.lang.NullPointerException
classpath:KarateSample/Features/Test.feature:5
09:50:41.983 [main] ERROR com.intuit.karate - classpath:KarateSample/Features/Test.feature:5
Given driver 'htt

[2020-12-07 10:08] ptrthomas commented on #1389
agree. I don't see this as urgent though. I hope we can leave `LogsServer` out of this discussion.

for the "something more productive" part, I'd like some clear examples. and yes I see that as the responsibility of the IDE plugin, not the core framework. of course if there is something that the core framework should do to enable anything the IDE + developer experience needs, we can discuss that

[2020-12-07 12:22] ptrthomas commented on #1392
fixed in https://github.com/intuit/karate/commit/15eb1d6ea5b9119ae0659496cc3c799d7655757f

closing since this is against a version in develop, tracked in #1373

[2020-12-07 12:22] #1392 closed

[2020-12-08 11:24] cba64 commented on #1333
@ptrthomas Hello, this issue is also blocking us. Would it be possible to provide an estimated release date for this fix so that we can plan our migration to Gatling 3.4 ? Thanks a lot and keep up the good work :)

[2020-12-08 11:38] ptrthomas commented on #1333
@cba64 ok so there is a way you can help

ideally follow these instructions - and test that it works for you: https://github.com/intuit/karate/wiki/Developer-Guide
if that is not practical, try version 0.9.9.RC1 which is in maven central https://github.com/intuit/karate/wiki/1.0-upgrade-guide

if we can some feedback that can help provide an estimated release date ;) fair ?

[2020-12-08 20:13] corp-ray commented on #1373
If an exception is thrown in karate-config.js, all data about it is swallowed (no stack trace or error message). The only thing shown is:
[code]
Workaround is to catch the exception in JS and log it in JS.
Not sure if this is related to the new release but it makes debugging more cumbersome.

[2020-12-09 02:06] ptrthomas commented on #1373
@corp-ray you mean 0.9.9.RC1 right, try now from the `develop` branch

[2020-12-09 05:17] goyalvipul commented on #665
Hi @ptrthomas . Let me try to explain what is been asked.
Steps:
1. Create 1 scenario and add 5 tags to it.
2. Tags may be --> @smoke @regression @bug4545 @vital @client etc...
3. Now using the maven command run only "@smoke" tag, which will, in turn, run the above-said scenario.
4. At the end of the execution - your report will be produced.
5. When we open the same, all the above 5 tags are shown

[2020-12-09 06:09] ptrthomas commented on #665
@goyalvipul here is a screenshot from the latest 0.9.9.RC1 version where I ran for only tag `@tag1`

<img width="513" alt="image" src="https://user-images.githubusercontent.com/915480/101591510-b5de5000-3a12-11eb-8ceb-459029f0654f.png">

Karate has nothing to do with the `Scenario count = 5` number you are talking about. maybe this is the fault of the Cucumber Reporting plugin you are talking abou

[2020-12-09 11:40] mihirmehta opened #1393 "Cucumber html reports shows all passed on failures when report verbosity showAllSteps is set to false"
When we set the report verbosity showAllSteps: false in our config and have a match in our test that fails, then though the console reports it as a failed test, the cucumber-html-report shows it as passed. Only when we set the showAllSteps as true in the config,  it shows the failing match step and shows as a failed test.

I am not sure if this is something we need to fix from our end or is this f

[2020-12-09 18:28] corp-ray commented on #1373
Yes I meant 0.9.9.RC1, sorry for not clarifying. Okay will test from develop.

[2020-12-09 18:49] dpridanov opened #1394 "Possible memory leak when running tests for several minutes"
**Karate Version**
0.9.6

**How to reproduce**
- Create feature file with 2 scenarios
- Scenario 1 makes simple api GET call
- Scenario 2 calls Scenario 1 1100 times
- Run tests in this feature file (`mvn clean test -Dtest=UsersRunner#testUsers`)
- Monitor memory used by JVM that is running tests

**Issue**
The memory used by JVM that is running tests increases by about 300 MB (starts at ~230, end

[2020-12-09 19:18] corp-ray commented on #1373
On develop, I do now see a better error message. There are some minor things I still notice :
-When karate-config throws, Karate seems to be implying the error comes from the first line of code in each feature file (it prints that line out as an ERROR log)
-If a JS file is called by a JS file, both blocks of JS are printed out in their entirety
-Neither the file name nor the function name of the s

[2020-12-10 01:43] ptrthomas commented on #1373
@corp-ray good. this is the best I could do given the fact that we execute the JS in-memory. you are welcome to find ways to improve it further and contribute code. thanks

[2020-12-10 01:48] ptrthomas commented on #1394
@dpridanov thanks, the code base is completely new now, refer #1281 - so while we continue to complete the migration, it would greatly help if you re-do your experiment on the version in the `develop` branch. here is the developer guide: https://github.com/intuit/karate/wiki/Developer-Guide

also the most likely reason was #1282 which should be fixed in develop

[2020-12-10 02:54] ptrthomas commented on #1394
@dpridanov a couple of extra points

a) karate has to keep a running log of test-steps in memory for reports, it is a testing framework after all. if you have any suggestions for avoiding this, let us know :)
b) you are using the JUnit integration that has extra hooks designed for development mode. it would be better if you focused on the parallel runner, which is what teams should use in CI for r

[2020-12-10 10:28] cba64 commented on #1333
@ptrthomas
We were able to increase karate-gatling to v0.9.9.RC1, but not karate-apache (not found).
After upgrade we're now getting this:
[ERROR] i.g.a.Gatling$ - Run crashed
java.lang.ClassNotFoundException: com.intuit.karate.core.ScenarioRuntime
    at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
    at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
    at sun.misc.Launcher

[2020-12-10 11:23] ptrthomas commented on #1333
@cba64 it does sound to me that you missed upgrading some dependency. perhaps your pom.xml is a complex one. would you be able to submit a simple project ( e.g. like this https://github.com/intuit/karate/tree/develop/examples/gatling )to demo the issue ? note that folks have been working on the develop branch without issues: https://github.com/intuit/karate/issues/1382

[2020-12-10 15:11] theathlete3141 opened #1395 "Karate-Gatling - large delay between the first active user(s) and the first request(s)"
Using karate version 0.9.9.RC1

Using a basic feature file
[code]
With a basic mock server
[code]
With a basic simulation:
[code]
Looking in the index.html test report, I found that there was a large delay between the first active user(s) and the first request(s).

Attached is an example project which demonstrates four test cases:
1. Karate-Gatling simulation with Karate mock server
2. Karate-Gatl

[2020-12-10 15:32] ptrthomas commented on #1395
@theathlete3141 I'm inclined to mark this as won't fix since it is only for the first request, it could be the warm-up time of the JS engine. also I don't consider this a priority, there's plenty of backlog on the 1.0 release. any investigation from anyone will be greatly appreciated.

[2020-12-10 16:19] ivangsa commented on #1373
Hi
vscode debuger doesn't stop when using 0.9.9.RC1
I put together this minimal example, it comes with all required configuration required by vscode karate-runner and two maven profiles one for 0.9.6 and 0.9.9.RC1

Steps:
- download all karate dependencies running either `mvn clean dependency:copy-dependencies -P karate0.9` or `mvn clean dependency:copy-dependencies -P karate1.0`
- open `todos.fea

[2020-12-10 16:24] ptrthomas commented on #1373
@ivangsa took one look at your pom.xml and it is not in the quick start format. I'll pass on this one, anyone else is welcome to take a look

[2020-12-10 16:30] theathlete3141 commented on #1395
This issue has two parts:
- the delay between users becoming active and making their first requests
- the unevenness in the request per second

The warm-up time of the JS engine sounds like a good suggestion for the cause behind the first part, in which case the solution could be to delay the user activation until everything is initialised.

The second part seems a little more concerning. In this

[2020-12-10 16:38] ptrthomas commented on #1395
@theathlete3141 yes this is a concern but I'm confident it could be an optimization we have missed. I don't remember if some changes I made to injecting an executor service into the feature-runtime is in 0.9.9.RC1 the other thing is maybe HTML reports and step-results collection may be happening in memory. a long pending optimization we haven't done is that the apache http client is still synchron

[2020-12-10 16:40] adrian861 commented on #1395
@theathlete3141 I know this was just for demonstration, but I'm curious if you see the same behavior over a longer test run, say a minute?  Also do you see the same delay with `atOnceUsers`?  That command should produce immediate requests from every user.

[2020-12-10 16:57] theathlete3141 commented on #1395
TLDR: same issue are seen when using a longer test run, and also when using a different user inject method. Issues not present using version 0.9.6.

Running KarateSimulation with a Karate mock server using `rampUsers(1000) during (100 seconds)`
![karatesimulation-20201210163606640_index html](https://user-images.githubusercontent.com/72740450/101802162-09ca6100-3b07-11eb-9498-31343fcd8f18.png)

Ru

[2020-12-10 17:00] ptrthomas commented on #1395
great. I'll try take a look over the weekend but any investigation in the meantime will help

[2020-12-11 09:57] ptrthomas commented on #1395
@theathlete3141 can you do one more experiment. start the karate mock in a separate JVM (separate process like you do the python one) let me know if there is a difference.

[2020-12-11 10:46] ptrthomas commented on #1395
ok, so with the karate mock running in a different process, here are my findings. 60 second test

mock:
[code]

gatling:
[code]

results:
<img width="902" alt="image" src="https://user-images.githubusercontent.com/915480/101893850-54151600-3bcb-11eb-9f4b-3104856a58a1.png">

karate / `simple.feature`:
[code]

karate-gatling:
[code]

result:
<img width="900" alt="image" src="https://user-images.gith

[2020-12-11 10:46] #1395 closed

[2020-12-11 10:54] rohit1212s opened #1397 "Parsing xml response in Karate"
I want to parse my xml response and assert some value but seems like karate doesn't support relative path in xml. when I give absolute path ex:- Envelope/Body/ns3:GetRevisionDetailsResponse/ns3:revision/ns3:revisionDetail/ns3:calculatedCost[1]/ns5:amount[1]/ns4:amount[1]/text()[1] == '#string' . It works but for this small xml I can give absolute but for huge xml file if I write the relative path

[2020-12-11 11:04] ptrthomas commented on #1397
@rohit1212s please ask on stack overflow, actually if you search you will get answers: https://stackoverflow.com/search?q=%5Bkarate%5D+xpath

[2020-12-11 11:04] #1397 closed

[2020-12-11 18:06] arisingh commented on #916
I had a comment as the first line of the ".js" file which was causing this issue. I know this would be documented somewhere not to have this first line as comments but I wish the error message was helpful. The following SO page helped me.
https://stackoverflow.com/questions/46918627/in-karate-dsl-calling-a-javascript-file-returns-java-lang-runtimeexception

[2020-12-11 18:07] arisingh commented on #1128
I had a comment as the first line of the ".js" file which was causing this issue. I know this would be documented somewhere not to have this first line as comments but I wish the error message was helpful. The following SO page helped me.
https://stackoverflow.com/questions/46918627/in-karate-dsl-calling-a-javascript-file-returns-java-lang-runtimeexception

[2020-12-12 02:27] ptrthomas commented on #916
@arisingh this is an open-source project, anyone here is welcome to submit a PR to improve the docs or code. I hope that is clear !

[2020-12-12 02:32] ptrthomas commented on #1128
@arisingh I look forward to your PR

[2020-12-12 02:38] arisingh commented on #916
I understand @ptrthomas. I added this comment because google sent me to this page when I searched for the error - so I hope it will help others in my situation.

Also, it will help if instead of someone starting from scratch to find a solution, if someone who knows more about the codebase, to point me (or anyone else who may want to fix this) in the right direction. e.g. which part of the code may

[2020-12-12 02:47] arisingh commented on #1128
To speed up the PR for the fix, I would appreciate if anyone who has some idea as to which part of the code may need fixing, could help in pointing out the code which may need fixing. The easiest solution might be to fix the error message - adding something to the effect that this error could also be caused by ...

[2020-12-12 02:49] ptrthomas commented on #916
@arisingh you can start by looking at the new version. there is a good chance this issue may be fixed or improved: https://github.com/intuit/karate/issues/1373#issuecomment-741991267

[2020-12-12 02:51] ptrthomas commented on #1128
@arisingh here is the developer guide: https://github.com/intuit/karate/wiki/Developer-Guide

[2020-12-13 00:15] joelpramos commented on #751
@ptrthomas is this in the RC for 1.0.0 or is the rewritten branch still separate? Looking to start migrating / testing really soon.

[2020-12-13 03:45] ptrthomas commented on #751
@joelpramos yes in the RC and everything is now in `develop` also refer: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-13 14:55] joelpramos commented on #1373
@ptrthomas fyi I can't seem to find the outputCucumberJson() described [here](https://github.com/intuit/karate/wiki/1.0-upgrade-guide#java-projects) method in the Runner API (neither in the RC on maven central nor in [any branch](https://github.com/intuit/karate/search?q=outputCucumberJson&type=code)).

[2020-12-13 15:03] joelpramos commented on #1373
I had the following feature file:

`Feature: Framework utility functions functions to be reused
Scenario:
  * def uuid = function(){ return java.util.UUID.randomUUID() + '' };`

The Graal engine complains of the semi-colon when using this inline syntax.
[code]

It's something I noticed in the [example commit](https://github.com/intuit/karate/commit/9808bd8d7a9c7a22168ba3397a5fa707d0d37459) for the

[2020-12-13 15:30] ptrthomas commented on #1373
@joelpramos I hope you eventually found the `outputCucumberJson(true)`, and I updated the wiki for trailing semi-colons

regarding the `JsList` and `JsMap` those should normally never be visible to end-users. but I guess you do Java stuff in a JS block, and are still within a JS block, then this happens. if you have an example or two, I'll add it to the docs, but I'm not inclined to support this.

[2020-12-13 15:31] ptrthomas commented on #1373
@joelpramos hang on - let me take a look at `JsList` and `JsMap`

[2020-12-13 15:32] joelpramos commented on #1373
A few more things that seem to break with the new JS engine.

[code]

The Graal engine doesn't seem to have access to the variable that was previously defined. I'm looking into if it's something easily solved as I'd like to avoid refactoring this as it's a pattern I had our users do quite frequently to make tests look very simple.

[2020-12-13 15:41] joelpramos commented on #1373
Yes it's in the develop branch, just not in the RC :)

I actually didn't mind at all with JsList - just overloaded methods. Was just suggesting the note in the documentation. It's not challenging and actually makes it even clearer in the code that method is being used by Karate so it should have a unit test being done from Karate (using a feature file) and the overloaded method can have a unit tes

[2020-12-13 15:53] ptrthomas commented on #1373
@joelpramos I went ahead and did the JsList / Map tweak anyway, I do remember / think that other users are using java-isms in JS: https://github.com/intuit/karate/commit/b122ca8800da99126f6665dcad70e9fb2fae0765

would be good if you can confirm it does work as expected - so things like `list.add()` should be sufficient instead of `list.push()`

for the (1) in your example above, pls do try simplif

[2020-12-13 17:18] joelpramos commented on #1373
Just tested - works fine for my changes but the following is not working in "pure" Karate/JS. I assume that's the intended behavior - to align with Graal like specified in the the docs for 1.0.0.

[code]

There are a lot of methods and common functions in testing and too often I've just seen duplication so my preference is to define functions which reuse functions - like any other piece of softwar

[2020-12-13 17:31] ptrthomas commented on #1373
@joelpramos that's weird - this works perfectly for me. in fact the JS engine bindings are kept up-to-date with `def` - see `setVariable(String key, Object value)` in `ScenarioEngine`

[code]

output:
[code]

[2020-12-13 17:48] joelpramos commented on #1373
In that case it might be something else... I have a .feature file (named _framework-utils.feature_) which is called in my karate-config.js using karate.callSingle() and it's the function inside that framework-utils.feature that is failing to find the reference. Maybe the issue with the bindings could be from the callSingle().

Minimal code:
_karate-config.js_
[code]

_framework-utils.feature_
`
Sc

[2020-12-13 18:09] joelpramos commented on #1373
Adding the line `engine.setVariables((Map)result);` quickly with the debugger in ScenarioBridge.java:226 (after the callOnce is performed) seemed to fix this but I just did as a quick hack. Not sure whether there are any implications to it as I didn't run the unit tests or anything but seems to be the solution.

[2020-12-13 18:15] ptrthomas commented on #1373
@joelpramos you mean `callSingle()` because a LOT of work went into `callonce` to be able to re-hydrate functions. I am proposing that `callSingle()` have the limitation that only "pure-data" can be cached. especially since only that would work with the option to cache to file. if you can get callSingle() to work the way you want, great - but it may be tricky. remember `callSingle()` has to span f

[2020-12-14 00:08] joelpramos commented on #1373
Yes - sorry callSingle(). I'd still like to have the option to have that call done from within the karate-config.js cause it basically allows me to "extend" the Karate DSL.

I understanding the principle you're proposing callSingle() to be for pure-data. At first I tried adding the line as I suggested above but then one of the unit tests failed - the resulting variable had the same values but it w

[2020-12-14 02:11] ptrthomas commented on #1373
@joelpramos ok, how about naming that as `callonce` so that it is just the JS version of the keyword

[2020-12-14 12:27] theathlete3141 commented on #1395
@ptrthomas I don't think this issue is related to how the mock server is being run. It appears to be related to user arrival rate. In your simulation above your user count and duration are such that there are only a couple of users per second, whereas in my tests it was of the order of 10 per second.

Taking your above example but putting the mock server setup back in the simulation class
[code]
`

[2020-12-14 13:11] ptrthomas commented on #1395
@theathlete3141 yes I tried with a higher no of users per second, things smooth out after the first 10 or so seconds. the `lag` you mentioned is also random and does not happen on every run.

considering this a `won't fix` unless convinced. meanwhile feel free to investigate and find solutions while we work on other areas

[2020-12-14 13:18] ptrthomas commented on #1395
@theathlete3141 one more point - it does seem the new karate mock does not perform well for the first few seconds. if you request to re-open kindly focus on testing against a non-karate mock to demo that there is a significant lag or overhead

[2020-12-14 13:31] ptrthomas commented on #1379
closing as `wontfix`

[2020-12-14 13:31] #1379 closed

[2020-12-15 16:14] joelpramos commented on #1373
@ptrthomas is the  a new version of the debugger for VS Code? Was having a lot of issues and I now realized that it's the debugger - seems like the background and the scenario execution don't share the same engine / the engine is set to null when I'm using breakpoints.

My current version in VS Code is 0.9.5.

Super weird but I haven't discounted yet that it could be due to my setup using Spring B

[2020-12-15 16:22] ptrthomas commented on #1373
@joelpramos I hope its because there's a second version of karate in deps maybe because you didn't remove karate-apache 0.9.5 or etc.

paging @ivangsa in case some of the recent changes we worked on broke this - refer #1399

would it be possible to replicate ? cc @kirksl

[2020-12-15 16:44] joelpramos commented on #1373
Confirmed I only have karate-junit5. v0.9.5 is the version of the Karate Runner in VS Code but that's the latest in the marketplace. I will try to replicate using standalone JAR version first all will provide some feedback soonish.

[2020-12-15 17:31] ivangsa commented on #1373
Hi, this is already happening in version 0.9.9.RC1 but I'll have a look into it... I think I have never used this debug console with karate

[2020-12-15 17:47] joelpramos commented on #1373
Interesting... our team always used in 0.9.5 and it improves productivity to write scripts a lot (especially in large flows for UI testing) as you can try it out, paste in the code, try new command, paste, etc. Same way you can just print variables to see references to triage issues etc.

There were a couple glitches some times but it's like after going back and forth, hot swap etc. multiple times

[2020-12-16 20:37] gokhanakaraman commented on #1199
the issue still goes on with the 0.9.6v

[2020-12-17 01:57] ptrthomas commented on #1199
@gokhanakaraman kindly follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue and use 0.9.9.RC2

[2020-12-17 07:06] jkeys089 commented on #1373
I am getting the following error when using the fat jar (either 0.9.9.RC2 or the latest develop branch):

The issue only occurs when I attempt to use a regular expression.
E.g. add the following line to `karate-config.js`
[code]

[2020-12-17 17:09] ptrthomas commented on #1384
anyone who can help with this ticket please take a look at this also: https://stackoverflow.com/q/65272794/143475

[2020-12-18 03:44] shaker-project opened #1405 "Flaky Test"
Hello, we are a group of researchers interested in understanding methods to reduce costs associated with Test Flakiness [1]. We developed an approach to detect flaky tests, dubbed Shaker [2]. Shaker spawns stressor tasks in the running environment (e.g., tasks that consume lots of cpu or memory) to identify if perturbations can make tests fail.

We ran Shaker on karate project and found the follow

[2020-12-18 05:26] ptrthomas commented on #1405
@shaker-project if you are looking for feedback, I have no idea where `testTest` is in the code and it is certainly not what comes to my mind as to what has been flaky in our test-suite.

[2020-12-18 05:26] #1405 closed

[2020-12-18 08:47] SumanthGudipati opened #1406 "Karate API : ERROR com.intuit.karate - javascript function call failed: net.minidev.json.parser.ParseException: Unexpected character (])"
There is a functionality where in Client would like to pull values from the existing couchbase document by providing the JsonPath's in the request of POST body (as below). Application is capable of providing the response based on the JSON Path sent in the request. With Karate observed the exception below.

Request Sample:
{
  "requestedKeys": [
    "Customer.address",
    "Customer.phone"
  ]
}

E

[2020-12-18 09:31] ptrthomas commented on #1406
@SumanthGudipati see if stack overflow helps: https://stackoverflow.com/a/64328206/143475 (hint, use `text` if it is not valid JSON)

else please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-12-18 09:31] #1406 closed

[2020-12-19 06:58] ptrthomas commented on #1220
this is actually fixed with the re-work done on the job-executor for 1.0

would be great if volunteers step forward to test this.

[2020-12-21 11:49] theathlete3141 commented on #1395
I found that this issue occurs even using a real url (http://date.jsontest.com). I've attached example project (using 0.9.9.RC2).
[example.zip](https://github.com/intuit/karate/files/5723876/example.zip)

Karate simulation against a live server:
[code]

Against a mock server:
[code]

The equivalent using Gatling:
[code]

However, I believe that I've found the issue and will submit a PR.

[2020-12-21 12:09] ptrthomas commented on #1395
@theathlete3141 thanks for the PR, I'll keep this closed as this pertains to an in-dev version

[2020-12-21 13:23] theathlete3141 opened #1409 "Karate mock server slow to start up under certain circumstances"
Following on from #1395, I found that the presence of "Background" in a mock server feature file appears to affect the start up speed of a mock server

Using the HEAD of the develop branch (after #1395 had been resolved, PR https://github.com/intuit/karate/pull/1408), I have the attached example files which should be added to karate-gatling/src/test/scala.
[example.zip](https://github.com/intuit/k

[2020-12-21 13:28] ptrthomas commented on #1409
closing as `wontfix` these are called mocks for a reason

[2020-12-21 13:28] #1409 closed

[2020-12-22 20:45] praveenadg opened #1411 "Reading json response with .@. fails in feature file"
I am writing some tests to get total count from from an api.
The api response `{
  "IntuitResponse": {
    "_": {
      "QueryResponse": {
        "_": null,
        "@": {
          "totalCount": "49"
        }
      }
    },
    "@": {
      "time": "2020-12-22T12:40:52.184-08:00",
      "xmlns": "http://schema.intuit.com/finance/v3"
    }
  }
}
`
I can assert this in json file
`{
          "pat

[2020-12-22 23:23] DustinOgan commented on #107
Would it be practical to update this to include undefined, or would that cause other issues?  I'm glad to open a new issue. Just thought the note and example here would help others not to run into the same mistake i made on this before a closer read of the Remove if Null part of the doc.

Example of this for query params:
[code]

will produce something like

http://example.com/switch?foo=bar&a=%23

[2020-12-23 01:26] ptrthomas commented on #107
@DustinOgan I am not inclined to support `undefined` unless you submit a **PR** that makes it work without much of a hack

note that you can use `karate.get('honk', null)` to pre-process

[2020-12-23 01:29] ptrthomas commented on #1411
@praveenadg please use stack overflow for these kinds of questions, also see this: https://stackoverflow.com/a/59290767/143475

[2020-12-23 01:29] #1411 closed

[2020-12-23 10:25] Rathod1234 commented on #1083
@Artashes1996 can you share the solution of this issue?

[2020-12-23 10:31] ptrthomas commented on #1083
I'm locking this issue. see comments above for why

[2020-12-23 15:55] joelpramos commented on #1373
@ptrthomas was doing some testing this morning noticed a commit where the relationship between Step and Feature is removed. Seems like a large commit so I'm sure there was a reason to remove it but steps in the "Background" section don't have a scenario associated with so it creates a nullpointer when trying to get the associated feature via the scenario. I've noticed while using the debugger:

![

[2020-12-23 16:15] joelpramos commented on #751
Closing the loop - I didn't notice any of my previous issues, tried with feature files in classpath, executed from intellij, compile the jar and execute externally, as well as feature files externalized from the .jar file itself and found no issues with classpath scanning. Seems to be working fine @ptrthomas . Thanks!

[2020-12-23 16:37] ptrthomas commented on #751
@joelpramos that is pretty excellent news, thanks 👍

[2020-12-23 16:39] ptrthomas commented on #1373
@joelpramos thank you for reporting this, indeed my miss. what's new in the code is being able to serialize a full feature-result into JSON and back again, which now gives us a way to split a test suite across different physical machines and aggregate results. I'll fix this right away and this time put in a comment to make it clear

[2020-12-23 17:19] ptrthomas commented on #1373
@joelpramos should be fixed now

[2020-12-24 07:58] Vaishakhwu opened #1412 "Getting "java.lang.OutOfMemoryError: Java heap space" error during bulk execution of more than 70 scenarios in Karate for API"
The tests are running successfully when executed individually, but getting the below error during bulk execution of over 70 scenarios.
**java.lang.OutOfMemoryError: Java heap space

              at java.base/java.util.Arrays.copyOf(Arrays.java:3746)
              at java.base/java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.java:227)
              at java.base/java.lan

[2020-12-24 08:24] ptrthomas commented on #1412
closing as duplicate of #1282 and the most helpful thing you (or anyone reading this :) can do is to test the RC version and provide feedback: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-24 08:24] #1412 closed

[2020-12-24 08:25] ptrthomas commented on #1412
@Vaishakhwu and to re-open it is mandatory to follow this process. thanks: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-12-25 13:47] ptrthomas commented on #1394
@dpridanov we took a look and made some changes. if you really need to do a loop like this, we recommend not to use `karate.repeat()` it is designed to "collect" the results and return an array, similar to `karate.map()` - so the following is what you should use

[code]

I'm attaching the zip with a couple more modifications, mainly to use a karate mock instead of doing a DOS attack on `jsonplaceh

[2020-12-25 13:48] ptrthomas commented on #1245
hello @hellomryoo are you there. would you be so kind as to take a look at https://github.com/intuit/karate/issues/1394#issuecomment-751252092 and confirm that it looks good. thanks

[2020-12-25 16:07] ptrthomas commented on #1321
@theathlete3141 this is fixed

[2020-12-26 17:04] joelpramos opened #1413 "Replace token values with nested json (from Examples Table)"
I've noticed before that when I use JSON structures in the Examples for Scenario Outline I can't reference a json path in the name of the scenario. E.g. the below Scenario won't have the name of the scenario replaced. I've been using complex structures to represent data for tests and I find this could be useful.

[code]

Wondering whether it'd be interesting to either
a) change the replace behavio

[2020-12-26 17:45] ptrthomas commented on #1413
not sure how tricky this could be but, you can take a shot. look at this line in [`ScenarioIterator`](https://github.com/intuit/karate/blob/develop/karate-core/src/main/java/com/intuit/karate/core/ScenarioIterator.java#L166):

[code]

and at this point (I hope) `ScenarioEngine.get().evalJs()` should work.

I have an interesting proposal, how about we support the new ES6 JS string-interpolation. so

[2020-12-26 17:53] ptrthomas commented on #1413
@joelpramos one more thing, I'm not yet sure if the scenario-engine would be ready at this point with variables. but what we can do is if the "back-ticks" exist on the name, we have the `Map` of the "row data" and it should be okay to create a short-lived JS engine like this:

[code]

am going offline, cheers.

[2020-12-27 18:38] sudhag85 opened #1414 "Inconsistency in the request body"
Hi,

I am trying to automate a SOAP API via karate framework. I am passing 1 request body and it is getting modified when 'soap action' is called in feature file. As a result of which I am not getting the expected response. Attached is the screenshot for more clarity. I highlighted only the few places where there is difference. Please help me.
[Inconsistency_in_RequestBody.pdf](https://github.com/

[2020-12-27 19:20] joelpramos commented on #1413
Will give it a try sometime this week... maybe instead of short lived engine it can be evaluated when the scenario starts (assuming that the name only matters for reporting at the end). Will try both before deciding on a PR.

Will probably go for the backtick as I find it fits nicer with the overall usage of JS.

[2020-12-27 20:16] ptrthomas commented on #1414
if you can't follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

then use stack overflow, maybe this particular answer will help you: https://stackoverflow.com/a/57042773/143475

closing

[2020-12-27 20:16] #1414 closed

[2020-12-28 10:14] RakhmedovRS opened #1415 "Karate is unable to run UI tests"
Hello Peter.

During implementing UI tests I came across an odd system behaviour. But before further diving into a description I must describe my company's network policy. Let say we have inner network A which has access to the internet and inner network B which doesn't have access to the internet. Now we considering network B inside it we have one physical machine and one cloud machine, a problem

[2020-12-28 10:41] ptrthomas commented on #1415
@RakhmedovRS sorry the project does not compile. I can't make out anything from your description as to what I should run on the command line. try again: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue - it may be a better use of time to look at the new version: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-28 10:41] #1415 closed

[2020-12-28 10:45] RakhmedovRS commented on #1415
Peter, what should I do after correcting the project? Can we reopen this issue?

[2020-12-28 10:49] ptrthomas commented on #1415
you can still comment here or update the zip. if it is an issue with karate this will be re-opened, but from what I have seen so far - that is unlikely.

[2020-12-28 11:11] RakhmedovRS commented on #1415
Sorry Peter. I've corrected my mistake. Now it runs fine. I would like to ask to take a closer look at log starting from [here](https://github.com/RakhmedovRS/karate_ui_bug_report/blob/dabdedaa72d1f0f5e2b5dcf52c808fe104130481/src/test/java/ui/error.log#L298). For some reasons as I told you karate opens the chrome tab and does nothing after that. If you want I can try and record small video.

[2020-12-28 11:33] ptrthomas commented on #1415
@RakhmedovRS sorry giving up again:

[code]

I'm not on windows, and it sounds like you have some confusion about using a driver executable and I'm n ot surprised it does not work on other machines etc

[2020-12-28 11:51] RakhmedovRS commented on #1415
I [recorded](https://youtu.be/uaPaux04pBk) video for you. Also I updated the [feature](https://github.com/RakhmedovRS/karate_ui_bug_report/blob/master/src/test/java/ui/test.feature) file in order to get rid of mistake at your machine. In video I also added the path to executable, just because the path differs with default one. You don't need to do it.

[2020-12-28 11:56] ptrthomas commented on #1415
@RakhmedovRS works for me. sorry video doesn't help. in this situation I suggest you help us figure this out, there are limits to what us oss maintainers can do

<img width="848" alt="image" src="https://user-images.githubusercontent.com/915480/103212716-9790b380-4931-11eb-9c03-7208ba8517bf.png">

[2020-12-28 12:02] RakhmedovRS commented on #1415
It seems like Karate runs the Chrome and right after is unable to control it. In the log we can find a row "11:35:12.095 [chrome_1609144499121-out] DEBUG c.i.k.driver.chrome_1609144499121 - [12788:11712:1228/113512.094:ERROR:device_event_log_impl.cc(208)] [11:35:12.095] Bluetooth: bluetooth_adapter_winrt.cc:1076 Getting Default Adapter failed.". I don't know why karate tries to deal with bluetooth

[2020-12-28 12:04] ptrthomas commented on #1415
@RakhmedovRS I don't know either, I'm not a networking expert unfortunately. I suspect your machine has a non-standard networking setup so I suggest you get the help of someone who knows this area

[2020-12-28 12:11] RakhmedovRS commented on #1415
@ptrthomas Ok let me try. I'll try to keep you updated.

[2020-12-28 23:53] xbranko commented on #1177
For people who would like to run karate mocks from within IDE like eclipse, it seems that `com.intuit.karate.netty.Main` or equivalent is needed so that one could run the `MainRunner` that starts the mock server. Then one can run karate tests against it. That way the feature does not know if it runs against mock or actual server. This is really useful when one is developing contract tests. @ptrtho

[2020-12-29 03:38] ptrthomas commented on #1177
@xbranko this is done. try 0.9.9.RC2 and please look at this: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2020-12-29 06:26] ptrthomas commented on #1281
I'm going to declare this as done ! have updated the first comment with the 2 pieces we didn't get to. but very happy with all that we were able to accomplish. we are on GraalJS, karate runs on JDK 16 and the code has been cleaned up very effectively

[2020-12-29 06:26] #1281 closed

[2020-12-29 09:19] mejuhi commented on #99
Hello @ptrthomas ,
Following issue seemed to be old one, I was hoping if you can tell if there any future roadmap to support custom step definition in java (like we have in cucumber)

[2020-12-29 09:22] ptrthomas commented on #99
@mejuhi no. it is not needed. explained here: https://github.com/intuit/karate/issues/398

[2020-12-29 18:19] xbranko commented on #1373
There is an issue with `com.intuit.karate.Main` it has the following includes:
[code]
when trying to run I am getting:
[code]

If I exclude the `logback-classic` in `build.gradle` file, the error, not surprisingly,  becomes:
[code]

Just wanted to bring it to your attention.  This is observed in `com.intuit.karate:karate-core:0.9.9.RC2`.

[2020-12-29 18:21] ptrthomas commented on #1373
@xbranko works for me. it would help if you can follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2020-12-29 18:27] xbranko commented on #1373
Will do. Sorry.

[2020-12-29 20:29] xbranko commented on #1373
@ptrthomas you were right. In the simple example all is good. Then I tried to see what is causing the problem, and it turns out it is the `slf4j/log4j` dependency, in my case brought in by the following line in `build.gradle`:

```implementation 'org.springframework.boot:spring-boot-starter-log4j2'```

When running, the following messages appear on the STDERR:
[code]
and the class cast exception i

[2020-12-30 04:31] ptrthomas commented on #1373
@xbranko thanks this is super helpful, just made some changes - if you can use the developer guide to verify in your env that would be great: https://github.com/intuit/karate/wiki/Developer-Guide

[2020-12-30 20:48] xbranko commented on #1373
@ptrthomas thanks for the fix! It works now (in the `develop` branch).

In my project we use gradle. Gradle has a notion of `implementation` dependencies for code, and `testImplementation` for test dependencies. I used `testImplementation` to bring `karate-core` and `karate-junit5` and their transitive dependencies. This is all how it should be.

The problem I ran into was that one of my code `imp

[2020-12-31 04:58] ptrthomas commented on #1373
@xbranko thanks ! I decided to add classgraph to the list of jars that we maven-shade, I'm guessing that it is quite popular pervasive, and fortunately it is super-lightweight - so do see if that helps. thanks for the report 👍

[2020-12-31 21:26] xbranko commented on #1373
@ptrthomas first off hats off to you! Many thanks for your agility and willingness to help and promptly fixing the issues!

With the latest karate code (`develop` branch) my tests are now getting the following exception:
[code]

Would it be possible to add sources for karate jars in `pre-release` maven phase, in addition to `release` phase? That would be of great help to us, so we can better help

[2021-01-01 02:30] ptrthomas commented on #1373
@xbranko that is weird, in this case I guess the libs you have in your project means a maven exclude or explicit version force is the only option. I don't know how to add sources - I think it will work only if I do a maven release. if anyone here has any inputs or better ideas, let me know

[2021-01-01 07:02] ptrthomas commented on #1373
@xbranko turns out there was a solution for the error you faced. can you try again

[2021-01-01 12:24] sudhag85 opened #1417 "Karate changes the xml request body"
Hi,
I was automating a SOAP API using Karate Framework and noticed the request body gets modified by karate.

Actual Behaviour- Request body is modified by karate
Expected Behaviour- Request body should be passed as it is

Note- Attached sample maven project to reproduce the steps.
Also attached an image highlighting the difference
Java Version- jdk1.8.0_271
JUnit- 5

Listed below is my feature fi

[2021-01-01 12:36] ptrthomas commented on #1417
@sudhag85 why don't you re-read those instructions and try again: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

to help you I'm quoting it below:

[code]

[2021-01-01 12:36] #1417 closed

[2021-01-01 19:58] sudhag85 opened #1418 "Karate changes the xml request body"
Hi Peter,

Created a simple maven project, with required dependency alone in pom.xml to reproduce the issue.
Attached the same for your reference.

Issue Description-
I was automating a SOAP API using Karate Framework and noticed the request body gets modified by karate.

Actual Behaviour- Request body is modified by karate
Expected Behaviour- Request body should be passed as it is

Note- Attached

[2021-01-02 04:08] ptrthomas commented on #1418
the XML is still valid, note that you have a duplicate namespace, see below:

![image](https://user-images.githubusercontent.com/915480/103450488-2a886f80-4cdd-11eb-9581-8f078fb11928.png)

so if your server is treating this as an error - it is a bug in your server and karate has done the right thing - it has identified am issue in your system.

if you really want the behavior you want, use `text`:

[2021-01-02 04:08] #1418 closed

[2021-01-02 19:28] joelpramos commented on #1373
Not sure how it worked before (something that Nashorn did in a smart way?) but using stringVariable.bytes no longer works but stringVariable.getBytes() works.

So the following example in the Karate doc:
[code]

Should change to:
[code]

Maybe Nashorn had some code to find getters in Java to make it more "javascript like".

[2021-01-02 19:39] ptrthomas commented on #1373
@joelpramos yes I'd noted this as well: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#javabean-property-short-cuts-dont-work-in-all-cases

what I think is happening is within the round brackets, none of the java-bean magic can happen.

BTW I'm going offline, but I had a late thought that instead of expecting back-ticks for that PR, it may be enough to check for the `${}` pattern or / eve

[2021-01-02 19:43] joelpramos commented on #1373
Good, missed that from the guide. Yeah can add the backticks automatically if the ${anything} exists, makes it smoother

[2021-01-02 19:48] joelpramos commented on #1373
![image](https://user-images.githubusercontent.com/53574318/103465435-57527c00-4d09-11eb-997e-cc11c4540003.png)

Still an issue when I forced an error in the karate-config.js - the debug info tries to write the error based on the first line of the background which fails because of the nullpointer on the scenario. Should be this.getFeature() . I'm also going offline but can fix it in my PR tomorrow

[2021-01-02 23:00] maxandersen opened #1419 "https://github.com/intuit/karate#logging logback-test.xml seems wrong"
I followed https://github.com/intuit/karate#logging and added a `logback-test.xml` to my jar - no change.

I then noticed there seem to be zero ref in karate code for `logback-test.xml` so I tried using `logback.xml` and voila, now I can configure the logging.

Is the docs wrong or is there a bug ?

Here is the jbang script I use (needs `logback.xml` to go with it in the same dir):

[code]

[2021-01-03 02:41] ptrthomas commented on #1419
the docs are fine IMO because karate is used as a `test` scope dependency by 99.9 % of users (well until now anyway) and then logback-test.xml works, also this is a logback convention, refer: http://logback.qos.ch/manual/configuration.html - BTW I also noticed this: https://github.com/ptrthomas/karate-showcase - and I don't know why logback-test.xml does not work

I can add a note somewhere in the

[2021-01-03 05:48] ptrthomas commented on #1373
@joelpramos thanks ! fixed now

[2021-01-03 07:25] maxandersen commented on #1419
Ab, didn't realise it was logback convention.

But yeah; doesn't seem to work for me :)

[2021-01-03 15:33] xbranko commented on #1373
Confirming all is as expected and working fine in the latest `develop` branch. Many thanks for fixing this!

[2021-01-03 15:47] xbranko commented on #1373
Trying to answer my own question, I just tried, If the following `plugin` directive is added to the build block (lines 60-82 in the `karate-parent/pom.xml` file), the `*-sources.jar` are generated and appear in the local maven repository:
[code]
This is copy of the lines 89-101 in the `karate-parent/pom.xml` file. If this is acceptable, perhaps those lines can be _moved_ there, to avoid duplicatio

[2021-01-03 17:39] ptrthomas commented on #1373
@xbranko okay, see how it works now, thx

[2021-01-04 01:57] sudhag85 commented on #1418
Thanks Peter for identifying the exact problem. And thanks once again for the workaround as well. I am getting the expected response.

[2021-01-04 02:07] xbranko commented on #1373
Confirming all is good. Source jars getting created in local maven repository. Thanks for adding this!

[2021-01-04 12:25] #1419 closed

[2021-01-04 19:37] joelpramos commented on #1373
In the ScenarioFileReader class when reading a file that has the prefix _"file:"_ it seems like it's using the relative path where Karate is executing. Was it intentional? Seems like the ability of using absolute paths is gone with line 125 of ResourceUtils (2nd screenshot).

![image](https://user-images.githubusercontent.com/53574318/103571638-3de03a00-4e99-11eb-8336-379181ee12b9.png)

![image](h

[2021-01-04 21:35] gupmanu1982 opened #1420 "Karate as a mock server is always sending end of stream and closing the connection after each scenario."
In our project we are setting up a mock http server which can mock REST webservice. We have https connection to talk this mock Karate server.
The issue we are facing is after each request we can see on client logs something as below :
DEBUG org.apache.http.wire [https-jsse-nio-9008-exec-68]  http-outgoing-444 << "end of stream"
2021-01-04 20:57:17.099 DEBUG org.apache.http.impl.conn.DefaultManaged

[2021-01-05 02:24] xbranko commented on #1373
I've just tried running standalone karate-core jar from my local maven cache, and it is failing.
[code]
produces:
[code]
Few more jars need to be added to it. `slf4j-api-xx.yy.zz.jar` that contains `org/slf4j/LoggerFactory` and most likely some other jars that get pulled transitively when running in an IDE, where all is good.
Perhaps a smoke test or two could be added to run in the post install ph

[2021-01-05 04:09] ptrthomas commented on #1420
@gupmanu1982 this hasn't been reported before. please follow this process, that's very important - and should not take too much time: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-01-05 04:14] ptrthomas commented on #1373
@xbranko I think that is fine. use the "fatjar" and you won't have this problem. the fatjar is now around 50 MB. see the dev guide for build instructions: https://github.com/intuit/karate/wiki/Developer-Guide#build-standalone-karate-robot-jar

[2021-01-05 07:23] ptrthomas commented on #1373
@joelpramos the `workingDir` is only used for formatting the path, so if you gave `file:/foo` it should use `/foo` as expected. I think it is fine, see if you can write a test-case to fail it

[2021-01-05 15:48] theathlete3141 opened #1421 "Json and xml equality checks not working as expected"
Issue found on 0.9.9.RC2, but also noticed (although slightly differently) on 0.9.6.

This issue covers two problems which I expect are related:
- when using `match` the order of items affects the outcome
- "basic equality test" (not using `match`) not working as expected

Consider defining json, xml, xml from json, and json from xml such that we would expect them to match:
[code]

In the followin

[2021-01-05 17:43] ptrthomas commented on #1421
@theathlete3141 closing as `wontfix` because we will not support XML elements out of order. feel free to submit a PR for this extreme case

[2021-01-05 17:43] #1421 closed

[2021-01-05 20:40] joelpramos commented on #1373
Yeah ignore me... I probably didn't save my file or something when I was originally testing that change and was using the path _without_ the 'file:'. The behavior is correct.

[2021-01-06 03:46] ptrthomas commented on #1420
@gupmanu1982 I'm closing this unless you give me a way to replicate

[2021-01-06 03:46] #1420 closed

[2021-01-07 14:45] theathlete3141 opened #1422 "Karate-Gatling - failed response validation not marking requests as KO in some cases"
Consider running the following test:
[code]
A GET to `http://date.jsontest.com/foo` returns 200, so the status match line fails. In the test report the request is marked as "KO". This is the expected behaviour.

I want to have the construction and sending of a request as a reusable feature. I then want to call this from another feature and then validate the status/response there.

Consider test2:

[2021-01-07 15:59] ivangsa commented on #1373
In previous version 0.9.6 karate was resilient ignoring params set with a null value, in latest 0.9.9.RC2 this throws an error

We would like to keep relying on previous behavior as it feels more resilient.

The reason is we generate parametrizable features from OpenAPI definitions, that then are called from different tests with different parameters... Relying on this, caller can forget about sett

[2021-01-07 16:10] ivangsa opened #1424 "DebugHandler doesn't allow resume/continue execution after a failing step"
Currently on error, execution is stoped and breakpoint on failing line but because failed step is rewinded on debugserver. So buttons "Continue" and "Step Over" don't work because failed step is executed again.

The only options to continue execution on the client are _edit-save-reload_ or cancel execution altogether.

Edit-save-reload makes sense if error is in the script itself, but not when scr

[2021-01-07 16:12] ivangsa opened #1426 "DebugHandler: Allow setting KarateOptions along with a single feature"
This will allow setting RuntimeHooks from VSCode debug launcher while maintaining compatibility with current vscode configurations.

Also, it also opens for other use cases like running a full feature while ignoring some tagged scenarios, i.e: "-t ~@ignore"

[2021-01-07 16:26] ptrthomas commented on #1422
@theathlete3141 had a quick look and can't understand it. see if you can submit a PR in the next week or 2 else we'll probably release 1.0 without this.

[2021-01-08 15:45] hurrayn opened #1428 "authentication issue"
I am trying to get all the jenkins job, but i am getting this error with this code. Can someone help

20:45:17.283 [main] ERROR com.intuit.karate - status code was: 403, expected: 200, response time: 75, url: http://admin:1131d037e9fc6f72609b9e71fa7a493b37@localhost:8080/api/json?tree=jobs[name]&pretty=true, response: <html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8"

[2021-01-08 15:56] ptrthomas commented on #1428
@hurrayn I see you double-posted to stack-overflow so I'm closing this

[2021-01-08 15:56] #1428 closed

[2021-01-08 16:37] hurrayn commented on #1428
@ptrthomas but can you please answer it.

[2021-01-11 14:55] staffier opened #1430 "karate.call() fails when large volumes of tests (involving call()) are run in parallel"
Tests that involve calling a separate file to build a request are failing when run in parallel.  This happens most frequently when at least some of the tests are of the Scenario Outline variety and the called file itself has numerous references to yet another file (or files) - e.g. a Java file that uses Faker to generate data.

To reproduce, simply run the ExamplesTest.java file in the attached pr