[2019-04-05 11:50] sudgarre commented on #702
@xltb : Strictly speaking the @ignore scenarios must not show in the Junit but i think we must not focus too much into it.

[2019-04-05 11:54] xltb commented on #702
Currently it is read but goes yellow(which means ignored) and is not executed. I think this is nice.

[2019-04-05 12:47] ptrthomas commented on #702
@xltb @sudgarre can you try now - I think I finally understood the problem and fixed it.

@xltb really appreciate your PR - but maybe it wasn't needed after all

and if any of you use slack and are interested in joining the karate slack group - send an e-mail to (my git username) at gmail dot com

[2019-04-05 13:52] xltb commented on #702
@ptrthomas

No worries at all, your solution is much more clear & neat.

[2019-04-05 14:36] petersear opened #726 "Add unit tests for com.intuit.karate.core.Tag"
Hello
I have written some new unit tests to cover the lines of com.intuit.karate.core.Tag which were not already covered by existing tests. Please let me know if you would like more details of the tests either here, on this issue, or via a new PR. I'd be happy to look into creating tests for other classes if that would be of interest.

Thanks

Peter

[2019-04-05 19:13] avyas opened #727 "Adding support for distributed Gatling"
I am not aware if we anyone is able to execute distributed gatling performance tests.

If it's not supported yet then does adding support for something like this https://github.com/Abiy/distGatling seems to be a great addition.

[2019-04-05 20:23] sudgarre commented on #702
@ptrthomas : Tried and below is the result

<img width="1415" alt="image" src="https://user-images.githubusercontent.com/45168902/55654277-de975680-57e8-11e9-97e3-e6f59af42a54.png">

[2019-04-05 22:10] paulmccormack commented on #721
Hey Peter

I followed the build instructions from the above link and everything built fine.  In my pom i updated karate version to 1.0.0

[2019-04-06 00:38] ptrthomas commented on #721
@paulmccormack it seems to work for me - so this is interesting. it would be great if you can investigate and experiment with the code changes you see in this commit - it is very simple

also do try a different java version
and also try with no pause time (`Nil` for all)

[code]

[2019-04-06 00:47] ptrthomas commented on #702
@sudgarre thanks - I'm assuming it is fixed.

[2019-04-06 01:08] ptrthomas commented on #726
@petersear thanks - would it be possible to add a couple more classes that you can find to this PR. also would like more cases covered, e.g. a tag with name-value pairs `@foo=bar,baz`

[2019-04-06 08:30] sudgarre commented on #702
@ptrthomas : Yes.

[2019-04-07 19:53] avyas commented on #727
Any suggestions on how to get best results using a single machine! Does launching from larger machine will allow me to execute larger load?

When using large numbers report is not getting generated. I'll experiment more and revert.

@ptrthomas I think this feature is a great addition to already powerful system. I believe this is a game changer and ability to re use acceptance tests for performce t

[2019-04-08 03:37] ptrthomas commented on #727
@avyas I agree - as you can see this is not what I consider the highest priority. if the community wants us to speed up on gatling - please help us stabilize the existing features first, e.g:

- validate that the fix for #721 is ok
- implement #707
- implement local addresses support: https://stackoverflow.com/a/55458266/143475
- implement "throttling" properly: https://github.com/intuit/karate/tr

[2019-04-08 15:03] Michenux opened #729 "gatling broken in 0.9.2"
Hi,

My project does not work any more with karate 0.9.2.
I got the following error when running mvn gatling:test
[code]

It works well if i downgrade to karate 0.9.1

[2019-04-08 15:15] ptrthomas commented on #729
see if this diff solves your issues, because you need to upgrade gatling - and depending on what you have used there are API changes (gatling, not karate)

https://github.com/ptrthomas/karate-gatling-demo/commit/768c319e9d891f448f82fa1d962d834bd434e25d

once you confirm we can add a note in the docs.

[2019-04-08 15:15] #729 closed

[2019-04-08 16:15] petersear commented on #726
@ptrthomas sure, I'll look into creating some tests for additional classes. Currently, I have a PR against the fork but I will submit against the parent repo when you are happy with the content.

[2019-04-08 19:57] viperx77 commented on #708
Could you consider this making this deep copy behavior the default for copy since the project has not reached 1.0.0 release status?

[2019-04-09 04:29] vidz2 opened #730 "Background step from another feature is run"
When there is a feature with a data driven Scenario outline, running another feature/scenario seem to run the background steps from the data driven scenario feature as well.
See example below:

Feature with a data driven scenario outline
[code]
[code]
When I run the Test B scenario using the tag - the message 'Background on Kittens A' get printed as well.
[code]
[code]
I am expecting only the back

[2019-04-09 04:45] ptrthomas commented on #730
I don't consider this a bug as scenarios are not executed. marking this as "help wanted" - would be great if @vidz2 can help fix this as well

[2019-04-09 04:51] ptrthomas commented on #708
@viperx77 okay I've reopened this and will take a look. most likely I'll make deep copy the default - and provide an option for folks to retain the old behavior.

[2019-04-09 06:24] ptrthomas commented on #721
@paulmccormack haven't heard from you and there are issues with the CI build hanging. I've reverted some of the changes. if now `atOnceUsers()` doesn't work - I'm treating this as a "won't fix" and "help wanted" and would even consider updating the documentation to say that `atOnceUsers()` is not supported. unless we get help to fix this of course

[2019-04-09 07:09] paulmccormack commented on #721
@ptrthomas sorry i haven't got back.  I had a product launch this weekend so had to work.  I am going to look into this tonight so I will update you on my findings.

[2019-04-09 15:04] Michenux commented on #729
Yes, i confirm. Upgrading gatling version resolved my issue.
Thx a lot.

[2019-04-10 06:54] fsebile opened #731 "Assertion error with null array of response"
I'm writing api test automated codes with bdd method by Karate. Assertion part pushes me hard. My response is like below, and when I called that path '$.data.subscribers[0].products' this gives me empty-null- array as I checked by <http://jsonpath.herokuapp.com/> website. However, when I run my gherkin Karate feature then It gave me the response as null, It still gives me error assertion. It says

[2019-04-10 08:02] ptrthomas commented on #731
since you double posted to stack overflow I am closing this now.

[2019-04-10 08:02] #731 closed

[2019-04-11 14:32] grandflash opened #732 "Invalid content-type in multipart-file request"
Karate handles multipart file request with incorrect ('application/json') content-type instead of pre-configured in scenario.

Steps:
1. Configure scenario to use PUT request with multipart fields and multipart file values
2. Send request
3. Ensure Karate used correct pre-configured content-type ('multipart/form-data')

Actual result:
3. Karate sends request with 'application/json' content-type (l

[2019-04-11 14:37] ptrthomas commented on #732
please follow these instructions to re-open: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-04-11 14:37] #732 closed

[2019-04-11 20:34] vidz2 commented on #730
Thanks for the quick response @ptrthomas. I'll try to take a look to see if I can spot the problem.

[2019-04-12 09:41] ggrebert opened #733 "0.9.2 breaking change ?"
Test in error after upgrading from `0.9.1` to `0.9.2`. Is there breaking changes other than *Gatling* (not using it) ?

Dependencies:

* Spring Boot 2.1.3.RELEASE
* Junit 4
* testcontainers 1.10.5
* cucumber reporting 4.4.0

Tested with java `8` and `11`

[code]

[code]

Logs:

[code]

[2019-04-12 10:09] ptrthomas commented on #733
sounds very much that you have a complex pom.xml and a library conflict not related to karate. you will have to follow this process if you need us to help: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

but yes this is a surprise, there is no expected breaking change

this lib dependency could be responsible: https://github.com/intuit/karate/commit/723f650992b04a96a2dac8c9e8c8039693

[2019-04-12 10:09] #733 closed

[2019-04-12 13:52] grandflash opened #734 "Invalid content-type header in multipart-file request"
Karate handles multipart file request with incorrect Content-Type header instead of pre-configured in scenario.

Steps:
1. Configure scenario to use PUT request with multipart fields and multipart file values
2. Send request
3. Ensure Karate used correct pre-configured content-type ('multipart/form-data')

Actual result:
3. Karate sends request with 'application/json' content-type (line 7 in reque

[2019-04-12 14:03] ptrthomas commented on #734
@grandflash sorry this is still invalid. we need to be able to run the project and the instructions page you have seen makes it clear WHY this is needed. find an online sample like https://docs.postman-echo.com if needed

if you want a good example of what people have done in the past refer: https://github.com/intuit/karate/issues/552#issuecomment-428105609

[2019-04-12 14:03] #734 closed

[2019-04-12 15:16] ptrthomas opened #735 "proposal: karate.repeat() API"
based on observing Stack Overflow, it looks like besides looping over an existing array (which is what `karate.map()` is for), a lot of the time people want to do something (like add to an array) X times

example: https://stackoverflow.com/q/55652931/143475

today everyone gets into JS which does cause some pain as seen above.

how about:

[code]

[2019-04-15 07:53] peterquiel opened #736 "Split `readme.md` into smaller files or/and create structured documentation"
I like the readme for its expressive explanation and details. It enables one to get started right away.

Loading/rendering the site takes some time and sometimes it's difficult to find the right content.

I would propose to create an overview readme that explains roughly what karate what it is and does and to move the complete documentation into a github page with different subpages.

[2019-04-15 09:08] ptrthomas commented on #736
the main reason why I'd like to keep it the way it is - is because of feedback that doing a CTRL+F is an effective way to find a keyword in the entire doc

also note: https://intuit.github.io/karate/ - you are welcome to improve that render via CSS etc and use this issue as a reference when you submit a PR

closing as wontfix

[2019-04-15 09:08] #736 closed

[2019-04-15 19:35] peterquiel opened #737 "Gradle resource are copied to resource/test not classes/test"
The following configuration form the documentation ensures, that resource files in source directory are respected
[code]
With this configuration the resource files are copied to  `build/resource/test` folder where they are not picked every relative to class method.

Changing the resource output directory to `build/classes/java/test` solves this problem.
[code]

I personally find it surprising that

[2019-04-15 19:40] sadiqkassamali opened #738 "Content-Type not being able to pass due to "-""
Content-Type not being able to pass due to "-" in request header.

This is occurring from headers.js file and when function () is being called.

-unknown-:6 - javascript evaluation failed: read('classpath:headers.js'), javascript evaluation failed: function()
{return{requesting_app_name: 'ABC', Content-Type = 'application/json', app_key: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
}
}, <eval>:2:43 Expec

[2019-04-15 20:41] sudgarre commented on #738
@sadiqkassamali : If i understand your query correctly, you are unable to send 'Content-Type' in headers. So please use Content-Type in string quotes since it has a special character in it

refer -> https://github.com/intuit/karate#headers.

Try with
[code]

Note: You don't need to mention header `{ 'Content-Type': 'application/json' }` since karate automatically appends it to your request headers

[2019-04-15 21:05] sadiqkassamali commented on #738
No luck

-unknown-:6 - javascript evaluation failed: read(classpath:headers.js), <eval>:1:14 Expected , but found :
read(classpath:headers.js)
              ^ in <eval> at line number 1 at column number 14

function()
{return{'requesting_app_name': 'ABC', 'Content-Type' = 'application/json', 'app_key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
}
}

[2019-04-15 21:08] sudgarre commented on #738
You are using `'Content-Type' = 'application/json'`, try `'Content-Type' : 'application/json'`. If it doesn't work, please attach your sample project here.

[2019-04-15 21:17] sadiqkassamali commented on #738
That did that trick, thanks for fresh eyes.

[2019-04-15 21:17] #738 closed

[2019-04-16 00:28] ptrthomas commented on #737
sounds like a gradle thing, marking this ticket as "help wanted" as we use maven

[2019-04-16 04:14] paulmccormack commented on #721
@ptrthomas I have ran a few tests and hit the same issue as you.  When I run the karate demo the mock server starts and then the simulation hangs.

I had a quick look at the change for this release but couldn't really work out what was causing the issue.

I am on vacation for 3 weeks now so my next update will be when I'm back.

Cheers

Paul

[2019-04-16 09:48] peterquiel commented on #737
Could it be an option for you to create a fallback in the 'relative feature file resolving' method?

Something like: If don't find the feature file next to the class file, I will try to create a class path lookup for the feature like its done in all the `classpath:com.x.y.karate.feature` lookup methods.

[2019-04-16 10:26] ptrthomas commented on #737
I don't remember the details - but that routine has been through a few iterations to get resources within JAR files to work #520 - so I'd like to be

not able to follow what you mean about the "behaves different", maybe you can add a test here: https://github.com/intuit/karate/blob/master/karate-core/src/test/java/com/intuit/karate/RunnerTest.java

[2019-04-17 07:21] peterquiel commented on #737
I created a PR #739 to make the gradle build in `karate-demo`.
I will have a deeper look into the FileUtils/Resource lookup stuff in order to explain the problem in detail.

[2019-04-18 07:44] RTabary opened #740 "karate-config.js not read/found"
I launched the test with the karate archetype:
[code]
[code]
It seems that the karate-config.js is not read/found:
[code]

[2019-04-18 08:42] raveendaranugu commented on #76
Hey,
Even I was facing this issue but able to resolve this error by upgrading the version of **httpcore** maven dependency to 4.4.11 from 4.4.5 and also added an extra line   `karate.configure('ssl', true);`
in karate-config.js .

[code]

[2019-04-18 08:54] sudgarre commented on #740
Can you find 'karate-config.js' file on your project ?

Please have a look at the below links that will help you: https://www.testingexcellence.com/karate-api-testing-tool-cheat-sheet/, https://github.com/intuit/karate#troubleshooting-cucumber-ide-support

[2019-04-18 08:55] MercierAdrien commented on #740
I copied the two commands and they launched perfectly. I think you'll need to submit an archive with which we can reproduce this problem if you want help.

[2019-04-18 09:28] RTabary commented on #740
Hi @sudgarre and @MercierAdrien !
Here is the project
[example.zip](https://github.com/intuit/karate/files/3093662/example.zip)
 As you can see karate-config.js is here and in the right place, and in target/karate.log, you can see the warning on first line.

[2019-04-18 10:13] MercierAdrien commented on #740
I don't have this error when I launch your project myself

[2019-04-18 10:54] sudgarre commented on #740
I can't find the WARNING when i run the same command. Attached the Karate logs for your reference.
[karate.log](https://github.com/intuit/karate/files/3094028/karate.log)

[2019-04-18 10:59] RTabary commented on #740
So weird...
From which directory do you launch the command?

[2019-04-18 11:15] abhishekdpatil commented on #740
I was having this issue when on latest java version. Configured 1.8 to
resolve the issue.

On Thu, 18 Apr. 2019, 8:59 pm RTabary, <notifications@github.com> wrote:

[2019-04-18 11:20] MercierAdrien commented on #740
https://github.com/intuit/karate/issues/724

This problem is fixed in the develop branch, and should be on the next version of karate I guess.

[2019-04-18 12:05] RTabary commented on #740
Thanks so much guys !
When i set my java version to 1.8 everything works well.

[2019-04-18 12:05] #740 closed

[2019-04-18 13:24] Marcus-Smallman opened #741 "Parallel test runner hangs when running errored scenario."
Recently we converted out karate project to use the parallel runner demo'd here: [https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/DemoTestParallel.java](url)

Some of our tests do not compile correctly (an errored scenario) but are tagged as ignored which should not affect the test run.

After looking at numerous threads online regarding running parallel tests, log4j an

[2019-04-19 06:28] peterquiel commented on #737
I created a Test in my personal repository because it's tricky to reproduce the behavior with maven.

I hope this test explains the problem:
https://github.com/peterquiel/karate-experiment/blob/master/src/test/groovy/com/github/peterquiel/karate/experiment/CallFeatureFromJavaTest.groovy#L25

Here is a naive solution to the problem:
https://github.com/intuit/karate/compare/develop...peterquiel:expe

[2019-04-20 10:17] remkop opened #742 "GraalVM native images"
As discussed, here are some links to help with GraalVM integration:

GraalVM has some limitations with regards to reflection and needs some extra configuration:
* https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md
* https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md

Including resources in the native image:
* https://github.com/oracle/graal/blob/master/substrat

[2019-04-21 13:51] babusekaran opened #743 "support for iOS and Android using appium"
Description:
iOS and Android UI automation capability in karate using ***appium*** server.

basic `driver` support for `iOS` and `android` automation extending karate's web driver implementation to interact with appium server.

proposing `driver` types:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for Android: `{ type: 'android' }`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for iOS: `{ type: 'iOS' }`

locator su

[2019-04-21 21:54] ptrthomas commented on #743
great ! for now I'd like to keep type lowercase, so `ios` - can re-visit if needed

[2019-04-22 02:35] rushaliuser commented on #381
Upgraded Karate to 0.9.2 version and below line giving error;

  public void configure(HttpConfig config, ScriptContext context)

Can someone help to resolve?

[2019-04-22 11:49] ptrthomas commented on #381
@rushaliuser please use stack overflow or follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-04-22 12:28] ptrthomas commented on #741
@Marcus-Smallman thanks for this report - it helps !

would it be possible for you to build from source and verify ? https://github.com/intuit/karate/wiki/Developer-Guide

[2019-04-22 14:19] Marcus-Smallman commented on #741
I have built from source on the 'develop' branch and can confirm it is now fixed.

[2019-04-23 00:42] vidz2 opened #745 "match keyword works incorrectly when '##null' is used in json"
Match keyword seems to work incorrectly when there is a '##null' in the json.

Example 1:
The match step in this example seem to work correctly ie fails with the message actual value has 1 more key than expected.
[code]
Example 2:
The match step in this example passes whereas it should have failed with the same message as above:
[code]

Karate version 0.9.2

[2019-04-23 06:00] ptrthomas commented on #745
@vidz2 thank you very much for this - it was a nasty one. it should be fixed, would be great if you can build from source and check

[2019-04-23 11:25] egurusam opened #746 "How to provide request body for GET method"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-04-23 13:08] #746 closed

[2019-04-23 14:44] mhavilah opened #747 "Dynamic XPaths with count() fail with karate.xmlPath()"
I am trying to invoke dynamic XPaths in Karate v0.9.2 via the Scripting API, karate.xmlPath().

My basic XPath queries for retrieving XML elements (Nodes, NodeLists, Attributes etc) work,
BUT queries attempting to retrieve non-Node/non-NodeList elements fail.

For example:

- **Numerical** values associated with XPath count() queries
- String values associated with the text inside elements

**Actu

[2019-04-23 15:13] ptrthomas commented on #747
@mhavilah thanks for the report, would you be able to build from source and confirm that this is indeed fixed ?

[2019-04-23 15:55] mhavilah commented on #747
I've just built the "v1.0.0" pre-release build on the development branch.
Happy to confirm the failing test I had for the dynamic XPath count() scenario now goes green.

Keep up the great work and congratulations on such a great framework.  :-)

[2019-04-23 16:29] ptrthomas commented on #747
@mhavilah great to hear that ! I'll keep this open until we release the next version which should be 0.9.3

[2019-04-23 21:35] vidz2 commented on #745
@ptrthomas I have build from source and can confirm that the fix worked.
Thanks so much for the quick turnaround.

[2019-04-24 05:30] italktothewind opened #748 "Retry until not working as expected"
Given this response:

[code]

This works fine:

[code]

but this don't:

[code]

In my real use case I need to use the polling feature.

I'm using the latest version

Minimal project is attached, just run "mvn clean install":
[karate-issue.zip](https://github.com/intuit/karate/files/3110661/karate-issue.zip)

Thanks in advance!

[2019-04-24 05:31] italktothewind commented on #748
In my real use case I need to use the polling feature.

Thanks in advance!

[2019-04-24 05:36] ptrthomas commented on #748
@italktothewind since you double posted to stack overflow it will be answered there

[2019-04-24 05:36] #748 closed

[2019-04-25 14:34] safiuz opened #749 "Test not getting picked during parallel Run"
During parallel run, Test not getting picked by **KarateOptions**.
With @RunWith(Karate.class) and @CucumberOptions tests are running fine.

Not able to figure out the exact issue. Below are configurations.

package com.karate.test;
@KarateOptions(features="classpath:com/karate/test/workflow/",tags = "~@ignore")
)
public class KarateTest {

    @Test
    public void testParallel() {
        System

[2019-04-25 14:41] ptrthomas commented on #749
no, this is not a "full working example" read the instructions again: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-04-25 14:41] #749 closed

[2019-04-25 15:12] safiuz commented on #749
It worked with the latest version. There was version issue.
Updated to
` testCompile 'com.intuit.karate:karate-apache:0.9.2'
    testCompile 'com.intuit.karate:karate-core:0.9.2'
    testCompile 'com.intuit.karate:karate-junit4:0.9.2'
`

[2019-04-26 08:42] pakore opened #750 ""configure ssl = 'TLSv1.2'" disables SNI in karate-apache in java8"
Using `openjdk version "1.8.0_191"`, karate version `0.9.2`

When I execute a test without any particular encyription specified (aka NO `configure ssl = 'TLSv1.2'` et al), I can see in the `-Djavax.net.debug=all` that SNI is properly sent.
`Extension server_name, server_name: [type=host_name (0), value=example.com]`

But as soon as I add `configure ssl = 'TLSv1.2'` (or other encryption), SNI disap

[2019-04-26 08:52] MercierAdrien commented on #750
https://github.com/intuit/karate/issues/703
If you can build from source, this might fix your problem. If not, maybe some more changes will be needed.

[2019-04-26 08:57] pakore commented on #750
AFAIU, #703 avoids Lenient SSL when custom cert is used. In my case, I don't use a custom cert, I only force to use `TLSv1.2`. Maybe I'm wrong, but that fix won't help in this case, will it?

Anyway I'm fine with using `karate-jersey` instead. I just wanted to report the bug.

[2019-04-26 09:08] ptrthomas commented on #750
@pakore thanks, I'm not sure how to replicate, unless @MercierAdrien you have any ideas. will tag as help wanted

[2019-04-26 09:17] pakore commented on #750
It's pretty easy, create a test that just does a get request against any https server that supports TLSv1.2 (e.g google.com ). Run the test with `-Djavax.net.debug=all` and lookout for SNI messages (`Extension server_name`) in the log.
Then add `configure ssl = 'TLSv1.2'` to the test and lookout for the lack of SNI messages in the log.
Keep in mind that the test will pass anyway if the server acce

[2019-04-26 09:26] pakore commented on #750
Also this nginx setup could help:

[code]

But anyway, just grepping the debug logs should be enough to see if SNI is being used or not.

[2019-04-26 09:57] ptrthomas commented on #750
@pakore thanks ! hope someone can use these instructions - I agree a unit test is not needed unless someone is willing to add SNI to karate mocks / netty :) I'm inclined to leave this as help wanted as you have a workaround and that this is the first time reported in 2 years.

[2019-04-26 16:48] celcius112 opened #751 "Issue with Karate in an application packaged by Spring Boot"
Hi @ptrthomas, I'm back with more issues with classpath, Spring Boot, and JAR (or bootJAR in this case).

I have a dummy project [here](https://github.com/celcius112/karate-spring), which is a Spring Boot application that launches a single runner class (`com.karate.karatespring.feature.Runner.java`) on startup, using the JUnit 5 test factory. This runner class will simply launch the feature file `

[2019-04-26 16:51] ptrthomas commented on #751
tagged as "help wanted" you know what to do @celcius112 ;)

[2019-04-26 16:53] celcius112 commented on #751
That was quick 😛 I've already tried (quickly) to find a solution, but since the project is quite large in my standard I might need some time to find a solution that does not break anything 😁

[2019-04-26 17:11] ptrthomas commented on #751
take all the time you need, since no one else has reported problems since #520 - and you know how hard that was

[2019-04-28 05:10] tellisnz-shift commented on #721
@ptrthomas @paulmccormack - I came across this investigating an issue we have where with 0.9.2 and using only `rampUpUsers(1)` gatling was finishing early with no requests reports. After debugging it seems that not awaiting the latch means stop is called early and shutdown - if I add a thread breakpoint on the `if` condition guarding the `latch.await()` [here](https://github.com/intuit/karate/comm

[2019-04-28 05:31] tellisnz-shift commented on #721
Increasing the atOnceUsers to 20 I can now replicate the hang - investigating further.

[2019-04-28 06:05] ptrthomas commented on #721
@tellisnz-shift thanks for looking into this - this is such an important part of karate.

are you able to see if the latch countdown is not being called for some reason: https://github.com/intuit/karate/blob/d5f933ab3983b0715b3d5b84d9107bbb00c4cacf/karate-core/src/main/java/com/intuit/karate/core/FeatureExecutionUnit.java#L144

a wild guess is that the gatling akka actor has killed itself too soon

[2019-04-28 07:43] ptrthomas commented on #721
@tellisnz-shift @paulmccormack I just made some changes and just maybe this will be end of all the problems - please do verify when you get a chance !

[2019-04-28 08:17] tellisnz-shift commented on #721
This looks good to me :D

[2019-04-28 09:09] ptrthomas commented on #721
@tellisnz-shift awesome. I'm marking this as fixed

[2019-04-28 20:25] grandflash opened #752 "No payload and forms set due to multipart-file request"
Karate sends multipart file request with 'multipart/form-data' Content-Type header without configured payload and forms.

Expected result:
1. Configure scenario to use PUT request with multipart fields and multipart file values
2. Send request
3. Ensure Karate has sent pre-configured payload and forms with proper content-type ('multipart/form-data')

Actual result:

3. Karate sends request without

[2019-04-29 02:53] ptrthomas commented on #752
@grandflash  I think you are really confused because we never log the payload if it is "non printable" - and `multipart` is always considered as non-printable.

the response from postman echo in the log shows that the multipart request was as expected (see `files` and `form`):

[code]

[2019-04-29 02:53] #752 closed

[2019-04-29 12:44] Swiftkage commented on #721
Hi, Im the author of https://stackoverflow.com/questions/55794928/karate-gatling-one-request-is-not-recorded

Verified that AtOnceUsers, rampUsers and other gatling functions are working perfectly after the fix, all the requests are fired and recorded successfully in the report.  Thanks @ptrthomas @paulmccormack  @tellisnz-shift

[2019-04-29 12:51] ptrthomas commented on #721
@Swiftkage thank you for the update !

[2019-04-29 14:27] MercierAdrien opened #753 "idea: Scenario Outline with an array of Strings as Example"
Right now, we can use an array like this one in `Example` :
[code]
And then call `<name>` in the `Scenario Outline`

I suggest to create a keyword, which would allow to use an array of Strings, instead of having to convert this :
[code]

If the variable is `__arg`, we could directly use `<__arg>` in the `Scenario Outline`

[2019-04-29 14:37] ptrthomas commented on #753
somewhat related to #717 where I think the `__arg` concept will apply also - which will return the JSON representation of the current "example row" being processed. and `__loop` should work as well

[2019-04-29 14:40] ptrthomas commented on #717
@LeJeanbono I think I now understand what you meant and agree. I'm thinking that the "directly mapped JSON" would be available from the built-in variable `__arg` which is consistent with how `call` works:

[code]

[2019-04-29 14:43] ptrthomas commented on #717
just realized - one huge headache here is data-types in `Examples:` today they all default to string :|

[2019-04-29 15:01] LeJeanbono commented on #717
Something like this for data-types ?
[code]

[2019-04-29 15:06] ptrthomas commented on #717
@LeJeanbono yeah :) but I'm inclined to leave it the way it is. if follks need complex data type handling - it is always possible using the old `<foo>` placeholder mechanism combined with `* def = { foo: '<foo>' }`

BTW this was one of the biggest breaking changes in Cucumber 3 / 4 - and I want to avoid that mess

[2019-05-01 05:40] ptrthomas commented on #753
It seems the proposal to use `__arg` will break users who have `Scenario Outlines` in a called feature.

Advanced things like this are dumped into the JS API - a strategy that has worked great so far - and maybe this is what we should do:

[code]

Hopefully this is a reasonable compromise to solve for the somewhat common case of transforming a JSON array of primitives into a array of objects in th

[2019-05-01 06:27] ptrthomas commented on #717
to avoid breaking existing tests, here's another proposal - to use `__eg` and `__row` as the magic variables within `Scenario Outline`-s

[code]

Since you may need the convenience of injecting the current row as variable names, we can add a general-purpose JS API `karate.def()` that will take a given JSON and spray all the keys as variables into the current scope, similar to how "shared scope" wo

[2019-05-02 03:19] Adarshkrishna9099 commented on #464
@ptrthomas seems like the issue with Karate.abort() still exist in V0.9.2.

[2019-05-02 03:27] ptrthomas commented on #464
@Adarshkrishna9099 unlikely. open a new issue and make sure you follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-02 04:25] jack20170608 opened #754 "javax.xml.transform.Transformerexception: Namespace for prefix 'xsi' has not been declared"
This issue occurs when define a embed **xsi:type**. Below is a very simple test Scenario to compare the two xmls, the amount is different.
[code]

[2019-05-02 06:47] ptrthomas commented on #754
@jack20170608  yes, if you use chunks of the XML and lose the declarations, this will happen. more details here: https://stackoverflow.com/a/53682733/143475

if you add these 2 lines before the `match` it will solve your problem:

[code]

[2019-05-02 06:47] #754 closed

[2019-05-02 08:32] jack20170608 commented on #754
thanks a lot... that fix the issue...

[2019-05-02 13:54] Adarshkrishna9099 opened #755 "Issues with skipped tests in summary and html report on V0.9.2"
This is issue with respect to karate.abort() function where I am able to successfully skip the steps once my condition is met but where as I am able to see the status of the test as Failed in cucumber html reports.

[2019-05-02 14:22] ptrthomas commented on #755
sorry closing as you have not followed the instructions: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-02 14:30] MercierAdrien commented on #755
I also said in https://stackoverflow.com/questions/55944353/karate-abort-script-failing-in-version-0-9-2 that it's expected to have a fail when abort() is used.

[2019-05-02 15:03] rexfordnana opened #756 "Using '*' in tables throws syntax errors"
[code]

The first assert works fine but the second throws the below error
```  javascript evaluation failed: names[*].name, <eval>:1:6 Expected an operand but found * ```

Is it a requirement to put '*' on the left of the contains keyword ?

[2019-05-02 15:07] ptrthomas commented on #755
@MercierAdrien I just added a demo example for this, see commit above. I think the maven cucumber report has logic to mark the scenario as failed if there are skipped steps - let me know if my understanding is right. in Karate, we treat it as a pass, which is reflected in the `Results` object when you use the `Runner`.

maybe there is an opportunity to influence the 3rd party reports, but I rememb

[2019-05-02 15:11] ptrthomas commented on #756
for these kinds of questions, we prefer stack ovrerflow.

change the last line to: `* match nameList contains $names[*].name`

reason: https://github.com/intuit/karate#jsonpath-short-cuts

[2019-05-02 15:11] #756 closed

[2019-05-04 06:27] ptrthomas commented on #708
@viperx77 this was actually a miss in the code and is now fixed

[2019-05-04 06:36] ptrthomas commented on #726
closing due to inactivity, re-open if needed

[2019-05-04 06:36] #726 closed

[2019-05-04 09:15] ptrthomas commented on #737
@peterquiel it looks ok to me, you can go ahead with a PR if it doesn't break any existing tests.

[2019-05-04 09:19] ptrthomas commented on #727
closing due to inactivity

[2019-05-04 09:19] #727 closed

[2019-05-04 10:52] ernitingoel opened #757 "Karate Maven archetype for Junit 5"
As of now Karate Maven archetype generate the skeleton project for Junit 4, is it possible for generate the skeleton project for Junit 5 as well?

[2019-05-04 11:07] ptrthomas commented on #757
personally I prefer to flip the existing one, but not sure if too soon. tagged as help wanted

[2019-05-04 11:08] ptrthomas commented on #753
going with karate.mapWithKey() and is implemented / fixed

[2019-05-04 15:56] ptrthomas commented on #717
this is a very interesting one ! finally decided to go with `karate.set()` and `__row` and `__num` for the magic variables. also I decided on a very simple strategy for "type hints" which is to append a `!` after the column name.

these three examples should make things clear. all of this should work for dynamic scenario outlines also, but needs testing

[code]

[2019-05-06 06:26] houchj commented on #721
Hi, we also meet the same issue. In which version did you fixed this issue? Thanks.

[2019-05-06 06:35] houchj commented on #721
looks like the 0.9.3 version is not release and so not in maven repo yet. Can you please give us a snapshot version? as we are very urgent for this fix, thanks a lot.

[2019-05-06 09:02] MercierAdrien commented on #753
Thank you, this works.

[2019-05-06 09:24] ptrthomas commented on #721
@houchj can you try now with 0.9.3.RC1 ?

[2019-05-06 09:29] houchj commented on #721
@ptrthomas , thanks for your quick help. But I see 404 returned from https://mvnrepository.com/artifact/com.intuit.karate/karate-core/0.9.3.RC1. or do you have any other repositories?

[2019-05-06 10:35] ptrthomas commented on #721
@houchj it is there https://repo1.maven.org/maven2/com/intuit/karate/karate-core/0.9.3.RC1/

try appending -U to your maven command

[2019-05-06 11:37] marklindell opened #758 ""too many files open" exception when calling karate.call dynamically in loop"
I'm using javascript in a loop to call karate.call('my.feature@create') a large number of times.

The scenario that is calling "my.feature@create" is also defined in "my.feature". I'm not sure if that makes a difference?

The reason this is important is that I am executing on a hosted build agent and I am unable to increase the maximum number of open file handles.

Is it a bug or by design that th

[2019-05-06 12:34] ptrthomas commented on #758
would like to replicate, please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-06 12:34] #758 closed

[2019-05-06 12:47] ptrthomas commented on #758
and yes - in the current design we open a file for every `call` made to support the logs in the HTML reports. this was an early trade-off decision - the alternative being high memory usage when collecting logs in memory

normally this is never a problem unless you open multiple files because parallel scenarios- like seen here: https://github.com/intuit/karate/issues/661#issuecomment-458127918 - wh

[2019-05-06 14:03] marklindell commented on #758
I created the file 'examples/bug.feature' and executed the following on a Ubuntu 16.04 with restricted "open files"

[code]

`mvn test`

Yields:
[code]

[2019-05-06 14:07] marklindell opened #759 ""too many files open" exception when calling karate.call dynamically in loop"
See attached for repo.
[testing-karate.zip](https://github.com/intuit/karate/files/3148262/testing-karate.zip)

[2019-05-06 16:17] ptrthomas commented on #759
for problem details see #758

this should be fixed, would be good if @marklindell can validate

[2019-05-06 16:31] marklindell commented on #759
I will validate when fix available.

[2019-05-06 16:52] ptrthomas commented on #759
@marklindell your call, generally folks are willing to build from source and help release this faster: https://github.com/intuit/karate/wiki/Developer-Guide

[2019-05-06 18:29] gruutak opened #760 "http request failed: null when using "path" keyword with url pointing to localhost"
When setting the url to localhost or 127.0.0.1 and using the "path", the request fails with error "http request failed: null"

I tried getting help on StackOverflow first (https://stackoverflow.com/questions/56006685/getting-error-http-request-failed-null-when-using-path-in-karate), but I couldn't get any satisfactory responses.

This error can be reproduced in the [attached project](https://githu

[2019-05-07 00:39] ptrthomas commented on #760
@gruutak thanks ! I've no idea how this went unreported for so long. by the way, `apache-jersey` will work if you need a workaround for now. would be great if you can build from source and validate

[2019-05-07 02:27] houchj commented on #721
@ptrthomas thank you, it works nicely.

[2019-05-07 04:50] houchj opened #761 "scenarios execute in a group doesn't show statistics"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

The sample code is like this:
val query2 = scenario("query2").
exec(
group("query-002"

[2019-05-07 04:52] ptrthomas commented on #761
@houchj sorry you have to follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-07 04:52] #761 closed

[2019-05-07 07:37] houchj opened #762 "report error when scenarios execute in groups"
There are many issues in the report:
issue on page 1(see 2019-05-07 (1).png):
the statistics in the first page is not correct. See the highlight blue rectangle. The OK KO number is not correct.

issues  on page 2(see 2019-05-07 (2).png):
a. the bar chart shows 100 success, it's not correct.
b. the KO OK number is not correct on the statistics
c. the response time all shows 0, which is not correct.

[2019-05-07 07:46] ptrthomas commented on #762
@houchj I think english is not your first language so I'l overlook what in my opinion is a very rude request.

I really don't have any experience with Gatling groups so you can assume they are not supported. I have marked this ticket as help wanted - so the best way for you to solve this sooner is to be helpful - look at the code and contribute - and maybe explain better what you are expecting. an

[2019-05-07 07:58] ptrthomas commented on #762
<img width="931" alt="image" src="https://user-images.githubusercontent.com/915480/57282978-c22e5880-70cb-11e9-80dd-84f325865ffd.png">

and @houchj please read the docs: https://github.com/intuit/karate/tree/master/karate-gatling#nameresolver

you can easily achieve report grouping like this:

[code]

[2019-05-07 08:22] houchj commented on #762
@ptrthomas sorry for the grammar error.
With your suggestion I changed my code to use global assertion and header name, and now everything works fine. Thanks for your help here.
So I will assume the gatling group is not supported for now. I suggest we document it before fixing it.
Also for the karate assertion I see following paragraph in the doc(https://github.com/intuit/karate/tree/master/karate

[2019-05-07 08:39] ptrthomas commented on #762
@houchj great that the suggestion worked for you ! I have just updated the docs to include the limitation - that sub-groups are not supported

[2019-05-07 13:26] gruutak commented on #760
@ptrthomas Thank you for the fast fix! I can confirm that the fix worked.

[2019-05-07 18:09] ktpune commented on #243
@ptrthomas  Hi I am trying to get Karate DSL working for API automation.  I am able to do a successful GET for https://jsonplaceholder.typicode.com/users however https://jsonplaceholder.typicode.com/users/1 GET call fails with SSL handshake error

[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 2.79 s <<< FAILURE! - in examples.users.UsersRunner
[ERROR] [1:14] get all users

[2019-05-08 03:04] ptrthomas commented on #243
@ktpune use stack overflow please for these kinds of questions

[2019-05-08 03:53] jinge1936 opened #763 "Example section in scenario outline cannot reference varible defined in background"
Hi Mr/Ms.,

I found an issue of karate, the following code is taken from the help document, and it works fine.

However, this only works we give a specific value of the file name as we see in below Background section.

I want to replace "../callarray/kittens.json" with a variable passed from caller feature, but after many attempts, failed to figure it out. I guess this is not supported or an exist

[2019-05-08 08:32] peterquiel commented on #737
Ok,.. #764

[2019-05-08 10:10] ptrthomas commented on #763
sorry, please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-08 10:10] #763 closed

[2019-05-09 14:13] hemqa123 opened #765 "Karate with Java 12"
Is Karate compatible with Java 12 version ?
I tried installing Java 12 and when I tried to run it, its unable to read the configurations in Karate-Config.js ?
Any confirmation on this ?

[2019-05-09 14:28] SreecharanShroff commented on #765
Karate with JDK 12 is not yet supported, fails with below message:

Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 2.007 sec <<< FAILURE!
 Time elapsed: 0.042 sec  <<< ERROR!
com.intuit.karate.exception.KarateException: -unknown-:4 - javascript evaluation failed: baseURL, ReferenceError: "baseURL" is not defined in <eval> at line number 1
        at ?.* url baseURL (-unknown-:4)

[2019-05-09 14:49] ptrthomas commented on #765
yes this is expected. read this for more: https://github.com/intuit/karate/commit/fbc6abe016e6e574e95d8a5f4ba56288bbf2a1f4

please use Java < 12 until we get to releasing this, or contribute help

[2019-05-09 15:09] doritochips commented on #748
Link: https://stackoverflow.com/questions/55820690/karate-framework-retry-until-not-working-as-expected

[2019-05-09 15:41] justinbleach opened #766 "NoClassDefFound when using Karate with SpringBoot MVC Controller Tests"
[code]

This may not happen locally but as part of Jenkins running a build and running the tests. I'm guessing because Intellij is a little better at managing the tests when they're run. Regardless in today's DevOps CI/CD environment it will be hard to adopt this if it won't work in build environments.

[dependencyissue.zip](https://github.com/intuit/karate/files/3162897/dependencyissue.zip)

[2019-05-09 15:53] ptrthomas commented on #766
thanks for the advice on today's DevOps :) look, I was trying to help at StackOverflow - but this is no way near a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) - it is also quite disappointing that you did not provide any more steps, anyway I ran `mvn test` locally and this is what I got:

[code]

closing as not MCVE, no clear instructions, not getting expected

[2019-05-09 15:53] #766 closed

[2019-05-09 15:56] hemqa123 commented on #765
Thank you for the confirmation. Is there any time line with in which, you would start supporting in Version 12

[2019-05-09 16:10] ptrthomas commented on #765
@hemqa123 not right now, personally I think usage is low and since this is for tests, most teams would be okay with the test automation pipeline running on a lower java version. I expect this to happen 6 months from now - but this is just a guess :)

[2019-05-09 21:38] jawadkalia commented on #765
@hemqa123 can you provide your pom here?

[2019-05-10 07:29] aleruz commented on #193
I think that would be useful to ignore completely certificates, for example when using Karate for local testing. Is there a configuration for this? Tried with setting also 'ssl:{"trustAll":true}' but without success.

[2019-05-10 07:41] scarlink opened #767 "Convert csv response to json"
I'm testing a RESTful API where one resources gives me back a csv which I have to validate:

    Given url myUrl
    And path 'reports'
    And header Authorization = credentials
    And request filter
    When method post
    Then status 200

The response type is text/csv but the response object is interpreted as a String.
I want to validate the response, How can i convert the response to JSON?

[2019-05-10 07:46] DevathaRaju commented on #594
how to break out of retry if the condition is not satisfied after say 1 minute of waiting? Please help

[2019-05-10 09:29] ptrthomas commented on #594
@DevathaRaju please don't do this here and use stack overflow, thanks.

[2019-05-10 09:37] ptrthomas commented on #767
ha, there's no way to do it directly so I'll treat this as a feature request - since I suspect it may support data-driven testing easier in the long run. so we'll add a `csv` type def like we have `yaml` today: https://github.com/intuit/karate#yaml

for now your work around is use a java / js util to write to a file, e.g. `target/temp.csv` and then read it as `read('file://target/temp.csv')`

[2019-05-10 09:41] ptrthomas commented on #193
@aleruz my understanding is `ssl = true` will do this, if not please help find the right solution or a PR, there's too many SSL threads here for me to remember

[2019-05-10 12:47] kasheylm commented on #735
@ptrthomas Thanks for taking this issue to closest milestone!

[2019-05-10 13:06] scarlink commented on #767
Writing using karate.write() works, but When i call
    * def respcsv = read("file:target/temp.csv")

I get this error: reportistica.feature:36 - de/siegmar/fastcsv/reader/CsvReader

An nothing more.

[2019-05-10 13:23] ptrthomas commented on #767
@scarlink then use a custom Java util please and forget that `karate.write()` exists, I don't remember where it saves the file and it depends on whether you use Gradle etc. see if you can debug. all the best ;P

[2019-05-11 06:30] ptrthomas opened #769 "make top-level call loops appear like scenario outline in the html report"
will explore this but would be cool if when a feature file is called in a loop using the `call` keyword

and this is the first nested call in the "stack"

that the report is massaged into the `Scenario Outline` form, so you see multiple scenarios (test cases) for each iteration of the loop

[2019-05-11 12:55] ptrthomas commented on #722
reopening, may not merge PR by @kkris as-is but will tweak as this is a somewhat delicate change

[2019-05-11 16:07] avyas commented on #683
@showtime25st can you please share steps on how did you integrated Reportportal?

[2019-05-11 16:08] ptrthomas commented on #718
this is fixed to the extent where you can have multiple websocket client instances alive at the same time, and each is responsible for handling / and `listen()`

the handler function is now optional and the shape has changed, just has to return a boolean, no more `karate.listen()` it is automatic at the socket instance level

the requested "don't close on scenario end" is NOT implemented, one reas

[2019-05-11 18:14] ptrthomas commented on #722
@kkris sorry for the delay, can you take a look if the fix looks good - thanks for the hints in the PR
you can see I wanted to avoid depending on the JS context especially since we need to re-write all that into graal soon.

[2019-05-11 23:39] avyas commented on #683
Looks like there is some work going on! :)  https://github.com/reportportal/agent-java-karate/pull/1

[2019-05-13 00:19] kirksl opened #770 "Feature Request: Add option to run a scenario from a line number"
Feature Request: Add option to run a scenario from a line number

Reference
https://www.toolsqa.com/selenium-cucumber-framework/run-cucumber-test-from-command-line-terminal/

Example
http://toolsqa.com/wp-content/gallery/cucumber/Running-Cucumber-Test-from-Command-Line-5.png

[2019-05-13 02:43] ptrthomas commented on #770
also to check if `--name` is working as expected from `mvn` command line

[2019-05-13 05:57] houchj commented on #721
Hi @ptrthomas , unfortunately I found a similar issue come out when requests are timeout from server. No report is generated. I upload the logs here:

[log.txt](https://github.com/intuit/karate/files/3171302/log.txt)

Meanwhile I also did some modification of my sample project: https://github.com/houchj/karate-gatling-demo
It reproduces the problem, but the logs output are a little different, I'm

[2019-05-13 06:14] ptrthomas commented on #721
@houchj thanks, I'm pretty sure it is because we were not handling an http client exception for the gatling integration. I've just made a commit to the `develop` branch. you will need to help us by building from source and then running your test again, let us know.

[2019-05-13 07:00] houchj commented on #721
@ptrthomas , I just tested my project with the develop branch source code, and all timeout requests are now showing as "KO" which is very good, thanks a lot.

[2019-05-13 07:06] aleruz commented on #193
Did open a PR to fix documentation, since `ssl='true'` is the correct config, being `true` a string and not a boolean.

[2019-05-13 07:17] kkris commented on #722
Perfect, the fix works great! Thanks 👍

[2019-05-13 07:57] ptrthomas commented on #193
@aleruz uh, wait a minute, that shouldn't be, see the source code: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/Config.java#L175

and we do support a string, but that is for the case where we need to set a specific `sslAlgorithm`

do you think you can debug and see what is going on ? `* configure ssl = true` should work and is so basic - that we should h

[2019-05-13 08:08] ptrthomas commented on #193
@aleruz oops please ignore all the above - you have indeed found a problem, I'm opening a new issue

[2019-05-13 08:09] ptrthomas opened #772 "ssl cert trustAll value type should be boolean and not string"
found by @aleruz refer discussion here: https://github.com/intuit/karate/issues/193#issuecomment-491701243

[2019-05-13 08:10] ptrthomas commented on #772
@aleruz can you confirm that the fix works which means the doc does not need to be changed

[2019-05-13 13:28] ptrthomas opened #773 "karate.options scenario name not honored when using suite / parallel runner"
the `--name` option works for IDE (IntelliJ) but nowhere else. it should be honored when running something like `mvn test -Dkarate.options="classpath:myfeature.feature --name ^first$"`

[2019-05-13 13:43] ptrthomas commented on #770
@kirksl would be great if you can check that #773 has been fixed in the meantime

[2019-05-13 21:06] aleruz commented on #772
@ptrthomas can confirm that it works in develop branch.
Still, I think that part of doc is not clear enough and, apart from the "boolean" part to revert, the other still applies (not mandatoriness of some attributes). wdyt?

When will this version be released?

[2019-05-14 00:25] ptrthomas commented on #772
@aleruz ok - can you adjust the PR one more time for the mandatory-ness part. we can release 0.9.3.RC2 within a week

[2019-05-14 06:55] thunderstumpges opened #774 "enhancement: merge two json objects"
As offered here: https://stackoverflow.com/questions/50580415/karate-array-field-become-object
by @ptrthomas
```Maybe we need a karate.append() and karate.merge() (for merging 2 JSON objects). Feel free to raise a feature request.```

I would love to see a merge function. I have data driven tests where not all assertions in the test data files are mandatory, and I'd like to merge a "default" json

[2019-05-14 08:22] ptrthomas commented on #774
@thunderstumpges done

[code]

[2019-05-14 08:24] ptrthomas commented on #774
@thunderstumpges I hope you are aware of the `contains` keyword, because that's what most teams use when they don't care about all the fields. you can get even fancier with "fuzzy matching": https://github.com/intuit/karate#fuzzy-matching

[2019-05-14 13:30] ptrthomas opened #775 "custom headers should be possible with websocket"
just when you think most of the work is over :| requested on stack overflow: https://stackoverflow.com/q/56131495/143475

[2019-05-14 15:51] thunderstumpges commented on #774
Wow, thanks! That has GOT to be the fastest turnaround on a feature request ever! :)

Yes I have looked at `contains` and fuzzy matching. I actually do use fuzzy matching in a number of places.
I ran into friction with contains, as the parts being asserted in the response are nested in fairly complex ways, and I didn't want the test writers to have to replicate that nesting in their test data. I d

[2019-05-14 16:03] ptrthomas commented on #774
@thunderstumpges okay, I probably don't yet understand the yaml part - but do blog about this or something, it sounds interesting. one more suggestion is that when dealing with complex nesting, JsonPath can be useful:

[code]

[2019-05-14 16:51] FrancisErdman-CTP opened #776 "Allow Parsing JSON response in constructing the next JSON request"
It would be great if Karate would allow me to use a reponse field from a previous JSON request in my next JSON request, which evidently is not supported currently.

For example

*def myVariable = '< dynamicText > '

Given URL myURL

And request "some request"

When method post

Then status 200

And replace myVariable.dynamicText = response.[0].data.SomeField

Given URL myURL

And request = [ < myV

[2019-05-14 17:51] ptrthomas commented on #776
using a response field in the next request is absolutely supported, and this is part of the `hello world` sample itself - at the start of the docs. kindly re-read the docs. most of the examples also do this, for example this one: https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/cats/cats.feature

if you still have a question related to this, please follow this process, o

[2019-05-14 17:51] #776 closed

[2019-05-14 18:11] raktim990 opened #777 "Getting javascript error when trying call javascript file within a scenario outline"
**Error**: failed features:
src.test.resources.features.KARATE: [12.1:192] KARATE.feature:195 - javascript evaluation failed: Utility.dbUtility(db), TypeError: Utility.dbUtility is not a function in <eval> at line number 1

Scenaio

Scenario Outline: Validate Database  Access DB and MySQL Database using CSV mapping file
    Given def db = "access"
    And def config = Utility.dbUtility(db)
    And

[2019-05-14 18:13] ptrthomas commented on #777
@raktim990 closing this as this is not following the instructions, read it carefully please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-14 18:13] #777 closed

[2019-05-14 18:19] raktim990 commented on #777
Hi Peter,

My code to read javascript used to work fine and suddenly it started throwing javascript exception . Also its happening only for Cucumber scenario outline and not Scenario.

[2019-05-14 18:20] ptrthomas commented on #777
@raktim990 and the best for you and us to solve this is for you to follow the process, thank you for understanding

[2019-05-14 22:35] thunderstumpges commented on #774
Thanks, yes good idea!

[2019-05-15 11:27] csotiriou commented on #765
Thank you for this confirmation. It seems that Karate cannot read the .js configuration file. Also, Nashorn engine is deprecated and will be removed (probably this is the reason). So, regardless of Java 12, we may need to find an alternative?

[2019-05-15 12:53] ptrthomas commented on #765
@csotiriou there was an issue with the js function for Java 11 can you build from source or try 0.9.3.RC1 and confirm, thanks: https://github.com/intuit/karate/issues/724

[2019-05-15 13:02] ptrthomas commented on #769
just investigated this and the challenge is we are already within a `Scenario` when this loop happens. while this can happen some day in the distant future when we have our own *native* HTML reporting solution - right now we shall continue to conform to the cucumber JSON / HTML.

[2019-05-15 13:02] #769 closed

[2019-05-15 13:23] ptrthomas commented on #730
@vidz2 I was able to fix this - can you build from source and confirm it works ?

[2019-05-15 17:38] babusekaran commented on #743
Need suggestion on prefix for platform-specific locator strategies,

platform | prefix <br/> (proposed) | means | example
----- | ------ | ----- | -------
ios| `:` | `-ios predicate string` | `:name == 'OK' type == XCUIElementTypeButton`
ios| `^` | `-ios class chain` | ``^**/XCUIElementTypeTable[`name == 'dataTable'`]``
android| `-` | `-android uiautomator` | `-input[name=someName]`

@ptrthomas do

[2019-05-16 00:57] ptrthomas commented on #743
@babusekaran yes we can start with this and revisit later

[2019-05-16 02:01] gruutak commented on #765
I'm actually using karate in a Java 12 project. I had problems when loading the files too and I managed to make it work by changing `function fn() { }` from the examples to `function() { }`.

Not sure if it's something specific to how my project is setup, but I think it's worth a try as a workaround for now.

[2019-05-16 03:11] ptrthomas commented on #765
@gruutak - thanks ! as i said #724 fixes that, so you can try 0.9.3.RC1 - and since I am admittedly unclear on the details - so is Nashorn still there in Java 12 ? albeit deprecated with warnings on the console and all ?

[2019-05-16 10:54] gruutak commented on #765
@ptrthomas Yeah, even though it prints the warning ("Warning: Nashorn engine is planned to be removed from a future JDK release"), Nashorn still works on java 12.

I had to use the workaround as my company rarely allow us to use RC and Snapshot versions of libs, unless there is a big vuln in the current version or something like that.

[2019-05-16 12:54] ptrthomas commented on #765
@gruutak ok you can expect a final within a couple of weeks ! would be great if you can test in local / dev to give us confidence

[2019-05-16 14:13] gruutak commented on #765
@ptrthomas Tested it locally. It worked in my project.

[2019-05-16 14:27] ptrthomas commented on #765
thanks @gruutak ! closing as a duplicate of #724

[2019-05-16 14:27] #765 closed

[2019-05-16 22:10] vidz2 commented on #730
@ptrthomas I did a build from source and the issue seems to be fixed.
Awesome work, thanks a lot.
Do you have a release date planned for 0.9.3?

[2019-05-17 00:46] ptrthomas commented on #730
@vidz2 should be within a week

[2019-05-17 07:54] Sir4ur0n opened #778 "Gradle: output to build/ instead of target/"
Hi,

When using the Gradle plugin, I think it would make more sense to publish reports (e.g. `surefire-reports`) to the Gradle build location, just like everything else, instead of the Maven convention `target/`.

In Gradle all test reports are pushed to `./build/reports/tests/<configurationName>`. E.g. for unit tests `./build/reports/tests/test` and integration tests `./build/reports/tests/integr

[2019-05-17 08:01] ptrthomas commented on #778
I'll be honest, I wish Gradle didn't exist - because of the extra pain it causes OSS maintainers >_<

I thought we had solved this somewhat in the latest / develop version, so I'd like the Gradle fans to step  up and make this happen via PR-s, I'm sure you can customize the output dir for the surefire reports one time in the current version.

closing, but feel free to refer to this ticket via a PR

[2019-05-17 08:01] #778 closed

[2019-05-17 17:26] ericdriggs opened #779 "background callonce read causes scenarios to share variables"
Failing test case here:

https://github.com/ericdriggs/karate-callonce-bug/blob/master/src/test/java/callonce-bug.feature

Expected:
* variables created by previous scenario remain undefined when another scenario starts

Actual
* variables still have previous values when start new scenario

Manually verified the following work correctly: karate.callSingle, callonce for a function variable

[2019-05-17 17:30] ptrthomas commented on #779
that is the right behavior. if you use `callonce` in "global" mode, any global variables it creates will persist. closing.

[2019-05-17 17:52] ptrthomas commented on #779
@ericdriggs apologies, let me take a look - this is indeed a problem :|

[2019-05-17 18:18] ptrthomas commented on #779
@ericdriggs many thanks for this - you found a serious issue. it is fixed, can you build from source and verify ?

[2019-05-17 19:11] ericdriggs commented on #779
Yes verified from source.
Works as expected now. TYVM for the rapid fix!

[2019-05-18 00:23] ptrthomas commented on #779
@ericdriggs thanks ! I will keep this open until the next official release

[2019-05-18 00:31] ptrthomas opened #780 "split karate-ui into new maven / JAR module moving javafx out of karate-core"
definitely causing projects to break that use spring / spring boot:

https://stackoverflow.com/q/56193195/143475
https://stackoverflow.com/a/56059478/143475

this will be a breaking change :| better to do this sooner instead of waiting for 1.0.0

[2019-05-18 16:42] cpressler commented on #780
here is my comments from an issue I ran into

https://stackoverflow.com/questions/8861485/contextload-error-in-spring

[2019-05-20 12:58] ptrthomas commented on #780
@cpressler can you try now with 0.9.3.RC2 ?

[2019-05-20 14:37] cpressler commented on #780
0.9.3.RC2   now works for the minimal spring boot test contextLoads().  Thanks!

import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.test.context.junit4.SpringRunner;

@RunWith(SpringRunner.class)
@SpringBootTest
public class JugToursApplicationTests {
    @Test
    public void contextLoads() {
    }

}

[2019-05-20 21:44] cpressler commented on #780
FYI adding this dependency now seems to cause a failure but I do not need it so I am good for now.
<dependency>
    <groupId>com.intuit.karate</groupId>
    <artifactId>karate-ui</artifactId>
    <version>${karate.version}</version>
    <scope>test</scope>
</dependency>

[2019-05-21 00:33] ptrthomas commented on #780
@cpressler you can always use a maven profile to use it in dev mode but not mess up your CI

[2019-05-21 06:52] aleruz commented on #772
@ptrthomas can I find the snapshot release somewhere? would like to use it to start my project, so to have this and other things fixed.

[2019-05-21 06:59] ptrthomas commented on #772
@aleruz yes 0.9.3.RC2 - and twitter is the best way to be notified of releases: https://twitter.com/KarateDSL

[2019-05-21 07:21] reini2150 opened #781 "WebSocketClientInitializer: default frame size"
Please make the default websocket frame size of 4194304 (WebSocketClientInitializer) configurable via a system property. We are using karate and chrome to create PDF's for some possibly very big HTML pages and are running frequently in this limitation.

[2019-05-21 07:24] ptrthomas commented on #781
@reini2150 sure that makes sense. this is the first time we've heard someone use the chrome / pdf capabilities, sounds like it works well for you ?

[2019-05-21 07:36] reini2150 commented on #781
yes it works like a charme. we have 2 portable chrome instances running in debug mode as a windows service and are using karate to communicate with them

[2019-05-21 08:30] aleruz commented on #772
@ptrthomas thanks. Will use that. I was also searching for the snapshot of the current develop, since sometimes this could be helpful (even if not stable).

[2019-05-21 08:39] ptrthomas commented on #772
@aleruz we don't have snapshots as of now. maybe later

[2019-05-21 10:20] ptrthomas commented on #781
@reini2150 do you think you can build from source and check ? it is simple: https://github.com/intuit/karate/wiki/Developer-Guide

here is the draft documentation, there is a new `start(Map)` method: https://github.com/intuit/karate/tree/develop/karate-core#chrome-java-api

[2019-05-21 10:41] aleruz commented on #772
@ptrthomas not sure if intended, but atm the netty library *karate-netty* is not present in the version 0.9.3.RC2

[2019-05-21 10:47] ptrthomas commented on #772
@aleruz yes that's intended, the classes needed are all in `karate-core` now since https://github.com/intuit/karate/releases/tag/v0.9.0 - but we now are stopping the artifact

 thanks for pointing it out though.

[2019-05-21 11:33] aleruz commented on #772
@ptrthomas as an additional remark, `karate-netty` was also having `net.masterthought » cucumber-reporting` as dependency that is now missing in the `karate-core`. Not sure where it fits better, but I think it should be somewhere.

[2019-05-21 12:11] ptrthomas commented on #772
@aleruz ah, you are right. the thing is, that item brings in an awful lot of extra dependencies and we don't want that. the official docs for adding that are here:

I will update the release notes, draft here: https://github.com/intuit/karate/wiki/v0.9.3

[2019-05-21 12:50] scarlink opened #782 "Presence of a Scenario Outline in a feature, causes callonce to be executed twice or more"
As the title If I add a Scenario Outline to my feature file, the callonce get executed twice:

Feature: MyFeature

Background:
* def setup = callonce read('classpath:/prepare_tests.feature')
...
...
Scenario: myscenario1
...
Scenario: myscenario2
...
Scenario Outline:
...
...

If I comment out the Scenario Outline everything runs like expected, but when I include it in the feature, even if I selec

[2019-05-21 12:51] ptrthomas commented on #782
for these kinds of issues you HAVE to follow this: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-21 12:51] #782 closed

[2019-05-21 13:28] ptrthomas commented on #782
@scarlink just remembered, this is most likely fixed by #730 - so it will be great if you build from source and verify. you can find developer instructions in the wiki

[2019-05-21 14:20] reini2150 commented on #781
I build it from source and it does works like expected. Thanks a lot for your efforts.

[2019-05-21 22:59] vidz2 opened #783 "Feature Request: pretty print match assertion failure messages"
We are using karate to match some fairly large payload responses. I have noticed that when there is an assertion failure it is quite to hard to scroll horizontally on the html report to figure out the difference between expected and actual. For ex, on the instances where the expected is not contained in actual.

To make it more readable is it possible to pretty print the match assertion failure me

[2019-05-22 00:19] ptrthomas commented on #783
considering as won't fix for now. feel free to submit PR against this issue

[2019-05-22 00:19] #783 closed

[2019-05-22 14:31] Evgeniya-Smoliak opened #784 "Not read @CucumberOptions plugin"
I use karate 0.9.2, junit. I need to use Report Portal for reporting. In my Runner class I write
@CucumberOptions(
        features = "classpath:features",
        plugin = {"com.epam.reportportal.cucumber.ScenarioReporter"}
)
But ScenarioReporter is not read and I have not launch on Report Portal. For RP I added dependency 'com.epam.reportportal:agent-java-cucumber:4.0.2'
Unfortunately, @KarateOp

[2019-05-22 15:26] ptrthomas commented on #784
yes, karate has no connection to cucumber other than the syntax. plugins are not supported. please refer #444

[2019-05-22 15:26] #784 closed

[2019-05-23 16:54] hanasaki opened #786 "How To : Authenticate to SSO (Google, Gigya, etc..) and pass token to service? howto now and maybe built-in support in the future?"
Need to authenticate to Gigya, google, MS and facebook SSO and then transparently add auth-tokens to some rest calls.

[2019-05-23 17:39] ptrthomas commented on #786
read the docs, there's plenty: https://github.com/intuit/karate#http-header-manipulation

if that doesn't help, please use stack overflow, thanks: https://stackoverflow.com/questions/tagged/karate

[2019-05-23 17:39] #786 closed

[2019-05-25 03:42] ptrthomas opened #787 "long pending JS to JSON conversion issue - nested arrays become maps"
a very annoying issue that has been around since the beginning, but fortunately only affects a relatively rare case when JSON is constructed on the JavaScript side (typically in an `eval` or JS `function`) and where there are nested arrays, they become JSON with keys like `0`, `1`, `2`, etc. just figured out a possible fix. opening this issue to track, and this could be a breaking change for some

[2019-05-25 04:15] ptrthomas commented on #787
pasting the effect of this fix, also linking old issue #225

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/915480/58364424-c16e3280-7ed1-11e9-8ef3-1c9e6db84c3a.png">

[2019-05-25 17:19] ptrthomas commented on #717
an update the extra `* eval karate.set(__row)` is no longer necessary, this is done automatically by default, but can be switched off via a `configure` setting. after writing a few data-driven java unit-tests using karate (yes you read that right, unit-tests :) I felt this was the right thing to do, see example: https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/demo/unit/cat.

[2019-05-28 04:16] cuhavp opened #788 "unsupported match type for string: CONTAINS_ANY"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

I tried to validate value of json node has contains one of element of array
    Then m

[2019-05-28 04:38] ptrthomas commented on #788
@cuhavp please ask such questions on stack overflow please, thanks.

[2019-05-28 04:38] #788 closed

[2019-05-28 08:26] Decat-SimonA commented on #742
any ETA for Graal ?

[2019-05-28 08:42] ptrthomas commented on #742
@Decat-SimonA is there a specific use-case you have in mind ? we are quite confident about migrating to graal: https://twitter.com/ptrthomas/status/1095346113027092480

[2019-05-28 09:40] Decat-SimonA commented on #742
Mostly quality of life, ECMAScript has gone a long way since Nashorn.

This tweet and last commit on graal branch are 3 months old, are you blocked on something ? Can I help ?

[2019-05-28 09:56] ptrthomas commented on #742
@Decat-SimonA okay, I'd like to hold for a couple of weeks as there's someone I know who was trying to sync that branch to latest `develop`, while I have a half-thought to re-do that work with a fresh mind based on what I've learnt in the interim. other than arrow functions, there's no pressing need to migrate IMO as we still work in Java 12. but I'll make sure to tag you when we re-start the Graa

[2019-05-29 15:39] malakeel opened #789 "Add key/label to scenario"
I looked into the vocabulary at:

https://github.com/intuit/karate/blob/master/karate-core/src/main/antlr4/com/intuit/karate/core/KarateLexer.g4

I couldn't find any thing to add a label or key to a scenario. For example:
[code]

Having keys for each scenario may help in producing reports to track historical run.
A more general approach to add custom markers, for more use cases may find more use.

[2019-05-29 16:03] ptrthomas commented on #789
@malakeel sounds like you haven't seen tags we also support something beyond cucumber which is tags with values, please read: https://github.com/intuit/karate#tags

[2019-05-29 16:03] #789 closed

[2019-05-29 17:42] Decat-SimonA opened #790 "Injecting variable values in scenario outline doesn't work with `!`"
I'm trying to inject the value of the variable in the scenario outline name

For example, if `countries === ['USA' , 'Whatever']`
[code]

This scenario should be named: `name: foo and country: USA`
but it currently is `name: foo and country: countries[0]`

[2019-05-29 17:49] malakeel commented on #789
yes,
@TAG=VALUE
will do the trick.

Thank you.

[2019-05-29 18:07] ptrthomas commented on #790
sorry, not supported. you can't evaluate expressions in `Examples:` you can do that in `table`: https://github.com/intuit/karate#table

the `Examples` rows are instantiated before even the `Background` is evaluated. you can try "dynamic scenario outlines" if you really need this level of flexibility but I strongly discourage it, don't over-engineer tests: https://github.com/intuit/karate#dynamic-s

[2019-05-29 18:07] #790 closed

[2019-05-31 07:52] Decat-SimonA commented on #790
I'm not sure I understand. If I run this:

[code]
the `countries[0]` is evaluated: the request is `GET http://localhost?country=USA`

[2019-05-31 11:20] Decat-SimonA opened #792 "Callonce called with different arguments ignore the second call"
[code]

`setParams.feature` will not be called with the second set of parameters

[2019-05-31 11:49] Decat-SimonA opened #793 "Function wrapped in array are converted to string"
This currently doesn't work

[code]

It works if you change `return arrayWrappedFunction[0](value);` by `return baseFunction(value);` or `return karate.eval(arrayWrappedFunction[0])(value);`

[2019-05-31 12:16] ptrthomas commented on #793
this kind of complex js is not supported

[2019-05-31 12:16] #793 closed

[2019-05-31 12:18] ptrthomas commented on #792
follow these instructions to reopen https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-31 12:18] #792 closed

[2019-05-31 12:19] ptrthomas commented on #790
time for you to follow this process then: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-05-31 12:27] Decat-SimonA commented on #793
Arrays are considered complex JS ? 🤔

[2019-05-31 12:31] ptrthomas commented on #793
feel free to submit a pull request

[2019-05-31 12:40] Decat-SimonA commented on #792
re-open this please

[2019-05-31 13:03] Decat-SimonA commented on #790
Re-open please, I updated the  first comment

[2019-05-31 13:06] ptrthomas commented on #790
thx. the scenario title does behave differently from the body, so this is expected IMO - on the road so will take a look later

[2019-05-31 13:54] babusekaran commented on #792
`callonce` works based on the feature file which you are calling not on the argument which you are passing.. so if you want to run a feature **more than once**  you can use `call`

[2019-05-31 14:03] Decat-SimonA commented on #792
and if I want to call a feature `once` with different arguments ?

Use case: setup the server with multiple parameters before launching the tests

[2019-05-31 14:13] babusekaran commented on #792
there are plenty of ways for this, you can use `Scenario Outline` in your feature passing **n** number of values you want from `Examples` and do `callonce` or else try,

`* callonce read('util.feature')  [{ args: "foo"}, { args: "bar"}]`

this should work

[2019-05-31 15:14] Decat-SimonA commented on #793
I think this bug is not even caused by arrays at all.

Multiline expressions seems to be parsed differently (as text, as Javascript, as JSON) depending on totally non obvious reasons (simply moving a completely unrelated `call` around force `arrayWrappedFunction` to be parsed either as Text or as Javascript).

[2019-05-31 17:12] ptrthomas commented on #793
pull request

[2019-06-01 03:01] tellisnz-shift commented on #787
The commit 38ad211 seems to break java interop for us, but maybe we're doing something incorrectly so let me know. It goes like this:

In our karate-config.js, we add a reference to a Java type (which is actually a Kotlin object) that has a function we want to call in our scenarios, e.g. karate-config.js
[code]

Then in our scenario:
[code]

I've built the commit proceeding 38ad211 and it works fi

[2019-06-01 05:42] babusekaran commented on #787
@tellisnz-shift thanks, we need more info like return type of `createTestUserInDb`, but I would request to provide a working example to replicate this. can you please follow https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-06-01 07:29] tellisnz-shift commented on #787
Return type is irrelevant. The above should be enough info I would have thought, but have also created an example [here](https://github.com/tellisnz-shift/karate-interop-bug).

[2019-06-02 09:00] ptrthomas commented on #787
@tellisnz @tellisnz-shift thanks for noticing this, I have fixed this and also added a test-case. java references were indeed being "lost" until the fix. can you check if it is ok now ?

[2019-06-02 10:56] tellisnz-shift commented on #787
:+1: looks good.

[2019-06-04 09:42] cheparsky opened #794 "'set' action don't check if path contains a variable"
I have been already report this issue in https://stackoverflow.com/questions/54786489/karate-when-sending-jsonpath-to-another-feature-set-function-dont-see-that

And in comment I got reponse: "Variables will not work for the set command. And you cannot use JsonPath. If you have dynamic paths, you can do this, refer: https://github.com/intuit/karate#eval"

But 'eval' action doesn't support JsonPath

[2019-06-04 10:04] rahul267 commented on #683
Here you go : https://github.com/reportportal/agent-java-karate

[2019-06-04 12:41] kkris opened #795 "Arguments to karate.call pollute namespace of subsequent calls"
I think I found a regression from 0.9.2 (compared to 0.9.3.RC2) which was probably introduced by the fix in #722. It seems that (maybe only some) calls can pollute the namespace of the subsequent calls. In this case I found, the arguments passed to one karate.call are then also visible in any subsequent karate.call.

I have prepared a reproducing example:
[scopebug.zip](https://github.com/intuit/k

[2019-06-04 13:27] ptrthomas commented on #794
this is a "wontfix" for me. in fact `set` and jsonpath is NOT guaranteed and now I realize I explained this to you in detail here: https://stackoverflow.com/a/54928848/143475

you can refer to this issue if you really want to do a PR, but it is not easy IMO. I suggest you take the help of someone who can help you with maven and github

[2019-06-04 13:27] #794 closed

[2019-06-04 13:59] ptrthomas commented on #795
took a look and am giving up for now. the report for this `scopebug` example looks OK to me with the above fix.

<img width="484" alt="image" src="https://user-images.githubusercontent.com/915480/58884754-a3d57000-86fe-11e9-81df-8db1b5beaab1.png">

see if you can solve. hint, it is this line that appends the result (which is reported) onto the right "parent" https://github.com/intuit/karate/blob/d

[2019-06-04 14:06] kkris commented on #795
Ah, I think I worded my previous reply misleadingly. Your change does fix the bug exhibited by the `scopebug` example, but regresses the example attached in #728.

[2019-06-04 15:08] ptrthomas commented on #795
@kkris okay can you see if it works fine now ?

[2019-06-04 20:10] sask787 opened #796 "NoSuchMethodError:com.intuit.karate.cucumberCucumberRunner.<init>(Ljava/lang/Class;)"
Full Java Stack Trace.

java.lang.NoSuchMethodError: com.intuit.karate.cucumber.CucumberRunner.<init>(Ljava/lang/Class;)V
	at com.intuit.karate.junit4.Karate.<init>(Karate.java:34)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImp

[2019-06-05 00:40] ptrthomas commented on #796
https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-06-05 00:40] #796 closed

[2019-06-05 02:20] ptrthomas commented on #398
I made a point earlier in this thread that Karate would have value *even* if the HTTP client was removed, and here is proof - Karate as a *unit testing* framework: https://twitter.com/ptrthomas/status/1132515667310047233

it is worth mentioning that Karate has crossed Cucumber-JVM in terms of GitHub stars - which is ironic since Karate was once based on that code base. another framework that we ha

[2019-06-05 06:42] kkris commented on #795
Both #728 #722 and #795 are fixed with your change if I change the context as you suggested above:
`callContext.reportContext.addCallResult(result)` instead of `callContext.context.addCallResult(result)`

[2019-06-05 06:57] ptrthomas commented on #795
@kkris wow I totally missed the most important part, thanks for catching that ! guess this is fixed now

[2019-06-05 07:13] kkris commented on #795
Yes, perfect!

[2019-06-05 19:10] jesimone57 opened #797 "multipart/form-data endpoint success from REST client but fails in Karate tests"
The stack overflow discussion is here:

[Stackoverflow discussion](https://stackoverflow.com/questions/55640639/karate-how-to-test-multipart-form-data-endpoint)

A mimimal, complete and verifiable example project may be found here:
[mimimal, complete and verifiable example](https://github.com/jesimone57/multipart-form-api-example)

To reproduce follow README instructions to clone and build project

[2019-06-05 21:16] avyas commented on #683
@rahul267 it does work! I guess it will work well for the Karate version before exiting from cucumber, i think that was 0.9 !
You planning to bump to latest karate version?
I'll take conversation to your project.

[2019-06-06 04:05] ptrthomas commented on #797
@jesimone57 I never realized that you were using the mock servlet until now, even though you had mentioned it on stack overflow, my bad. I'm making one change to the code to make the error message more helpful

and now I realize you have raised this other open issue: https://github.com/intuit/karate/issues/710#issuecomment-478219191

so yes, the mock servlet is not perfect and especially in the fo

[2019-06-06 20:56] braedenbodily-rs opened #798 "Race Condition Setting Variables In Background"
[background_race_condition.zip](https://github.com/intuit/karate/files/3263435/background_race_condition.zip)

The following conditions will lead to a race condition:
1.  The runner (RaceConditionRunner) is  running multiple threads in parallel.
2.  The background generates a random value for each scenario.

In the provided project two random dates are generated in the background for each scenario

[2019-06-07 08:12] ptrthomas commented on #798
I'm not able to make sense of the description, do you think you can make the following changes to the way to replicate:

- don’t use dates, just use random numbers to keep it simple
- use a singleton to keep track of all the numbers generated to verify that there was a collision - example here: [`call-once.feature`](https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intui

[2019-06-07 13:59] ptrthomas commented on #798
@braedenbodily-rs closing, but feel free to re-open with a better example. the more I read your description, the more it sounds like it is either a co-incidence, or a problem with the java date string formatting class which is known to be NOT thread safe: https://stackoverflow.com/a/6840856/143475

[2019-06-07 13:59] #798 closed

[2019-06-08 04:22] ptrthomas commented on #707
moving this to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529251

[2019-06-08 04:22] #707 closed

[2019-06-08 04:23] ptrthomas commented on #797
closing and moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529274

[2019-06-08 04:25] ptrthomas commented on #742
moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529293

[2019-06-08 04:25] #742 closed

[2019-06-08 04:26] ptrthomas commented on #762
closing and moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529251

[2019-06-08 04:26] #762 closed

[2019-06-08 04:27] ptrthomas commented on #757
moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529320

[2019-06-08 04:29] ptrthomas commented on #710
moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529274

[2019-06-08 04:31] ptrthomas commented on #396
moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529343

[2019-06-08 04:31] #396 closed

[2019-06-08 04:36] ptrthomas commented on #699
moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529225

[2019-06-08 04:38] ptrthomas commented on #474
moving to project roadmap board: https://github.com/intuit/karate/projects/3#card-22529196

@bmcnama feel free to refer this ticket for future PR-s or open a new one

[2019-06-08 04:38] #474 closed

[2019-06-08 14:14] ptrthomas opened #799 "implement karate.exec() to run native os commands"
already seen the need a few times to do this especially for use-cases like starting a Windows exe to test and using Sikuli

while `Runtime.exec()` is easy via Java interop, it will be convenient to have this API return the console output

[2019-06-08 14:42] ptrthomas opened #800 "implement karate.keysOf() valuesOf() and sizeOf() for convenience"
convenient for general purpose collections manipulation, felt to be needed often based on experience and to prepare us for Graal in the future where JSON may stop behaving like `java.util.Map`

- `karate.keysOf(o)` - if map-like, return a list of the keys (else throw an exception)
- `karate.valuesOf(o)` - if map-like return a list of values, if list-like return itself
- `karate.sizeOf(o)` whether

[2019-06-08 15:48] ptrthomas commented on #800
and forgot to tag this issue in commit: https://github.com/intuit/karate/commit/f09470fe7c22f391dea0f1f2ff4eb145d7b87f1d

also added `karate.appendTo()` to be an alternative to `varName.add(o)` used today where `varName` is known to be a list-like object

[2019-06-10 01:41] ptrthomas commented on #800
released 0.9.3

[2019-06-10 01:41] #800 closed

[2019-06-10 01:42] ptrthomas commented on #799
released 0.9.3

[2019-06-10 01:42] #799 closed

[2019-06-10 01:42] ptrthomas commented on #795
released 0.9.3

[2019-06-10 01:42] #795 closed

[2019-06-10 01:42] ptrthomas commented on #787
released 0.9.3

[2019-06-10 01:42] #787 closed

[2019-06-10 01:42] ptrthomas commented on #781
released 0.9.3

[2019-06-10 01:42] #781 closed

[2019-06-10 01:42] ptrthomas commented on #780
released 0.9.3

[2019-06-10 01:42] #780 closed

[2019-06-10 01:43] ptrthomas commented on #779
released 0.9.3

[2019-06-10 01:43] #779 closed

[2019-06-10 01:43] ptrthomas commented on #775
released 0.9.3

[2019-06-10 01:43] #775 closed

[2019-06-10 01:43] ptrthomas commented on #774
released 0.9.3

[2019-06-10 01:43] #774 closed

[2019-06-10 01:43] ptrthomas commented on #773
released 0.9.3

[2019-06-10 01:43] #773 closed

[2019-06-10 01:43] ptrthomas commented on #772
released 0.9.3

[2019-06-10 01:43] #772 closed

[2019-06-10 01:43] ptrthomas commented on #770
released 0.9.3

[2019-06-10 01:43] #770 closed

[2019-06-10 01:44] ptrthomas commented on #767
released 0.9.3

[2019-06-10 01:44] #767 closed

[2019-06-10 01:44] ptrthomas commented on #760
released 0.9.3

[2019-06-10 01:44] #760 closed

[2019-06-10 01:44] ptrthomas commented on #759
released 0.9.3

[2019-06-10 01:44] #759 closed

[2019-06-10 01:44] ptrthomas commented on #753
released 0.9.3

[2019-06-10 01:44] #753 closed

[2019-06-10 01:44] ptrthomas commented on #747
released 0.9.3

[2019-06-10 01:44] #747 closed

[2019-06-10 01:44] ptrthomas commented on #745
released 0.9.3

[2019-06-10 01:44] #745 closed

[2019-06-10 01:45] ptrthomas commented on #743
released 0.9.3

[2019-06-10 01:45] #743 closed

[2019-06-10 01:45] ptrthomas commented on #741
released 0.9.3

[2019-06-10 01:45] #741 closed

[2019-06-10 01:45] ptrthomas commented on #737
released 0.9.3

[2019-06-10 01:45] #737 closed

[2019-06-10 01:45] ptrthomas commented on #735
released 0.9.3

[2019-06-10 01:45] #735 closed

[2019-06-10 01:45] ptrthomas commented on #730
released 0.9.3

[2019-06-10 01:45] #730 closed

[2019-06-10 01:46] ptrthomas commented on #724
released 0.9.3

[2019-06-10 01:46] #724 closed

[2019-06-10 01:46] ptrthomas commented on #722
released 0.9.3

[2019-06-10 01:46] #722 closed

[2019-06-10 01:46] ptrthomas commented on #721
released 0.9.3

[2019-06-10 01:46] #721 closed

[2019-06-10 01:46] ptrthomas commented on #718
released 0.9.3

[2019-06-10 01:46] #718 closed

[2019-06-10 01:46] ptrthomas commented on #717
released 0.9.3

[2019-06-10 01:46] #717 closed

[2019-06-10 01:47] ptrthomas commented on #716
released 0.9.3

[2019-06-10 01:47] #716 closed

[2019-06-10 01:47] ptrthomas commented on #715
released 0.9.3

[2019-06-10 01:47] #715 closed

[2019-06-10 01:47] ptrthomas commented on #708
released 0.9.3

[2019-06-10 01:47] #708 closed

[2019-06-10 01:47] ptrthomas commented on #703
released 0.9.3

[2019-06-10 01:47] #703 closed

[2019-06-10 01:47] ptrthomas commented on #702
released 0.9.3

[2019-06-10 01:47] #702 closed

[2019-06-10 19:36] kendall-schmidt-sp opened #801 "Issue with regex in "nested" in-line short-cut"
**NOTE:** I'm unable to provide a complete standalone project that will exhibit this issue due to confidentiality concerns. I will attempt to be as thorough as I can be with code snippets.

## Problem
The regex expression contained in a "nested" in-line short-cut fails to match on a "date" when used in conjunction with a scenario outline containing more then 1 example.

## Code Snippet

Scenario O

[2019-06-10 22:10] kendall-schmidt-sp commented on #801
I'm closing this issue as "user error". Upon further digging I found that my response data was returning varying 'date' formats that _sometime_ includes the milliseconds and other times does not (older data). I needed to further refine my #regex pattern being used for matching the **created:** key.

Thanks PT for all your assistance.

[2019-06-10 22:10] #801 closed

[2019-06-12 04:20] warrenc5 commented on #751
even just some nice debug logging so we can see exact file it's looking for and where it's looking.

![image](https://user-images.githubusercontent.com/3395365/59323228-1eb11300-8d1d-11e9-92b5-a6812fbbd204.png)

[2019-06-12 08:36] ptrthomas opened #802 "configure proxy edge case JSONArray not convert-able to Nashorn ScriptObjectMirror"
as reported here: https://stackoverflow.com/q/56555491/143475

[2019-06-12 12:49] ptrthomas commented on #281
adding one more reference link: https://www.baeldung.com/java-ssl-handshake-failures

[2019-06-12 16:31] mattjm commented on #281
I'll add a couple comments about SSL debugging from my years of experience supporting TLS mutual auth:

1.  Don't use Java keystores, use PKCS12.  Java keystores require everything be done just perfectly in exactly the right order...and even then they won't work half the time.

2.  Trust path problems can also be caused by missing intermediate certificates (e.g. you trust the root cert, but the se

[2019-06-12 16:39] ptrthomas commented on #281
@mattjm wow, thanks matt ! by any chance are you interested in taking up this challenge - https://github.com/intuit/karate/projects/3#card-22529464 or at least if I get started with a Netty sample, hope you can help debug SSL handshakes, this is where I got stuck the last time I tried

[2019-06-12 16:56] mattjm commented on #281
Let me ruminate on that one a bit...could be really interesting.  I can help debug SSL in any case...that is one thing I am definitely good at.  Can you add me to the Slack channel?  We can discuss there without cluttering up this thread.

[2019-06-12 17:00] ptrthomas commented on #281
@mattjm done, I used the mail address on your github profile

[2019-06-13 08:25] Decat-SimonA commented on #793
Release 0.9.3 broke this again

[code]

**might** (see previous comment) be considered as JSON and throws
[code]

[2019-06-13 08:40] gabrielvieira10 opened #803 "Screenshot for large browser size doesn't work"
Right now I'm implementing UI Test Automation in linux with the following configuration:

login_mock.feature
[code]

And chrome-setup:
[code]

The following error occurs when running:
[code]

PS: For small window size (600x480) it works normally.

[2019-06-13 09:09] ptrthomas commented on #803
@gabrielvieira10 tagging as "help wanted" we'd like contributors to step forward

[2019-06-13 09:11] ptrthomas commented on #793
works for me

[2019-06-13 10:52] gabrielvieira10 commented on #803
Thank you for the fast answer.
Also, if measurable, I'd like to know which is the max browser size supported.

[2019-06-14 05:39] ptrthomas commented on #803
@gabrielvieira10 I actually have no idea :) keep in mind the UI automation is still experimental. one idea is maybe using Chrome's convert to PDF option may give you what you are looking for - refer https://github.com/intuit/karate/issues/781#issuecomment-494275757

[2019-06-17 05:31] ptrthomas commented on #398
one [recent improvement](https://github.com/intuit/karate/commit/4c08ac1ea3004e9005e4ad6cdcd4626bcf9a0282) very relevant to this thread is that the `eval` keyword can be omitted for method calls on variables in scope, this brings even closer to a "DSL like" experience, refer the 4th line below in the `Background:`

<img width="815" alt="image" src="https://user-images.githubusercontent.com/915480/

[2019-06-18 08:55] lidonis opened #804 "Wrong link to karate gRPC"
Hi,

The README has a link to page https://thinkerou.com/karate-grpc/ that does not exist.

[2019-06-18 13:34] bitlin opened #805 "The JUnit report missed the karate.call info after * eval if (xxx)"
https://stackoverflow.com/questions/56648890/the-junit-report-missed-the-karate-call-info-after-eval-if-xxx

I have a demo that can reproduce the issue:

examples/logic/demo.feature:
[code]
examples/logic/logicDemoGetCalled1.feature
[code]

When I run the demo.feature, it's logged in the console as expected, but missed in the JUnit HTML report.  And, the info stopped in the * eval if  ...  sentenc

[2019-06-18 14:05] ptrthomas commented on #805
it works for me:

<img width="730" alt="image" src="https://user-images.githubusercontent.com/915480/59691150-334f4880-9200-11e9-9239-02adebb1482d.png">

so I think you have to follow the full instructions (zip file or github project)

[2019-06-18 14:05] #805 closed

[2019-06-18 14:26] RakhmedovRS opened #806 "Karate 0.9.3 cannot read karate-config.js"
First off all, sorry for my english.

I was read issue [530](https://github.com/intuit/karate/issues/530), a have similar trouble.
I've run test directly from classpath in IntelliJ Idea. Test and Feature file located at directory ..\smart\mapi\. When i run test i see "WARN  com.intuit.karate - skipping bootstrap configuration: could not find or read file: classpath:karate-config.js"

I was debug t

[2019-06-18 14:32] ptrthomas commented on #806
@RakhmedovRS unfortunately - it is not possible without seeing your full project, so you will have to follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

this hasn't been reported by anyone else yet - so it is unlikely to be an issue in karate

[2019-06-18 14:32] #806 closed

[2019-06-18 15:35] RakhmedovRS commented on #806
It's all ok now. I was executed "clean" and "verify" maven task's

[2019-06-18 16:00] ptrthomas commented on #806
@RakhmedovRS great, thanks !

[2019-06-18 17:23] bbchristians opened #807 "0.9.3 Breaking Change to File Loading"
### Problem

There was a breaking change (undocumented afaik) that exists when loading files into local scope. I tested this with both YAML and JSON and was able to replicate across both formats.

[code]

### How to Replicate

Run the sample project (attached) and all tests will pass. Change the karate version in the pom file to 0.9.3 and two of the 4 tests will fail.

[testproj.zip](https://githu

[2019-06-18 18:00] ptrthomas commented on #807
I'll admit this has me stumped a bit. it was never the intent to have even `* call read('foo.json')` work, `call` is designed only for calling a JS function or Karate feature. not JSON or any other "flat file" format.

for 0.9.3 please make this change - using the new `karate.set(map)` API, I'll not add this to the release notes yet. if you can figure how it used to be working earlier that would h

[2019-06-18 18:32] ptrthomas commented on #807
reopening. this commit actually made `read` into a Java lambda and NOT a JS function anymore: https://github.com/intuit/karate/commit/f09470fe7c22f391dea0f1f2ff4eb145d7b87f1d

and `call` has 2 forms, one for a feature file and the other for JS which works like this:

`call jsFunctionRef jsFunctionArg`

and separated by spaces. so what used to work is this:

`* call read ('constants.yaml')`

which

[2019-06-19 08:34] ptrthomas commented on #807
this has been fixed, so now BOTH the below forms will work, where `cat.json` is: `{ "name": "Bob", "age": 5 }`

[code]

although this was never designed for in the first place, `* call read filename` has now emerged as a nice short-cut to inject a bunch of variables into the context from a JSON (or YAML) file

[2019-06-20 13:20] ptrthomas opened #808 "improvement: karate JS API to start given mock feature"
As of today we document this approach, but the time has come to make this a one-liner, especially since the netty stuff is bundled in core !

probably a `karate.start({ mock: 'classpath:foo.feature', port: 8443, ssl: true, arg: { a: 1 } })`

<img width="908" alt="image" src="https://user-images.githubusercontent.com/915480/59851816-2a3eb280-938b-11e9-8365-c6dd9eb3467f.png">

[2019-06-21 04:03] ptrthomas opened #809 "improvement: API to get details about the OS for conditional logic"
The proposal is to have an API like `karate.osInfo` that returns something like this:

`{ type: 'mac', name: 'Mac OS X' }`

where `name` comes from `System.getProperty("os.name")` and `type` is convenient for scripts for example this pattern:

[code]

[2019-06-24 11:13] thinkerou commented on #519
Hi, @ptrthomas because the text includes some impressible info of my company, can you help delete it? Thanks a lot!!!!!

[2019-06-24 12:35] ptrthomas commented on #519
@thinkerou is it ok now ?

[2019-06-24 13:41] thinkerou commented on #519
@ptrthomas thanks a lot! it's ok.

[2019-06-24 14:15] ptrthomas commented on #757
prioritizing this work

[2019-06-24 17:09] ptrthomas opened #810 "improvement: make it easier to assert that a JSON matches a super-set schema"
refer discussion here: https://stackoverflow.com/a/56695453/143475

via new proposed `karate.retainKeys()` API

[code]

As a convenience, the second argument can also be a JSON array of the desired key names to "retain"

[code]

[2019-06-25 08:49] ptrthomas commented on #810
done, decided to change method to `karate.filterKeys()`

[2019-06-25 14:58] EB123 opened #811 "Issue with long type values"
Hi,

Seems like when migrating from java 8 to java 11 something changed with handling variables with a long-type value.

For example:

When using java 8, the following code:
[code]

Will result in:
`[ForkJoinPool-1-worker-1] INFO com.intuit.karate - [print] 1561470994959`

But when running the exact same code but with java 11, you get:

`[ForkJoinPool-1-worker-3] INFO com.intuit.karate - [print] 1

[2019-06-25 15:03] ptrthomas commented on #811
try with a BigDecimal and let us know how it goes: https://github.com/intuit/karate#large-numbers

[code]

[2019-06-25 15:03] #811 closed

[2019-06-25 15:03] EB123 commented on #811
Sorry, nevermind :smile: I think it was on my end:
* def n = function(){ return new java.math.BigDecimal(java.lang.Long.valueOf("1561470994959")) }

[2019-06-25 15:04] EB123 commented on #811
@ptrthomas yeah just figured it out. tested it and it worked. Thanks!

[2019-06-25 15:04] ptrthomas commented on #811
awesome thx 👍

[2019-06-25 15:08] EB123 commented on #811
@ptrthomas By the way, I think it means that:
`function(){ return java.lang.System.currentTimeMillis() }`
as suggested in the  [Commonly Needed Utilities](https://github.com/intuit/karate#commonly-needed-utilities) section won't work on java 11 without the `BigDecimal` addition (this was the original use case that brought us to this issue).

[2019-06-25 15:09] ptrthomas commented on #811
@EB123 many thanks for the update ! I'll probably change that to `function(){ return java.lang.System.currentTimeMillis() + '' }`

[2019-06-26 08:39] ptrthomas commented on #699
for others landing here and from #449 - please refer this solution on Stack Overflow (see comment): https://stackoverflow.com/a/56745485/143475

here's some sample code:

[code]

[2019-06-26 13:46] petersear opened #812 "Add unit tests for FileUtils, StringUtils and Tag classes"
Hello
I have opened this issue as a follow-up to [intuit#726](https://github.com/intuit/karate/issues/726) which I am unable to reopen (apologies for the delay).

I have now added further unit tests for the `com.intuit.karate.core.Tag` class as well as additional tests, as requested, for two more classes:
`com.intuit.karate.FileUtils`
`com.intuit.karate.StringUtils`

They can be seen on the tempor

[2019-06-26 14:10] ptrthomas commented on #812
@petersear yep looks good, I just made 2 comments to change - let me know if you can't see them

[2019-06-26 14:33] ptrthomas commented on #398
its a me again, sounding like a broken record ! just wanted to post this "DSL like" example that is achievable with Karate (commit: https://github.com/intuit/karate/commit/bfec62664a8821b9d2c6212f14e08905c286f748)

- note how the JS engine serves as the perfect "glue"
- the `call` keyword provides some readability, function arguments look less "noisy"
- features can be assigned to variables (with

[2019-06-26 15:14] petersear commented on #812
PR merged, closing issue.

[2019-06-26 15:14] #812 closed

[2019-06-26 23:17] aanutter commented on #699
Masking input in the logs can done through the `logback.xml`:
`<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'(?&lt;=api-key:).*', ' xxxx'}%n</pattern>`

[2019-06-27 09:32] ptrthomas opened #814 "Empty string as response causes JSON assertions to pass"
From discussion here: https://stackoverflow.com/q/56784911/143475

Example, this passes:

[code]

[2019-07-02 15:30] ptrthomas commented on #794
there is no need for this. in the latest dev version of karate you can do this:

[code]

try it and see. in fact going forward, we might recommend to stop using `set` completely.

[2019-07-02 17:21] mhp0rtal opened #816 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => karate-core/src/main/java/com/intuit/karate/http/HttpUtils.java: Line number => 140: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR>

[2019-07-02 19:47] ptrthomas commented on #816
perhaps, but why don't you submit a PR instead of this vagueness

closing as wontfix in the meantime as karate is a testing tool not a production runtime

[2019-07-02 19:47] #816 closed

[2019-07-02 19:49] ptrthomas commented on #816
@mhp0rtal  LOL: https://github.com/mob41/broadlink-java-api/issues/22#issuecomment-507780296

<img width="714" alt="image" src="https://user-images.githubusercontent.com/915480/60542051-d3f53c00-9cc7-11e9-997e-bf83ee5a9127.png">

[2019-07-04 15:59] flisowski opened #817 "Problem with passing config as part of karate.callSingle()"
Hello there,
As described on [stackoverflow issue](https://stackoverflow.com/questions/56671841/problem-with-passing-config-as-part-of-karate-callsingle) I am getting unexpected errors when trying to pass a config item to a feature file I call from callSingle() in karate-config.js.

[myproject.zip](https://github.com/intuit/karate/files/3359918/myproject.zip)

Error I'm getting:

[code]

[2019-07-04 16:30] ptrthomas commented on #817
@flisowski just tried - after having to comment out the one line that does `* configure proxy`

[code]

so you'll have to help us out here, maybe by debugging or checking if this is related to a proxy issue

[2019-07-04 16:30] #817 closed

[2019-07-04 16:37] ptrthomas commented on #751
closing because of inactivity

[2019-07-04 18:42] ptrthomas commented on #809
will use the bytedeco project as a reference for standardizing the platform naming conventions

quoting from the readme at: https://github.com/bytedeco/javacpp-presets/blob/master/README.md

possible platform names are:
[code]

so will make a change to use `macosx`

[2019-07-05 12:50] flisowski commented on #817
It must be environmental, I've tried it on my other laptop which is windows and it worked fine ( my work station is mac ).

I can see the error is coming from [https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/Script.java#L1748](https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/Script.java#L1748). I've set a break point

[2019-07-05 13:21] ptrthomas commented on #817
@flisowski seems to be a hint here: https://stackoverflow.com/a/28447943

exact Java version ? if this is something that goes away with an upgrade, I'm inclined to ignore.
as a workaround, try:

`config = karate.toJson(config)` or
`config = karate.toBean(config, 'java.util.HashMap')`

[2019-07-05 13:56] khanguyen88 opened #818 "WebSocketOptions doesn't use the provided "headers" map"
Based on the following code:

[code]

The "headers" map is not used anywhere as opposed to the docs https://github.com/intuit/karate#websocket

[2019-07-05 14:18] flisowski commented on #817
@ptrthomas I've updated my maven, and jdk8 to the latest release before I had a chance to try your workaround - it works now. Must had been something to do with the older version. Thank you for your support!

[2019-07-05 15:39] ptrthomas commented on #818
thanks for catching this, I've just requested a change, do confirm and re-submit the PR

[2019-07-05 15:40] ptrthomas commented on #817
@flisowski thanks for the update !

[2019-07-05 19:24] ptrthomas commented on #818
@khanguyen88 never mind, I accepted your pr

[2019-07-06 02:47] ptrthomas commented on #818
released 0.9.4

[2019-07-06 02:47] #818 closed

[2019-07-06 02:47] ptrthomas commented on #814
released 0.9.4

[2019-07-06 02:47] #814 closed

[2019-07-06 02:47] ptrthomas commented on #810
released 0.9.4

[2019-07-06 02:47] #810 closed

[2019-07-06 02:47] ptrthomas commented on #809
released 0.9.4

[2019-07-06 02:47] #809 closed

[2019-07-06 02:48] ptrthomas commented on #808
released 0.9.4

[2019-07-06 02:48] #808 closed

[2019-07-06 02:48] ptrthomas commented on #807
released 0.9.4

[2019-07-06 02:48] #807 closed

[2019-07-06 02:48] ptrthomas commented on #804
released 0.9.4

[2019-07-06 02:48] #804 closed

[2019-07-06 02:48] ptrthomas commented on #802
released 0.9.4

[2019-07-06 02:48] #802 closed

[2019-07-06 02:48] ptrthomas commented on #757
released 0.9.4

[2019-07-06 02:48] #757 closed

[2019-07-06 06:04] ericdriggs opened #820 "Embedded expressions does not replace keys in JSON"
Related: https://github.com/intuit/karate/issues/512

Failing test below and in: https://github.com/ericdriggs/karate-key-template-bug

[code]

[2019-07-06 08:10] ptrthomas commented on #820
@ericdriggs yes as per design, embedded expressions work only for values, not keys. here is what you need to do for your use-case:

[code]

[2019-07-06 08:10] #820 closed

[2019-07-08 10:00] kkris opened #821 "Javascript functions not callable if read during karate-config.js evaluation"
The attached example works in karate 0.9.3.RC2 but fails in 0.9.3 and higher. The failing test (Call via config) fails with the error

`com.intuit.karate.exception.KarateException: test.feature:4 - javascript evaluation failed: funcs.calc(1), TypeError: funcs.calc is not a function in <eval> at line number 1

	at ✽.* def res = funcs.calc(1) (test.feature:4)`

[reproducing-example.zip](https://gith

[2019-07-08 10:32] ptrthomas commented on #821
yes, this is going to be a "wont fix". we have a limitation now that the `karate-config.js` (and actually any object returned from a JS evaluation) will retain functions only if they are the top-level JSON object properties. I can add this to the docs.

details and rationale are in commit history for #787 - if we change this we take a performance penalty for any variable that originates from JS

p

[2019-07-08 10:32] #821 closed

[2019-07-08 18:32] ptrthomas commented on #699
an update for anyone landing here, just figured it is very easy to hide all logs in the console by commenting out the `STDOUT` log appender as follows, refer https://stackoverflow.com/a/56937882/143475

[code]

this is great for teams who don't want too much console output especially when running CI jobs

and if you comment out the `FILE` appender you won't have anything in the `karate.log` file e

[2019-07-08 21:32] guptapranay opened #822 "Failure in called feature file report"
I am using calling another feature file from current feature file. While running as JUNIT, I am able to see the expected result, but console generates two report files:
- calling.feature file report shows all steps being passed (Including steps for called.feature)
- called.feature file report shows failure for step - And request __arg (called.feature:7 - javascript evaluation failed: __arg, Refere

[2019-07-08 21:36] ptrthomas commented on #822
impossible to tell without seeing your full project. closing this as you have not followed the instructions: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

my guess is you are missing an `@ignore` tag on the called feature and you have not used a JUnit runner properly - so all your features are being run. READ. THE. DOCS.

[2019-07-08 21:36] #822 closed

[2019-07-09 09:36] Chralu opened #823 "`mvn test` doesn't run tests"
Hi all,

I'm having trouble executing Karate tests using Maven.
Any help is welcome ;)

# Steps  to reproduce :

## Create a new project using `archetype`

[code]
## Run tests

[code]
# Expected
Tests are compiled, then run.

# Actual
Tests are compiled, but never run. The folder `target/surefire-reports` doesn't exist.

Here is the `mvn test` output :

[code]

# About my environment

[code]

Than

[2019-07-09 11:42] ptrthomas commented on #823
@Chralu thanks, we indeed missed a step in the archetype when moving to JUnit 5. You have 2 simple options

a) generate the archetype for 0.9.3 e.g. `-DarchetypeVersion=0.9.3` and then edit the `pom.xml` by hand to `<karate.version>0.9.4</karate.version>`

b) or - add 2 sections to the `pom.xml` - note the `junit-jupiter-engine` dependencies/dependency and `maven-surefire-plugin` build/plugin adde

[2019-07-09 13:44] Chralu commented on #823
Thanks @ptrthomas ! It works fine with JUnit5.
You made my day \o/

[2019-07-09 15:20] ptrthomas commented on #823
@Chralu great ! thank you for raising this genuine issue, I updated the docs as well. I'll keep this open as something pending 0.9.5 when it will be properly fixed

[2019-07-12 12:59] ouquoi commented on #379
is there a way to have specific rendering of print output in the cucumber report ?
Actually print output is displayed like any other lines.
Thanks for the answer

[2019-07-12 13:41] yazidaqel opened #824 "Run mvn test with different tag override generate report files"
Hello,
Surefire Reports gets overridden when executing the mvn test command with different karate tag options

[2019-07-12 13:44] ptrthomas commented on #824
of course, what did you expect. please ask these kinds of low quality questions on stack overflow, thanks.

[2019-07-12 13:44] #824 closed

[2019-07-12 13:45] ptrthomas commented on #379
@ouquoi you can look at HTML via `karate.embed()` here is an example: https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/embed/embed.feature

[2019-07-12 15:35] ouquoi commented on #379
Thanks for your answer, i was not aware of this features can usefull in some context but i search for something that can be directly displayed without any action.
After some test with `karate.embed()` i have this output as you see this need a click to see the content.
![image](https://user-images.githubusercontent.com/6996023/61140155-34a42600-a4cb-11e9-9455-fb8064009899.png)
![image](https://user

[2019-07-12 15:44] ptrthomas commented on #379
@ouquoi yep ! keep in mind this is a 3rd-party report. eventually we will have our own "native" karate report where we will have full control. for now it is a good strategy to be cucumber-compliant and make use of the ecosystem, for example we have the following other integrations: allure, assertThat, [trivago cluecumber](https://github.com/trivago/cluecumber-report-plugin#cluecumber-report-maven-

[2019-07-12 17:32] Rishim1 opened #825 "Karate: Invalid Json request is not being sent to server"
I am using a json request and as part of negative testing, I am making it as invalid as below.
I have removed the comma at the end of plancode line and I am expecting this request to go to server and show the error response from server.The problem is it is giving me syntax error in Karate as  net.minidev.json.parser.ParseException: Unexpected token "

It is working fine through SOAP UI. Need help

[2019-07-12 17:43] ptrthomas commented on #825
@Rishim1 you missed a comma. I leave it to you to figure out. in future please ask these kinds of questions of stack overflow.

[2019-07-12 17:43] #825 closed

[2019-07-12 18:05] Rishim1 commented on #825
Yes I leave the comma intentionally in order to test a negative scenario. The question is , does Karate supports it ? because SOAP UI does

[2019-07-12 20:35] yazidaqel commented on #824
Sorry about that. I think I did not explain my question correctly. Nevermind

[2019-07-12 20:54] Gokuroro opened #826 "Match Contains for objects changes to equals when running recursively"
When testing for `match actual contains expected` and the structure is more complex (objects containing objects) the deeper tests will not be "contains", but "equals" instead.

Working Example:
[code]

Not Working Example:
[code]
The second example fails with the message:
`path: $.d, actual: {a=1, b=2}, expected: {b=2}, reason: actual value has 1 more key(s) than expected: {a=1}`

Given it is a "c

[2019-07-12 21:59] ptrthomas commented on #825
@Rishim1 apologies, I tend to read the issues in a hurry. have answered on stack overflow: https://stackoverflow.com/a/57014394/143475

[2019-07-12 22:12] ptrthomas commented on #826
This is a "wontfix" for me since you have the following reasonable, easier to grok approach:

[code]

feel free to challenge, or better still contribute a fix, then maybe you will understand why :P

[2019-07-13 00:24] Gokuroro commented on #826
The challenging on my part is that when I send an input for an update method and need to check if the result is correct (and it sends extra data). THAT SAID, I'll take a look into the code and try to understand the reasoning behind it.
Thank you for your input.

[2019-07-13 00:30] ptrthomas commented on #826
sorry that's hard to understand. can you explain that with an example and I can either advise how you can handle that with existing karate features - or be convinced that karate needs to change

[2019-07-13 00:37] Gokuroro commented on #826
Example given would be an update/create API method which receives something like:
[code]
And it (or another endpoint) returns something like:
[code]
(line2 being an optional field for create/update, so sending it is not needed, but the GET/response will always return it)
This is a hypothetical example, in the real world there may be deeper levels of small differences like that which just manipulat

[2019-07-13 01:12] ptrthomas commented on #826
@Gokuroro okay, that does make sense ! I think I have fixed this in the `develop` branch can you check. dev instructions are in the wiki: https://github.com/intuit/karate/wiki/Developer-Guide

[2019-07-13 01:20] Gokuroro commented on #826
Looking into it to try and do some tests around it.

[2019-07-13 01:59] ptrthomas commented on #823
adding some relevant info I found: https://dzone.com/articles/why-your-junit-5-tests-are-not-running-under-maven

[2019-07-13 02:07] ptrthomas commented on #826
@Gokuroro it would help if you figure out a solution else you can wait for the 0.9.5 release I guess - if anyone else is reading this thread please help. FYI the build works in CI: https://travis-ci.org/intuit/karate

[2019-07-13 03:44] Gokuroro commented on #826
@ptrthomas I did some more tests and unfortunately I could not find a way to fix that compilation issue. I don't think I have enough knowledge to go further as of now, but if it helps I can try to thinks some more scenarios to add to your tests and send a pull request or something.
Thank you very much for the enhancement!

[2019-07-16 00:09] ptrthomas opened #827 "improve and unify cli execution"
- make the [IDE utils]() take a main method so that we can eventually deprecate the fake [cucumber CLI](https://github.com/intuit/karate/blob/master/karate-core/src/main/java/cucumber/api/cli/Main.java)
- should be possible to use parallel runner via native CLI and specify threads. problem is reports because the cucumber reporting is optional and not in classpath by default. perhaps use the JUnit

[2019-07-16 17:13] ptrthomas opened #828 "support multiple embed items per step in the html report"
as per discussion here: https://stackoverflow.com/a/55345610/143475

looks like we started out only supporting one even though the cucumber-json supports multiple: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/core/StepResult.java#L92

[code]

[2019-07-17 07:36] ajijshaikh commented on #240
Don't put up space after *

Correct way - *def
Incorrect way - * def

[2019-07-17 10:28] ervaibhs86 opened #829 "$..security[*] == '#[1]' works fine but when I try size($..security[*]) or Karate.SizeOf($..security[*]), it doesn't give me the count. Is there any other way to get the size of the Json response."
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-07-17 12:31] ptrthomas commented on #829
@ervaibhs86 terrible question. please use stack overflow

[2019-07-17 12:31] #829 closed

[2019-07-17 16:04] ptrthomas opened #830 "karate.get() should take optional default value"
just got this idea that I think a lot of folks will like. a question comes up a lot as to how to set a variable only if it is not defined. turns out `karate.get()` gets you halfway there currently - it will return `null` if the variable does not exist.

a simple enhancement will be to make `karate.get()` take an optional second argument that will be the default value !

[2019-07-17 21:37] ptrthomas commented on #755
looks like this has been requested here: https://github.com/damianszczepanik/cucumber-reporting/pull/636

but looks unlikely to be fixed in the near future. I'm proposing we flip any skipped steps after an abort to "passed" - well anyway I keep saying that abort() is not the most elegant way to write tests - so here goes. reopening

[2019-07-17 21:57] ptrthomas commented on #803
@gabrielvieira10 closing because of inactivity

[2019-07-17 21:57] #803 closed

[2019-07-18 06:17] ervaibhs86 commented on #829
Thanks Peter, I will do the same.

[2019-07-18 11:28] harishbh opened #831 "Can Karate work with POM framework"
Can Karate work with POM framework and also does it support SOAP API's

[2019-07-18 12:02] ptrthomas commented on #831
@harishbh please ask these kinds of low quality questions on stack overflow, thanks

[2019-07-19 12:59] ajijshaikh opened #832 "When we pass command line args to a class and call the DemoTestSelected class function - testSelected which runs feature file and generate report then the report gets generated twice."
Hey, I created one class to which I am passing the name of two feature files as command line args.
I am using the class DemoTestSelected for report generation bypassing that feature files to generate the report. But the report gets generated twice. First, it searches for the path which we give like /src/test/test.feature and then it travels the path from the root like /home/ajij/...../src/test/tes

[2019-07-19 13:36] ptrthomas commented on #832
@ajijshaikh follow the instructions please, thanks: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-07-19 13:36] #832 closed

[2019-07-19 13:43] ajijshaikh commented on #832
How comes this as invalid I didn't get that ?because of this I am not able to validate report. Quick help will be appreciated.

[2019-07-19 16:09] kendall-schmidt-sp opened #834 "Parallel runner causes duplicate GET, POST, DELETE requests to happen"
When using the parallel test runner, multiple POST's get executed. The code below uses the [Post Test Server V2](https://ptsv2.com/t/paowv-1563551220) to submit a POST to and you can see that 2 posts are submitted.

Note the test runner is **_NOT_** using the `@RunWith(Karate.class)` annotation and using the `junit:4.12` transient dependency from `karate-junit4:0.9.3`

Karate v0.9.3

Feature file:

[2019-07-19 16:12] ptrthomas commented on #834
sorry I insist that you submit a full working example, there are reasons: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-07-19 16:12] #834 closed

[2019-07-19 18:13] ajijshaikh opened #835 "feature file gets executed twice when we pass command line args"
My code --

**feature file caller using which I am calling demo/DemoTestSelected and passing the command line args to testSelected method -----**

package com.api.feature;

import org.testng.annotations.Test;

import demo.DemoTestSelected;

public class cmd_line_arg {

@Test
public void test() {

	String name = System.getProperty("key");
	//System.out.println(System.getProperty("key"));
	DemoTestS

[2019-07-19 18:14] ajijshaikh commented on #835
POM.xml ---

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.api.karate</groupId>
    <artifactId>api_tests</artifactId>
    <version>0.0.1-SNAPSHOT</version>
    <packaging>jar

[2019-07-19 18:15] ajijshaikh commented on #835
refer for more details ---

https://stackoverflow.com/questions/57113440/command-line-args-issue-for-karate-framework

[2019-07-19 18:45] ptrthomas commented on #835
@ajijshaikh nope. read the instructions and try again please, has to be a zip file or a clonable git

[2019-07-19 18:45] #835 closed

[2019-07-19 18:49] ajijshaikh commented on #835
[Uploading Dummy_api_test_.zip…]()
[Uploading karate-demo.zip…]()

[2019-07-19 19:05] ajijshaikh opened #836 "Issue of reporting karate"
As discussed PFA jars -

https://github.com/ajijshaikh/hardening/blob/master/Dummy_api_test_.zip ------------------------------ Go to /home/ajij/softwares/eclipse/workspace/Dummy_api_test/src/test/java/com/api/feature/cmd_line_arg.java

https://github.com/ajijshaikh/hardening/blob/master/karate-demo.zip  --

Kindly check once and help ASAP!

[2019-07-19 19:14] ptrthomas commented on #836
sorry your project doesn't even compile. next time also please add clear instructions. all the best

<img width="1202" alt="image" src="https://user-images.githubusercontent.com/915480/61559505-ac6bd680-aa1e-11e9-81c8-7c25cfa01152.png">

[2019-07-19 19:14] #836 closed

[2019-07-20 05:00] ajijshaikh opened #837 "About report generation issue in karate"
refer #836 where the build is not getting generated and it is working fine here I have again uploaded the jars for the same please check if it works for you  -

![Screenshot from 2019-07-20 10-20-50](https://user-images.githubusercontent.com/35911904/61574176-3b3d2980-aad9-11e9-9925-daf3d9a982af.png)

[2019-07-20 05:04] ajijshaikh commented on #837
PFA file path -

1. https://github.com/ajijshaikh/hardening/blob/master/Dummy_api_test.zip
2. https://github.com/ajijshaikh/hardening/blob/master/karate-demo.zip

[2019-07-20 05:07] ptrthomas commented on #837
@ajijshaikh sorry still the same problem
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/915480/61574243-99cebd00-aa71-11e9-9a50-a44df1a6b544.png">

[2019-07-20 05:07] #837 closed

[2019-07-20 10:08] ajijshaikh opened #838 "About use of karate-demo"
Hi, I have created a standalone project of karate and it is working fine for me. But I need the assistant on how I can use the classes of the karate-demo project with my current project or should I need to create a new project of my own which behaves like karate-demo like that. Kindly help !!!

[2019-07-20 13:36] ptrthomas commented on #838
@ajijshaikh please follow the instructions here: https://github.com/intuit/karate#quickstart

if you are unable to follow those instructions I strongly recommend you use an alternate framework that may be simpler for you. all the best !

[2019-07-20 13:36] #838 closed

[2019-07-21 07:06] ajijshaikh opened #839 "Unable to run tests from project"
PFA zip file -

https://github.com/ajijshaikh/hardening/blob/master/myproject.zip

[2019-07-21 07:29] ptrthomas commented on #839
@ajijshaikh this compiles, but there is no description or what is expected, closing as invalid

[2019-07-21 07:29] #839 closed

[2019-07-21 07:40] ajijshaikh commented on #839
Can you check title I am saying I am unable to run the tests-

command - mvn clean test
 this only compile but not runs the tests

[2019-07-21 07:41] ajijshaikh opened #840 "Can you check title I am saying I am unable to run the tests-"
Can you check title I am saying I am unable to run the tests-

command - mvn clean test
 this only compile but not runs the tests

_Originally posted by @ajijshaikh in https://github.com/intuit/karate/issues/839#issuecomment-513531333_

[2019-07-21 14:04] ptrthomas commented on #840
run this command: `mvn clean test -Dtest=UsersRunner`

it is all explained here: https://github.com/intuit/karate#command-line

please read the documentation clearly instead of wasting your time and the time of others as well

[2019-07-21 14:04] #840 closed

[2019-07-21 19:41] ptrthomas commented on #640
@nycjoker I've had some success implementing an HTTPS proxy. are you interested in joining the slack channel and discuss more / do some early testing - please send an e-mail to ptrthomas at gmail dot com

[2019-07-22 03:05] barticus opened #841 "Stand Alone Executable does not allow for any report customization"
Feature Request.
When running tests with the stand alone executable, i want to be able to pass through arguments for the Configuration of the report builder.

Currently the Date is hard coded as the project title.
It would be great to pass in the project name, build version, and "classifications".

I've had a go at writing the change for this in `karate-netty/src/main/java/com/intuit/karate/Main.j

[2019-07-22 04:50] ptrthomas commented on #841
not really in favor of adding more options to the cli especially for such cosmetic stuff - also please follow the usual open-source Pull Request process for contributing code. I'm closing this but you can submit a PR against this issue - if you want to proceed

I propose you read a JSON file from somewhere where you can pull these values (and more you may come up with in the future). so we need a

[2019-07-22 04:50] #841 closed

[2019-07-23 15:59] ptrthomas opened #842 "make custom / self-validation fuzzy markers more elegant"
triggered by this stack overflow question: https://stackoverflow.com/a/57167955/143475

today:
[code]

proposed:
[code]

we can certainly do this with the JS - I think it's neat :)

[2019-07-23 22:02] satishgowda opened #843 "We can not pass a value for one scenario to another"
We can not pass a value for one scenario to another in the same feature file ,
can you tell how to do this
Scenario: test1
   Given path '/user/applications'
   And request {"lastName": "dfsfdfds", "zipCode": "06037", "ssn": "0000"}
   When method POST
   Then status 200
   * def response = response.replace(')]}\',', '')
   * def response = JSON.parse(response)
   And assert   response.listOfAppli

[2019-07-23 22:23] ptrthomas commented on #843
@satishgowda please ask such questions on stack overflow. and this is already answered: https://stackoverflow.com/a/54182437/143475

[2019-07-23 22:23] #843 closed

[2019-07-24 13:23] hueller commented on #842
Thanks a lot for creating this enhancement!

An additional feature which would make the usage of custom fuzzy markers more simple would be to provide a way to make them globally available. Currently, the only way to reuse Marker functions I'm aware of is to move them into a common utilities feature (as described in https://github.com/intuit/karate#multiple-functions-in-one-file) and then include t

[2019-07-24 15:03] ptrthomas commented on #842
@hueller yes there is :) init them in `karate-config.js`. you can choose to name-space them like this example: https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/junit4/config/config-dir.feature

or you can use `karate.merge()` to add them all to the returned config JSON after calling e.g. `utils.feature`

personally I don't encourage doing too much setup in

[2019-07-24 18:36] Rishim1 commented on #225
Please suggest the solution here.....I am also facing the same issue with Json arrays coming as Json objects in the response

[2019-07-24 18:38] ptrthomas commented on #225
@Rishim1 upgrade to 0.9.4 please - and if you still have questions use stack overflow

[2019-07-24 20:09] Rishim1 opened #844 "Json Array getting converted into Json object in the response"
I am facing an issue in Karate where I am expecting a Json array in response but it is getting converted to Json object. All JsonArray parenthesis "[" are getting converted as "{" and being treated as Json objects.

No issue with SOAP UI.

Expected :
{
   "header":    {
      "transactionId": "1g445ttt",
      "operationName": "getSummary
   },
   "status":    {
      "statusCode": "0",
      "det

[2019-07-24 20:19] Rishim1 commented on #225
Sure will use stackflow ...but I want to understand the purpose of this forum. I am seeing lot of questions being posted here from several members so the question I posted is not appropriate ?

Fyi... 0.9.4 is also not working.

[2019-07-24 21:02] ptrthomas commented on #225
@Rishim1 read this please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-07-24 21:02] ptrthomas commented on #844
@Rishim1 follow these instructions, else you are just wasting everybody's time.

[2019-07-24 21:02] #844 closed

[2019-07-24 21:12] Rishim1 commented on #844
I dont understand what is this forum all about if users are not allowed to post questions. Can you help understand the purpose of this forum ?

[2019-07-25 14:00] gvermoen opened #845 "Gatling karateFeature seems to be blocking"
We are seeing some unexpected behaviour when running long-lasting user simulation scenarios with karate-gatling.

With karate, we have defined a user scenario where a user logs in, waits a few seconds, navigates, waits again, opens a document, spends some time reading, etc etc. The scenario takes about 2minutes and works as expected. However, the load model does not work as expected when defining

[2019-07-25 14:34] ptrthomas commented on #845
thanks for the excellent analysis. I’m confident we can solve this. can you do us a favor and create a quickstart project that simulates this - and infra setup instructions if needed

Sent from my iPhone

[2019-07-25 18:58] bpechersky opened #846 "java: package KarateParser does not exist, when I ran any of feature files"
Error:(181, 46) java: package KarateParser does not exist

[2019-07-25 19:04] bpechersky commented on #846
added screen recording

[bug with Karate DSL.mov.zip](https://github.com/intuit/karate/files/3432898/bug.with.Karate.DSL.mov.zip)

[2019-07-25 19:58] ptrthomas commented on #846
@bpechersky sorry: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue and for these kinds of questions, Stack Overflow is preferred

[2019-07-25 19:58] #846 closed

[2019-07-25 20:50] gvermoen commented on #845
[karate-gatling-demo.zip](https://github.com/intuit/karate/files/3433212/karate-gatling-demo.zip)

Hi Peter,
I took the karate-gatling-demo and tweaked it a bit. Please find it attached. It has a Karate and a Gatling simulation that perform the same 2 requests with a 5 second wait in between, and but the reports are totally different.
CatsKarateSimulation:
![image](https://user-images.githubuserco

[2019-07-25 22:17] ptrthomas commented on #845
@gvermoen awesome, this is perfect - thanks, especially the hint about the users. which gives me an idea, tweaking a docker container may be a way to simulate that. I'll take a look

[2019-07-26 00:30] ptrthomas commented on #826
@Gokuroro I made an edit to the developer guide wiki - so you can choose to comment out the `karate-ui` module without affecting `karate-core` would be great to see if that works for you, and it will help others

[2019-07-26 01:00] ptrthomas commented on #751
@celcius112 awesome work on the PR ! re-opening as "fixed" :) this will be in 0.9.5

[2019-07-26 16:57] Kartik2016 commented on #842
Hi @ptrthomas I discovered this project through the Intui Student Hub challenge page: https://intuitstudenthub.com/
I am interested in contributing to the BenTen project (https://github.com/intuit/benten/projects/1)
I commented on an issue but haven't received a reply yet. I also mailed on the provied id: IDC_universityprogram@intuit.com
but never received a response back. Seems to me that the cha

[2019-07-28 16:12] ptrthomas commented on #845
@gvermoen I think I have some good news ^_^
actually your test approach was partly to blame because you were using a `Thread.sleep()` within a feature file with obvious consequences. but I've added a way in which you can `pause()` in a Gatling compliant way from within a feature file. best is for me to paste the documentation here:

<img width="913" alt="image" src="https://user-images.githubuserc

[2019-07-29 09:18] pshrm opened #847 "Match xml regex doesn't work (0.9.4)"
This doesn't work in 0.9.4

Feature: Test xml match
  Scenario: Test xml match boolean regex
    * def aXml =
    """
      < root >
        < name >Jhon< /name >
        < active >false< /active >
        < age >30< /age >
      < /root >

    """
   * match aXml //active == '#regex (false|true)'

Error:
xmlMatch.feature:13 - syntax error, expected '==' for match

Was working in 0.8.0.  (I'm tryi

[2019-07-29 13:43] viveksr80 opened #848 "Existing cucumber tests will not work after adding Karate dependencies (0.9.4) bug"
Problem:
After including Karate dependencies in existing cucumber project, not able to execute existing scripts, getting below error.

java.lang.NoSuchMethodError: cucumber.api.CucumberOptions.snippets()Lcucumber/api/SnippetType;

	at cucumber.runtime.RuntimeOptionsFactory.addSnippets(RuntimeOptionsFactory.java:58)
	at cucumber.runtime.RuntimeOptionsFactory.buildArgsFromOptions(RuntimeOptionsFacto

[2019-07-29 13:44] ptrthomas commented on #847
thanks for reporting this, fixed in the git dev branch. as a workaround, remove the space on the LHS:

[code]

[2019-07-29 13:48] ptrthomas commented on #848
@viveksr80 yes this is expected: https://github.com/intuit/karate/issues/444#issuecomment-419852761 - see if using the `@KarateOptions` instead of `@CucumberOptions` annotation solves this. else this is a won't fix unless we get community contributions.

[2019-07-29 13:48] #848 closed

[2019-07-29 15:21] ptrthomas commented on #848
@viveksr80 that said - if you follow this process, it increases the chances that one of the devs will look at it: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-07-30 06:38] viveksr80 commented on #848
ok Thomas, will check

[2019-07-30 08:28] PetMou commented on #845
Hi Peter, i'm a collegue of @gvermoen.
We succesfully applied your solution!
We used:
`
* def pause = karate.get('__gatling.pause')
* pause(2000)
`
instead of 'java.lang.Thread.sleep' and now we get a good rampup and progress graph!

We did find out however that 'pause' only accepts integers, and because all numeric variables in Karate are double, something like:
`* def aNum = 1000
* pause(aNum)`

[2019-07-30 08:43] pshrm commented on #847
Thanks for the fix.

[2019-07-30 11:28] ptrthomas commented on #845
@PetMou thanks for quickly confirming this, I was hoping it would work !!

sure, I can make the change you request ! for now as a workaround, you can do:

`* pause(~~aNum)`

[2019-07-30 11:57] winoth4 opened #849 "I have an BDD automation framework in testng, is it possible to integrate karate service and db validations with current one"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-07-30 12:01] ptrthomas commented on #849
@winoth4 no. and clearly you didn't read the above links

[2019-07-30 12:01] #849 closed

[2019-07-30 12:42] PetMou commented on #845
Thanks Peter!
This really helps us enormously.
I would never have guessed the ~~ workaround.

[2019-07-30 15:38] Gokuroro commented on #826
@ptrthomas sorry for taking so long. Here is what I have currently:
- wiki was completely right, I was using Open JDK 8;
- could not install Oracle JDK 8 from Arch Linux;
- installed Oracle JDK 9 and 12;
- Oracle JDK 12 failed at `karate-netty`;
- Oracle JDK 9 failed at `karate-demo`, `karate-mock-servlet` and `karate-jersey`. Commenting them out builds it successfully;
- during the build, it seem

[2019-07-30 17:33] ptrthomas commented on #826
@Gokuroro this helps. I propose we focus on Java 9. one thing I need to do is make the `karate-ui` a "Java module". anyway if you can see how to get the JDK 9 build passing, even if you feed me some diagnosis - that would be a great start

[2019-07-30 18:57] ptrthomas commented on #845
@PetMou I actually could not simulate the problem :| I did make one change to the code, can you confirm that it works ? the exported `pause()` function should accept any kind of number now as the arg

[2019-07-30 22:15] zeesattarny opened #850 "JSON path expression doesn't work"
I am trying this * def orgVal =  karate.jsonPath(response, "$.segments[?(@.id ==7613603227418679)]").id. But getting no value. Not sure what I am doing wrong.
18:05:42.896 [main] INFO  com.intuit.karate - [print] Origin Value  [
]

Sample data -
[code]

[2019-07-30 23:40] ptrthomas commented on #850
@zeesattarny please ask this question on stack overflow. and *please* simplify it: https://stackoverflow.com/help/how-to-ask

[2019-07-30 23:40] #850 closed

[2019-07-31 02:41] zeesattarny commented on #850
@ptrthomas Sorry in rush I forgot to add proper details. Here is the link I have added this question  to stackoverflow.
https://stackoverflow.com/questions/57282428/karate-json-path-filter-not-working-when-trying-to-extract-elements-that-meet-so

[2019-07-31 12:06] vgantena-rythmos opened #851 "[SSL]: getting http request failed, after setting system.setProperty('javax.net.ssl.trustStore')"
**Description:** As part of mongoDb connection, we should setup ssl certs details on System Properties as mentioned below. after setting up those ssl certs details, unable to call any REST api's (https://) and getting below error message -

[code]

**SSL Configuration:** i've used below configuration in `karate.config.js` as well in `feature`
[code]

**Used Maven Dependencies :**
[code]
Also tried

[2019-07-31 13:12] ptrthomas commented on #851
@vgantena-rythmos sorry, follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue - I also had given comments here: https://stackoverflow.com/a/57126848/143475

[2019-07-31 13:12] #851 closed

[2019-08-01 09:14] khareprashant opened #852 "Session not being maintained"
When session needs to be maintained for the subsequent requests in a single scenario, karate is assigning a different JSESSION ID for the second request, which according to us causing the failure. Error: Service Unavailable.

[2019-08-01 09:25] khareprashant commented on #852
We have also tried to set the JSession cookie, but when we retrieved the cookie post the request, the karate created a new cookie by itself.

[2019-08-01 12:43] PetMou commented on #845
Hi @ptrthomas ,
Your change works. The "pause()' function now accepts variables for input without the ~~.
I don't know why you were not able to repoduce the issue. Perhaps because we work in a Windows environment?
Anyway, for us you can close the issue.
Thanks!
Peter M

[2019-08-01 15:27] ptrthomas commented on #845
@PetMou thank you for confirming ! I will keep this open until the formal 0.9.5 release

[2019-08-01 15:29] ptrthomas commented on #852
@khareprashant if you follow this process to the letter, we promise to look into this https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

until then it is highly unlikely you are missing something basic. read the docs on cookies and then try your luck on stack overflow maybe some other user can help you.

[2019-08-01 15:29] #852 closed

[2019-08-01 23:55] viveksr80 opened #853 "Using latest version of Karate, trying create customer with POST method, works fine in POSTMAN, not in Karate, please help what's wrong in the request"
Using latest version of Karate, not able to create customer with POST request, which is working fine in POSTMAN. Please find the details below and **please suggest me anything wrong while passing the request**

![image](https://user-images.githubusercontent.com/20152707/62334582-88050500-b4c8-11e9-9a77-cea2f78f8ee0.png)

Error:
![image](https://user-images.githubusercontent.com/20152707/62334448-f

[2019-08-01 23:59] ptrthomas commented on #853
@viveksr80 sorry, these kinds of questions are best asked on stack overflow unless you follow these instructions: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

and a tip - please use code - screenshots are useless.

[2019-08-01 23:59] #853 closed

[2019-08-02 08:27] bitlin commented on #852
I also meet the same issue

[2019-08-02 13:45] ptrthomas commented on #852
@bitlin then this is important. please collaborate with @khareprashant and follow the above instructions. also both of you try switching to `karate-jersey` and see if that helps

[2019-08-05 06:42] fpanelli opened #854 "Improve Maven Documentation"
This is a suggestion about documentation and not an issue with the software.

In the last few days I had problems while trying to add karate to my existing project. Running mvn test would not pick up feature files in a predictable way (I still do not understand why it worked every now and then).

The issue was I had not fully understood the maven setup and I hadn't included a <testReources> sectio

[2019-08-05 14:57] ptrthomas commented on #854
@fpanelli the docs already have this section: https://github.com/intuit/karate#folder-structure

that said, fell free to refer to this issue and submit a pull request

[2019-08-05 14:57] #854 closed

[2019-08-06 17:37] vinaykala58 commented on #823
After updating getting below error

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building myproject 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ myproject ---
[INFO] Using 'UTF-8' encoding to co

[2019-08-07 00:22] ptrthomas commented on #823
@vinaykala58 given the quality of your question - please try your luck on stack overflow after reading this: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-08 09:50] pshrm opened #855 "(Suggestion) A callback for Runner"
Hi Peter,
We have created a small framework on top of Karate. One of the requirement we had that we needed to send test results (reports) to a central ELK instance and reporting has to be realtime i.e., as soon as a feature is executed, result should be updated in ELK.
We achieved it by modifying the karate code. We realized this is not maintainable as upgrading karate version sometimes becomes ti

[2019-08-08 13:12] ptrthomas commented on #855
@pshrm first can you explore this: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/core/ExecutionHook.java

this has already evolved to become an un-documented interceptor. it may be missing feature hooks which we can add if you need them. I'd like to take time to see some examples so yes - do submit a draft PR first.

[2019-08-08 16:20] ptrthomas commented on #855
@pshrm sorry my bad, you are already aware of `ExecutionHook`. I'll take a look. plan is to create a "builder" of some sort for the runner, it is long overdue :)

[2019-08-08 16:37] ptrthomas commented on #855
@pshrm and I'm proposing that the `ExecutionHook` can be updated to add `beforeFeature` and `afterFeature` and heck why not add a `beforeSuite` and `afterSuite` while we are at it.

I'd like to do this right and perhaps align other infra in Karate into this - so I hope you can be patient and maybe come up with some ideas in the PR

[2019-08-08 19:11] ColinOakland opened #856 "Comments between @tags and Feature keyword cause Error Parsing Feature File"
While creating a test in Karate, I ran into an issue where a test was failing because I put a comment between the @tags and the Feature keyword in the file. I don't see anything in the Karate, Gherkin, or Cucumber documentation that says this isn't allowed. If this isn't a Karate issue, please let me know.

![image](https://user-images.githubusercontent.com/37271441/62730753-a13d1280-b9ee-11e9-899

[2019-08-08 20:01] ptrthomas commented on #856
maybe you are on an olde version ? I am not able to replicate and in fact added this test: https://github.com/intuit/karate/commit/61480c22ca74b8c22d48d39ee95a9ec015ef19dc

so please follow these instructions: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-08 20:01] #856 closed

[2019-08-09 08:34] pshrm commented on #855
@ptrthomas Great! thanks a lot. `beforeSuite` and `afterSuite` would be useful too. i.e., if one wants to clean up reports dir (in our case we do) after the suite is executed. I will definitely explore the code and try to propose a PR. Keep up the good work.

[2019-08-09 09:15] Kajoj1990 opened #857 "Match xml doesn't recognise Json-like object (0.9.4)"
Hi,

Functionality which stoppped working on **0.9.4**, and was working correctly on **0.9.3** and below.

[code]

Last step with matcher:
_**And match responseData /element1/element2 contains 'sub-string'**_

on **0.9.4** results with such error
**expected: ''sub-string'', reason: actual value is not JSON-like**

Regards,
Karol

[2019-08-09 10:36] ptrthomas commented on #857
@Kajoj1990 read these instructions carefully please and try again: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-09 10:36] #857 closed

[2019-08-09 20:01] ptrthomas commented on #827
add the task of updating the results json in real time: https://github.com/intuit/karate/issues/561#issuecomment-433594640

so that the karate-runner VS code plugin can display test execution status in real time: https://github.com/kirksl/karate-runner/blob/master/src/commands.ts#L114

[2019-08-12 09:02] PetMou opened #858 "Enhancement: measure duration of a '.feature""
Karate - Gatling works great in measuring performance of separate requests.
The business is often interested in knowing the performance of certain functionalities.
Suppose we have a functionality "place order", consisting of two GET's and one PUT.
I can put  them in a feature file and do a 'call read(placeOrder)' . The requests in the feature are then performed sequentially.
To my knowledge it is

[2019-08-12 11:59] PetMou commented on #858
Addition: I saw that in "simulation.log" the duration of each separate scenario execution is already logged in the "USER <…> END" lines.
This in itself could be useful information, and it would help if this was displayed somewere in the report!

[2019-08-12 15:02] ptrthomas commented on #858
@PetMou this is where I'd like to get some contribution help. I can confirm that this is not a priority for me right now. there has been some discussion on this in the past in #762

here's a roadmap item where we have a few things for Gatling "ideal state"
https://github.com/intuit/karate/projects/3#card-22529251

[2019-08-12 15:02] #858 closed

[2019-08-12 22:11] arjunmarati opened #859 "javascript evaluation failed: TypeError: null is not a function in <eval> at line number 1"
I am not able to identify why I am getting this javascript evaluation failed error.

**karate-config.js:**

function () {
   var config = {
      apiURL: '....URL...'
    };
  return config;
}

**Feature file:**

Feature: Some Calendar API

  Background: Get request some Details API
    * url apiURL
    * configure headers = {"x-api-key":"enterYourKey"}
    * def **getDate** =
          """

[2019-08-13 00:52] ptrthomas commented on #859
@arjunmarati read this please or try stack overflow: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-13 00:52] #859 closed

[2019-08-13 01:09] Gokuroro opened #860 "Tests freeze due to too many files (Linux/Bamboo)"
Hey Peter, I work in a project that currently has over 850 Scenarios across around 100 files, where most of them call a cached login scenario (checks if auth token exists, otherwise call uncached login) and many of them have internal calls to generic versions of the API under test.

We're currently having issues where at some point when running through Bamboo (Linux), the amount of opened files sk

[2019-08-13 02:41] kirksl opened #861 "Twice the number of scenarios are displaying in the console and reports when specifying a fully qualified classpath in karate.options"
[triple-slash.zip](https://github.com/intuit/karate/files/3495070/triple-slash.zip)

repro steps

referencing the attached project run the following command. (assuming the folder "git" is at the root of your drive).

On linux/mac
gradle clean test -b "/Git/triple-slash/build.gradle" -Dtest=KarateRunner -Dkarate.options="classpath:Git/triple-slash/src/test/java/org/company/tests"

on windows
gradle

[2019-08-13 03:30] ptrthomas commented on #860
@Gokuroro  thanks, it is maybe time to re-look at this one, and since it sounds like you have an environment where we can validate any changes - maybe this is the time.

here is some context for future reference. in the early days of karate, teams occasionally ran into an out of memory error and after a lot of investigation, it was found that appending to an in-memory log-collector using a string-

[2019-08-13 05:21] ptrthomas commented on #860
@Gokuroro I just realized that a possible solution would be to indeed re-write some of the logging approach but use a single NIO file-channel for each thread. I was for some reason avoiding `ThreadLocal` and maybe it still can be avoided, but if it is the right solution, then why not.

so let me take a look but my ask is can I count on you for testing this ?

[2019-08-13 06:03] BeeralingaAnimation opened #862 "Issue in Karate"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-13 06:04] #862 closed

[2019-08-13 12:58] Gokuroro commented on #826
Sorry for the late reply on this one. Between 70h/week on 2 projects and a presentation for a talk I'm working on, this ended up being forgotten. I did try to work on this for a bit, but I have to admit my lack of knowledge in Java (and maven in general) do not help much. I'll try to work on this, along with testing the files open during report issues this week.

[2019-08-13 13:06] Gokuroro commented on #860
Before logging this, I thought this was related to #758 and #759, and noticed our team was using 0.9.2, so I updated (in the pom file) to use 0.9.4.

As mentioned in the other issue (about match contains), I will try to compile this to work on our environment, but my lack of knowledge in Java and maven (along with the added unknown of having the tests running in Bamboo) does not help.

If there is

[2019-08-13 14:02] Gokuroro commented on #826
News: I was able to have a "BUILD SUCCESS" by `@ignore`ing the following feature files for `karate-demo`:
- cats.feature
- loop.feature
- cats-xml.feature
- create-xml.feature

It looks like the service being tested for xml is returning 406 instead of 200 in some cases (which may be the sole reason for the rest of the issues, though I'm not sure).

If I change the expected status from 200 to 406,

[2019-08-13 14:04] pshrm commented on #855
@ptrthomas I gave it an attempt on Runner builder and ExecutionHook for beforeFeature and afterFeature.
Please refer to attached zip. I'm not sure if I can modify Runner.java as it may be breaking changes for other users hence created builder class RunnerBuilder.java.
This is just to give some ideas and may not be perfect (or production like code).
What do you think?
[karate-core.zip](https://gith

[2019-08-13 14:58] ptrthomas commented on #855
@pshrm it will be easier to review if you follow the standard git / PR approach, but I'll try take a look later

[2019-08-13 15:00] ptrthomas commented on #860
@Gokuroro okay no worries, by next week at least I will release a 0.9.5-RC1 so you get it via Maven like normal. I will update here on this thread

[2019-08-13 15:18] pshrm commented on #855
@ptrthomas no worries. I will send you a standard git/PR.

[2019-08-14 11:37] pshrm commented on #855
@ptrthomas opened a draft PR #865. Please have a look.

[2019-08-15 02:55] ptrthomas commented on #855
@pshrm I decided to re-work some of it - can you review this commit ? https://github.com/intuit/karate/commit/f848c0bd12d1989f618a1428d122cfda0c66c712

[2019-08-15 07:27] pshrm commented on #855
@ptrthomas looks good. I hope you will add feature hooks as well later. I've created Junit parallel runner which notifies the IDE with test results. if you wish I can send another PR. Please let me know.

[2019-08-15 07:39] sumargoraymond commented on #339
Hi @ptrthomas I personally think this is quite an important feature to have on karate. I had graphql tests which validate response using match operators.

The actual failure may look like this:

`{"errors":[{"message":"NotFound: media not found","path":["FindMediaByID"],"extensions":{"code":"NotFound","message":"media not found"}}],"data":{"FindMediaByID":null}}`

I am doing assertion on karate li

[2019-08-15 14:58] ptrthomas commented on #855
@pshrm yes, I will take care of the feature hooks. I will be happy to look at your JUnit parallel work. as you have seen I tend to do things "my way" but your work certainly helps give me ideas and push me to do the stuff needed ^_^

[2019-08-15 15:01] ptrthomas commented on #339
@sumargoraymond do this in an `afterScenario` hook, and extract the response. all good: https://github.com/intuit/karate#hooks

sorry, I'm not convinced. and if you really feel so strongly about this, kindly implement it yourself

[2019-08-15 15:29] ptrthomas commented on #755
for the reference of those looking for more info the developer of the 3rd party report has changed the behavior, refer https://github.com/damianszczepanik/cucumber-reporting/pull/862#issuecomment-518363338

[2019-08-15 20:41] mayzhang2000 opened #866 "Not to log secrets in request header"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

Karate logs all request headers. Due to security reason, we need an option not to log

[2019-08-15 21:47] ptrthomas commented on #866
@mayzhang2000 yes this is a roadmap item: https://github.com/intuit/karate/projects/3#card-22529225 - the issue referred has some suggestions to work around: #699

[2019-08-15 21:47] #866 closed

[2019-08-15 22:54] djanicek opened #867 "Test hangs when referencing request form two features"
Follow-up on https://stackoverflow.com/questions/57502369/is-there-a-better-way-to-reference-sub-features-so-that-this-test-finishes

Test hangs when running setup mentioned in stack overflow. I've attached a skelton project in the zip.
[hangtest.zip](https://github.com/intuit/karate/files/3507413/hangtest.zip)

When I run at the command line `mvn clean test`, then use "Run Test" code sense in the

[2019-08-16 00:14] ptrthomas commented on #867
just make this one line change:

[code]

This is explained in the documentation: https://github.com/intuit/karate#karate-prevrequest

If that is not your intent, raise a feature request. the `HttpRequestBuilder` is not a public API.

The maven behavior is a known issue which apparently goes away if you upgrade your maven install, but we anyways fixed it: https://github.com/intuit/karate/issues/823

[2019-08-16 00:14] #867 closed

[2019-08-16 11:26] TheShed412 opened #868 "Junit5 and Gradle"
I went through the docs and found nothing on this, but it seems the maven-surefire-reports is needed, and that doesn't seem to be available for Gradle.

And on a few other issues it seems that Gradle is somewhat of an after thought and all questions using Gradle seem to be using Junit4. I wasn't sure if Junit5 had support with gradle and karate.

[2019-08-16 13:08] ptrthomas commented on #868
@TheShed412 read the docs again. the surefire reports is used as a java lib, and via java code, does not depend on gradle

but yes, I don't use gradle and that may reflect in the project. why don't you step up and contribute the missing JUnit 5 pieces, it is not a priority for me and honestly if I had my way, Gradle would not exist because it has so many compatibility issues from a framework dev p

[2019-08-16 13:08] #868 closed

[2019-08-16 17:03] sumargoraymond opened #869 "afterScenario hook does not work when configured on karate-config.js"
- Occurs on: **karate 0.9.0**
- Description:
I am attempting to define `afterScenario` hook that I defined on my `karate-config.js` file. I put `karate.log` operation on it to print response of the call.

However the weird thing I notice is that it seems the log is displayed before the scenarios are actually executed. Hence it always return null.

- This is how I configure the hooks on my `karate-

[2019-08-16 17:03] ptrthomas commented on #869
@sumargoraymond sorry, you HAVE to follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-16 17:03] #869 closed

[2019-08-16 17:06] sumargoraymond commented on #869
Sorry I forgot to attach the zipped project

[2019-08-16 17:09] ptrthomas commented on #869
@sumargoraymond can you read the last comment on your stack-overflow question first ?

[2019-08-16 20:53] nylifeinnj opened #870 "Discrepancy between Response-value, in 'response' variable, and the Response-value in the "Pretty" Console Log"
Hi,

I am currently using Karate Version v0.9.3 and had come across a case, where an API had a malformed JSON in the Response (please note that this is a sample, resembling what I had in the "Pretty" Log):

_16:42:58.491 [main] DEBUG com.intuit.karate - response time in milliseconds: 548.06
1 < 400
1 < Content-Type: application/json
{
  "errors":[
    {
      "errCode": "TestCode1",
      "errMsg"

[2019-08-16 21:39] ptrthomas commented on #870
@nylifeinnj interesting ! I'll accept this as an issue and see if at least for responses we parse strict.

proposing that we add a new `responseType` which will be one of `xml`, `json` and `unknown` - unless you have any other suggestions. it will be up to the test to check if the type is as expected.

[code]

for now, you have access to the raw response as `responseBytes`. to convert to a string

[2019-08-17 04:53] ptrthomas commented on #861
@kirksl the correct usage in this case should be `-Dkarate.options="/Git/triple-slash/src/test/java/org/company/tests"` *without* the `classpath:` prefix if the user knows this is a "proper" OS path.

anyway, I have put in a fix so this should be detected and there is logic to de-dupe as well

would like @celcius112 to take a look at this if it impacts #751

[2019-08-17 20:30] kirksl commented on #861
@ptrthomas thanks for fixing.  also curious does karate.options= accept the "file:" and "this:" prefixes and if so wondering if they should be specified.

[2019-08-17 22:15] ptrthomas commented on #861
@kirksl no, the `file:` and `this:` are designed only for the `read()` API

[2019-08-19 04:00] ptrthomas commented on #860
@Gokuroro I've released 0.9.5.RC1 can you test and let me know as soon as possible ?

[2019-08-19 12:48] pshrm commented on #855
Hi @ptrthomas, here is PR for Junit Parallel runner. I just did it for Junit4 - #871.
Please review and let me know your thoughts.

[2019-08-19 12:58] Gokuroro commented on #860
Running the batch right now (just saw the message). It will take a few minutes before I can get you any results. I'll let you know ASAP.

[2019-08-19 13:11] Gokuroro commented on #860
Results looking great. Did not freeze during the tests and completed in 10min (from normal 15min we were getting before the freezes), though not sure if this is related.
Thanks a lot for the fix!

[2019-08-19 13:13] ptrthomas commented on #860
@Gokuroro thanks for the quick update ! look for any changes or missing / concurrency problems in the logs shown in HTML reports and things like that, but unlikely

[2019-08-19 13:21] Gokuroro commented on #860
I just responded based on actual run (since not all tests are passing currently due to updating software version). It looks like the run got us some `evaluation of 'karate-config.js' javascript function call failed: null` messages.
I'm currently running the tests locally to see if I can reproduce this.

[2019-08-19 13:44] ptrthomas commented on #860
@Gokuroro well, you know what to do: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-19 13:46] Gokuroro commented on #860
Yessir! I'll see if I can create a project to reproduce the issue.

[2019-08-19 15:44] Gokuroro opened #872 "Scenarios failing due to `evaluation of 'karate-config.js' javascript function call failed: null`"
When running a project with multiple (upwards of 1000) scenarios and a few functions set in `karate-config.js`, including a cached login call using the `karate.callSingle` process, after around 80% or so of the tests are run, all scenarios start failing.

Tried reproducing the issue in an isolated environment/project, but I hit a wall while trying to do so. Tried (based on the original project):
-

[2019-08-19 15:48] Gokuroro commented on #872
I will keep trying to find a way to reproduce this issue and, depending on your and my managers' availability, we can try to work with you as consultant for this issue.

[2019-08-19 15:48] ptrthomas commented on #872
@Gokuroro sorry, promptly closing this. we need a way to replicate. try taking a heap dump and get others to look at it if needed. try the following:

- set log level to WARN
- if any file upload / download tests are present, remove them
- there is a configure setting to `printEnabled`
- don't use the `logPrettyRequest` and `logPrettyResponse` options
- run with fewer parallel threads
- if you kno

[2019-08-19 15:48] #872 closed

[2019-08-19 15:51] ptrthomas commented on #872
@Gokuroro hey could it be that after 10 minutes your cached login actually expires ?

[2019-08-19 16:09] Gokuroro commented on #872
- current log levels:
    -  `<logger name="com.intuit" level="DEBUG"/>`;
    - `<root level="info"> ... </root>`;
- no upload scenarios present;
- grepping for `printEnabled` returns nothing;
- grepping for `logPretty` returns nothing;
- parallel set to 1 (if I understood correctly): `Results results = Runner.parallel(getClass(), 1, "target/surefire-reports");`;
- `karate-config.js` is read corre

[2019-08-19 18:46] nylifeinnj commented on #870
@ptrthomas , thank you for this proposition. In any case, we were looking for a consolidated way, to verify whether or not a JSON Response is malformed. It would definitely save us time, it's going to use a new Karate variable (responseType).

Furthermore in the event that we need to use this Invalid JSON Value, is it possible that you can create another new variable (namely "responseStrict"), so

[2019-08-19 19:27] ptrthomas commented on #870
@nylifeinnj you can try the latest preview release 0.9.5.RC1 which has the `responseType` implemented: https://github.com/intuit/karate/tree/develop#responsetype

and the invalid value will continue to be in `response`.

but here's the bad news. somehow you managed to find one edge case which the underlying JSON parser does not detect as invalid. `[{a:1}{a:2}]` :( this may not be fixable unless we

[2019-08-20 05:03] ptrthomas commented on #842
@hueller unfortunately after consideration, felt that this is not worth it. `#?` expects valid JS on the right, and yes we could do a check if it is a function and then invoke it etc. but for saving the typing of 3 characters did not feel right to me in the end. also I'd like to defer JS hacks to after the impending graal migration. sorry :|

[2019-08-20 05:03] #842 closed

[2019-08-20 06:05] ptrthomas commented on #826
@Gokuroro good news, the not-contains thing is fixed: https://github.com/intuit/karate/commit/baf0cf9c6d6073343065805e56f98734cbe7ac81

[2019-08-20 14:03] anaGonzalezPi opened #873 "afterScenario not working calling features not in the same folder"
_afterScenario_ is not working if the feature that is being called is not in the same folder/package.
For example, if the feature that the _afterScenario_ is used is in `api/users/create` and has configured:
`* configure afterScenario =
    """
    function(){
      karate.call('classpath:api/users/delete/delete-user.feature', { user: userId })
    """`
_afterScenario_ is not being executed. Only

[2019-08-20 14:06] ptrthomas commented on #873
@anaGonzalezPi try the `this:` prefix https://github.com/intuit/karate#reading-files

if you still have a problem, kindly follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue - we prefer these kinds of questions on stack-overflow

[2019-08-20 14:06] #873 closed

[2019-08-20 22:14] msennett9 opened #874 "Load Multiple Features for Karate Mocks"
Currently, when starting up Karate as a mock server (`-m`), it only supports loading a single feature to act as the mock.  We have a situation where it would be helpful to be able to specify multiple feature files.  The main reason for this is that we are going to be mocking some services that have a large API and a number of scenarios for each API call - maintaining in one file could become unwie

[2019-08-20 22:23] ptrthomas commented on #874
@msennett9 apologies for closing this, but you can always open a PR against this ticket.

I personally think this is an un-necessary complication. if we go down this path, we will have to design how to take care of features that call other features, and then what happens when the same method exists twice, precedence order and so-on. but maybe it is do-able, as you said - a wrapper construct that c

[2019-08-21 09:20] JackMj opened #875 "bodyPath() does not return the value in the xml path"
` bodyPath('/Envelope/Body/User/user') == 'Jonathan' this statement `
is valid it returns a true or false i know this for fact because it goes to next scenario if its true.

now i want to use it like this
* def username =  `bodyPath('/Envelope/Body/User/user') `
* print username

this returns an empty print message
`11:15:14.431 [nioEventLoopGroup-3-4] INFO  com.intuit.karate - [print]`

the xmlPa

[2019-08-21 09:23] JackMj commented on #875
I've posted this on stackoverflow [](https://stackoverflow.com/questions/57575362/cant-print-extracted-xml-content-with-karate/57575537?noredirect=1#comment101611672_57575537) and you shared your documentation, but still i don't see which better method may be useful for this case.

[2019-08-21 09:24] JackMj commented on #875
https://stackoverflow.com/questions/57575362/cant-print-extracted-xml-content-with-karate/57575537?noredirect=1#comment101611672_57575537

[2019-08-21 13:49] JackMj commented on #875
this method does the Job `karate.xmlPath(data,path)` i'll close this issue.

[2019-08-21 13:49] #875 closed

[2019-08-21 17:36] ptrthomas commented on #858
@PetMou if you use slack, send me an email to [my github username] at gmail dot com - and I can invite you into a karate channel

[2019-08-21 17:56] Gokuroro commented on #872
@ptrthomas I have rolled this issue to my client's management so they may work with you as consultant if the need arrives. I was able to remove some tests to make the suite work, but that's not a good solution for the project and, as stated, I was not able to reproduce it in a controlled environment.
Given there is classified information in the tests I'm working on, the decision is on management o

[2019-08-21 19:42] ptrthomas commented on #872
@Gokuroro ok. I would say it is unlikely to be a karate issue :) did you see my comment where my guess is your one-time auth expires after 5-10 minutes which explains the behavior you are seeing

[2019-08-21 20:09] Gokuroro commented on #872
@ptrthomas yes, I thought I had answered it, sorry about that. Our auth token does not have a (short) expiration time, with some of my experiences it working almost 24h after the login at least. Either way, the issue observed is `evaluation of 'karate-config.js' javascript function call failed: null` which seems to be during the `karate-config.js` file parsing stage.
I'll do some tests on the toke

[2019-08-21 20:31] ptrthomas commented on #872
@Gokuroro are the karate tests packaged into a JAR file by any chance before you run the tests ?

[2019-08-21 20:37] Gokuroro commented on #872
This is possible. Does it have anything to do with the `<packaging>jar</packaging>` item in `pom.xml`? I was not the one who setup the karate environment for the project, so I'm more aware of creating tests with it than the setup.

[2019-08-21 21:20] ptrthomas commented on #872
@Gokuroro great, thanks for the update.

attention @celcius112 can you take a look at the changes in #833 are causing the stream to be null under load when in a JAR ? please help !

[2019-08-21 21:25] Gokuroro commented on #872
@ptrthomas it ran fine the first time locally, but did not work in the subsequent runs. I'm testing other packaging formats right now. `war` also failed and others (`pom`, `maven-plugin`) didn't even run. I'll look a bit more into it. :(

Worst case, I'll have to leave further contact to my managers, since I'll be leaving this project soon anyway.

[2019-08-22 10:35] celcius112 commented on #872
@ptrthomas I'll take a look after my vacations 😅 🌴

[2019-08-22 10:39] celcius112 commented on #872
@ptrthomas the changes in https://github.com/intuit/karate/pull/833 should not apply here since it is not released yet, am I right ?

[2019-08-22 12:58] Gokuroro commented on #872
@ptrthomas thank you guys very much for all the effort, but since we're on testing phase, we'll just split the CI jobs in 2 based on tags for now. As I mentioned previously, I'll be leaving the project and if this is an issue going forward for the team, they'll contact you guys with better directions.

@celcius112 this is happening in `0.9.5.RC1`, if this information helps.

[2019-08-22 14:14] ptrthomas commented on #872
@celcius112 we did an RC release - but hey no worries, see you after your vacation !

[2019-08-24 11:59] ajijshaikh opened #876 "Issue of akka.jvm-exit-on-fatal-error with gatling"
PFA https://github.com/gatling/gatling/issues/3788 and help ASAP

[2019-08-24 14:36] ptrthomas commented on #876
you have some hard-coded paths: `/home/ajij/Desktop/myproject/src/test/java/examples/users/feeder.feature`

make that `classpath:examples/users/feeder.feature`

there are other problems because you haven't understood some of the concepts, please read the docs or take the help of someone. I suggest you *don't* use a feature file as a feeder for now. use stack overflow for questions.

[2019-08-24 14:36] #876 closed

[2019-08-24 21:07] ptrthomas commented on #874
added to road-map that people interested in contributing can refer to: https://github.com/intuit/karate/projects/3#card-25586564

[2019-08-25 16:48] ajijshaikh commented on #876
Hi thanks for the help but can you tell more on why we should not use the feature files as feeder and the changes which you have told I made them but still getting the issue  PFA stack trace -

java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invok

[2019-08-25 16:52] ajijshaikh opened #877 "About issue of java.lang.reflect.InvocationTargetException"
Hi thanks for the help in https://github.com/intuit/karate/issues/876 but can you tell more on why we should not use the feature files as feeder and the changes which you have told I made them but still getting the issue PFA stack trace -

java.lang.reflect.InvocationTargetException
at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
at java.base/jdk.internal.reflect.

[2019-08-25 16:58] ptrthomas commented on #877
@ajijshaikh read the error carefully and you will see the issue. get a simple test working first before you go into advanced topics like feeders which from a quick look at your code it is clear you have not understood. for the last time - please ask basic doubts on stack-overflow, thanks

[2019-08-25 16:58] #877 closed

[2019-08-25 18:29] hueller commented on #842
@ptrthomas Thanks for taking it into consideration anyway. Is there a timeline for the planned GraalVM migration?

[2019-08-25 18:35] ptrthomas commented on #842
@hueller not really. it could even take a year from now. I don't see a hurry because we are safe until Java 13 becomes "entry level", and we have the confidence of having done a PoC

[2019-08-26 07:09] ajijshaikh opened #878 "Is there any way I can load test the scenarios using gatling without building the mock server as I want to hit the apis directly I dont want it to be on localhost can you provide the example of that"
As per your given example, it creates the mock server first and then it executes the scenarios but what i need is i need to test the actual environment rather than testing on localhost can you provide the example for the same using any mock api present on the web so that it will be easy to proceed for me quick help would be appreciated

[2019-08-27 09:07] celcius112 opened #879 "Add the ability to set resources in the Builder"
In the new `Runner.Builder` it would be nice to have the ability to set the `resources` by ourself if needed.

PR incoming

[2019-08-27 09:15] celcius112 commented on #861
@ptrthomas Don't worry, it should not impact https://github.com/intuit/karate/issues/751 as you modified unrelated methods

[2019-08-27 09:27] celcius112 commented on #872
Ah nice ! I did not see this RC.

@Gokuroro Is there a stacktrace somewhere ? I don't remember whether there's a more precise log when evaluating with Nashorn. And is it failing at a precise moment ? Like precisely after 10 minutes ? And last question (maybe 😛), are you running the tests in parallel ?

[2019-08-27 13:04] tej-walker opened #881 "Pass url to feature file from json file"
I am trying to pass a url to karate.feature from json file. I never get to extract the url in feature file.

Below is my code example based on [Pass Json to karate-config.js file](https://stackoverflow.com/questions/49690975/pass-json-to-karate-config-js-file).

I have also tried this stackoverflow answer Karate - [How to import json](https://stackoverflow.com/questions/47035817/karate-how-to-impo

[2019-08-27 15:17] #881 closed, assigned to nobody

[2019-08-27 16:27] celcius112 commented on #872
@ptrthomas ok thanks for the resources, i'll take a look

[2019-08-27 16:30] Jiehong opened #882 "Allow empty body for POST requests"
Hello,

In karate-demo, if you add the following at the end of the file named `cats-java.feature`:

[code]

You get the following error:

[code]

However, we usually want to check the behaviour of the targetted endpoint with an empty body in case of POST request, to ensure it behaves as expected (and refuses the request).

Consequently, a `null` request, or no request should be accepted for POST r

[2019-08-28 00:57] ctwise opened #883 "Building from scratch requires Java 9"
Checking out and building karate from scratch requires java 9. This is due to the JavaFX dependency having been compiled with Java 9.

[2019-08-28 01:27] #883 closed, assigned to nobody

[2019-08-28 23:35] kendall-schmidt-sp commented on #834
@ptrthomas I wish you would reconsider this issue. I feel that I have provided you everything needed to demonstrate the behavior.

[2019-08-29 00:46] ptrthomas commented on #834
@kendall-schmidt-sp I wish you would read and *understand* the link above.

that said, it is quite likely to be this issue: #861 - so try 0.9.5.RC1 and see if that works

[2019-08-29 01:32] pengzhengfa opened #884 "Hello, Author, when I was doing performance testing with gatling, I wrote Chinese annotations in Java classes, and there was an error encoding GBK's non-mapped characters in performance testing."
<img width="892" alt="1" src="https://user-images.githubusercontent.com/33858082/63903371-c813c500-ca3f-11e9-9da7-360ea34c5d16.png">
<img width="318" alt="2" src="https://user-images.githubusercontent.com/33858082/63903373-c944f200-ca3f-11e9-9bef-cc2c7364d91a.png">
Look at the screenshot.

[2019-08-29 03:29] ptrthomas commented on #884
@pengzhengfa can you read this thread, I think it is the same issue #404

anyway - there is nothing I can do unless you help me replicate this. can you please follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-29 03:29] #884 closed

[2019-08-29 04:42] pk45 opened #885 "ERROR com.intuit.karate - status code was: 500, expected: 200"
"tag": https://stackoverflow.com/questions/tagged/karate

Getting Internal Server Error when i set a flag as * configure ssl = true OR
    * configure ssl = { trustAll: true } for get request in Karate.
And if i removed those flag getting below error:
com.intuit.karate.exception.KarateException: fetchqrcode.feature:15 -
javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException

[2019-08-29 05:46] ptrthomas commented on #885
@pk45 please use stack overflow

[2019-08-29 05:46] #885 closed

[2019-08-29 07:19] ajijshaikh opened #886 "Issue of akka.jvm-exit-on-fatal-error with gatling"
PFA code link -

https://drive.google.com/file/d/1Tx90geQrYLiulx1fgAAvRRkQ9XP-09D7/view?usp=sharing

PFA stack trace -

Uncaught error from thread [GatlingSystem-akka.actor.default-dispatcher-5]: null, **shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled for ActorSystem[GatlingSystem]**
java.lang.ExceptionInInitializerError
        at examples.users.UserSimulation.$anonfun$feeder$1(

[2019-08-29 07:59] BeeralingaAnimation commented on #94
still i am facing same issue even though i did the same as above @ptrthomas

[2019-08-29 14:26] pshrm opened #887 "Standalone jar: Calling a feature file from a feature file fails on Windows"
This fails on Windows but works on macOS with karate-0.9.5.RC1.jar

Feature: TestFeature
Scenario: Test
Given def logException = call read('classpath:sub.feature')

`java -classpath karate-0.9.5.RC1.jar;. com.intuit.karate.Main main.feature
`

Same setup works with karate-0.9.4.jar on Windows as well.

`java -classpath karate-0.9.4.jar;. com.intuit.karate.Main main.feature
`
Please find attached f

[2019-08-29 15:06] ptrthomas commented on #886
please don't use a `/` after `classpath:`

`classpath:examples/users/feeder.feature`

[2019-08-29 15:06] #886 closed

[2019-08-29 15:07] ptrthomas commented on #94
@BeeralingaAnimation I am not

[2019-08-29 15:11] ptrthomas commented on #887
@pshrm and you are not going to help me fix this ?

[2019-08-29 16:02] kendall-schmidt-sp commented on #834
@ptrthomas I _did_ read and _do_ understand the link. IMHO I feel it is heavy handed in some cases. I do understand that projects are prone to get poor bug reports - i.e. little to no details on how to reproduce the issue or they simply come across as a "complaint". I don't feel that I've done that.

I will take a look at #861 and give 0.9.5.RC1 a try and let you know if works. I appreciate this i

[2019-08-29 17:30] ptrthomas commented on #834
@kendall-schmidt-sp I'm sorry you feel that way because I thought "why a working project is needed" was very clear. anyway it is up to you how you want to proceed

[2019-08-29 18:41] ptrthomas commented on #751
@celcius112 turns out some of the changes completely broke things on windows. I have had to make some changes and comment out your spring-boot test which now fails

it is back to the drawing board a little - and I request you to test on windows before submitting the next PR. I would also try using the `URL` as a last resort if really no other way to get the stream works.

[2019-08-29 20:57] ptrthomas commented on #887
@pshrm tested after the changes to #751 (see last few comments) and seems to work fine when I built from develop. yes 0.9.5.RC1 has the issue. closing.

[2019-08-29 20:57] #887 closed

[2019-08-30 07:10] celcius112 commented on #751
that is some pretty horrendous news 😢 I'll probably need to change the solution

[2019-08-30 08:40] Abigail-1992 opened #888 "Java.net.SocketTimeoutException when running a feature file in Karate"
When running my feature file i get this error.
`java.lang.RuntimeException: java.net.SocketTimeoutException: Read timed out`
I have tried to add a readTimeout by i get the same exception all the time.
`* configure readTimeout = 10000`

[2019-08-30 08:53] kodlist commented on #888
@Abigail-1992 please look at this links. [https://stackoverflow.com/questions/33227244/how-the-sockettimeoutexception-occurred?noredirect=1&lq=1](url)

[https://stackoverflow.com/questions/17079273/java-net-sockettimeoutexception-read-timed-out-under-tomcat?noredirect=1&lq=1](url)

Please post your issue (feature file) and other code you are executing, if any, in stackoverflow. And make sure to us

[2019-08-30 14:59] Abigail-1992 commented on #888
Thanks kodlist for your answer.
I have tried adding timeouts (2400000 ms) but the exception is always displayed.

[2019-08-30 15:07] kodlist commented on #888
do me a favor. please report your issue on stackoverflow.. with karate tag. and make sure to use guidelines, so you wont lose points. i will keep checking your issue on stackoverflow. and will answer as soon as i can.

[2019-08-30 15:08] ptrthomas commented on #888
@Abigail-1992 there is no use commenting here unless you follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-08-30 15:08] #888 closed

[2019-08-30 15:12] ptrthomas commented on #751
@celcius112 no it is fine, I really appreciate your contribution - very few people do. I did do some more improvements to the `FileUtils` and I don't think you need to re-work much. as I said, I don't really like to depend on a `URL` in the `Resource` instance, but if that is the only thing that will work for spring-boot, please go ahead and add it. but try to follow the existing pattern (maybe ca

[2019-09-02 03:00] ptrthomas commented on #750
closing because of inactivity. sounds like one of those things that will go away as newer java versions take hold

[2019-09-02 03:00] #750 closed

[2019-09-02 03:04] ptrthomas commented on #868
for those reading this - I've created a wiki with whatever little I know of how to get Gradle to work - https://github.com/intuit/karate/wiki/Gradle - would be nice to have validation that it actually works in the wild

[2019-09-02 06:59] InzmamHaq commented on #721
I am facing same issue with 0.9.5.RC1 version.
Simulation class :

import com.intuit.karate.gatling.PreDef._
import io.gatling.core.Predef._
import scala.concurrent.duration._

class TaskSimulation extends Simulation {

  val protocol = karateProtocol(
    "/userauth/oauth/token" ->Nil ,
    "/task/library/" -> Nil
    )

  val getAllTasks = scenario("Retrieve All Task From Task Library").exec(kar

[2019-09-02 14:10] ptrthomas commented on #721
@InzmamHaq no use commenting here unless you follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-09-06 05:52] ajijshaikh opened #889 "Using one scenario of one feature file in other feature files scenario"
I have 2 feature files having some code written in the background section for them. What I need to do is I need to call the scenario from one feature file into another feature file without including its background sections code is it possible?

Currently, I can call the one scenario from one feature file into another scenario from another feature file but stuck on background logic. If you need any

[2019-09-06 10:43] ptrthomas commented on #889
closing, works for me

[2019-09-06 10:43] #889 closed

[2019-09-09 19:26] 10kresources opened #890 "Run karate tests on feature files sitting in S3?"
I have a folder/bucket in s3 (open to public) and I want to run karate tests against those feature files.

But when I give the path to say a single feature file and run the tests, that feature file is ignored

![image](https://user-images.githubusercontent.com/20239382/64560162-5450b100-d38b-11e9-93fb-b84ee7fa8b3b.png)

The contents of x.feature are

Can someone help with this, please?

Nixy

[2019-09-09 19:31] ptrthomas commented on #890
@10kresources sorry this is out of the scope of the project, if you need this - please contribute

[2019-09-09 19:31] #890 closed

[2019-09-09 19:33] 10kresources commented on #890
@ptrthomas  happy to contribute, can you please guide me in right direction, please? Some pointers will be highly appreciated?

[2019-09-09 20:25] ptrthomas commented on #890
@10kresources https://github.com/intuit/karate/wiki/Developer-Guide

[2019-09-13 17:54] auzundere opened #891 "karate.pretty() and print function return #ref:java.util.LinkedHashMap when I used in an array of object in JSON object"
I am currently using Karate 0.9.4. My json object is myJson as below:
[code]
When I used 'print myJson' or 'karate.log(karate.pretty(myJson))', it prints the code as below:

[code]

In the code above, my actual custom_step_results array is

[code]
The second element of the array, the 'actual' node comes as "actual": "#ref:java.util.LinkedHashMap". I think this is an issue to fix.

[2019-09-13 21:09] ptrthomas commented on #891
@auzundere pretty sure you constructed this JSON somehow because you have a cyclic reference. please follow this process because we need to replicate this: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-09-13 21:10] #891 closed

[2019-09-16 13:35] sateeshcsse opened #893 "java.lang.RuntimeException: cannot run jsonpath on type: [type: STRING, value:"
Getting an error while fetching data from JSON response

Feature File:

Feature: Create travel policy

 Background:
    * configure headers = { X-Api-Key: 'lgeBxP9Wn2xGmR7FWvXPT2FpC639iNhG', Accept: 'application/json'}

Scenario: Test1
  Given url 'https://dev.mobile-api.woolworths.com.au/insurance/v1/travel/create/quote'
  And request { "ages": [ 63 ], "destinations": [ "BALI","THA" ], "start": "

[2019-09-16 14:25] ptrthomas commented on #893
sorry no one has the time to dig through this response. one hint is the response may not be valid JSON. to re-open, please follow these instructions or try stack overflow: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-09-16 14:25] #893 closed

[2019-09-16 16:03] shivamgarg17 opened #894 "After upgrading to 0.9.5.RC1 version , not able to run any scenario"
Hi, After upgrading it to said version mentioned on below thread:
https://stackoverflow.com/questions/57941949/timeout-exception-when-try-to-run-karate-feature-in-gatling

`21:17:56.629 [GatlingSystem-akka.actor.default-dispatcher-4] ERROR com.intuit.karate - javascript function call failed: null
21:17:56.630 [GatlingSystem-akka.actor.default-dispatcher-4] ERROR com.intuit.karate - failed function

[2019-09-16 16:35] ptrthomas commented on #894
sorry you have to follow these instructions: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-09-16 16:35] #894 closed

[2019-09-17 05:23] shivamgarg17 commented on #894
Hi,
Please find the attached project to replicate the issue
[karate-gatling-demo.zip](https://github.com/intuit/karate/files/3619387/karate-gatling-demo.zip)

[2019-09-17 05:25] shivamgarg17 opened #896 "After upgrading to 0.9.5.RC1 version , not able to run any scenario"
Hi, After upgrading it to said version mentioned on below thread:
https://stackoverflow.com/questions/57941949/timeout-exception-when-try-to-run-karate-feature-in-gatling

`21:17:56.629 [GatlingSystem-akka.actor.default-dispatcher-4] ERROR com.intuit.karate - javascript function call failed: null
21:17:56.630 [GatlingSystem-akka.actor.default-dispatcher-4] ERROR com.intuit.karate - failed function

[2019-09-17 05:38] ptrthomas commented on #896
@shivamgarg17 the `read()` function does not take a second argument.

[2019-09-17 05:38] #896 closed

[2019-09-17 05:47] shivamgarg17 commented on #896
But it was working in version 0.9.2.

[2019-09-17 05:50] ptrthomas commented on #896
@shivamgarg17 you can continue to waste everybody's time by trying to prove it or you can move forward. your call.

[2019-09-17 07:48] shivamgarg17 commented on #896
@ptrthomas ,
I am not wasting anyone time and you know its was working in previous version.

Also i suggest that where is the error before your comment I already figure out the cause and run my project but problem is that If something is work in earlier version, and start not working after upgradation either you had to mention them somewhere or accept that it is miss from your side. If you want I

[2019-09-17 09:44] gerben86 opened #897 "Configure ssl not able to handle variable keyStore"
I have this configured in karate-config.js:
`config.keyStoreLocation = 'classpath:certs/test/cert.jks';`

In my feature file I'ld like to make use of this function:
[code]

When I do this I get this output:

So it looks like that it's handling the variable `keyStoreLocation` as a string instead of a location.

If I put this in karate-config.js it works:
`karate.configure('ssl', { trustAll: true, k

[2019-09-17 13:42] ptrthomas commented on #897
@gerben86 probably something we can fix. as a workaround, call JS from a feature file and do `karate-config.js` style `configure()`, that will work

[2019-09-17 13:43] ptrthomas commented on #896
@shivamgarg17 do you want a refund ?

[2019-09-17 15:10] shivamgarg17 commented on #896
Can you provide?

Regards
Shivam Garg
Test Automation Engineer
Mob: +91-9634940910

On Tue, Sep 17, 2019, 7:13 PM Peter Thomas <notifications@github.com> wrote:

[2019-09-17 15:23] ptrthomas commented on #896
@shivamgarg17 the check is in the mail. thanks 😛

[2019-09-17 15:24] shivamgarg17 commented on #896
The buy goodies for yourself 👍

[2019-09-17 15:27] ptrthomas commented on #896
@shivamgarg17 and by the way it was working in previous versions 😄

[2019-09-17 15:29] ptrthomas commented on #896
@shivamgarg17 I mean it was working *correctly as per documentation* in previous versions, jeez

[2019-09-18 06:34] gerben86 commented on #897
Thanks! I'll give that a try!

[2019-09-18 12:56] anchella opened #898 "How to verify an element in an array and exit from it once we found it.."
In the below JSON I want to verify in each array of parent do the son Ram exist.... also I want to print in which array number of parent dose the son Ram exist... Can someone help me with this....

When Ram  is not there my script has to fail...

{
    "family": [
        {
            "Parent": {
                "Father": [
                    "Sam"
                ],
                 "address":

[2019-09-18 13:21] ptrthomas commented on #898
@anchella ask this kind of question on stack overflow and simplify it please. should not be more than 5 - 10 lines

[2019-09-18 13:21] #898 closed

[2019-09-18 18:39] babusekaran opened #899 "Issue: called feature doesn't have driver variable or its functions"
`driver` variable is not available for called feature.

**main feature**

[code]

here `driver <URL>` will initialize driver variable.

**called feature**

`And driver.input('input[name=q]', 'karate dsl')`

the same `driver` variable is not available in called feature leaving `ReferenceError: "driver" is not defined in <eval>`

[KarateDriverTest.zip](https://github.com/intuit/karate/files/3627887/

[2019-09-19 01:20] ptrthomas commented on #899
fixed in this commit: https://github.com/intuit/karate/commit/e086d34d70d643760702e99a193d7e8d3fe0e4bb

closing as found and fixed in RC

[2019-09-19 01:20] #899 closed

[2019-09-19 01:42] ptrthomas commented on #897
@gerben86 I just realized that this is as per design. use "embedded expressions"

    * configure ssl = { trustAll: true, keyStore: '#(keyStoreLocation)', keyStorePassword: 'somePass' }

or you can use "enclosed javascript" for a more JS-like "feel" but the Karate preference is for the former. explained here: https://github.com/intuit/karate#enclosed-javascript

can you confirm you are good with t

[2019-09-19 01:42] #897 closed

[2019-09-19 05:53] gerben86 commented on #897
@ptrthomas : Thanks! This works indeed!
I should have read the documentation more carefully :)

[2019-09-19 16:51] ptrthomas opened #900 "lowerCaseResponseHeaders should only convert keys not all values"
as oer discussion here: https://stackoverflow.com/q/58014021/143475

[2019-09-19 19:07] bharatslalchandani commented on #661
@ptrthomas based on above conversation seems we have fixed issue of restricting parallel execution for scenario outline by giving @parallel=false tag above scenario tag in **0.9.2**. Is that correct?
We are using 0.9.1 and tried @parallel=false above scenario outline (not the scenario) but it is still running in parallel. Thanks in advance.
Comment refer from above: https://github.com/intuit/karat

[2019-09-19 20:09] ptrthomas commented on #661
@bharatslalchandani follow this process please, thanks: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2019-09-19 20:13] ptrthomas commented on #900
fixed in this commit: https://github.com/intuit/karate/commit/a39280ef513d793671af1f710016dbe1924d7634

[2019-09-21 09:59] JavaGirish commented on #806
Thanks @RakhmedovRS it worked for me!!

[2019-09-23 14:15] GaryPWhite opened #901 "Demo fails on `WebSocketOptions` with old Karate Version"
As the title says, I got compilation errors on `WebSocketOptions`. Digging into `karate-netty` I saw it is at `0.9.3`, which resolved the issue. I had others with base karate packages, and [split the other dependencies and netty into seperate versions for the demo](https://github.com/GaryPWhite/karate-demo/blob/master/build.gradle#L76-L77)

Upon updating karate-demo to the newest karate available,

[2019-09-23 14:26] ptrthomas commented on #901
@GaryPWhite can you first check the instructions here: https://github.com/intuit/karate/wiki/Developer-Guide

it has to be Oracle JDK 8. yes the JavaFX UI has been nothing but pain, so I'm probably going to throw it out in the next version since we now have the VS Code debugger: https://github.com/intuit/karate/wiki/IDE-Support#vs-code-karate-plugin

but any help to improve the dev experience is a

[2019-09-23 14:26] #901 closed

[2019-09-24 19:27] ptrthomas opened #902 "hacktoberfest - instructions for contributors - roadmap items - please read"
Thank you for your interest in contributing to Karate ! We have a set of well-documented roadmap items and enhancements proposed here: https://github.com/intuit/karate/projects/3

![image](https://user-images.githubusercontent.com/915480/65544000-345ed880-dec7-11e9-90f4-97534e917ae0.png)

All you need to do is choose what you wish to work on, look at the **Proposed**  column - and then we will mov

[2019-09-25 03:38] babusekaran opened #903 "Include embed items from after scenario hooks in HTML report"
Embed statements on after scenario should be included for HTML report generation,

[code]

This also helps for afterScenario screenshot attachment and screen recording attachment in UI automation

Cant think of any use case to support this at afterfeature, hence proposing to support it only at afterScenario

[KarateEmbedTest.zip](https://github.com/intuit/karate/files/3650442/KarateEmbedTest.zip)