[2017-09-26 04:31] ptrthomas commented on #193
referencing tickets #71 #76 for those who may search for this in future.

Thanks to this SO post for the solution: https://stackoverflow.com/a/20931663/143475

[2017-09-26 18:49] NuttBoxer opened #194 "12.00 Truncated to 12.0 on Request"
This doesn't seem like expected behavior.  I would think that Karate would honor the value set by the user of 12.00, or possibly drop the zeros and change it to 12, but not 12.0
[code]
1 > POST http://127.0.0.1:8080/search
1 > Accept-Encoding: gzip,deflate
1 > Connection: Keep-Alive
1 > Content-Length: 14
1 > Content-Type: application/json
1 > Host: 127.0.0.1:8080
1 > User-Agent: Apache-HttpClient

[2017-09-26 19:01] ptrthomas commented on #194
closing as duplicate of #123

[2017-09-26 19:01] #194 closed

[2017-09-26 21:21] NuttBoxer commented on #187
Just to clarify, when you say "null keys", in the context of a variable, this means explicitly assigning the variable a value of `null`?  I was hoping for added functionality so the value could be implicitly set to null if the variable was never assigned a value, but referenced using the optional syntax of `##`.

[2017-09-27 00:28] ptrthomas commented on #187
That's right, we are not going to support the concept of un-initialized variables, as they are more trouble than they are worth, and cause more debugging headaches if you think about it.

Do look at the new `set` keyword that allows you to create JSON - and any 'blanks' are not converted to keys, that might help: https://gist.github.com/ptrthomas/d6beb17e92a43220d254af942e3ed3d9

[2017-09-27 09:16] far11ven opened #195 "Not able to call static java functions from karate DSL"
[code]

for above feature, it runs fine when `readExcelFile()` is not a static function, but when it is following error is thrown -
`java.lang.RuntimeException: javascript evaluation failed: db.readExcelFile('D:\B1.xlsx'):
[KarateREST.zip](https://github.com/intuit/karate/files/1336470/KarateREST.zip)
`

[2017-09-27 10:17] ptrthomas commented on #195
yes, static methods don't need the `new`. Refer to the doc: https://github.com/intuit/karate#calling-java and the examples: https://github.com/intuit/karate/tree/master/karate-demo

Try this if `readFile` is a static method:

[code]

[2017-09-27 10:17] #195 closed

[2017-09-27 13:46] colameo commented on #152
I'm using the latest karate (v0.6.0.2) but after a rest call the karate.get('responseStatus') returns null.
However, the service gets called:

15:39:09.704 [main] DEBUG com.intuit.karate -
1 < 200
1 < X-Powered-By: Express
1 < cache-control: no-cache, no-store
1 < connection: close
1 < content-type: application/json
1 < date: Wed, 27 Sep 2017 13:39:09 GMT
1 < expires: Thu, 01 Jan 1970 00:00:00 GMT

[2017-09-27 13:57] ptrthomas commented on #152
no idea without a better example. maybe your javascript is executing BEFORE the response returns. you can try this as an experiment:

[code]

[2017-09-27 15:35] colameo commented on #152
...the karate file (which executes the test against a rest service) is called indirectly through a javascript. actually we have a main karate feature which calls that javascript with a fallback logic.
Basically, the JS first calls the target feature  and then it checks if the backend call failed by evaluating with `karate.get('responseStatus')` the status.

Question: can it be that karate clears t

[2017-09-27 16:32] ptrthomas commented on #152
Yes that's it - Karate does clear the responseStatus !

Well, looks like you are doing some pretty advanced stuff with Karate. Let me know if something can be added to Karate to make things easier.

The solution here to me sounds like you should return the responseStatus from the target feature, actually it would be present by default in the JSON returned from the `call`. If you just grab and save

[2017-09-27 21:09] baechul opened #196 "new ScriptEngineManager().getEngineByName("nashorn") returned null when we tried on Linux"
The problem and potential resolutions are discussed here:
https://stackoverflow.com/questions/25332640/getenginebynamenashorn-returns-null

Our Jenkins slave linux has a java version "1.8.0_144" and failed as the nashorn engine was returned in null in the Script.java. Since I don't have a access to the box, I can't try other versions of JDK. In the meanwhile, I am submitting the issue if passing a

[2017-09-28 00:40] ptrthomas commented on #196
I am not clear if this is an issue with an old version of the JDK which you may be on. Since no one has ever reported this, I'm hesitant to make any changes yet.

[2017-09-28 00:49] ptrthomas opened #198 "Parallel runner logger - java.lang.OutOfMemoryError: Java heap space"
This  was just reported.

[code]

[2017-09-28 01:20] ptrthomas commented on #196
pull request merged / fixed. stay tuned for a patch release within a day

[2017-09-28 02:44] ptrthomas commented on #196
a patch version has been released, please update your karate version to 0.6.0.3

[2017-09-28 03:37] ptrthomas commented on #184
closing due to inactivity

[2017-09-28 03:37] #184 closed

[2017-09-28 03:38] ptrthomas commented on #183
closing due to inactivity

[2017-09-28 03:38] #183 closed

[2017-09-28 03:38] ptrthomas commented on #160
closing due to inactivity

[2017-09-28 03:38] #160 closed

[2017-09-28 03:38] ptrthomas commented on #144
closing due to inactivity

[2017-09-28 03:38] #144 closed

[2017-09-28 03:39] ptrthomas commented on #141
closing due to inactivity

[2017-09-28 03:39] #141 closed

[2017-09-28 03:39] ptrthomas commented on #89
closing due to inactivity

[2017-09-28 03:39] #89 closed

[2017-09-28 03:39] ptrthomas commented on #105
closing due to inactivity

[2017-09-28 03:39] #105 closed

[2017-09-28 03:39] ptrthomas commented on #154
closing due to inactivity

[2017-09-28 03:39] #154 closed

[2017-09-28 03:40] ptrthomas commented on #86
closing due to inactivity, not a high priority as karate-core can be used without HTTP

[2017-09-28 03:40] #86 closed

[2017-09-28 03:42] ptrthomas commented on #152
closing due to inactivity - this is anyway a planned roadmap item - e.g. service virtualization.

you can achieve this in a custom way as of today by following the same approach as the karate-mock-servlet. the over-ridable method callback hands you the URL

[2017-09-28 03:42] #152 closed

[2017-09-28 03:42] ptrthomas commented on #131
closing due to inactivity

[2017-09-28 03:42] #131 closed

[2017-09-28 03:45] ptrthomas commented on #167
guess what, this is what the Java API is for ! closing.

[2017-09-28 03:45] #167 closed

[2017-09-28 18:04] cnrani opened #200 "Getting java.lang.NoClassDefFoundError: jdk/nashorn/api/scripting/ScriptObjectMirror while running on Linux box"
Hi Peter,

We have written webservice tests in karate and able to run the tests on local mac machine but currently getting the error  java.lang.NoClassDefFoundError: jdk/nashorn/api/scripting/ScriptObjectMirror while running on Linux box. Initially we were getting nullpointer exception and sent a PR and after the merge, we started getting another issue "java.lang.NoClassDefFoundError: jdk/nashorn/

[2017-09-28 18:25] ptrthomas commented on #200
Rani - I have a feeling TEP may be relying on OpenJDK, I am not 100% sure, but maybe Karate needs the Oracle JDK to work properly.  Can you confirm the exact JDK version, but I will also investigate.

[2017-09-28 18:33] ptrthomas commented on #200
adding some context. Karate's CI has been [running regularly](https://travis-ci.org/intuit/karate) on Ubuntu / Linux with this Travis setup: https://github.com/intuit/karate/blob/master/.travis.yml

[2017-09-29 15:45] ptrthomas opened #201 "not contains should be possible for strings also"
requested by someone on stack overflow: https://stackoverflow.com/q/46491555/143475

[2017-09-29 20:45] baechul opened #202 "karate-config.js wasn't loaded correctly if comment block is given before the line of function()"
For example,

/**
 * Karate will invoke this function when starts up.
*/
function() {
...
}

It was loaded only after removed the comment block.

[2017-09-30 01:10] ptrthomas commented on #202
yes this is not supported. functions have to start with the text `function`

[2017-09-30 01:10] #202 closed

[2017-10-01 03:51] ptrthomas commented on #200
closing as duplicate of #196

[2017-10-01 03:51] #200 closed

[2017-10-02 16:38] ptrthomas opened #203 "support charset in Content-Type header"
see this stack overflow question for details: https://stackoverflow.com/questions/46529310/unable-to-configure-content-type-header-from-karate

[2017-10-05 02:24] ptrthomas commented on #196
cc @cnrani

closing this as this apparently was a JRE in the env instead of the JDK. please open a new ticket if needed

[2017-10-05 02:24] #196 closed

[2017-10-05 08:41] colameo opened #206 "How to refer to all arguments passed into a feature"
Hi,
is there a way to refer to all arguments passed to a feature file like in unix with $@ or $* for shell scripts?

[2017-10-05 11:47] ptrthomas commented on #206
No. There are only 3 ways to auto-pass variables into a feature file:

- using `karate-config.js` (global)
- using `call` or `callonce`, and existing variables are cascaded
- rarely used, but via the [Java API](https://github.com/intuit/karate#java-api), you can pass a `Map`

This is to keep things simple. Also look at [`karate.properties`](https://github.com/intuit/karate#the-karate-object)

If t

[2017-10-05 12:43] colameo commented on #206
...hm, my problem is that I pass a json structure from a main feature to a sub feature and want to refer to the whole structure. Moreover, the json structure in the main feautre is an json array [{ ... }] (rest request bodies).

[2017-10-05 13:09] ptrthomas commented on #206
Got it ! You know what, this makes sense, and I've been also running into this requirement myself.

Just like we introduced `__loop` as a magic variable in the last version, I'm proposing that we use `__$` to represent the argument passed in for a `call`.

How does that sound. I'm doing the best I can to come up with reasonable names. Look at the dev doc for [`match each`](https://github.com/intui

[2017-10-05 13:14] ptrthomas commented on #206
On second thoughts I think I'll go with `__arg` to avoid confusion. Karate has a rule that only one arg is allowed for a call anyway.

[2017-10-05 13:25] ptrthomas commented on #206
I now remember that one of the principles for the design of `call` was that feature files should work 'stand-alone'. Which explains why it is the way it is right now, where the call arg is "unpacked" into multiple named variables.

But `__arg` makes sense, and would be a nice alternate way to access the call arg - and yes useful and needed in some 'dynamic' test-script situations.

[2017-10-05 14:13] colameo commented on #206
that would be perfect! thanks for reacting so fast ;-)

[2017-10-05 17:21] ptrthomas commented on #206
@colameo I've just made a hidden release 0.6.0.7 that has this included. would be great if you can try this out and let me know.

[2017-10-06 09:49] pbrosteanu opened #207 "Issue escaping '?' sign in url"
Hello,

I want to make a call to the TestRail API which has the path: "index.php?/api/v2"
- If i put it in the url it works
- If i put it in the path, the '?' sign will get encoded as '%3F'

Do you have any ideas on how i could handle this? (i need to assign it to the path not to the url)

[2017-10-06 10:09] ptrthomas commented on #207
please refer to this: https://stackoverflow.com/q/46163604/143475

[2017-10-06 13:24] ptrthomas commented on #207
actually I read your question in a hurry. this looks tricky. were you able to solve this ?

[2017-10-06 13:33] pbrosteanu commented on #207
Hi! thank you for taking a second look! no i couldn't

[2017-10-06 13:47] ptrthomas commented on #207
ok try this. I have to mention that this TestRail API looks to be very strangely designed :(

[code]

[2017-10-06 23:31] NuttBoxer opened #208 "Adding Fake Arguement Does Not Allow Callonce File to be Cached Twice"
When calling the same file twice using Callonce, adding a fake argument is supposed to cache the responses for each call, but instead the cache is being hit.

[code]

16:10:13.052 [main] DEBUG com.intuit.karate - cached callonce: read('../callarray/kitten-create.feature')
16:10:13.053 [main] DEBUG com.intuit.karate - callonce cache hit for: read('../callarray/kitten-create.feature')

[Archive.zip]

[2017-10-07 00:26] ptrthomas commented on #208
here's a solution:

[code]

[code]

[2017-10-07 00:26] #208 closed

[2017-10-08 05:30] idealumesh opened #209 "Allure Reports - Severity defined in Scenarios in feature files are not picked up for reporting. How to define karate"
Allure Reports - Severity defined in Scenarios in feature files are not picked up for reporting. How to define karate

[2017-10-08 06:14] ptrthomas commented on #209
there is no information provided that helps us understand what you are expecting. please post your question on stack overflow: https://stackoverflow.com/questions/tagged/karate

[2017-10-08 06:14] #209 closed

[2017-10-08 12:23] behzadian opened #210 "add wait command in test"
Hi,
thanks for good platform, I'm writing large numbers of test with karate

for some tests, I need to wait for some reason (for example to unlock a locked user), is there any way to place a wait, or sleep between execution?

[2017-10-08 12:51] ptrthomas commented on #210
yes, you can even implement polling easily with a little bit of JS + Java: [`polling.feature`](https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/polling/polling.feature), this is part of the [demos](https://github.com/intuit/karate/tree/master/karate-demo).

[2017-10-08 12:51] #210 closed

[2017-10-08 16:49] #190 closed

[2017-10-08 16:49] #191 closed

[2017-10-08 16:49] #180 closed

[2017-10-08 16:49] #189 closed

[2017-10-08 16:49] #193 closed

[2017-10-08 16:49] #198 closed

[2017-10-08 16:49] #201 closed

[2017-10-08 16:49] #203 closed

[2017-10-09 07:58] colameo commented on #206
...where can I find this "hidden release"?

[2017-10-09 08:48] ptrthomas commented on #206
@colameo it would be in Maven public like normal. but v0.6.1 has just been released: https://github.com/intuit/karate/releases/tag/v0.6.1

[2017-10-09 22:58] sudheerkethireddy opened #211 "How to re-use code"
Hi Team, first thing first, karate framework looks pretty promising and less verbose. I have used restassured and there, in Base Java class we setup auth params and other things that are needed across suite and we extend the base class in each sub class to re-use the auth params. Does karate support the same..if so can you please point me to the docs ??

Thanks
sudheer

[2017-10-09 23:44] NuttBoxer commented on #208
This does allow calling the same file twice, but I don't see the difference between this and just using `call read`, as the files are iterated over for each row in the Scenario Outline.  Besides saving time, I wanted to use Callonce to remove hundreds of lines of output from the test that where being created by calling a file 28 times when it only needed to be called 2 times.

The original write-u

[2017-10-10 00:25] ptrthomas commented on #208
unable to understand, kindly provide working example.

[2017-10-10 00:27] ptrthomas commented on #211
yes you can re-use code.

here is the specific doc: https://github.com/intuit/karate#calling-other-feature-files

and there are multiple examples in the demos: https://github.com/intuit/karate/tree/master/karate-demo - look at the second row.

[2017-10-10 00:27] #211 closed

[2017-10-10 05:38] behzadian opened #212 "I got (Exception in thread "main" java.util.regex.PatternSyntaxException: Dangling meta character '?' near index 6)"
I'm new to karate and cucumber.
I wrote below test:

[code]

but I got below error:

`"C:\Program Files (x86)\Java\jdk1.8.0_112\bin\java" "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA 2017.2\lib\coverage-agent.jar=C:\Users\Homayoun\AppData\Local\Temp\coverage21839args" -Dorg.jetbrains.run.directory=C:\Users\Homayoun\Documents\Projects\HamrahDoctor\HamrahDoctorApiTest\api\src\res "-javaagent

[2017-10-10 05:43] ptrthomas commented on #212
can you add a `file.encoding` config to your maven `pom.xml` hopefully it handles the encoding better:

[code]

by the way you don't need to use `karate.get`in embedded expressions, this should work:

[code]

[2017-10-10 05:44] ptrthomas commented on #212
even this is fine
[code]

[2017-10-10 05:50] ptrthomas commented on #212
hey I read the stack trace more carefully - this is what is causing the problem:

[code]

try this:

- in IntelliJ - run the whole feature, not the selected scenario
- or change the name of the scenario to english (which you may not want)
- or use a JUnit runner with the `RunWith(Karate.class)` annotation like mentioned in the documentation: https://github.com/intuit/karate#running-with-junit

I'm

[2017-10-10 05:50] #212 closed

[2017-10-10 07:33] behzadian commented on #212
thanks, I seems if I remove all non-English chars, everything will be fine
But I if I add plug-in configuration, does not work, changing encoding of file and project doesn't help also
Another thing is, problem has been occurred while I changing json values, so I thought, problem is from json values . (Currently I have tests with Persian feature and scenario without error!

[2017-10-10 07:34] behzadian commented on #212
I also thanks for shortcut, it helped me a lot
You have very good but very large documentation :)

[2017-10-10 08:47] ptrthomas commented on #212
ok thanks for the update. glad to know things are working. ignore the file.encoding, it is not needed for you.

yes people tell me the documentation is too much :) but there is an interesting advantage, you can do `CTRL F` and find anything you want very easily !

[2017-10-10 16:11] ptrthomas commented on #207
closing this as no response.

[2017-10-10 16:11] #207 closed

[2017-10-10 18:19] NuttBoxer commented on #208
Updated write up with your solution.  I need something that caches the requests.  Not sure what the benefit of your proposed solution is over simply using `call read`?

[2017-10-11 00:27] ptrthomas commented on #208
looks like we are back to square one :)
for caching the requests just use `callonce` as clearly outlined in the documentation.

[2017-10-11 00:38] NuttBoxer commented on #208
And when I need to cache two different responses from the same file?

[2017-10-11 02:53] ptrthomas commented on #208
then my example above applies

[2017-10-11 23:05] NuttBoxer commented on #208
How does your example provide any benefit over call read?  The ticket is concerning a callonce solution that allows for caching two different responses from the same file, without reading the file for every line of the Examples table.

I don't see a proposed solution that allows caching two different results, and does not call the file for every line.

[2017-10-12 03:29] ptrthomas commented on #208
May I remind you of the need to provide more clarity when submitting isseus: https://github.com/intuit/karate/issues/183#issuecomment-331040204

My understanding based on the (IMO vague) information in this ticket:
- you don't want to cache in some cases. fine, use `call`
- you do want to cache in some cases. fine, use `callonce`
- you want to use the same file and cache in some cases but actually

[2017-10-12 08:30] alexec opened #213 "How to extend Karate"
Hi,

I'd like to extend Karate to add step-defs that do some common tasks so that they can be re-used. Is there an recommended way to do this? E.g. using `World` or similar?

Alex

[2017-10-12 19:21] NuttBoxer commented on #208
I figured out the solution, can't believe I didn't think of it sooner.  I need to move the test when the file get's called twice into a separate Scenario that runs first in the .feature file.  Then I can use callonce in the scenario outline to prevent all over 100 unnecessary requests from running, and bloating the log with over 1,000 extra lines.

Allowing  `callonce` to function dynamically depe

[2017-10-13 00:33] ptrthomas commented on #208
This is possible in Karate, thanks.

[2017-10-13 00:37] ptrthomas commented on #208
Just for the record, we are interested in improving Karate, but you have not been able to clearly define what gap exists - and what improvement is needed. Kindly refrain from throwing baseless accusations around, thanks.

[2017-10-13 00:56] NuttBoxer commented on #208
I said "that" improvement, not "all" improvements.  Regardless, I've updated the comment to prevent further incorrect inference, as yours was obviously not my intended communication.

[2017-10-13 02:28] vsashidh opened #214 "Hooks in Karate DSL"
I have set up cucumber hooks as follows:

[code]
but when karate test runs, before and after hooks are not being executed. Is this not possible currently?

[2017-10-13 02:49] ptrthomas commented on #214
No, Cucumber hooks are not supported. There are multiple options to do a @Before, the `Background` and `call` or `callonce`. We will not support an `after` because there will always be a question, 'what if that fails'. If you really want you can use another `call` or even a @AfterClass annotation. Hope that helps.

[2017-10-13 02:49] #214 closed

[2017-10-13 13:18] aktoluna opened #215 "Call Feature With Tag"
Hi,
I'm calling another feature from a feature file.I want only one scenario to work, but I can not. How can I do it?

[2017-10-13 13:21] ptrthomas commented on #215
this is not supported and most likely will never be supported in karate. there is no plan to support tags within called features.

please re-factor your 'callable' features to have only one scenario each.

[2017-10-13 13:21] #215 closed

[2017-10-13 15:42] shekarl opened #216 "Follow redirects on 302 on POST not working"
I see that the framework now follows redirects with the following directive.

configure followRedirects = true

But this works only for GET requests. Does not for POST. Apache http does not follow redirects on 302, as it is how the spec is defined. You need to add the following code to make redirections happen on a POST.

        CloseableHttpClient client = clientBuilder.setRedirectStrategy(new L

[2017-10-13 15:54] ptrthomas commented on #216
@shekarl thanks. 3 questions:
- actually followRedirects has always been true by default and now it can be switched off. just want to make sure you understood correctly
- would be great if you can provide some references / links to spec that will help me build a local end point to simulate. or if you know of a public end point to try that would help
- can you try switching to `karate-jersey` in yo

[2017-10-13 16:08] shekarl commented on #216
Your first bullet. I understood it correctly. By default POST does NOT redirect.

Here is the spec for 302 and POST.

https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3   "If the 302 status code is received in response to a request other than GET or HEAD, the user agent MUST NOT automatically redirect the request unless it can be confirmed by the user, since this might change the cond

[2017-10-13 16:08] shekarl commented on #216
Ref: http://www.baeldung.com/httpclient-redirect-on-http-post

[2017-10-13 16:18] ptrthomas commented on #216
Let me try again and re-phrase the question.

Karate follows GET redirects by default (out of the box, without needing to `* configure followRedirects = true`.

In your opinion, should POST 302 also be followed by default even though this is deviating from the spec. The code will be different.

[2017-10-13 17:08] ptrthomas commented on #216
@shekarl nevermind. fixed in dev.

[2017-10-13 18:38] animomo1 opened #217 "JSON path expression doesn't work in some cases."
Refer deails here - https://stackoverflow.com/questions/46708583/certain-expressions-to-validate-json-dont-work/46720927#46720927

Am trying this * def temp3 = $.requests[?(@.friendlyId=='OR004983'].id. But getting error com.jayway.jsonpath.InvalidPathException: Could not parse token starting at position 10. Expected ?, ', 0-9, *
at com.jayway.jsonpath.internal.path.PathCompiler.fail(PathCompiler.

[2017-10-13 23:43] guhijo opened #218 "How to use a DB SELECT result in a PATH?"
I need to perform a query in the DB using DbUtils.java class, and the result of this query has to be in a request path.

Currently, I perform the query and store its result inside a variable:

* def passRecoveryKey = db.readRows("select password_recovery_key from users where email = 'jdoe@test.com'")

And then, I need this value (and nothing more) in the following path:
Given path '/api/passwordKe

[2017-10-14 00:48] ptrthomas commented on #218
You should be able to solve this if you spend 2 minutes with someone who knows JS. Also read this section in the doc carefully: https://github.com/intuit/karate#json

At least in the example `DbUtils` code, `readRows` returns a list (JSON array) - so maybe all you need to do is this:

`* Given path '/api/passwordKeyValidation/' + passRecoveryKey[0].password_recovery_key`

Here is a tip, do `* prin

[2017-10-14 00:48] #218 closed

[2017-10-14 01:02] ptrthomas commented on #217
@animomo1 as I expected you had a silly mistake in your JsonPath, you don't have the closing parentheses `)`. By the way your JSON is wrong also, you missed a closing `]` at the end.

Here below is working fine:

[code]

[2017-10-14 01:02] #217 closed

[2017-10-14 02:16] vsashidh opened #219 "Spring IoC integration"
It would be great if Karate would start a spring application context or use cucumber-spring dependency so that dependency injections can be performed in callable java classes. That way @components can be added to classes that should be managed by Spring and no instantiation needs be performed in the javascript def function as follows:

[code]
JAVA callable class:
[code]

Currently, I have solved t

[2017-10-14 02:21] ptrthomas commented on #219
No, no, no. I strongly disagree that karate should start depending on spring in the core !

What you are doing is the right way and it is not a workaround.

Also please look at the mock servlet documentation, it may give you more ideas: https://github.com/intuit/karate/tree/master/karate-mock-servlet

[2017-10-14 02:21] #219 closed

[2017-10-16 17:38] aeendale commented on #90
Somewhat similar to "NuttBoxer", but I am seeing different error messages in Eclipse Mars 4.5.2 that does not prevent me from executing the .feature files, but they are extremely annoying. I tested this using both Maven and Gradle and this does not appear on Intellij, its a Eclipse specific issue. I tried the above solution but i do see a "user setting" in the Cucumber option. Screenshot attached.

[2017-10-16 17:43] NuttBoxer commented on #90
Do you have the cucumber plugin installed?
https://github.com/cucumber/cucumber-eclipse

[2017-10-16 17:44] ptrthomas commented on #90
are you sure you are using the "official" cucumber eclipse plugin, there are a couple of other non-official plugins in the eclipse marketplace etc.

[2017-10-16 18:00] aeendale commented on #90
when I searched for "cucumber" in the eclipse marketplace, the only result that returned was a plugin called, "Natural" 0.7.6. It said it supported Cucumber, Jebahve, etc. I am guessing that is not the "official" plugin. what would it be called on the Eclipse marketplace?

[2017-10-16 18:03] NuttBoxer commented on #90
I couldn't find it in the marketplace.  The above link works.

[2017-10-16 18:15] ptrthomas commented on #90
yes. ignore the marketplace, install from the link.

[2017-10-16 18:25] aeendale commented on #90
I am so used to installing from the marketplace. Thank you both, the error messages went away after installing the correct plugin.

[2017-10-16 20:20] animomo1 commented on #217
@ptrthomas Thanks for as usual very fast reply. My bad while typing i missed a few.
The above works just fine.
However, i need to get the OR number and pass it in the json path like this.
In this below ex : I am defining ORID and passing it in the json path.

      * def response = { "requests": [ { "id": "myid", "friendlyId": "OR001608", "roleId": "Software Engineer", "roleName": "Software Engine

[2017-10-16 23:59] ptrthomas commented on #217
You cannot mix JsonPath and dynamic values right now, and for this you have to use the `karate.jsonPath()` JavaScript method.

[code]

`[print] temp3: myid`

[2017-10-17 10:59] malloc32 opened #220 "Problem matching schemas with object arrays"
I have a problem matching schemas... for example response is:

`{"errors":[{"message":"Invalid credentials","code":"INVALID_CREDENTIALS"}]}`

Then I want to match that response with the schema:

`{"errors":[{"message":"Invalid credentials","code":"INVALID_CREDENTIALS"}]}`

In feature file:

`match response == schema.authenticate.errors.invalidCredentials`

Then I have the next assertion:

`asserti

[2017-10-17 11:06] ptrthomas commented on #220
sorry, you haven't provided enough info to replicate this. without understanding what `schema` looks like there's nothing we can do. try again or post your question on stack-overflow: https://stackoverflow.com/questions/tagged/karate

[2017-10-17 11:06] #220 closed

[2017-10-17 11:13] malloc32 commented on #220
schema is:
` {"errors":[{"message":"Invalid credentials","code":"INVALID_CREDENTIALS"}]}`
response is:
` {"errors":[{"message":"Invalid credentials","code":"INVALID_CREDENTIALS"}]}`

Here you can see part of the schema file

[code]

[2017-10-17 11:29] ptrthomas commented on #220
sorry, not good enough. you'll need to provide a clear way for us to replicate the issue.

if you need an example see here: https://github.com/intuit/karate/issues/217

[2017-10-17 13:23] koprivica opened #221 "JsonPath filter is not evaluating variable"
Hi all,
I am trying to verify that result of previous HTTP Methods is correct. I am doing that by performing new HTTP Method which result I have to filter.
Simplified code looks like this:

[code]
Basically I am getting array of objects and i have to verify that only one object has this id. But JsonPath filter is not evaluating variable so I am getting following error:

[code]

Can anyone please h

[2017-10-17 14:02] malloc32 commented on #220
Ok, now I know more about the problem...I will try to explain it...
I load some files in karate-config.js then with these files build a object with all schemas, and use this objetc to match schemas in features files... **the problem is that is not
exactly the same, very similar, but not exactly the same, to define a json in a feature file that define it in karate-config.js file,** I know that is n

[2017-10-17 14:10] animomo1 commented on #221
@koprivica The issue looks to be related as this one https://github.com/intuit/karate/issues/217.
Please take a look.

[2017-10-17 14:13] roydekleijn opened #222 "consecutive requests"
Hello,

How to go with the following?

I have a specific API flow where I need to perform some consecutive requests. First I need to retrieve a value, which I then need to add to the (second) POST request.

How to do that, can you pls give an example.

[2017-10-17 14:13] animomo1 commented on #217
@ptrthomas cool. It worked great. Thanks for that! You should put this answer in stackoverflow so that others can benefit. Once again, Thanks!

[2017-10-17 15:01] ptrthomas commented on #221
yes closing as duplicate of #217

[2017-10-17 15:01] #221 closed

[2017-10-17 15:09] ptrthomas commented on #220
sorry I am not able to follow such confusing instructions. these are the issue submission guidelines we are going to enforce for such cases:

- please provide a simple working example that does the minimum possible steps to replicate the issue
- this should be part of a zip file that includes the entire maven project (you can use the quickstart as a starting point)
- clearly explain what the expec

[2017-10-17 15:11] ptrthomas commented on #220
Actually you may be on a very old version of Karate.

Have you tried upgrading to the latest possible 0.6.1 ?

[2017-10-17 15:21] ptrthomas commented on #220
ok, please ignore my above 2 messages. Finally it became clear in your last message - you are trying to do something unusual in the karate config.

try this:

create a JSON file, call it `schema.json`

in `karate-config.js`:

[code]

If needed use the `classpath:` prefix. Now things will work. Also this is better so you don't clutter your `karate-config.js` and you can even have different schema f

[2017-10-18 07:50] malloc32 commented on #220
Thank you, if I use karate.read it works, but I have a problem because my folder structure, a folder with all json schemas, order by functionality and some of then are shared ... The location of feature file or location of the runner class (classpath) is not 'known' (nested folders....) so It is not possible to access schema folder if the user for example create a subfolder in features or in runne

[2017-10-18 08:22] ptrthomas commented on #220
you can use relative paths and classpath at the same time.

`read('classpath:some/path/schema.json')` so I think you will be fine.

I'm not sure doing so much in karate-config.js is a good idea, I would just use common re-usable features where needed. if you have tests that don't need schema they will un-necessarily have the overhead of schema loading for every scenario.

[2017-10-18 08:30] malloc32 commented on #220
Yes... it is better idea load necessary schemas in the scenario. Thank you very much.

[2017-10-18 08:43] koprivica commented on #221
Thanks guys! This is what I was looking for.
Sorry for inconvenience.

[2017-10-18 09:51] malloc32 commented on #220
Sorry, but... one of my schema file is a group of schemas, so I read the file and use the specific schema, for example I group all authorization posible schemas in **authorization.json**

[code]

Feature file

Backgorund

`* def  authSchema = callonce read('../../schemas/authorization.json')`

  so I do not load it in each Scenario , I load it in feature background, then in some scenarios

`Then m

[2017-10-18 10:32] ptrthomas commented on #220
please just do this, what is the problem with this !?

`* def authSchema = read('../../schemas/authorization.json')`

yes, if it is in the background it will be read for each Scenario. which is absolutely fine because it is from the file system and will be very fast. `callonce` is intended to cache time-consuming calls.

you can also define a snippet of js to load all your schemas and then call it

[2017-10-18 12:21] createam opened #223 "HTTP JSON response is not recognised as JSON if it begins with a newline"
When the HTTP JSON response begins with a newline, it is not recognised as a valid JSON. Any subsequent matching of JSON fields using the response variable will not work as aspected.

Looks like JSON Text can begin with a whitespace according to https://tools.ietf.org/html/rfc7159#section-2

This is a minor issue, but as Karate DSL works beautifully in handling whitespaces in gneeral, probably it

[2017-10-18 12:22] createam commented on #223
I guess it is this line causing the behavior,

https://github.com/intuit/karate/blob/01496e16ff308cbd877d4a7ae3ac92d5d3c8e9d0/karate-core/src/main/java/com/intuit/karate/Script.java#L97

[2017-10-18 13:22] ptrthomas commented on #223
thanks ! will look into this, you should be able to work around this for now by using type conversion, maybe something like this:

`* json response = response`

[2017-10-18 13:35] createam commented on #223
Thanks. I figured out the workaround, but in this case I had the control over the API implementation, so removed the newline in the response and its working fine.

[2017-10-18 13:35] ptrthomas commented on #216
technically still open until v0.6.2 is released

[2017-10-19 12:32] vsashidh opened #224 "Inject url for a feature file"
Is there a way to inject url into the feature file?

Following is an excerpt from our feature file:

[code]

How can we control which URL the script is executed against?

[2017-10-19 14:45] duncwebb opened #225 "JSON generated by Javascript code returns Arrays as Objects"
I have a test that needs an array of objects to be generated for which I'm using some simple Javascript. Each object contains several members including one 'types' that's an array of strings however when this JSON is returned to Karate, the arrays are converted into objects where the keys are the array indices and the array values are the values. To best demonstrate this I've attached a minimal ex

[2017-10-20 13:10] ptrthomas commented on #224
refer to the doc: https://github.com/intuit/karate#url

[2017-10-20 13:10] #224 closed

[2017-10-20 13:31] createam opened #226 "Provide a variable to access the request information"
Provide a variable, similar to `response`, which can make it easier to access the information about the request sent by Karate. The rationale is to make the request and response available to external Java classes accessed through Java Interop.

More details available on the StackOverflow question, https://stackoverflow.com/questions/46846367/accessing-the-built-request-details-in-karate/

[2017-10-20 16:11] aeendale opened #227 "Media Content type gets altered if POST request is sent using <replace> keyword"
when a post request is passed from a <replace> variable, it is altering the content type of the POST request to an unsupported type.

Additional info on steps, screenshots available on https://stackoverflow.com/questions/46839414/in-karate-dsl-how-do-i-resolve-an-unsupported-media-type-for-a-valid-post-reque

[2017-10-20 19:40] #227 closed

[2017-10-20 19:41] aeendale commented on #227
This is not an issue. I did not add the appropriate line of code which is And header Content-Type = 'application/json'. closed issue.

[2017-10-23 11:30] duncwebb commented on #225
I did try the json cast step but the problem is that by the time the object leaves Nashorn it's in the wrong internal representation and the json cast can't help. I'll have a think...

[2017-10-24 07:11] colameo opened #228 "Select and tranform json data"
In our project, we need to select and transform json data structures. We just discovered a framework called [st.js](https://github.com/SelectTransform/st.js) which would fit for our needs very well. What is the easiest way to integrate that in karate js api?

[2017-10-24 16:21] ptrthomas commented on #228
@colameo Karate has [JsonPath](https://github.com/json-path/JsonPath#path-examples) built-in and you really don't need anything else. Look at the doc and some of these [examples](https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/junit4/demos/js-arrays.feature).

[2017-10-24 16:21] #228 closed

[2017-10-24 17:46] saurabhxkapoor opened #229 "Cookie Rejected - violates RFC 2109: host minus domain may not contain any dots"
We are getting error Cookie Rejected - violates RFC 2109: host minus domain may not contain any dots. Here are more details:

Question posted on [stackoverflow](https://stackoverflow.com/questions/46896527/karate-cookie-rejected-when-it-contains-special-characters/46916395#46916395):
[code]

[2017-10-25 02:37] ptrthomas commented on #229
probably needs some leniency fix for apache: https://stackoverflow.com/questions/39607324/violates-rfc-2109-host-minus-domain-may-not-contain-any-dots

[2017-10-25 07:26] colameo commented on #228
...hm, I might asked the wrong question ;-) the question is moerw

[2017-10-25 20:13] ptrthomas commented on #228
Karate actually is implemented in Java but can run 'plain' JS. So there is a chance that if you use advanced JS libs it wont work, ES6 and npm modules certainly won't. So I guess the answer is that it is not supported. My point is you have all the power you need already, why would you need anything else. If you do, we can add it to Karate.

[2017-10-25 20:15] ptrthomas commented on #229
we got an update that this works fine if on `karate-jersey`: https://stackoverflow.com/a/46916395/143475

[2017-10-26 01:14] ptrthomas commented on #225
This is definitely an issue !

[code]
prints:
[code]

but interestingly, you can work around somewhat as follows:
[code]

[code]

[2017-10-26 13:19] raveendaranugu opened #230 "Unable to get response for the services which use wsHttpBinding"
Hi ,
Unable to get the response for the services which use wsHttpBinding.The services which use basicHttpBinding are working fine.

The content type for basicHttpbinding services is 'text/xml' but for wsHttpbinding services is 'application/soap+xml'.

@ptrthomas To help you with what exactly the service looks like and the issue is all about ,please go thru the link below
https://github.com/savonrb

[2017-10-26 20:50] ptrthomas commented on #230
@raveendaranugu in the meantime, do you think your team can try an experiment where you try to do a `* method post` instead of `* soap action 'foo'` - so you set the header correctly. the special XML element and attributes, you anyway need to do as part of the payload.

if you can do this and confirm that it works, send me the sample feature / log, it can help me make the fix correctly. do let me

[2017-10-27 07:57] raveendaranugu commented on #230
Hurray 💯  👍

Thanks a lot @ptrthomas
This almost solved our query . Though we tried this earlier but we missed some combinations along with this.
**First Attempt** :
In first attempt,we tried modifying the feature file as per your suggestion. So we got the below error..

[code]

**Second Attempt** :
In the Second attempt, We tried modifying the content-type to `application/soap+xml` along with ` w

[2017-10-27 07:57] #230 closed

[2017-10-27 14:04] ptrthomas commented on #230
@raveendaranugu awesome ! thanks for the very detailed analysis, this is going to help a lot of other folks as well.

[2017-10-28 19:02] virendrachaudhary06 opened #231 "is there any way to set default value of variable if argument is not passed while calling reusable feature?"
Suppose I have a feature like following
Feature: reusable feature
  Scenario:
    * def username = 'viren'
    * def password = 123
    * def temp = { userId: '#(username)', userPass: '#(password)' }

if I am calling this feature without arguments , default value should be picked up and if it called by passing arguments username and password should get overridden.
call read('classpath:Reusable.fea

[2017-10-29 03:44] virendrachaudhary06 commented on #206
I am not able to access __arg in called feature. I am calling below reusable feature through command - *  call read('classpath:karate/Reusable.feature') { username: 'john', password: 12 }
Feature: reusable feature
  Scenario:
    * print __arg
    * def temp = { userId: '#(username)', userPass: '#(password)' }
    * print temp

However first print is coming blank.
09:04:49.977 [main] DEBUG com.jay

[2017-10-29 03:49] virendrachaudhary06 commented on #206
I figured it out.
If I am calling feature with the below command then __arg is accesible
 *  def sign = call read('classpath:karate/Reusable.feature') { username: 'john', password: 12 }
If it is called without string return variables then __arg is undefined
 * call read('classpath:karate/Reusable.feature') { username: 'john', password: 12 }

I think its a bug.

[2017-10-29 08:13] ptrthomas commented on #206
@virendrachaudhary06 yep, can you open a new bug for this.

[2017-10-29 08:15] ptrthomas commented on #231
you can easily do this as follows:

`* def username = (username || 'viren')`

[2017-10-29 08:15] #231 closed

[2017-10-29 08:16] ptrthomas commented on #231
... which may work only if username is set to null or undefined. I'm sorry we will not support any case where variables have not been defined at all. this will make all kinds of other things harder, such as debugging / troubleshooting.

[2017-10-29 08:45] ptrthomas opened #232 "built-in variables __arg and __loop not set if using shared-scope"
as found by @virendrachaudhary06 in this comment: https://github.com/intuit/karate/issues/206#issuecomment-340235669

[2017-10-29 08:46] ptrthomas commented on #206
@virendrachaudhary06 nevermind, I raised a ticket and it is fixed in dev

[2017-10-29 08:46] #206 closed

[2017-10-29 09:02] virendrachaudhary06 commented on #231
I figured out doing this even without passing username as null or undefined. Thanks @ptrthomas

 * def username = __arg.username == null ? 'viren' : __arg.username

[2017-10-29 17:47] virendrachaudhary06 opened #233 "can we add support to view and edit payload in Karate UI"
It will be better if we can view and edit payload in karate UI same as in Postman.

[2017-10-30 03:25] ptrthomas commented on #233
please refer: https://github.com/intuit/karate/wiki/Karate-UI

[2017-10-30 03:25] #233 closed

[2017-10-30 03:32] virendrachaudhary06 commented on #233
Sorry, I didn't understand. I have already referred this page. Is this feature already available in UI?

[2017-10-30 05:59] ptrthomas commented on #233
what feature. your "one-liner" question is extremely unclear. anyway, if you read the doc, you will understand that this is experimental - and it not the highest priority unless you or others are willing to contribute code.

[2017-10-30 06:20] virendrachaudhary06 commented on #233
I am ready to contribute. I have cloned this project and started studying code.

[2017-10-30 17:00] AlberTajuelo opened #234 "Help - Comparing PDFs"
Hi,

I have created a feature:

[code]

But I want to compare this PDF using a external tool to see what page has been modified and in what percentage.

How can I send the response to a Javascript file?

[2017-10-30 17:33] duncwebb commented on #225
Interesting. It'd be very interesting to see what Nashorn is doing in that case. If time permits I may create a test harness to reproduce the original problem in Java away from Karate (as Java 9's out and Nashorn has had some updates it may be worth seeing if the behaviour has changed).

[2017-10-30 17:50] ptrthomas commented on #234
this seems to be a little complex, so I would think of writing a custom Java utility to do what you need. line 25 here may give you some ideas: https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/upload/upload.feature#L25

refer to Java Interop in the documentation.

[2017-10-30 17:50] #234 closed

[2017-10-30 17:51] ptrthomas commented on #225
@duncwebb that would be great, let me know if we need to raise a bug on the JDK - it sure looks like one in JDK 8 at least.

[2017-10-31 05:03] ptrthomas commented on #226
@createam I'm thinking through this and just to confirm, you are looking for read-only right ? and you want to get the *final* values of the url, request and headers (perhaps cookies) when the HTTP request is actually fired.  Which means these need to be set after the `method` step is processed ?

BTW are you really able to dynamically use `method foo`, because I thought variables are not supporte

[2017-10-31 10:39] jbadeau opened #235 "Cannot call function without a def"
Th following function call does not work
[code]

[code]
seems i cannot just call a function without def

I must set a def like:

    * def data = foo()

[2017-10-31 11:08] AlberTajuelo commented on #234
Thanks @ptrthomas. I'm going to give it a quick view.

[2017-10-31 11:58] duncwebb commented on #225
I've made a little progress on this and have a workaround that's simple. The Javascript function should return a JSON *string* from the Javascript instead of the objects themselves and the json step should then be used to turn the string back into JSON that can be modified with set etc.

So the Javascript function from my original example now looks like this:

[code]
And an example scenario using

[2017-10-31 15:39] jbadeau opened #236 "Cant use xpath in template placeholder"
I am trying to uses an external json file as a template

[code]
[code]

this works:

[code]

When 1 item is found I would expect a result of:

[code]
otherwise
[code]

[2017-10-31 16:28] ptrthomas commented on #235
please use `* call foo` for these situations, just be aware of [shared scope](https://github.com/intuit/karate#shared-scope)

[2017-10-31 16:28] #235 closed

[2017-10-31 16:32] ptrthomas commented on #225
@duncwebb thanks ! while not ideal, this is a reasonable workaround that I can pass on to others who run into this.

BTW it is worth pointing out that in the latest version, `print` has been slightly enhanced to take a comma-delimited RHS so you could do:

`* print "Modified the users: ",  users`

[2017-10-31 16:34] jbadeau commented on #235
Ok but I find it strange that I am forced to return a value in a function when I’m not in a feature.

[2017-10-31 16:45] ptrthomas commented on #236
JsonPath is *not* JS and only JS is allowed within the parentheses in embedded expressions in the form `#()`.

But - that is where the `karate.jsonPath()` method comes to the rescue !

[code]

Yes, this looks a little ugly, I would think of using a function if you really want to do things like this. It does sound like you are over complicating your templates.

[code]

[2017-10-31 16:45] #236 closed

[2017-10-31 17:05] ptrthomas commented on #236
Cool :)

[2017-10-31 17:08] vpsouza opened #237 "Read the Spring Active Profile from karate.env @ karate-config.js"
Is there a way to read the active spring profile from the karate.env @ karate-config.js? I'm creating a QA project for testing based on Spring Cloud Contracts and I need that: for a specific spring profile the Spring Cloud Contract StubRunner will be disabled and the karate-config should inject a url property pointing for the staging environment; otherwise this property should point to localhost w

[2017-10-31 17:11] jbadeau commented on #236
Transformations are not really needed for api contract testing but integration (api chaining) testing is where it’s really needed.

[2017-10-31 17:13] duncwebb commented on #225
Cool, yeah I forgot that when was writing the test code :)

[2017-10-31 17:16] ptrthomas commented on #236
Thanks for respecting my decision.

[2017-10-31 17:20] ptrthomas commented on #232
not technically closed without release

[2017-10-31 17:21] ptrthomas commented on #229
not technically closed without release

[2017-10-31 17:21] ptrthomas commented on #223
not technically closed without release

[2017-10-31 17:24] ptrthomas commented on #237
you can [read system properties](https://github.com/intuit/karate#the-karate-object) by using `karate.properties['my.prop.name']` so if I remember right, the spring profile is available as one. if not in your runner, set a system property from Java so that it can be used from Karate.

[2017-10-31 17:24] #237 closed

[2017-11-01 09:30] createam commented on #226
@ptrthomas  Yes, read-only and after the complete request is built and ready to be fired (or after fired). I don't think there is any value in editing the generated request, that is supposed to be done using the karate-dsl constructs.

Yeah, `method foo` does not work. Just setting the variable anyway so that the validator can figure out what method was sent

[2017-11-02 12:11] pradeepsingh1234 opened #238 "Testing using Kafka as a message broker"
This is not a bug or feature request ..this is a design discussion request.

- I would like to post my Test cases(Json request and response to kafka) and karate to pick the request and response.
- Run parallel test against  my business service and validate the response using above response.
- How can I achieve it using karate. Karate will be part of a spring boot app and independent running out of

[2017-11-02 12:28] ptrthomas commented on #238
I'm closing this while the discussion can still carry on on this ticket.

Karate has parallel testing capabilities built in so I am not sure why Kafka is needed.

[2017-11-02 12:28] #238 closed

[2017-11-02 12:34] pradeepsingh1234 commented on #238
We would like to post all test cases in kafka as it can be run through multiple channels like my perf team can pick then and run using load runner or Jmeter and functional test can be run by Karate by picking those.

[2017-11-02 12:49] ptrthomas commented on #238
sounds interesting. do let me know how it goes. in terms of feedback, you need to be more specific. right now you seem to be talking high-level concepts, and for example I don't understand how you will get a Karate test to work in load-runner or JMeter. what do you mean by "picking those"

anyway I don't think I can help you more - and it seems you need to write a framework to do all you mentioned

[2017-11-02 13:04] pradeepsingh1234 commented on #238
Thanks. Can I grab karate and make changes to get the request and response from kafka and run ?

[2017-11-02 13:17] ptrthomas commented on #238
yes, it is open source after all. I'm locking this thread now.

[2017-11-02 18:47] imran-arshad opened #239 "Show failed Scenarios when calling a feature from inside another feature"
### Issue / Enhancement
When you call a feature (with a few Scenarios) from inside another feature, and **if some scenarios from the called feature fail, it would be very useful to see the names of the Scenarios that failed**. Currently Karate only shows which line number failed.
[https://stackoverflow.com/questions/47067215/](https://stackoverflow.com/questions/47067215/)

### Applications
This c

[2017-11-03 13:06] vpsouza commented on #237
Thanks @ptrthomas for your help. I'll post my solution: Created two different maven profiles and the activation of one is when the karate-env is present (and it'll look for localhost stubs) and the other will be active when the karate-env is not present (and it'll look for staging url)

[2017-11-07 21:38] rkentmc opened #240 "read method not working"
I am new to karate. I keep getting `java.lang.RuntimeException: javascript evaluation failed: read ('/xml/loadtimecard/addcommenttoworkduration.xml')`  on my test runs and don't know why. It seems to not read a new xml file when I add it. I am using intellij, all other tests are passing. What am I missing?

[2017-11-08 02:55] ptrthomas commented on #240
Really hard to make out with the lack of detail in your ticket. Karate works well with relative paths, try keeping the file side-by-side with the feature file and use only the file name in the `read`. Please read  the documentation carefully: https://github.com/intuit/karate#reading-files

For these kinds of questions please use Stack Overflow: https://stackoverflow.com/questions/tagged/karate

[2017-11-08 02:55] #240 closed

[2017-11-09 08:14] ptrthomas commented on #239
we don't encourage multiple scenarios in called features, they are typically used for re-usable "set up" routines, __not__ for tests and assertions. okay, maybe you find the need to have a bunch of assertions common to multiple tests, but would you really need to have multiple scenarios ?

anyway this is fixed in dev, so if there happens to be a scenario name, it would be printed as well. example:

[2017-11-09 12:55] arunaousula9421 opened #241 "Karate Framework Ignores the tests"
Hi @ptrthomas, I am new to Karate Framework. I have been trying to run a sample scenario on my environment but it is ignoring the tests. Can you please correct If I am doing something wrong here.

Feature file:
[code]

Runner Class
[code]

Karate-config.js
[code]

Here are the logs
[code]
I have tried different examples given in your demo project but nothing helped.

[2017-11-09 13:23] ptrthomas commented on #241
there are so many things wrong. I suggest you use the quickstart command (refer to the doc) and create a project that way, then try to modify things.

Just in your feature, `'url'` definitely looks wrong. Also it should be like this:

[code]

[2017-11-09 13:23] #241 closed

[2017-11-09 13:24] ptrthomas commented on #241
and for these kind of basic questions, please use Stack Overflow, thanks: https://stackoverflow.com/questions/tagged/karate

[2017-11-09 14:45] vijeegovindan opened #242 "RunTimeExeception :"
The request and response are json files.  Request json is read but throwing error :  java.lang.RuntimeException: org.apache.http.ConnectionClosedException: Premature end of Content-Length delimited message body exactly at "When method POST"

The debug statement provide the response Json.  But, still the above error appears.

Is there any solution I could try with ?

[2017-11-09 16:52] ptrthomas commented on #242
closing as unable to replicate. sounds like an issue with the server, similar to #31

try switch from `karate-apache` to `karate-jersey` in your pom (or vice versa) and see if that helps.

else unless you provide a way to replicate this error - please post such questions to Stack Overflow: https://stackoverflow.com/questions/tagged/karate

[2017-11-09 16:52] #242 closed

[2017-11-09 20:31] imran-arshad commented on #239
Not sure if it is common or not to have multiple scenarios shared across endpoints. But I have a few endpoints that provide some common features. In the end, they end up implementing the same methods inside the API code, but I still want to write tests for them to make sure all devs implement those methods properly.

Is there a better way for writing common scenarios for different API endpoints (r

[2017-11-10 02:57] ptrthomas commented on #239
I'm not against calling common feature files, Karate encourages it.

What I did not expect is for a 'called' feature to contain multiple scenarios. The alternative is to have each 're-usable' scenario living in its own feature file. The advantage is that you can mix and match.

But come to think of it, if you really have a 'set' of scenarios that are clearly common to multiple tests, what you are

[2017-11-10 03:31] imran-arshad commented on #239
Yes. I kind of have a combination of both the cases you mentioned. I have some re-usable scenarios in their own feature files. But in cases, where I notice that the scenarios are too similar, I like to put them in a feature file together (since they kind of represent one 'feature' on the API). Not sure if that makes sense to you.

Yes, it is working perfectly. I am loving writing tests with Karate

[2017-11-10 06:33] kumarvarun1252 opened #243 "SSLHandshakeException for a simple GET request"
I am trying to setup Karate framework for my project. I am getting the following SSLHandshakeException for a simple GET request. I get a proper response when I try the endpoint in the browser, but when I try to run the cucumber feature file I am seeing the following error. I tried configure ssl = true, configure ssl = 'TLSv1.1', but seeing same error

`10:35:28.886 [main] DEBUG  org.apache.http.co

[2017-11-10 08:07] ptrthomas commented on #243
@kumarvarun1252 so I followed instructions + mongo install and was able to boot the api spring boot app. but by default it comes up on plain HTTP (not HTTPS) and on port 8080

any suggestions ? if ok with you you can send me a private e-mail with your host location assuming hitting the end point without credentials is sufficient to replicate

or you may need to walk me through your SSL setup

[2017-11-10 08:14] ptrthomas commented on #243
also please refer to this: https://stackoverflow.com/questions/6353849/received-fatal-alert-handshake-failure-through-sslhandshakeexception

2 other possible reasons:
- your server is using 256 bit SSL which "normal" JDKs don't support. Here is a potential fix: https://stackoverflow.com/a/38264878/143475
- your server only accepts TLS 1.2: https://community.smartbear.com/t5/SoapUI-Open-Source/Solv

[2017-11-10 18:07] kumarvarun1252 commented on #243
@ptrthomas I won't be able to share our host details, it works only in corporate network. But the good news is, I was able to resolve the issue with one of the solutions you have suggested above.

I followed the instructions for jdk8 in https://stackoverflow.com/questions/38203971/javax-net-ssl-sslhandshakeexception-received-fatal-alert-handshake-failure/38264878#38264878

I downloaded the mention

[2017-11-11 00:58] ptrthomas commented on #243
@kumarvarun1252 fantastic ! thanks for raising this, surely will help a lot of others in future.

[2017-11-11 00:58] #243 closed

[2017-11-14 16:48] AmirGhahrai opened #244 "Cannot Parse/Validate XML if there is a reference to DTD"
I have an XML response which contains
!DOCTYPE USER SYSTEM "http://127.0.0.1:5000/login/dtd"

and when I try to parse the XML it complains about DTD not being available.

Karate should be able to bypass the need for DTD to validate XML response.

[2017-11-15 11:36] softashu commented on #243
@kumarvarun1252 : how it get resolve?

[2017-11-15 12:19] ptrthomas commented on #243
@softashu - in this case, the solution given here worked: https://stackoverflow.com/a/47299410/143475

[2017-11-15 19:03] amitnagesh commented on #200
@ptrthomas  I got same error on TEP job.

Java version:
/usr/java/default/bin/java
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

Stacktrace:

Caused by: java.lang.ClassNotFoundException: jdk.nashorn.api.scripting.ScriptObjectMirror
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at ja

[2017-11-16 01:19] ptrthomas commented on #200
@amitnagesh refer #196 this is because only the JRE is installed. please work with the folks who own the build node and fix, this is not an issue with karate, thanks.

[2017-11-17 00:36] NuttBoxer commented on #208
You're right, that sentence was no different.  Third try.  Just because you don't want to agree with a users request to make your code more dynamic, doesn't mean it's an invalid request.  But you certainly do need to be careful with catering to every little change suggested, or your code could take a direction you never intended.

[2017-11-17 01:11] ptrthomas commented on #208
@NuttBoxer I'm completely open to understanding your request, but unfortunately you never ever followed the instructions I repeatedly requested you to follow: https://github.com/intuit/karate/issues/183#issuecomment-331040204

[2017-11-17 09:11] MariAkaMachine opened #245 "Missing request + missing request parameters + unignored request param"
I just saw that for some requests there's missing request params. After further investigations, I saw that not even all the requests are triggered and that there's parameters which should be ignored!

I'm using karate v0.6.1 and the ```.feature``` tests are executed parallel as part of a test suite. As far as I see it, the first and last request do not contain the ```<min_avail>``` parameter, the

[2017-11-17 09:48] #245 closed

[2017-11-17 09:49] MariAkaMachine commented on #245
missing ```:``` after ```min_avail```

[2017-11-17 09:49] MariAkaMachine opened #246 "Turn off response output in console [help wanted]"
How can I turn off the response output in the console?

[2017-11-17 10:21] Saurabh51084 commented on #226
@ptrthomas - I have a doubt on the similar lines, Which is as follows:-

I am getting an integer value in the response of one of the soap request. I have added the value in variable and able to print it on the console. which confirms that variable is parsing the value correctly. Now i want to use the same variable as a parameter in another soap request. I have done research in Karate doc but unabl

[2017-11-17 12:09] ptrthomas commented on #246
refer to the doc on logging: https://github.com/intuit/karate#logging

change the `DEBUG` to `INFO`

`<logger name="com.intuit" level="INFO"/>`

[2017-11-17 12:13] ptrthomas commented on #226
There are multiple ways to do this, the best reference which you may have missed is this set of regression test cases for Karate: [`xml.feature`](https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/junit4/xml/xml.feature)

specifically look at how the `set` keyword works or use an embedded expression for e.g. `<myValue>#(myValue)</myValue>`

[2017-11-17 12:15] ptrthomas commented on #226
oops, closed by mistake, and @Saurabh51084 I think this is not related to this ticket. For these kinds of general questions, kindly use Stack Overflow: https://stackoverflow.com/questions/tagged/karate

[2017-11-17 12:28] MariAkaMachine commented on #246
I'm afraid this doesn't solve the problem! I've already tried that before bc it makes sense. however, it looks like this logger setting doesn't have any effect.

also I'm getting this message ```13:21:32.838 [pool-1-thread-3] ERROR com.intuit.karate - Radius.feature:30 - to dump variable state, set log level to TRACE```.
how can I address this issue?

[2017-11-17 13:16] ptrthomas commented on #246
ok I'm re-opening this, but I'd really like more details. is this the log, the console or the HTML report. I just tried this in the karate-demo project and it worked perfectly for me.

refer to the doc for [`configure`](https://github.com/intuit/karate#configure) maybe you have globally switched it on for `logPrettyResponse`

[2017-11-17 13:18] ptrthomas commented on #246
also maybe you are modifying the wrong log config. maybe you have mixed libraries in your project. if the problem persists, I'd like a sample project to replicate the issue for us to fix, thanks.

[2017-11-17 13:36] MariAkaMachine commented on #246
thanks!

I just tried a few more options. You are correct, the Problem does not occur if I set the ```com.intuit.*``` loggers in ```logback-test.xml``` to ```INFO``` and trigger a single ```*.feature``` file. However, the responses get printed to the console when I run my parallel test runner (both in IDEA and in the console).
I'm using v0.6.1.
this is what my config looks like:
[code]
and here's

[2017-11-17 13:56] ptrthomas commented on #246
@MariAkaMachine you are right. I've just fixed this in dev (see commit above). by any chance are you able to test this by building from source - or if not, that's okay let me know now - and I can upload a patch version for you to test, and I'd like to double-confirm that this does not break any other logging.

Just curious, are you seeing too much log bloat on the CI runs ?

also, if you suppress

[2017-11-17 15:58] MariAkaMachine commented on #246
thanks for the fix and the update! :)
unfortunately, I'll not be able to test it from source. a patch version would be great! :+1:

yes, the response logging is crazy! I've got a business application and the response sizes are humongous. does this also case this error message: ```ERROR com.intuit.karate - Radius.feature:30 - to dump variable state, set log level to TRACE.```

I will have to take a

[2017-11-17 16:28] ptrthomas opened #247 "Parallel runner can re-run failing tests with the log-level set to DEBUG"
so that log bloat (even the report generation time) can be reduced for those who want to suppress HTTP request / response logs.

probably needs research into dynamically setting log-level for the log collector.

refer this discussion: https://github.com/intuit/karate/issues/246#issuecomment-345283345

[2017-11-17 16:30] ptrthomas commented on #246
@MariAkaMachine yes, try now (edit your pom.xml) with version 0.6.1.1 and let me know how it goes.

I think your idea to re-run failing tests is a fantastic one. Opened a feature req #247

[2017-11-18 05:43] ptrthomas opened #248 "Schema-like validation should support JSON chunk references which are optional"
As of now, this is clunky. Surfaced from this Stack Overflow discussion: https://stackoverflow.com/a/47336682/143475

[code]

ideally it should be:

[code]

[2017-11-19 13:30] MariAkaMachine commented on #246
thanks for the fast patch! :) I just ran the tests in IDEA and couldn't see any response logs in the console. :+1:

that's awesome, I'd love to see a feature like that as part of karate! I've already thought of ways to pull this off myself... but I think there's quite a lot of people out there that'd love to use this functionality too.

[2017-11-22 20:30] virendrachaudhary06 opened #249 "Java script object.keys(response) is not working in karate"
Suppose my response is like
{
"key1":{"a":1},
"key2":{"b":1}
}
I write a java script method to return object of first key.Since I am not sure about about what will be the exact key name I want to return object of first key.
function(args){
var ob = Object.keys(args.city_taxi)[0];
return ob;
}

This method is throwing key1={"a":1} is not an object.
Any alternative to suffice this is also appreciate

[2017-11-23 02:19] ptrthomas commented on #249
great question !  for such cases, it is more straightforward to use java. fortunately karate has an easy way to convert a given json into a `Map`. so try this:

[code]

[2017-11-23 02:19] #249 closed

[2017-11-23 08:18] ptrthomas commented on #226
@createam can you check if this works for you: https://github.com/intuit/karate/blob/aefc49874615d9de11569ac2e4aa642722b0e091/karate-demo/src/test/java/demo/request/request.feature

also, you can now use expressions in the `method`.

Would you be able to test by building from source or I can release a patch version, let me know.

[2017-11-23 15:15] createam commented on #226
@ptrthomas  I could build from source and run some tests which includes the lastRequest. Works fine. Also using the expression for method worked great. Thanks for providing this enhancement.

Do you have plan to expose this lastRequest through a cleaner variable similar to the "response" variable rather than useing (karate.lastRequest)?

[2017-11-23 15:53] ptrthomas commented on #226
@createam great. actually I thought hard about it. each built-in variable adds bloat to the context, which becomes painful especially when doing a `call` to other features - since the return value is an aggregate of all variables. so considering that this is a 0.01 % use case (you are the first to request this) I felt this is better. plus it would be for those who are writing frameworks on top of

[2017-11-23 20:34] haroon-sheikh commented on #78
@lazycodeninja @rgupta7888 how did you guys workaround this?

[2017-11-24 09:40] createam commented on #226
@ptrthomas  Makes sense. Saw that you have already changed the name. Thanks for making this update.

[2017-11-25 13:38] lazycodeninja commented on #78
@haroon-sheikh I didn't end up using Karate.  Instead, we wrote tests in Java using [RestAssured](http://rest-assured.io/) for given/when/then Gherkin syntax, and a final step in each test to validate the requests/responses against the Swagger file using the [Atlassian Swagger Validator](https://bitbucket.org/atlassian/swagger-request-validator).  If you're testing a Spring Boot service it ends up

[2017-11-25 16:21] ptrthomas commented on #78
@lazycodeninja this thread has someone who is building a framework on top of karate to include swagger based validations: https://github.com/intuit/karate/issues/226

IMO swagger limits what you can validate to: the payload format and schema and the HTTP method. Many teams that do contract-first would have generated the POJO-s used via some tool, which means you never run the risk of the server me

[2017-11-27 10:51] Nolveera opened #251 "Skipping the scenarios upon adding configure printEnabled =false statement"
The configure printEnabled =false  statement worked for the first time. From the second time it started skipping the statements written after the above mentioned statement.

Any suggestion where we should write this statement and why this is happening?

[2017-11-27 12:53] ptrthomas commented on #251
I'm sorry you have not provided enough information for me to replicate this, I will re-open if you do.

I will make one guess, you need a space on both sides of the `=` sign, so try this:

[code]

[2017-11-27 12:53] #251 closed

[2017-11-27 16:30] ptrthomas commented on #136
Actually this manifests if you use the IDE support even in Eclipse.

Fortunately this is only a dev-mode issue.

Workaround: use a JUnit class for dev mode. CI / automation will always use the parallel runner anyway.

A good reason to use the JUnit runner is the new HTML report: https://twitter.com/KarateDSL/status/935029435140489216

[2017-11-28 11:05] BishwasPattnaik opened #252 "How to extract one key form a JSON array"
The below  is my response.
[
    {
        "id": "cc0d1d2179b042459be0b336342c2e60",
        "name": "sftp_s3_pipeline",
        "type": "batch",
        "source": {
            "location": "/test",
            "connection_id": "df03cc4c04ca434a8390d2161bd8f315",
            "metadata": {
                "compression": "NONE",
                "format": "TEXT",
                "file_pattern": "*.ps

[2017-11-28 11:46] rgupta7888 commented on #252
Please try it below:
print response.response[*].id
It would be good if you put whole response I believe the service gives response tag in the response.

[2017-11-28 11:57] BishwasPattnaik commented on #252
No it's not happening.
My actual scenario is get the total count of all the "id"s, it shouldn't be equal to zero.
Please provide a possible way of doing the same...

[2017-11-28 12:03] rgupta7888 commented on #252
Please paste the full response here or mail to me @ 89511ranjan@gmail.com will look into it.

[2017-11-28 12:15] rgupta7888 commented on #252
Have a look below for example:
* def cat =
"""
{
  name: 'Billie',
  kittens: [
    { id: 23, name: 'Bob' },
    { id: 42, name: 'Wild' }
  ]
}
"""
* def kitnums = get cat.kittens[*].id
See if it works for you or send the response details.

[2017-11-28 12:26] ptrthomas commented on #252
thanks @rgupta7888 !
closing as the solution is posted, this is not a bug. please read the doc carefully.

@BishwasPattnaik for these kinds of basic questions, kindly use Stack Overflow, thanks: https://stackoverflow.com/questions/tagged/karate

[2017-11-28 12:26] #252 closed

[2017-11-28 15:33] ptrthomas commented on #208
@NuttBoxer I just realized that if you were using the IDE "right-click and run-as" option to run tests in dev mode, `callonce` would NOT work at all. I always assumed that you were using the JUnit runner.

In case you were using the IDE, perhaps this has contributed to some of the miscommunication, apologies :|

I just fixed this in dev, here's the issue reference: https://github.com/intuit/karate

[2017-12-01 10:18] ptrthomas commented on #225
@duncwebb if you are in to Slack - send me an e-mail at ptrthomas AT gmail DOT com and I'll add you to the Karate support channel if you are interested.

[2017-12-05 03:27] #136 closed

[2017-12-05 03:27] #226 closed

[2017-12-05 03:27] #239 closed

[2017-12-05 03:27] #244 closed

[2017-12-05 03:27] #246 closed

[2017-12-05 03:27] #248 closed

[2017-12-05 07:33] ptrthomas commented on #232
closing with release of v0.6.2

[2017-12-05 07:33] #232 closed

[2017-12-05 07:33] ptrthomas commented on #229
closing with release of v0.6.2

[2017-12-05 07:33] #229 closed

[2017-12-05 07:33] ptrthomas commented on #223
closing with release of v0.6.2

[2017-12-05 07:33] #223 closed

[2017-12-05 07:33] ptrthomas commented on #216
closing with release of v0.6.2

[2017-12-05 07:33] #216 closed

[2017-12-05 07:34] ptrthomas commented on #171
closing due to inactivity

[2017-12-05 07:34] #171 closed

[2017-12-05 07:34] ptrthomas commented on #166
closing due to inactivity

[2017-12-05 07:34] #166 closed

[2017-12-05 14:08] duncwebb commented on #225
I'm not but I'll certainly look into it, that'd be good. I'm looking more and more at Karate's implementation as it'd be good to fire PRs over instead of asking for features :)

[2017-12-05 14:50] createam commented on #223
Thanks for the new shiny release! 👍

[2017-12-07 07:12] GeitRavi opened #254 "Can we add Testng (ITestListener) Test Listener in Karate code."
Can we add Testng (ITestListener) Test Listener in Karate code:

For Example I want to use Test Listener(ITestListener) with karate so that I can use following methods
onTestStart,
onTestSuccess
etc.

Can you please share some information to achieve this with Karate

[2017-12-07 07:45] ptrthomas commented on #254
No. Also Karate discourages the use of Java, most users are working with the `Background` and `call` / `callonce` keywords for setup and code-reuse. Please refer to the doc.

Can you share what you are trying to do. You are also welcome to build this integration yourself and contribute. One more thing is we are focusing on JUnit, so it is unlikely that we work more on TestNG.

[2017-12-07 07:45] #254 closed

[2017-12-07 08:51] ptrthomas commented on #147
closing due to non-activity

[2017-12-07 08:51] #147 closed

[2017-12-07 09:02] ptrthomas opened #255 "a custom version string should be supported in the Content-Type header"
as of now we do support charset but if we want to do something like this, at least the apache client doesn't like it:

`"Content-Type" : "application/json,charset:UTF-8,version:1.2.0"`

[2017-12-07 09:05] ptrthomas opened #256 "non-json non-string fuzzy match does not work"
to replicate:

[code]

error:
[code]

[2017-12-07 10:09] GeitRavi opened #257 "Can we use Cucumber Hook option with Karate feature file."
I want to update the test status field based on test result execution, if test scenario is failed then update test Status, to achieve this we are using hook + scenario cucumber options.

Can we achieve same thing with karate. Can you please share on information.

[2017-12-07 10:17] ptrthomas commented on #257
Not supported right now. I'll take this as a feature request, this sounds like a valid use case and maybe it is time to implement an `after` hook in Karate, and provide access to the current context, scenario name etc.

[2017-12-08 03:23] ptrthomas commented on #214
note this will be implemented in #257

[2017-12-08 03:23] ptrthomas commented on #131
@KramKroc note this will be implemented in #257

[2017-12-08 05:32] ptrthomas opened #259 "Malformed JSON response stops test with error"
Reported on StackOverflow: https://stackoverflow.com/q/47699539/143475

If the server returns this for example: `{ "foo": }`

[code]

Karate should be resilient !  This happens for XML but seems to be missed for JSON.

[2017-12-08 11:04] AmirGhahrai opened #260 "XML with DTD still does not parse correctly"
edited: refer #244

[code]
I have the above xml response, and when I just pass it to a java class, just to return the response, it comes out as
[print] {USER=null}

[2017-12-08 12:31] ptrthomas commented on #260
thanks, we'll need to redo the approach to xml with DTD-s

[2017-12-08 15:14] ptrthomas commented on #257
@GeitRavi can you try version 0.6.2.1 and see if this works for you ? please refer to this example: https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/demo/hooks/hooks.feature

[2017-12-08 15:14] ptrthomas commented on #214
@vsashidh can you try version 0.6.2.1 and see if this works for you ? please refer to this example: https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/demo/hooks/hooks.feature

[2017-12-08 17:52] vsashidh commented on #214
@ptrthomas I approached this solution earlier based on your response using `callonce` as done here https://github.com/intuit/karate/issues/219. In issue 219 I needed also access to spring context in my cucumber hooks, so that's why I had raised it. And from what I see with the example link you posted, the solution doesn't seem much different other than a new keyword `configure`.

[2017-12-09 01:20] ptrthomas commented on #214
@vsashidh yes, if you don't need `@After` what you are doing is correct. thanks for the update !

[2017-12-09 04:07] GeitRavi commented on #257
Thanks for the response.

Just one question: For example  I have four five feature files under
different package and afterScenario & beforeScenario implementation are
same for all feature scenarios.
so How I can link same afterScenario & beforeScenario to all features.

Thanks and regards,
Ravi

On Fri, Dec 8, 2017 at 8:44 PM, Peter Thomas <notifications@github.com>
wrote:

[2017-12-09 04:41] ptrthomas commented on #257
@GeitRavi use a JS function defined in a file on the classpath. And re-use. Is that ok ? Refer to reading files and using JS functions in the doc.

[2017-12-11 10:00] GeitRavi opened #261 "How I can pass Integer parameter to call feature file (integer parameter)."
Suppose :
I create a basic feature file and this feature has two parameters and I want to re use same feature file in another feature file.
first paramter (integer ) is part of url and second parameter(String) is part of match statement.
How can I achieve this in karate,
example ::
def fn = call read('classpath:example.feature'){id : 123, data: "test"}

Can you please share more information on thi

[2017-12-11 10:18] ptrthomas commented on #261
it would be great if you can go through the documentation and examples, a lot of time and effort has gone into creating all of it.  And for basic questions like these, please use [Stack Overflow](https://stackoverflow.com/questions/tagged/karate).

Anyway, please refer:
https://github.com/intuit/karate#calling-other-feature-files

And this example (karate internal test) may help: https://github.co

[2017-12-11 10:18] #261 closed

[2017-12-11 10:48] GeitRavi commented on #261
Sorry for inconvenience , but through example it's quite difficult to understand specific for this scenario.

My basic feature file ::
 Scenario: Verify Test
    * def ID = "#ID"
    * def Name = '#Name'
    Given path 'value'+ ID
    And header token = token
    And header Content-Type = 'application/json'
    And request {}
    When method post
    Then status 200
    Then match response.[*].nam

[2017-12-11 11:10] ptrthomas commented on #261
Sorry, this is not a working example. Kindly refer to this: https://stackoverflow.com/help/mcve

All the best.

[2017-12-14 10:21] pomle opened #262 "False positive test outcome from small typos"
Using version 0.6.1

The test below should fail, and does so correctly.
[code]

Output
[code]

However, if a tiny typo sneaks in, like in the example below, the test does not fail.
[code]

Output
[code]
I expect tests that can not run due to typos should fail the test suite.

[2017-12-14 12:31] ptrthomas commented on #262
agree this is not ideal - it does report the steps as 'skipped' but will take a look

[2017-12-14 14:31] ptrthomas commented on #262
fixed in dev

[2017-12-14 14:42] pomle commented on #262
@ptrthomas thanks, and thanks for the rapid response.

// Pontus @ Warpin

[2017-12-14 14:56] ptrthomas commented on #262
@pomle - no problem ! I've actually made a beta-ish release 0.6.2.2 - so if you can try and confirm that it indeed works, that would be great, thanks !

[2017-12-15 06:43] IceManOG commented on #198
I'm getting this error. I'm running all my tests by running 'mvn test'

`Exception in thread "ThreadedStreamConsumer" java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Arrays.java:3332)
	at java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.java:124)
	at java.lang.AbstractStringBuilder.append(AbstractStringBuilder.java:448)
	at java.lang.StringBuilde

[2017-12-15 10:45] pomle commented on #262
@ptrthomas tested it now and can confirm works as expected.

Very clear output something went wrong now. Thank you for responding fast and taking this seriously. False positive tests is something that can be very dangerous in my opinion so super happy this is fixed.

Output log for transparency:
[code]

[2017-12-15 10:46] pomle commented on #262
Fixed at c77ac0435f340edce9617033005dbd8ac4405e2b

[2017-12-15 13:43] ptrthomas commented on #198
@IceManOG which version please. you should not face this in 0.6.2

If you do, please open a new issue. It would be great if you also try the preview version 0.6.2.2

[2017-12-15 13:45] ptrthomas commented on #262
@pomle thanks for confirming, I'll keep this open and close it when we release "official" 0.7.2

[2017-12-15 19:05] markwandrews opened #263 "need a way to turn off dumping all variables to log on error"
Is there a way to prevent Karate from dumping the values of EVERY variable into the logs when it encounters an error?

This kind of dump is useful when you have a weird problem you're trying to solve, but otherwise causes a lot of unnecessary scrolling/searching through log files.

It would be great to be able to toggle it on/off.

[2017-12-16 04:12] ptrthomas commented on #263
which version are you on. this was indeed a bad idea and has been removed in 0.6.1 onwards.

[2017-12-16 04:12] #263 closed

[2017-12-18 11:23] IceManOG commented on #198
@ptrthomas  It is happening in both version 0.6.2 and version 0.6.2.2

[2017-12-18 11:31] IceManOG opened #264 "java.lang.OutOfMemoryError: Java heap space"
I'm running all my tests by running  'mvn test'. The tests run perfectly when they are run individually.Tried to run my test on version 0.6.2 and on 0.6.2.2 and got the same error

`
Exception in thread "ThreadedStreamConsumer" java.lang.OutOfMemoryError: Java heap space at java.util.Arrays.copyOf(Arrays.java:3332) at java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.jav

[2017-12-18 13:37] ptrthomas commented on #264
hmm. no one has ever reported this, so are your payloads extremely large, or are you doing file-uploads ?

can you try the following options:

1) increase memory for maven surefire, try increasing to 2g, 3g etc depending on how much RAM you have
`mvn test -DargLine="-Xmx1g"`

2) Are you using the parallel runner as described here ? https://github.com/intuit/karate#parallel-execution, if not, you S

[2017-12-18 14:05] ptrthomas commented on #264
seems related:

https://issues.jenkins-ci.org/browse/JENKINS-29624
https://stackoverflow.com/a/13400465/143475

[2017-12-18 16:34] msennett9 opened #265 "CucumberOptions annotation causes exception in 0.6.2"
I have a set of tests that works fine with Karate 0.6.1. In the top-level test runner class, we have the following annotation to support Cucumber reporting: `@CucumberOptions(plugin = {"pretty", "json:target/cucumber/cucumber-data"})`.  When I try to upgrade to 0.6.2, this results in all tests failing, reporting that all scenarios have 0 scenarios and 0 steps.  To recreate, generate a project with

[2017-12-18 17:02] ptrthomas commented on #265
@msennett9 I'll look at this in a moment. meanwhile, I'd like to explore if you would be okay to NOT use the `pretty` and `json` 'native' reports.

especially the json, in Karate you are supposed to use what is generated by the parallel runner, refer: https://github.com/intuit/karate#parallel-execution

and pretty was useful only in dev mode and now you have the HTML report: https://github.com/int

[2017-12-18 17:27] bkstiff opened #266 "Testing Rest: Using 'set' with 'xml' = read('request.xml')"
# Problem Description:
Using the 'set' command with a defined 'xml' does not preserve the integrity of the xml.

Note I am seeing whereas the request ends up like this (after  using a set):
`<ProcessRequest "_"> vs the required <ProcessRequest xmlns="http://someservice.com/someProcess">`

I can fix this by using a bogus 'replace' option after the set.

A Rest Service Request

# Example
Scenario Ou

[2017-12-18 17:45] ptrthomas commented on #266
I think you are over complicating things, stick to the `def` unless you really need to do type-conversion, refer: https://github.com/intuit/karate#type-conversion

[code]

which prints:

[code]

Do refer to this for more examples / ideas: https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/junit4/xml/xml.feature

[2017-12-18 17:57] bkstiff commented on #266
Doesn't seem to work for me as I have to read in a very large file for a major airline.

It ends up resulting in this:
ProcessRequest":{"_"

Thanks anyways.

[2017-12-18 18:03] msennett9 commented on #265
I did see the doc about the parallel runner.  We are generating the json because we wanted to use the net.masterthought maven plugin for generating the nice-looking Cucumber reports.  I'll take a look to see if we can use another approach.

[2017-12-18 18:19] ptrthomas commented on #266
@bkstiff unfortunately I can't replicate your issue, which I'm sure you understand.

Just a hunch, can you try setting the encoding in maven/surefire as mentioned here: https://github.com/intuit/karate/issues/144#issuecomment-326723371

There could be this issue with large files where this is the fix. If you can confirm, I'll add it to the docs / faq.

[2017-12-18 18:23] ptrthomas commented on #265
@msennett9 the karate json is standard (most importantly the in-line HTTP logs, plus some nice tweaks for api testing, for e.g. you see the feature file name not the 'friendly' name) will work with the masterthought plugin.

[2017-12-18 18:30] ptrthomas commented on #266
reopening to investigate if there is something we can do to handle very large file payloads by default

[2017-12-18 19:13] bkstiff commented on #266
I attempted with #144 using the  -Dfile.encoding=UTF-8 but it still failed.

I wonder on my existing code why simply using a 'replace' statement that does nothing; fixes it on my end.

I am fine with the workaround.  I am glad there is a workaround as I've spent 30 hours on this and went as far as to write a method to make it work; before the workaround was found.

[2017-12-18 19:28] ptrthomas commented on #266
@bkstiff thanks for the update.

any way you can help us replicate this would be greatly appreciated. can you send a zip with any sensitive information replaced with 'xxx' or something. or let me know the size of the xml we are talking about.

info on the environment (if windows) and how you are invoking the test (via junit / maven command line / ide) would be also good.

[2017-12-19 08:01] stiancognite commented on #25
Hi @ptrthomas! You've probably seen it, but this project might be of interest: https://github.com/RESTDocsEXT/restdocsext-jersey.

[2017-12-19 08:24] ptrthomas commented on #25
@stiancognite thanks ! I'll take a look.

[2017-12-19 13:52] ptrthomas commented on #266
I investigated this with a test case that creates a 20 MB xml file and everything works fine: https://github.com/intuit/karate/blob/develop/karate-junit4/src/test/java/com/intuit/karate/junit4/large/LargePayloadRunner.java

I strongly urge you to read the doc on type-conversion (and the examples) if you haven't already, it would explain why the replace ends up working for you and where the `"_"` c

[2017-12-19 13:52] #266 closed

[2017-12-19 14:01] ptrthomas commented on #264
closing this, cannot replicate

[2017-12-19 14:01] #264 closed

[2017-12-20 16:50] jbadeau opened #267 "Invalid response from karate.read inside a js function"
**Java8 and karate 0.6.1 & 0.6.2**

Given the test.json file content

`{ "foo":"bar"}`

When calling the following function from a feature file

[code]

then the value of test is undefined

but if called in a feature like:

[code]

then the value of test is the json structure

I have tried many combinations but it never reads the json correctly

[2017-12-20 18:40] ptrthomas commented on #267
@jbadeau thanks for this, a good catch that went undetected for a while ! fixed in dev. I guess you will be able to build from source and verify

[2017-12-20 18:44] jbadeau commented on #267
Thanx, was really a blocker for us. Thanx fir the fast response. I’ll berify it in the morning

[2017-12-21 10:39] bAmrish opened #268 "NoSuchMethodError execption in ReporterLogAppender"
When I am trying run a simple test I get `java.lang.NoSuchMethodError` exception for `ch.qos.logback.classic.encoder.PatternLayoutEncoder.encode` method in `ReporterLogAppender`.

I have a standard grails 3.3.x project. Just to make sure there is no conflict with the logback library dependency I have explicitly added the following to my build.gradle

```compile 'ch.qos.logback:logback-classic:1.2.

[2017-12-21 11:34] ptrthomas commented on #268
@bAmrish clearly a `logback` conflict. try forcing `logback-core` also to 1.2.3

[code]

[2017-12-21 11:34] #268 closed

[2017-12-21 12:47] jbadeau commented on #267
I can confirm the fix works. :)

[2017-12-21 19:06] avpavlov opened #269 "Misleading error message for `!contains` option"
When step is
[code]

and response includes grants/role/firms array then test fails with message below

[code]

This is misleading. Should be something like
[code]

[2017-12-22 03:54] ptrthomas commented on #269
fixed in dev and also made an "un-official" release 0.6.2.3 - can you take a look.

here's a sample:

[code]

log:
[code]

[2017-12-22 03:58] ptrthomas commented on #265
@msennett9 were you able to try the karate parallel runner + json + the masterthought reports ?

also, I released an un-official 0.6.2.3 version, would be great if you try and let me know if fixed.

[2017-12-22 13:04] bAmrish commented on #268
@ptrthomas I tried adding the gradle dependencies but it did not help. I was however able to figure out that this happens only when there is an error in parsing response from the server or a test failure. I am assuming its related to issue #259. Also I have seen this happen only when I run it using JUnit.

For now I have moved on to using cucumber runner which is much easier than Junit.

[2017-12-22 13:51] ptrthomas commented on #268
You may need to exclude some maven dependencies. Did you try analyzing the output of `mvn dependency:tree`.  And can you do me a favor and confirm that you still see this problem with the latest (un-official) version 0.6.2.3

And are you saying you don't get this issue when using the `CucumberRunner` for the *same* feature ? Which is strange. Would be great if you can give me enough info to replic

[2017-12-22 13:53] avpavlov commented on #269
Confirmed 0.6.2.3 fixes actual/expected misleading.
However, it seems I was not clear enough in start post - reason is also misleading. It says `reason: actual value contains expected`, I would expect something like `reason: actual value contains unexpected`

[2017-12-22 14:02] ptrthomas commented on #269
@avpavlov oops, I totally missed it, was intending to. Thanks for confirming and I've made the change you suggested. Will release later though: https://github.com/intuit/karate/commit/9b85eb676fb1d672131f581c078fdf70d0fc3c9c

[2017-12-22 14:06] avpavlov opened #270 "[feature request] Support for `#notpresent` keyword"
Use case: I'm writing tests for Spring Boot Repository. It supports "projections" so user can request different detalization, e.g.

* "default" projection: Fields A,B,C
* "more-data" projection: Fields A,B,C and array D (it is loaded from separate table)
* "complete-data" projection: Fields A,B,C and arrays D,E,F,G (each is loaded from separate table)

I cannot check contains/!contains with single

[2017-12-22 14:14] ptrthomas commented on #270
@avpavlov actually there is an `#ignore` marker already, can you confirm that it is what works for you: https://github.com/intuit/karate#fuzzy-matching

[2017-12-22 14:16] avpavlov commented on #270
`#ignore` excludes field from verification. I do not want to exclude, I want to **ensure** this field is not included.

[2017-12-22 14:18] avpavlov commented on #270
In other words, `#undefined` is like local `!contains` for single field

[2017-12-22 14:18] ptrthomas commented on #270
would `#notnull` work ?

[2017-12-22 14:19] ptrthomas commented on #270
I meant `#null`

[2017-12-22 14:26] avpavlov commented on #270
Thank you, both work - `#null` and `##null`.

However, I would say working `#null` is a bug in this case, because if I expect some `key` with `null` value then missing key should fail scenario.

`##null` is right fit in this case - any chances you expand "contains / !contains" readme sections to propose it as way to verify key is not presented in JSON?

[2017-12-22 15:10] ptrthomas commented on #270
Yes. Or how about this, to check for a null just use `null` itself. So this should fail (as of now it passes, but I'm proposing to change this):

[code]

In my experience, most teams assume a null value and the key missing to be the same. Typically people set the Json marshaller config to 'strip nulls' for example, to reduce payload bloat.

Can you help by suggesting what change you'd like to see

[2017-12-22 15:15] avpavlov commented on #270
Sounds good

That's true. That's why `#undefined` could help ;)

Let me think

[2017-12-22 15:18] ptrthomas commented on #270
@avpavlov cool, I'm beginning to agree. see I'm quite reasonable `:P`

how about `#notpresent` - which could be more clear ? `undefined` has a certain meaning in JS also ?

[2017-12-22 15:21] avpavlov commented on #270
`notpresent` sounds better than `undefined`. I tried to invent something like `na` or `notavailable` or `missed` but all of these were not enough clear so finally I borrowed keyword from JS

[2017-12-22 15:25] ptrthomas commented on #270
great ! looking at it now. are you able to build from source or do you prefer a release.

[2017-12-22 15:36] avpavlov commented on #270
Created PR for '##null' in README https://github.com/intuit/karate/pull/271

[2017-12-22 15:50] avpavlov commented on #270
I can build from sources

[2017-12-22 16:49] ptrthomas commented on #270
@avpavlov yes, is now in the develop branch. I actually decided that both `#null` and the `null` value will expect the JSON key to be present. Just felt that this is consistent and reduces confusion. Teams may need to use `#ignore` or `#notpresent` which is more clear.

[2017-12-22 17:19] avpavlov commented on #270
I agree, Karate tests output/protocol not how this output _could be_  interpreted by consumer

[2017-12-22 21:52] avpavlov commented on #270
Just tested project with `develop` branch - it works! Thank you!
Is there any way in the Github to subscribe to the notifications about releases?

[2017-12-23 01:37] ptrthomas commented on #270
@avpavlov not sure, but you can watch the project on GiHub. there's a twitter account if you are in to that kind of thing: https://twitter.com/KarateDSL

[2017-12-23 09:24] ptrthomas commented on #270
@avpavlov well. after thinking about it, it made sense to implement `#present` as well ! thanks for triggering this, I think Karate has become a little better as a result. So now here is what is possible. I recommend that folks don't use `!=` not-equals because it gets *really* confusing, but hey.

[code]

[2017-12-25 18:22] vidhya03 opened #272 "Additional jar required to run Test runner"
As per the documentation i setup the development environment . However while executing the TestRunner  I got the below error.
`
org/apache/http/impl/cookie/DefaultCookieSpec
java.lang.NoClassDefFoundError
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at j

[2017-12-26 01:36] ptrthomas commented on #272
Unless you can provide proper steps to replicate this as a stand-alone maven project (ideally based on the quick-start and as a zip file) I am closing this. I'm guessing you are mixing Karate with some other dependencies and have version conflicts. Here you can refer the default dependencies for Karate which includes `org.apache.httpcomponents: httpclient` https://gist.github.com/ptrthomas/b24b8d5

[2017-12-26 01:36] #272 closed

[2017-12-26 06:57] ptrthomas opened #273 "option to run a global one-time init routine especially for auth"
As of today, the `karate-config.js` is re-invoked for *every* Scenario, not just per feature.

Although this has worked fine in practice until now, there is a use-case for time-consuming set-up such as auth to be done in a guaranteed "one time" manner.

This would be great for further speeding up tests.

[2017-12-26 07:08] vidhya03 commented on #272
Hi Peter Thomas @ptrthomas ,

Thanks a lot.!

[http-patch](https://github.com/vidhya03/http-patch-jax-rs) - This is the project I've tried karate.

Thanks

[2017-12-26 07:14] ptrthomas commented on #272
@vidhya03 as I expected this is a mix of other dependencies. Not investigating further unless you can prove that Karate is the culprit.

[2017-12-26 12:03] ManjuDuraisamy opened #274 "Running jenkin build cannot find oracle jdbc8 jar which is in my local repository"
Facing issue while running jenkin job created with karate framework. Its failing with ojdbc8 dependency not in maven repository. But ojdbc available in my local repository. Also installed jenkins locally and triggered and its failing with below error.

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building POC 0.0.1-SN

[2017-12-26 13:09] ptrthomas commented on #274
I suggest you work with your jenkins admin. if you have added `com.oracle:ojdbc8:jar:11.2.0` to your pom and it fails, it has nothing to do with karate.

why don't you raise a bug on oracle, because `com.oracle:ojdbc8:jar:11.2.0 is missing` !? lol

[2017-12-26 13:09] #274 closed

[2017-12-28 18:46] drockmd opened #275 "How do you set a Json varibable in an array?"
Good Afternoon,
I am reading the Error.json structure and assigning known values, so I can compare it against values from a Response. I have tried a millon different formats and cannot get it.

I want to set the code property to a new value within my test case. How do I set a variable in an array?

`* def Actual = read('classpath:../Error.json') { errors:[ {code: "0001"}] }`

Here is the Json Erro

[2017-12-28 19:48] drockmd commented on #275
Just realized I was over thinking the issue.

Here is how I did it.
def errorCode = "0001"
 def Actual = read('classpath:../Error.json')

It would be interesting to know how to set this inline with the read

[2017-12-29 00:54] ptrthomas commented on #275
have you even read the documentation ? here are multiple ways to do this, probably more:

[code]

[2017-12-29 00:54] #275 closed

[2017-12-29 18:42] vidhya03 opened #276 "Running karate with patch method fails"
Hi I am trying to run the below  feature fails. I suspect Patch method (content-type 'application/json-patch+json') might be the root cause for the issue.

1. feature  - https://github.com/vidhya03/http-patch-jax-rs/blob/master/src/test/java/com/labkit/test/personapi/PersonApi.feature

2. Project link -
https://github.com/vidhya03/http-patch-jax-rs

3. IDE error log -
[surefire-reports.zip](https:

[2017-12-30 01:45] ptrthomas commented on #276
First - thanks for being one of the very few who actually provides proper information to replicate an error. I wish more of the world was like you !

Now, you are doing a couple of things wrong. You need to set headers *BEFORE* you fire the `method`, this is clearly mentioned in the documentation.

By the way, there is no need to set `Content-Type` 90% of the time as Karate will auto-detect and se

[2017-12-30 01:45] #276 closed

[2017-12-30 07:47] vidhya03 commented on #276
Thanks a lot Peeter Thoma @ptrthomas . You're really a community guy!. Cheers.

[2018-01-04 14:45] ansonliao opened #277 "[Help] Upload file failed with invalid of file upload MimeType"
I would like upload a media file such as image, audio file, etc..
In postman, I can run the API to upload the file, the details in postman please check screenshots as below.
![image](https://user-images.githubusercontent.com/6060224/34568210-0e96d906-f1a0-11e7-96f8-6efc03b241d3.png)
![image](https://user-images.githubusercontent.com/6060224/34568234-22d89f12-f1a0-11e7-9373-0270c5a013ed.png)

When

[2018-01-04 15:07] ptrthomas commented on #277
In addition to the doc, refer to the demo also: https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/upload/upload.feature

Try this.

[code]

[2018-01-04 15:07] #277 closed

[2018-01-05 03:32] ansonliao commented on #277
@ptrthomas
thanks for your reply, I follow the demo and got the passed result.
if the scenario `Karate` can handle automatically for user, it would be great, so that end user only write the simple such as:

[code]

it is very similar to postman (postman no need to set property `contentType: 'image/jpeg'` in addition ).

https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/up

[2018-01-05 04:01] ptrthomas commented on #277
@ansonliao thanks for confirming. I'm not convinced about your suggestion - for example in your case the file extension is `png` and you want it to be converted to `jpeg` !?

[2018-01-05 17:37] jbadeau opened #278 "stringify json param objects"
I realize that its not really good practice to use json objects as params but sometimes it's legacy or required. It would be great if karate stringifed json object by default:

- removed whitespace
- removed newlines

thus:

[code]

becomes:
`
/?param=%7B%22foo%22=%22bar%22%7D`

[2018-01-05 17:45] ptrthomas commented on #278
hey have you tried string conversion: https://github.com/intuit/karate#type-conversion

[code]

[2018-01-05 17:45] #278 closed

[2018-01-09 15:23] djnwhiley opened #279 "Question - Image upload corrupts image"
I have an issue when running the following feature:

Scenario: PUT  impage
Given path "1/front"
And multipart file myFile = { read: "Koala.jpg", filename: "image-front.jpg", contentType: "image/jpg" }
When method put
Then status 200

The scenario passes as expected and creates a file on my drive for test purposes, the issue I am encountering is that when attempting the view the file created the fi

[2018-01-09 17:46] ptrthomas commented on #279
I created an additional demo using a JPEG image, tested it and it seems to work fine:

https://github.com/intuit/karate/blob/e5c6f0d1f03d088db5efa77035e06b95d15bb14a/karate-demo/src/test/java/demo/upload/upload-image.feature

In fact when the demo runs, uploads go into `target/demofiles/<uuid>` and I can view it (on a Mac) and rename it and it looks ok, icon preview / opens as image etc.

One sugg

[2018-01-09 17:46] #279 closed

[2018-01-11 07:12] ansonliao commented on #277
@ptrthomas

1.
Apology for my code's mistake, it should be

[code]

2.
I means that, whether we can replace

[code]

by

[code]

From my case, I changed

[code]

to

[code]

the scenario will be fail.

so whether `Karate` will be possible that even the `read` statement without `contentType` value, and `Karate` will detect the `contentType` and then append it automatically for end user?

[2018-01-11 07:37] ptrthomas commented on #277
@ansonliao I agree that this will be convenient. but for now, I don't want to maintain a huge list of all possible file-extensions and mappings to mime-types.

[2018-01-11 16:56] matthewh86 opened #280 "NullPointerException when attempting to call common feature file"
Hi,

I'm attempting to set up a common-config.feature file which will deal with setting up common configurations such as baseUrl, auth and headers, but I'm getting an NPE. I have no real experience with Javascript, so can't tell if I've made a silly mistake somewhere along the line. I'm using a different folder structure to the one recommended as there are existing cucumber tests using a hand-roll

[2018-01-11 17:13] ptrthomas commented on #280
I'm going offline in a few minutes, a few suggestions:

[code]

There is no such thing as `* configure url = baseUrl` you probably meant `* url baseUrl` ?

And if you upgrade to `0.7.0.RC3` I'd really like to know if the error message becomes better and more useful.

Lastly the JUnit HTML report as described here should help debug things: https://github.com/intuit/karate#junit-html-report

And may

[2018-01-11 17:13] #280 closed

[2018-01-11 17:32] matthewhaywardmsm commented on #280
Thanks, I've upped the version to 0.7.0.RC3, and changed `* configure url = baseUrl` to `url baseUrl`, and it's not giving an NPE anymore, but the url still isn't being set.

[code]

[2018-01-11 17:36] matthewh86 commented on #280
Thanks, I've upped the version to 0.7.0.RC3, and changed `* configure url = baseUrl` to `url baseUrl`, and it's not giving an NPE anymore, but the url still isn't being set.

[code]

Also, I'd got it working as a single feature file, but wanted to split it out before needing to copy and paste common config into new feature files. I'm wanting to learn a good way to go forward and re-use code :).

[2018-01-11 17:44] ptrthomas commented on #280
looks like you are expecting `* url baseUrl` to have a 'global' effect, that's not how it works, try this:

[code]

[2018-01-12 01:36] ansonliao commented on #277
@ptrthomas thanks for your reply

[2018-01-12 09:34] matthewh86 commented on #280
Ah ok. Yeah I was expecting a global effect. Thanks for the help 👍

[2018-01-12 09:47] ptrthomas commented on #280
@matthewh86 no problem, this feedback helps and I'll look at making this more clear in the doc. come to think of it the only 3 things that *can* have a global effect are 1) variables set in the `karate-config.js`, (2) variables (`def`) and (3) `configure` - and (2) and (3) only if you are using ['shared scope'](https://github.com/intuit/karate#shared-scope)

[2018-01-12 15:04] MariAkaMachine opened #281 "Support custom client certificates for Mutual Auth"
I want to use my own client certs to test a service which uses Mutual Auth. So instead of only passing in the protocol, it would be neat to also specify a truststore + password. Something like this:
[code]
or with a default [jasypt](http://www.jasypt.org/) encryption:
[code]

Currently in com.intuit.karate.http.HttpUtils:
[code]
 Retrieve SslContext with custom client cert(s):
[code]

[2018-01-12 15:37] ptrthomas commented on #281
my understanding is 'standard' system properties work, and hence there is no need to add a `configure` option for this, does that make sense ? Can re-open if needed.

refer: https://github.com/intuit/karate/issues/76

[2018-01-12 16:53] petercuffari opened #282 "NPE when first Scenario is Outline in 0.6.2"
If the first Scenario when running the entire test suite is a "Scenario Outline", I get a NPE.  If I put a dummy scenario before the outline (or if another feature file runs first), it works fine.  This is only affecting 0.6.2 (earlier versions, including 0.6.1, work fine).

Does not work:

[code]

I get failed tests and this NPE:

[code]

However, when I force a simple feature to run before the O

[2018-01-12 17:50] ptrthomas commented on #282
Yes. It would be great if you can confirm this is fixed in 0.7.0.RC3 which is available. Here's the upgrade guide: https://github.com/intuit/karate/wiki/Upgrading-To-0.7.0

[2018-01-12 17:54] ptrthomas commented on #282
and wow, I never realized this trick works ! thanks :)

[code]

[2018-01-12 18:12] vidhya03 opened #283 "Readme pom.xml jacoco hyperlink in karate/karate-demo/ points to wrong line number"
go to karate/karate-demo/ readme.md

the pom.xml jacoco points to wrong line number

![image](https://user-images.githubusercontent.com/534679/34888923-28d886b8-f7f2-11e7-91d5-a349c90526dd.png)

[2018-01-12 18:24] petercuffari commented on #282
Thanks for the quick fix!  I'm having trouble with 0.7.0.RC3.  I get the following:

[code]

What am I doing wrong?  I am setting the karate.env value with a java option of:

[code]

Apologies if this is in the documentation somewhere!

[2018-01-12 18:28] ptrthomas commented on #282
@petercuffari hmm, can you let me know the exact JRE version you are on (output of java -version)

I've been trying to track down why this changed from previous versions.

And if you don't mind can you upgrade your JRE to a version greater than or equal to 1.8.0_112 and that should fix this.

[2018-01-12 18:52] ptrthomas commented on #282
@petercuffari thanks ! I will add the version requirement to the docs & upgrade guide.

I'll keep this issue open since the "final" 0.7.0 release is not out.

[2018-01-12 18:54] ptrthomas commented on #282
:thumbsup:

[2018-01-12 22:53] mattjm commented on #281
I actually did just this in a fork:

https://github.com/mattjm/karate

Except it takes PEM text instead of a keystore (because java keystores are ridiculous).  I can submit a pull request for it if developers think it would be useful--it wasn't at all clear to me how to do cert auth with java arguments (plus then you have to spend four hours remembering how to put together a keystore).

[2018-01-13 01:45] ptrthomas commented on #281
@mattjm I'm open to this. appreciate the commits and the doc. to be honest, haven't had to do this much so not sure about the usefulness. looks like an additional dependency e.g. bouncy-castle ? since netty is in the picture now, I'd like an integration test which I'd be happy to add. one more question is does this work for jersey. maybe this is useful when karate works as a mock / server - probab

[2018-01-13 17:15] ptrthomas commented on #281
@MariAkaMachine @mattjm can you review this commit and let me know what you think: https://github.com/intuit/karate/commit/9718c98f1223bc5ce6f140416ffe645f83f7f1ff

[2018-01-15 09:14] MariAkaMachine commented on #281
Awesome, thank you! I just took a look at the two commits and the code looks alright to me.

[2018-01-15 09:37] ptrthomas commented on #281
@MariAkaMachine great ! I have actually made a preview release version 0.7.0.RC4 so it would be great if you can try it out.

I also have a question - since by default `* configure ssl = true` should work for any server in theory, what is the advantage or need for you to actually use a certificate for the client ?

[2018-01-15 10:09] MariAkaMachine commented on #281
Thank you! Ive gotta say your responsiveness is really impressive - keep it up! :ok_hand::bowtie:

To give you some background information: Im working on a business app which expects rest calls from mobile hardware in the field. Unfortunately, OAuth is not supported on the client side yet. This basically forces us to implement and support Mutual Auth to verify the callers identity. Does this make

[2018-01-15 10:23] ptrthomas commented on #281
@MariAkaMachine that makes total sense, I'd never considered this scenario. I can imagine you would have a test that given a certificate - expect a response (identity), and maybe a negative scenario or two. thanks !

[2018-01-15 10:44] MariAkaMachine commented on #281
Exactly! :wink:
I love your framework so far and I wouldnt want to include something else just for this scenario.

[2018-01-15 16:34] neillfontes opened #284 "[Question] Combining Scenario Outlines with JSON objects"
Let's say I have a lookup table to be used across some scenarios:

[code]

Inside a feature file I have a Scenario Outline as below:

`def xyz = read('classpath:xyzConfig.json')`

[code]

Whenever this feature is tested, I would like to test against `value1` and `value2` respectively for the case above. Is it possible? I tried playing with templates and such without luck.

This is a rough idea of

[2018-01-15 17:09] ptrthomas commented on #284
`Examples:` are 'dumb' strings, since this is built-in to Cucumber. This should give you a hint on how to approach this:

[code]

This example shows how you can use `table` and `set` as an alternative, but you may need to call another feature for the 'loop': https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/search/dynamic-params.feature

[2018-01-15 17:09] #284 closed

[2018-01-16 06:20] asitishere opened #285 "help wanted: In The post I want to inject few dynamic variable which gets generated from native code"
I am trying to write API test for mobile app we use, but the catch is that everytime i want to POST log in call , need 2 dynamic variables which calculated on some logic ( I have created the same logic in Java but want to call the java class during test which will feed the result to the POST call. Please suggest , how can i do it .....

[2018-01-16 08:11] ptrthomas commented on #285
sure. please read the doc: https://github.com/intuit/karate#calling-java

For such basic question, kindly use Stack Overflow. If you have a bug to report you really need to provide enough information to replicate your problem.

[2018-01-16 08:11] #285 closed

[2018-01-17 05:59] mattjm commented on #281
@prthomas  Thanks!  This looks cleaner than my solution.

@MariAkaMachine Have you tested RC4 yet?  I'm not able to get it to work in my environment, but I was with a few tweaks.

On first glance it appears as written we're just setting up a trust store and not a key store--we need the private key out of the key store to get client cert authentication to work.  The trust store is optional dependin

[2018-01-17 06:05] ptrthomas commented on #281
@mattjm I think you are right, and you would have noticed I left the keyStore part commented out suspecting that that was more appropriate for clients. yes, would be good to get feedback from @MariAkaMachine

[2018-01-17 15:43] adnansarajlic opened #286 "Not being able to get acces to response when response status is 400 and running in console with maven"
Hi Peter,

I came across a strange issue today. While making a request to an endpoint and expecting status to be 400 with an error everything whent ok in IntelliJ but when I tried to run it with "mvn test" I could not get response to print or match.  You can se the line from log:

16:31:10.308 [main] INFO  com.intuit.karate - [print] (..stream..)

It's printing (..stream..)

Feature: Test

  Backg

[2018-01-17 16:35] ptrthomas commented on #286
can you try 0.7.0.RC4 and see if this is fixed.

if not, please follow the instructions here: https://github.com/intuit/karate#fileencoding

Really appreciate if you can let me know how it goes.

[2018-01-17 22:03] mattjm commented on #281
I noticed that.  On further testing:

-we definitely need LoadKeyMaterial().  LoadTrustMaterial() does not import any private keys.
-In my environment cert auth fails unless I remove LoadTrustMaterial() (or if I bump the httpclient version to 4.5.4 and set "TrustAllStrategy".  From what I can see in my debugger, the trust store is grabbing the client's public cert/key from the keystore and ignorin

[2018-01-18 04:04] ptrthomas commented on #286
closing since the surefire fix will certainly fix this, the main doc has this FAQ / troubleshooting explained as well.

[2018-01-18 04:04] #286 closed

[2018-01-18 04:17] ptrthomas commented on #281
@mattjm thanks ! I'm going to let this bake for a couple of days and if you get a chance to dig more, that would be great. One question is - should the name of the config key be changed from `trustStore` to `keyStore`.

I'm totally ok with upgrading http client, let me attempt that now in develop so that you can use that as a base.

@MariAkaMachine would like your inputs as well.

[2018-01-18 09:12] adnansarajlic commented on #286
:smiley: Thanks Peter, it was encoding issue. I tought I found a "real" bug :wink:

[2018-01-18 09:19] ptrthomas commented on #286
@adnansarajlic thanks for confirming :) we know that encoding fixes this. what's not clear to us yet it at what point it starts becoming a stream. can you provide this additional info, it will help:

- what OS ? Windows ?
- if you can figure out what is the "default" system file encoding in effect, that would help
- what is the approximate size of the payload ?

For my reference and for those who

[2018-01-18 09:47] adnansarajlic commented on #286
Yes. I'm running Win10 (Swedish). System file encoding in IntelliJ was windows-1252 but I changed it to UTF-8 an dit did not have any effect. The payload was minimal like the one in example in first post, I was checking error codes. The response is a json with error code, id and message. Response had swedish chars in the message. I did not think about encoding because we are using swedish chars in

[2018-01-18 10:11] ptrthomas commented on #286
@adnansarajlic this helps, thanks ! I think I'll modify the archetype to include the surefire config

[2018-01-18 22:54] kabasakalis commented on #273
Looking forward to **v0.7.0** . Right now I am using call to to get a token, and the call is made for every single scenario. I am commenting so that I get a notification when this is closed. One minor thing, I noticed that  Gherkin syntax errors result in scenarios being completely ignored. For example I had  somewhere `postData.path = 'albums' ` instead of ` set postData.path = 'albums' ` . The f

[2018-01-19 02:54] ptrthomas commented on #273
@kabasakalis typing longer message back at my computer. thanks for supporting this project !

0.7.0 is almost ready and I can confirm that you can use 0.7.0.RC4 right away and you won't have any more breaking changes. there is an upgrade guide here if you are actively using 0.6.X: https://github.com/intuit/karate/wiki/Upgrading-To-0.7.0

I've been actually asking for feedback on the upgrade for a

[2018-01-19 07:54] llzuo opened #288 "Invoke field from last scenario response failed"
Scenario:
* def CartItemId = response.CartItems[0].CartItemId

Scenario:
And request {"CartItemId":"#(CartItemId)"}
As above code, I want to invoke CartItemId from scenario 1 response, no error return but i cannot get its value. Could you please help me?

[2018-01-19 08:08] ptrthomas commented on #288
No you cannot share scenarios like that. Please read this section very carefully: https://github.com/intuit/karate#script-structure

for basic questions like this, please use stack overflow, thanks: https://stackoverflow.com/questions/tagged/karate

[2018-01-19 08:08] #288 closed

[2018-01-19 12:08] MariAkaMachine commented on #281
@mattjm on first sight, I thought youre right to use ```LoadKeyMaterial()```. it is pretty confusing as the ```LoadTrustMaterial()``` is the exact same method except for one tiny exception. the ```XManager``` instance. [read this](https://stackoverflow.com/questions/13997419/difference-between-keystore-and-keymanager-trustmanager) for further info.

@ptrthomas concerning the config key: personally

[2018-01-19 12:23] ptrthomas commented on #281
@MariAkaMachine just upgrade your JRE version and this problem will go away. do refer to the upgrade guide also: https://github.com/intuit/karate/wiki/Upgrading-To-0.7.0

[2018-01-19 12:44] spknight33 opened #289 "Question - Image upload body contains extra data causing corrupt image"
This is further information related to issue #279.
I have run the Spring Rest service in debug and we see differences in the bytes received from Karate and Postman as returned by the Spring RequestBody tag.

With the feature:

Scenario: PUT front image
Given path imageEndpoint + "200/bytes/front"
And multipart file myFile = { read: 'prescription-image-front.jpg', filename: 'prescription-image-fron

[2018-01-19 13:13] ptrthomas commented on #289
I'm marking this as wontfix. The difference in bytes may be ok since Postman will be using a different strategy than Karate for the mime boundary for example. You have not mentioned if the server is receiving the file correctly.

As I said earlier, we will need a full working example mentioning what exactly you expect. Maybe you could modify the existing example. All the best.

[2018-01-19 13:21] ptrthomas commented on #289
ok re-opening. you'll need to help me out here. is this different from a "normal" multipart file upload. one idea is try switching to the `karate-jersey` client and see if that has any change.

[2018-01-19 13:33] ptrthomas commented on #289
@spknight33 can you kindly experiment with `multipart entity`: https://github.com/intuit/karate#multipart-entity

Let's hope this works !!

[code]

[2018-01-19 14:00] spknight33 commented on #289
I tried with  multipart entity , slightly different at server, but still extra bytes.
![karate with entity](https://user-images.githubusercontent.com/33594313/35153684-63497fbe-fd1f-11e7-802e-9f68e47740de.PNG)

Our server rest is like this:
[code]

The image is being received at the server , as you can see above, the server just reads the bytes and saves - as you can see it has that extra stuff at

[2018-01-19 14:25] ptrthomas commented on #289
@spknight33 hey, actually this helps. to be honest I have never seen a `@RequestBody byte[]` before :) So let me try add this to the demo. will keep you posted.

[2018-01-19 14:28] spknight33 commented on #289
Getting an error initiating the same request via jersey:
[code]

Were only using multipart as we couldn't see another keyword for reading a image file  - as you can see from the Rest server code, were not really dealing with forms, just the transfer of an image file to the server.  Cheers

[2018-01-19 14:59] ptrthomas commented on #289
@spknight33 I think I have good news, and looks like we were both over-complicating things. This is just a normal HTTP request just that the request body is binary. So this should work:

[code]

[2018-01-19 14:59] #289 closed

[2018-01-19 15:17] spknight33 commented on #289
Fantastic! Works a treat.
Thanks very much - great product.

[2018-01-22 22:36] mattjm commented on #281
There is something weird about how openssl assembles PEM text into PKCS12 files.  Openssl adds the ca files in a way that the Java trust store methods don't find them.

rt.jar!\sun\security\validator\KeyStores.class
[code]
No matter how I load the CA file, this method always sees only a private key and it just grabs the first cert in the chain, which is the public cert associated with the private

[2018-01-22 22:57] mattjm commented on #281
It looks to me like with jersey the HTTP client is initializing before karate-config.js is parsed.

[2018-01-23 00:41] ptrthomas commented on #281
@mattjm FWIW this commit implements server-side SSL custom cert / key for Netty: https://github.com/intuit/karate/commit/fdf2cb0ae0dace36a839c4bdc10e6cf7ccb3be8e

And that supports PEM files. Haven't explored yet, but there's a chance Netty would have similar helpers for the client-side.

Also I thought we PKCS12 is not mandatory, and we can switch the "type".

[2018-01-23 12:19] ptrthomas commented on #123
for anyone finding this issue via google the documentation now has a section on how to tackle number / double / integer format conversion needs: https://github.com/intuit/karate#floats-and-integers

[2018-01-23 15:13] ptrthomas commented on #281
I did some reading and man this is so confusing. anyway, I figured the best thing is to support both being able to specify a keyStore AND trustStore. so here is an example:

https://github.com/intuit/karate/blob/c259b1a1056fb6ce5da4b021bf8416636bb8271a/karate-demo/src/test/java/ssl/ssl-keystore.feature

references:
http://maultech.com/chrislott/blog/20120107_httpscerts.html
http://drumcoder.co.uk/

[2018-01-23 17:15] mattjm commented on #281
OK--correct, we don't *have* to use PKCS12 (I kind of had some tunnel vision there).  But it's good folks have the option to use something else if they need to.  It looks like the other options are various flavors of Java keystores.

Certs are definitely confusing, especially in Java--I had to explain to a vendor last week how to fix their keystore in a piece of software they wrote.  :-/

I think

[2018-01-23 17:26] ptrthomas commented on #281
Totally makes sense, will do. No, wait. Actually a question, is this really relevant for an HTTP test-suite if the primary need ( e.g. use-case of @MariAkaMachine ) is to incorporate the client key in the request ?  Plus one thing that bugs me is that I couldn't figure out the equivalent for Jersey.

Hey @MariAkaMachine if this works for you, I'm tempted to stop work on this and cut release 0.7.0

[2018-01-23 17:48] ptrthomas commented on #281
sorry @mattjm re-reading your posts more carefully:

Yes !

Yes !

So maybe we'll just go with `trustAll: true` and if needed in the future we can have a custom class that has this strategy for Jersey. I suspect that Jersey is already doing a 'trust all' by default. Ugh, had enough of certificates for now.

Do go ahead with a PR @mattjm if you have time - you have been of great help.

[2018-01-24 05:01] ptrthomas opened #292 "Simplify in-line usage of contains short-cuts"
today, this is possible:

[code]

it would be nice to be able to do:
`* match data.dataElements contains ^expected`
or even
`* match data.dataElements contains ^{"amount":"0.00", "errorNum":"324"}`

[2018-01-24 05:05] ptrthomas opened #293 "Improve failure message for short-cut array length assertion"
reported from within Intuit, cut and paste follows:

Right now if you make an assertion on an array length in a response, like "#[4]", if the assertion fails we see a failure message like "expected=#[4], but actual = [ ]".

The failure message would be great if it could tell the length of the actual array, like this:
"expected length #[4] but actual length was 3, actual array is '......' "

[2018-01-24 13:15] ptrthomas opened #294 "karate-netty: built-in CORS support for especially web-dev consumers"
thanks @Deborah-Digges for the feedback on 0.7.0.RC5

Currently the following boilerplate is needed for CORS support:

[code]

Can be made even simpler with something like
[code]

[2018-01-24 13:26] MariAkaMachine commented on #281
sorry guys for not being very responsive here! :see_no_evil:
unfortunately, I couldnt make it work so far. I just pulled the lase changes and will spend some more time with it now.

[2018-01-24 22:45] saurangsu opened #296 "Unable to resolve a JSON path expression from feature file."
I'm trying to fetch a value from a particular JSON response. The JSON looks like this -
[
    {
        "resortCode": "0914",
        "status": "M",
        "exchangeAvail": "Y",
        "region": "CRBN",
        "stratum": 60,
        "accommodationProducts": [
            {
                "productId": "17053551",
                "packagePrcId": "419801477",
                "channels": [

[2018-01-25 01:49] ptrthomas commented on #296
Looks like for JsonPath - single-quotes are the norm for filter expressions. I was not aware, so thanks for reporting this :)

The below snippet is working and also would provide some tips on how to simplify some of what you are doing.

[code]

if you have trouble with the second-last line, upgrade to 0.7.0.RC5 - here is the upgrade guide: https://github.com/intuit/karate/wiki/Upgrading-To-0.7.0

[2018-01-25 01:49] #296 closed

[2018-01-25 03:45] ptrthomas opened #297 "explain better how to use cucumber scenario outline examples in combination with karate"
there are some implications and gotchas that need a well thought through doc and examples

cc @NuttBoxer

[2018-01-25 11:37] AmirAmido opened #298 "Cannot send a request with an empty Content-Type header"
When sending a request with an empty Content-Type in the header request, i.e. Content-Type='', an exception is thrown saying "MIME type cannot be empty".

[2018-01-25 17:57] ptrthomas commented on #294
this is available in 0.7.0.RC6

[2018-01-25 17:58] ptrthomas commented on #298
@AmirAmido can you try now with 0.7.0.RC6

[2018-01-25 21:01] saurangsu commented on #296
Thanks, this works for me. Much Appreciated!

[2018-01-25 22:09] msennett9 commented on #265
I just tried the 0.7.0.RC6 version and it doesn't fail in the same way, but instead it gets through one scenario in the first feature file and then seems to get confused and stops parsing the Karate commands correctly at all.  It ends up with errors like this:
[code]
I haven't had time to try the recommended approach yet, but will try to do so soon.  However, I don't think this is really fixed.

[2018-01-25 23:40] mattjm commented on #281
I got the new pieces in and updated the documentation:

https://github.com/mattjm/karate/tree/karate-develop-3

Also updated a few tests here and there related to the various keystores, although I'm not entirely sure what your paradigm is so it may need some adjustment still.

There is a slightly glaring problem in that the loadKeyMaterial method doesn't allow me to just load a keystore and use th

[2018-01-26 07:25] ptrthomas commented on #281
thanks, will take a look.

[2018-01-26 13:21] jbadeau opened #299 "Unable to read js file from classpath of jar dependency"
Hi,

I am trying to read a js file from a commons.jar dependency (compile scope) like:

`karate.configure('headers', karate.read('classpath:com/xxx/commons/karate/headers.js'));`

but getting the exception:

com.intuit.karate.exception.KarateFileNotFoundException: file not found: com/xxx/commons/karate/headers.js, classpath: true
	at com.intuit.karate.FileUtils.readFileAsString(FileUtils.java:104)

[2018-01-26 13:53] jbadeau commented on #299
Can close, looked like file lock issue. Had to restart.

[2018-01-26 13:53] #299 closed

[2018-01-26 14:12] ptrthomas commented on #299
👍

[2018-01-28 07:12] ptrthomas commented on #281
adding a source for reference reading on mutual-TLS: https://tyk.io/docs/security/tls-and-ssl/mutual-tls/

[2018-01-28 07:58] ptrthomas commented on #265
considering as still open. will look at nuclear option of failing build if using un-supported combination of plugins

[2018-01-29 02:47] agebhardtsbauer opened #300 "When using method Get, does not send header Authorization nor Accept-Encoding parameters. Please Help :)"
I'm attempting to execute a simple twitter query with application-only authentication (OAuth2).
(Disclaimer: I began using intuit/Karate yesterday and am very new to everything HTTP protocol)
all relevant code is linked at the bottom of this post.

The GenerateBearerToken.feature does it's job as expected:

1 > POST https://api.twitter.com/oauth2/token
1 > Accept-Encoding: gzip
1 > Authorization:

[2018-01-29 06:03] ptrthomas commented on #300
@agebhardtsbauer congratulations, this is indeed a bug that went un-noticed for quite a while. (also for issue number 300 :)

the reason people haven't run into this is that instead of `form field`, most use `param` like so:

[code]

So use that as a workaround. This is fixed in dev and will be available in 0.7.0 final

[2018-01-29 13:32] agebhardtsbauer commented on #300
Glad I could be of service :). Thanks a lot @ptrthomas. I'm happy to know a work-around is in place.

[2018-01-29 13:53] ptrthomas commented on #300
@agebhardtsbauer no problem :) actually `param` is probably the 'more correct' approach and `form field` is designed for `POST`.

One observation, I guess you are using `CucumberRunner.runFeature` intentionally and it sounds like you are not interested in writing a test-suite but simply using Karate as an easy way to make API calls.

Else you should be looking at the JUnit or parallel runner. Also

[2018-01-29 14:31] agebhardtsbauer commented on #300
Please elaborate on what you mean by this. I am using JUnit and intending to grow this suite. What possible improvements are you noticing?

[2018-01-29 15:32] ptrthomas commented on #300
well, you are mainly missing out on reporting. I suggest you read through the documentation: https://github.com/intuit/karate#running-with-junit

and watch these 2 short videos:
https://twitter.com/KarateDSL/status/899671441221623809
https://twitter.com/KarateDSL/status/935029435140489216

[2018-01-29 17:07] agebhardtsbauer commented on #300
Oh yeah I've messed around with this a lot, actually, I just removed a lot of that code from my post because it wasn't relevant to the issue I was having.

Thanks for the video links, I'll be watching them later when I'm not at work :)

[2018-01-30 15:09] ptrthomas commented on #265
fixed in dev. now any cucumber plugins specified will be completely ignored

[2018-01-30 17:01] ptrthomas commented on #281
@mattjm thanks a lot for the doc, which I incorporated. wish you had the PR though, to show up as a committer

I tried to put what I figured (untested) would be a way to use full CA chain for Apache, read through the commit if you have time. anyway I think we are done for this version with this: https://github.com/intuit/karate/commit/eb8decf00bb30ce576e3b404ae64a1aca1897f83

[2018-01-30 17:12] ptrthomas commented on #292
thought about this a bit, felt the extra ceremony is ok and to be consistent with other inline short-cuts

[2018-01-30 17:12] #292 closed

[2018-01-30 18:31] rahulqelfo opened #301 "Asserting in loop"
Can this scenario be accomplished :

Step 1: Hit an API
Step 2: Assert the response

The above has to be done 100 times one by one or until the time a certain condition is reached.

Example 1:

for (int i=0;i<100;i++)
{
 Get 'Hit API and get name'
Assert_Name=Test

}

The above should run either till the time Assert_Name!=Test or i=100

[2018-01-31 00:30] ptrthomas commented on #301
yes. please refer to this: https://github.com/intuit/karate#polling

[2018-01-31 00:30] #301 closed

[2018-01-31 04:20] ptrthomas opened #302 "Request body with special characters not sent correctly"
When sending request with payload "givenName": "oliàèôç", karate sends the request as {"displayName":"oli����".

[2018-01-31 04:24] ptrthomas commented on #302
solution is to specify the right charset on  the `Content-Type` header, see examples: https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/demo/encoding/encoding.feature

It may be worth introducing a `* configure charset = 'utf-8'` in future.

[2018-01-31 19:07] msennett9 commented on #265
I am now using the cucumber json generated by the parallel runner.  It appears to work fine in our use case - both 0.6.2 and 0.7.0.RC6.

[2018-01-31 20:44] hosszubalazs opened #303 "Why is Maven really needed?"
Hi!

The readme page says "Karate requires ... Maven to be installed.", but where is Maven needed where Gradle only would not work out? Based on the docs referring to karate as a dependency and running the tests seems to work fine from Gradle. I'm surely just missing something.

Thanks a lot for the help!

[2018-02-01 02:56] ptrthomas commented on #303
fixed

[2018-02-01 02:56] #303 closed

[2018-02-01 02:57] ptrthomas commented on #283
closing as doc is released

[2018-02-01 02:57] #283 closed

[2018-02-01 10:47] hosszubalazs commented on #303
Thx for the quick fix!

[2018-02-02 09:35] pranitbauva1997 opened #304 "Missing Installation and ContributingGuidelines?"
I forked and cloned this repo locally, then tried to find the installation procedure. Unfortunately, I did Java coding long ago and thus installing this locally isn't trivial to me right now, or I didn't look properly. I think it would be worth while to have a separate file like `INSTALL` for folks who haven't written production-level Java code so that they can compile locally. Also, I was checkin

[2018-02-03 17:12] athityakumar opened #305 "Origin behind the name: "Karate""
Hey @ptrthomas!

I'm **THE** Ruby guy from your Karate workshop today at IIT Kharagpur (great workshop, BTW 😄 ). I'll try to get started on this project and contribute soon. Adding the contribution guidelines (as per issue #304) would definitely help in this regard, for future contributors too.

Meanwhile, I somehow missed out to ask this question: Is there any fun easter-egg (or) reason for namin

[2018-02-04 02:01] ptrthomas commented on #305
hey. I remember THE Ruby guy !  :)

Thanks for asking this. I've been asked this question a few times and here is an opportunity to structure my thoughts better and dig into some details.

For some reason I have gotten into Japanese to the extent where I actually learnt to [read](https://twitter.com/ptrthomas/status/692197870934605825). BTW you and your friends may be interested in this weird conn

[2018-02-04 02:01] #305 closed

[2018-02-04 02:16] ptrthomas commented on #304
@pranitbauva1997 Maven tried to download stuff from the internet (mainly Java JAR files) as part of the "dependency management" and resolution it performs.  I see this in the log:

[code]

Hopefully it is a simple matter of tweaking your proxy settings ? See if you can access that web-site or it may be blocked in your environment.

[2018-02-04 22:35] RavinderSinghMaan opened #306 "Karate UI improvements"
Hi

First of all congratulations on this fantastic project and it is really cool. I have been exploring it recently to use it for testing our API.
I am raising this issue to suggest improvements to Karate UI. I would love to contribute to the project but want to discuss few points with you guys. We would like to use Karate UI as the main tool for demoing our API at the end of the sprint. So it wil

[2018-02-05 03:18] ptrthomas commented on #306
this is fantastic. the UI was something I had created quickly but then started focusing on other features (e.g. mocks as a priority). the world needs a better alternative to postman. you can also look at https://insomnia.rest for ideas, but karate's core competency is being able to integrate into a Java project structure if needed.

I agree with all your points, I would not put too much time into

[2018-02-05 18:33] RavinderSinghMaan commented on #306
@ptrthomas cool as the time permits I will try to get the implementation done for all the points. I was looking for contribution section but couldn't find one. Do we have any guidelines for contribution? Shall I just raise the pull requests?

[2018-02-05 19:48] rahulqelfo opened #307 "Can we execute two feature files in parallel"
There are two files 'a.feature' & 'b.feature'

Can I execute these two files in parallel?

[2018-02-06 02:53] ptrthomas commented on #306
@RavinderSinghMaan yes, please raise the pull requests. just make sure you target the `develop` branch.

[2018-02-06 02:55] ptrthomas commented on #307
yes. please read the documentation: https://github.com/intuit/karate#parallel-execution

for general questions like this, please use stack overflow: https://stackoverflow.com/questions/tagged/karate

[2018-02-06 02:55] #307 closed

[2018-02-06 09:24] hosszubalazs opened #308 "Include the Gradle build in Travis CI"
Hey!

I'm having issues with running the demo project with the Gradle wrapper
``karate-demo/src/main/java/com/intuit/karate/demo/util/DbUtils.java:7: error: package org.springframework.jdbc.core does not exist
import org.springframework.jdbc.core.JdbcTemplate;``

It would be super helpful if the Travis build included the Gradle build and testing. That would help a lot in understanding and fixing i

[2018-02-06 09:58] ptrthomas commented on #308
okay, I'm going to summon @KramKroc who helped with the Gradle bits: #143

cc @helpermethod in case you have some suggestions

[2018-02-06 16:09] matthewh86 opened #309 "Add "contains any" assertion in Matching Sub-Sets of JSON Keys and Arrays"
It is currently not possible to express that a collection can contain any of the given values.

### EXPECTED PASS
* def foo = { bar: 1, baz: 'hello', ban: 'world' }
* match foo contains any { bar: 1, bop: "umbop" }

### EXPECTED FAIL
* def foo = { bar: 1, baz: 'hello', ban: 'world' }
* match foo contains any { bop: "umbop" }

### WORKAROUND(S)
1. re-use https://github.com/intuit/karate#self-valida

[2018-02-06 16:49] ptrthomas commented on #309
thinking aloud. we need this to work for arrays also:

[code]

hm. should not contains come into the picture. I guess yes, to be consistent :|
[code]

finally we need to invent a short-cut character for this. I'm thinking. `~ * |`
[code]

[2018-02-06 17:04] matthewh86 commented on #309
Wouldn't the functionality of "!contains any" be the same as "!contains"?

[2018-02-06 17:16] ptrthomas commented on #309
@matthewh86 you are right ! that is how it works right now at least. do you think it is fine the way it is :\

[2018-02-06 17:18] ptrthomas commented on #309
so I'm thinking `*` is the best:
[code]

[2018-02-06 17:23] matthewh86 commented on #309
I'm a fan of using words instead of hiding meaning behind symbols, so "!contains any" would be my preference.

\* operator is ok though.

[2018-02-06 17:32] ptrthomas commented on #309
@matthewh86 yes, agreed - I expect most users would use the "long form" anyway. just that Karate's "schema validation short cuts" come in handy in *some* situations, so just to be consistent: https://github.com/intuit/karate#contains-short-cuts

[2018-02-07 12:26] spknight33 opened #310 "Is there a way to check KarateException in feature script?"
Is there any syntax for checking a KarateException which correctly occurs as part of a GET?
For example we have a test using Mutual Auth, where we test access without client keystore to https.
The exception is correctly thrown `unable to find valid certification path to requested resource`, but that is at the `when method get` stage.

![image](https://user-images.githubusercontent.com/33594313/359

[2018-02-07 12:55] ptrthomas commented on #310
interesting question. ! no there is no direct support, 2 possible work-arounds:

1) write a plain vanilla JUnit test and use the Karate API to call this feature, you can catch and assert for the exception in JUnit in normal java unit test style
2) if you really want to do it the karate way, use a JS function that calls a second feature with the call that will fail. you should be able to catch the

[2018-02-07 12:55] #310 closed

[2018-02-07 13:02] ptrthomas commented on #310
edit: actually (2) above will still fail the test, so change that to calling the Karate API via JS something like this. I haven't tested this so you may need to tweak, but you get the idea

[code]

[2018-02-07 14:06] spknight33 commented on #310
works a treat - cheers

[2018-02-07 14:19] ptrthomas commented on #310
@spknight33 oh great, thanks for confirming !

[2018-02-08 10:49] athityakumar opened #311 "Improving JUnit HTML Report"
Hey @ptrthomas.

I found this issue listed in the "Challenge 2018" sheet and would like to try contributing to this. Being a beginner to Java, the Karate repository seems quite huge to self-read from. If you don't mind, can you please refer me to what'd be the 'important" files/snippets to change?

[2018-02-08 10:59] ptrthomas commented on #311
@athityakumar sure. you should be able to do this by changing one single file, this one: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/cucumber/KarateHtmlReporter.java

It uses a home-grown approach to emit HTML, which actually uses the Karate XML support behind the scenes. The reason for this is to reduce the library "footprint" of Karate. Finally it is

[2018-02-08 12:36] athityakumar commented on #304
Yup, this was definitely was just a proxy issue. [This guide](http://www.javahelps.com/2015/08/set-proxy-for-maven-in-eclipse.html) was helpful in resolving the issue. 😄

[2018-02-08 14:45] ptrthomas commented on #304
@pranitbauva1997 @athityakumar great !

do consider submitting a PR for a small doc - and looks like the GitHub standard is a `CONTRIBUTING.md` file so I have just checked in a placeholder: https://github.com/intuit/karate/blob/develop/CONTRIBUTING.md

One guideline I'd like to mention is all PR-s should be submitted against the `develop` branch.

[2018-02-08 17:13] athityakumar commented on #304
Acknowledged. I'll try to send in a PR by this weekend.

Regarding the guideline of submitting all PRs against the `develop` branch, I think it'd be a good idea to additionally specify this in a `.github/PULL_REQUEST_TEMPLATE.md` file too. When a new PR is about to be submitted, this template file content is shown as the new PR's placeholder (default) description and could be more effective in com

[2018-02-08 17:33] ptrthomas commented on #304
@athityakumar agreed in fact I moved the CONTRIBUTING.md to .github as well. thanks !

[2018-02-08 18:45] vidhya03 opened #312 "Running test throws : jdk.nashorn.internal.runtime.ECMAException: ReferenceError: "karate" is not defined"
Hi,
I'm trying the karate in this project https://github.com/vidhya03/http-patch-jax-rs .

While executing the tests

throws ` jdk.nashorn.internal.runtime.ECMAException: ReferenceError: "karate" is not defined`

Please find the exception.
`
jdk.nashorn.internal.runtime.ECMAException: ReferenceError: "karate" is not defined
	at jdk.nashorn.internal.runtime.ECMAErrors.error(ECMAErrors.java:57)
	at

[2018-02-08 18:51] ptrthomas commented on #312
must be your JDK version. refer the 0.7.0 release notes: https://github.com/intuit/karate/wiki/Upgrading-To-0.7.0

do upgrade to 0.7.0.RC7 if you haven't already

[2018-02-08 18:51] #312 closed

[2018-02-09 02:46] g-one opened #313 "How to read gradle command line parameters in karate-config.js"
Hi,

I have a scenario where get the username by calling aws cli command and pass that it to ./gradlew test -Dusername=<value-of-awscommand>

When try to read in karate-config.js as
var ssmParameter=karate.properties['username']; it shows as null

Tried the follwing properties types in gradle build but no luck:
systemProperty "karate.properties[username]", System.properties.getProperty("username")

[2018-02-09 03:08] ptrthomas commented on #313
I think @KramKroc has created some doc for this situation here: https://github.com/intuit/karate#command-line

Looks like you have to tweak your gradle build file to add a `systemProperty` for every property you want to pass, I don't know if there is a better way - I use maven.

[2018-02-09 03:08] #313 closed

[2018-02-09 03:40] g-one commented on #313
@ptrthomas Sure, Thank you!

[2018-02-09 05:05] athityakumar commented on #311
@ptrthomas - Yes, I've been able to build the project from command line. I'm currently working on the tweaking part. I am able to consider 2 ways of doing this task of sidebar + collapsible accordions:

1. Purely Java and `org.w3c.dom` Nodes : Inserting more XML nodes with repetitive data / color-codes, and saving it all into the HTML file.
2. Javascript: Using Javascript to generate the sidebar o

[2018-02-09 06:05] ptrthomas commented on #311
@athityakumar (2) is A-OK :) if you want to use a lib - to start with you can use a CDN like this example (JQuery here, but feel free to pick whatever works for you) https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/mock/web/cats.html

does that help ?

[2018-02-09 07:31] g-one opened #314 "Content-Type: PUT java.nio.charset.UnsupportedCharsetException: 1"
I'm trying to do a PUT with the following Content-Type:

Content-Type : application/vnd.app.test+json;ton-version=1
Getting the following error:

java.nio.charset.UnsupportedCharsetException: 1
	at java.nio.charset.Charset.forName(Charset.java:531)
	at org.apache.http.entity.ContentType.create(ContentType.java:234)
	at org.apache.http.entity.ContentType.withCharset(ContentType.java:426)
	at com.in

[2018-02-09 07:49] g-one commented on #314
Well seems like Karate setting the Content-Type by default based on data type of the request.
In my case though i'm sending the type as json data but Content-Type is different.

<img width="948" alt="screen shot 2018-02-09 at 1 44 24 am" src="https://user-images.githubusercontent.com/1217480/36016996-6d70e528-0d3b-11e8-8abc-31daa732c3c1.png">

PUT request:

<img width="255" alt="screen shot 2018-0

[2018-02-09 08:15] ptrthomas commented on #314
ref #302 and #298 some changes went into content-type handling recently.

can you try version 0.7.0.RC7 - here is the upgrade guide: https://github.com/intuit/karate/wiki/Upgrading-To-0.7.0

leaving this open because some extra work went into this commit: https://github.com/intuit/karate/commit/3c1f1916a020ab083810dc7f911b1840e8bf9d12 - and needs testing

[2018-02-09 09:51] MaghizMannan opened #315 "it is not support for SpringBoot structure."
Please note your using all the classes with final variable. Those variable used in public methods. because of that we can not override your public methods.

Spring Boot is archive different way. So we can not find the cucumber feature file inside the source folder.

[2018-02-09 09:56] ptrthomas commented on #315
please use Stack Overflow for these kinds of questions, thanks: https://stackoverflow.com/questions/tagged/karate

[2018-02-09 09:56] #315 closed

[2018-02-09 13:19] athityakumar commented on #311
Thanks for assigning this issue to me, @ptrthomas. 😄

I definitely considered using a CDN like JQuery, but making a request to JQuery each time while opening the report seemed a bit unnecessary to me - especially when the functionality could be delivered by a few more lines of CSS & JS. So, I've opened PR #316 (WIP) that adds support to the left sidebar for navigating across different test cases.

[2018-02-09 13:40] ptrthomas commented on #311
@athityakumar

couldn't agree more !

so you will see my commit that has just gone in, I think these should be self explanatory:
https://github.com/intuit/karate/blob/19d2b7d44042dd085daecfd18815bd4b40f569b1/karate-core/src/main/resources/report-template.html
https://github.com/intuit/karate/blob/19d2b7d44042dd085daecfd18815bd4b40f569b1/karate-core/src/main/resources/report-template.js

This is gr

[2018-02-09 17:20] athityakumar commented on #311
Thanks a lot for refactoring the CSS & JS codes into separate files - Yes, they were quite self-explanatory and much more easier to write too!

I've submitted PR #317 to handle the accordion-view of raw logs. Please review when you're free. 😄

[2018-02-09 19:00] hosszubalazs opened #318 "Include static analysis in TravisCI"
Include a static analysis tool into the continuous build tooling.

By briefly looking into the source, the amount of actual issues are low, nice job overall!

Include a static analysis tool, to:
- keep up the good level of code quality, catch new issues
- get additional metrics. What are hotspots? Which classes are the most complex? How is the LoC changing?

I advise Sonar which is available free

[2018-02-09 19:07] hosszubalazs opened #319 "Set HTML report path based on build tool"
In KarateHtmlReporter.java the path of the created SureFire report is set in the following way:
`        File file = new File("target/surefire-reports/TEST-" + packageName + ".html");
`

This is incorrect in a Gradle environment. Build artifacts, like reports, are expected under the "build" folder, not "target".  Running the tests creates a new folder, usually outside of source control rules or ig

[2018-02-09 19:07] g-one commented on #314
Tested with the 0.7.0.RC7. Now its unable to run any .feature files.
Getting the following error:

<img width="1168" alt="screen shot 2018-02-09 at 1 04 51 pm" src="https://user-images.githubusercontent.com/1217480/36045014-ff64838c-0d99-11e8-9c02-9cb55419f906.png">

Trying to run Simple  feature file:

**Feature: Test
  Scenario: Testing
    Given def color = 'red '
    And def num = 5
    Then a

[2018-02-09 19:31] hosszubalazs opened #320 "Suggest a Gradle HTML report plugin"
The suggested HTML reporting Cucumber plugin is only available for Maven : https://github.com/damianszczepanik/cucumber-reporting

Suggest a functionally similar plugin for Gradle integration for advanced HTML reporting.

[2018-02-09 19:38] g-one commented on #314
Its working if i add the headers in the Scenario with the 0.7.0.RC7 but setting headers in the Background its not.

Background:
*** configure headers = { Authorization: #(authToken), 'Content-Type': 'application/vnd.test.t+json;o-version=1' }**

  Scenario: Test
    Given path '/metadata/ecpregistry/dataset/ecp:1-a9bc14d9-30e9-431c-b738-ed5a1f3a7e4a'
    And request test
    When method put
    Th

[2018-02-10 01:17] ptrthomas commented on #319
what's the best way to determine which tool is in operation ?

[2018-02-10 01:18] ptrthomas commented on #320
I'm closing this, if you read the doc carefully we recommend using the above as a normal lib dependency: https://github.com/intuit/karate/tree/master/karate-demo#maven-dependency

[2018-02-10 01:18] #320 closed

[2018-02-10 01:19] ptrthomas commented on #314
are you able to build from source, please try the develop branch.

[2018-02-10 01:53] ptrthomas commented on #314
@g-one forgot to mention, if you switch to `karate-jersey` from `karate-apache` in your pom.xml, it should work. so you can use that until the next version is released.

[2018-02-10 08:50] #297 closed

[2018-02-11 22:10] RavinderSinghMaan opened #326 "JSON request print replace "/" with "\/""
When I enable logPrettyPrint JSON requestBody containing "/" gets replaced with "\/".
I think in https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/JsonUtils.java at lline number 178 and 212 `JSONObject.escape(value)`  can be replaced with `JSONValue.escape(key, JSONStyle.LT_COMPRESS)` because JSONObject.escape internally escapes using `JStylerObj.ESCAPE4Web`

[2018-02-12 03:22] ptrthomas commented on #326
@RavinderSinghMaan thanks ! this is exactly what I was looking for

[2018-02-13 13:41] ptrthomas commented on #304
done, thanks to @athityakumar

[2018-02-13 13:41] #304 closed

[2018-02-14 05:30] ptrthomas commented on #314
@g-one can you try with 0.7.0.RC8 and confirm please, thanks.

[2018-02-18 15:05] cuhavp opened #328 "How to create OAuth v1 script with Karate?"

[2018-02-18 15:23] ptrthomas commented on #328
please use stack overflow for these kinds of low-effort questions: https://stackoverflow.com/questions/tagged/karate

tip: search the demos for an oauth example: https://github.com/intuit/karate/tree/master/karate-demo

[2018-02-18 15:23] #328 closed

[2018-02-19 05:01] #326 closed

[2018-02-19 05:01] #314 closed

[2018-02-19 05:01] #311 closed

[2018-02-19 05:01] #309 closed

[2018-02-19 05:01] #302 closed

[2018-02-19 05:02] #298 closed

[2018-02-19 05:02] #294 closed

[2018-02-19 05:02] #293 closed

[2018-02-19 05:02] #282 closed

[2018-02-19 05:02] #281 closed

[2018-02-19 05:02] #273 closed

[2018-02-19 05:02] #270 closed

[2018-02-19 05:02] #269 closed

[2018-02-19 05:03] #267 closed

[2018-02-19 05:03] #265 closed

[2018-02-19 05:03] #262 closed

[2018-02-19 05:03] #260 closed

[2018-02-19 05:03] #259 closed

[2018-02-19 05:03] #257 closed

[2018-02-19 05:03] #256 closed

[2018-02-19 05:04] #300 closed

[2018-02-19 05:04] #255 closed

[2018-02-19 22:05] jbadeau opened #329 "Unroot senarios."
I upgraded from karate 6.0 to 7.0 with the required java 8 version and although all senarios pass; they are unrooted. This means that they are not seen as children of a feature to the junit runner. I have done an quick quick investigation and it appears to be related to the new Karate class description handling.

[2018-02-20 03:00] ptrthomas commented on #329
hmph. would have been nice if folks had tried all the RC releases and reported this way earlier :\

I'm inclined to think that this is an Eclipse bug: https://stackoverflow.com/questions/48795408/unrooted-tests-displayed-in-junit-runner

[2018-02-20 06:39] jbadeau commented on #329
I agree it’s most likely a bug in eclipse. As I said, things work fine just not so nice in development. Will have a quick look if there is something that can be done. 🧐

[2018-02-20 08:15] ptrthomas commented on #329
@jbadeau no worries. I also can see where I made changes in the description which confuses eclipse. I will keep this thread updated in case if figure this out

[2018-02-20 12:38] inikolaev opened #330 "Make it possible to pass objects into Karate context"
I have a need to be able to pass an existing object into Karate context so that it would be available inside `karate-config.js` and feature files by a name which I would give it.

I know that I can instantiate a class in `@BeforeClass` method but then in order to access it from Karate context I would have use something like this (provided I created `KarateContext` class which can be used to store

[2018-02-20 17:15] ptrthomas commented on #330
@inikolaev can you explain a little more. I actually think having you use a singleton like the above is reasonable, especially considering how rare this use-case is (at least in my experience so far).

Else what is a better way that you can propose that gets a Java object (that has been already instantiated) into Karate ?

Not sure if this helps, but you can use the `new` keyword in `karate-config

[2018-02-20 17:15] #330 closed

[2018-02-21 12:49] tuhinmitra888 opened #331 "Unable to run the sample test - facing exception"
I am unable to run the sample test UsersRunner, Configurations and IDE used -
Maven: 3.3.9
JDK: 1.8.0_151
IDE: Intellij

I am encountering the following exception -

java.lang.RuntimeException: evaluation of karate-config.js failed:

	at com.intuit.karate.ScriptContext.<init>(ScriptContext.java:148)
	at com.intuit.karate.StepDefs.<init>(StepDefs.java:78)
	at com.intuit.karate.cucumber.KarateObject

[2018-02-21 12:57] ptrthomas commented on #331
sorry cannot replicate. pretty sure this is because an older JDK is being used at run-time.

see this comment: https://github.com/intuit/karate/issues/282#issuecomment-357321371

[2018-02-21 12:57] #331 closed

[2018-02-21 13:38] tuhinmitra888 commented on #331
Thanks, Peter for a prompt reply. You are right, an older JDK JDK: 1.8.0_101 was used during runtime. I updated to 1.8.0_162 and it's working fine.

[2018-02-21 15:11] ptrthomas commented on #329
@jbadeau can you take a look. it looks fixed

[2018-02-21 15:12] ptrthomas commented on #331
awesome ! thanks for the update :)

[2018-02-21 22:15] smoothie2003 commented on #294
How can match on a request body ? I want to mock a service that will return different values on a POST depending on the request. I tried something like methodIs('post') && match request contains <test>random</test>. Trying to use the karate netty mock server.

[2018-02-22 02:49] ptrthomas commented on #294
@smoothie2003 easy, the `request` built-in variable would be a JSON object by default. so you can do things like this:

[code]

[2018-02-22 02:54] ptrthomas commented on #294
@smoothie2003 but in many cases - `if ... then` logic within your handler may be cleaner and more flexible. note that an `eval` keyword exists which makes this quite easy and you can re-use JS functions from files if you need.

[2018-02-22 04:38] d0uub opened #332 "Cannot submit JSON out"
Failed with the following..

Feature: Test
Background:
* header Content-Type = 'application/json'
Scenario: Success
Given url 'https://gurujsonrpc.appspot.com/guru'
And header Accept = 'application/json'
And header Content-Type = 'application/json;charset=UTF-8'
And request { 'method' : 'guru.test', 'params' : [ 'Guru' ], 'id' : 123 }
When method post
Then status 200

[2018-02-22 05:59] ptrthomas commented on #332
From this, I have no idea what your problem is. Closing as we cannot-replicate. Please post your question on StackOverflow: https://stackoverflow.com/questions/tagged/karate

[2018-02-22 05:59] #332 closed

[2018-02-22 16:23] smoothie2003 commented on #294
@ptrthomas Thanks, that works. Would it also work for a SOAP service as well ? Can we use request with XPATH ?

[2018-02-22 17:29] ptrthomas commented on #294
@smoothie2003 yes, something like this would work, do try and let me know:

[code]

To be honest, not 100% sure about this. I now realize a "helper" like `requestPath('/Envelope/Body/cat/name')` should be introduced, do raise a feature request.

[2018-02-22 17:48] smoothie2003 commented on #294
actually what ended up working is this - && karate.get('$request.envelope.body.cat.name') == 'Bob'. My background is pure java and working knowledge of javascript. Can I help contribute on this project for the feature ?

[2018-02-22 17:52] smoothie2003 commented on #294
Spoke too soon, we have to match on a soap envelope.. so the tags are like <soap:Envelope</soap:Envelope>. Debugging that now.

[2018-02-22 17:58] ptrthomas commented on #294
@smoothie2003 cool. as I said earlier, you can always do some conditional logic once you enter the `Scenario:` body

[2018-02-22 18:14] smoothie2003 commented on #294
@ptrthomas I got it working ! The only cumbersome part is, instead of just looking up a tag in the XML, I have to dig through all the subtags, but this is more of a sub system issue than with the library.

[2018-02-22 20:28] ayoolaogunsola commented on #329
Using a build from develop branch, this appears to have resolved the issue.

[2018-02-22 22:17] jbadeau commented on #329
Awesome. Will also verify tomorrow too. Thanx for the fast fix

[2018-02-22 23:39] xealgo opened #333 "Usage outside of Java projects"
I came across Karate while looking for automated API testing tools and found that it seemed to meet my requirements really nicely. However, after trying to get it to work all day within the context of a Go project, I've came to the conclusion it's not intended to be used outside of Java projects. Ideally I'd be able to test my API endpoints with minimal Java stuff cluttering up my Go project. Howe

[2018-02-23 03:10] ptrthomas commented on #333
@xealgo 2 things.

First - you really should have used the quickstart maven archetype, it would have created a skeleton working project for you with the correct directory structure and you would have been up and running in literally 5 minutes: https://github.com/intuit/karate#quickstart - this is what many teams do, and with this in place it is just a matter of getting a Jenkins build or whatever

[2018-02-23 03:10] #333 closed

[2018-02-23 19:20] mypgworld opened #334 "Inconsistent behavior observed if we try to execute the same scenarios through multiple features"
I created 3 feature files sampletest01.feature, sampletest02.feature, sampletest03.feature with same feature name and scenarios.  Assume that if it gets executed all are a pass. But in Karate the execution is a little bit inconsistent. As of now sampletest01.feature got executed. But the others did not got executed. However, if I make at least a small change to the feature name it will get execute

[2018-02-24 02:51] ptrthomas commented on #334
@mypgworld LOL - this seems to be a feature of cucumber, this surprised me as well.

I'm still investigating - but what is happening is that if you have 2 features that have the EXACT same name (inside the feature file) cucumber is ignoring the "duplicate" when it lines up features to be executed. You can get things to work if you change the feature name `Feature: A sample web service test1` and s

[2018-02-24 02:58] ptrthomas commented on #334
It also looks like if the feature name is the same, Cucumber is smart enough to check if the actual steps is different. So this will never be an issue in production.

I really think your time is better spent elsewhere :P closing.

[2018-02-24 02:58] #334 closed

[2018-02-26 16:06] KramKroc commented on #319
Is this new in 0.7.0? One solution would be to pass the path in rather than hard coding?

[2018-02-26 16:15] ptrthomas commented on #319
@KramKroc kind of 0.6.2 onwards - just that I never realized gradle does its own thing. I'm hoping some gradle expert would know of e.g. some system property that we can look for etc.

[2018-02-27 10:18] ptrthomas commented on #319
if anyone is listening to this thread kindly try 0.7.0.1 (just released) and do confirm. this is damn near impossible to test in my environment. there's no way to get a local maven artifact used by a local gradle project it seems

[2018-02-27 10:19] ptrthomas commented on #329
this has been released as 0.7.0.1

[2018-02-27 18:21] ayoolaogunsola commented on #329
This is resolved for me with this build. Thanks for fixing.

[2018-02-28 11:08] hosszubalazs commented on #319
Hey @ptrthomas !

I have a Gradle integration:
0.7.0 : "target" folder is created containing "surefire-reports"
0.7.0.1 : no "target" folder, "build" contains "surefire-reports"

From my point of view, the fix works. Thanks a lot!
Solving this could help you in verifying Gradle stuff ;) --> https://github.com/intuit/karate/issues/308

[2018-02-28 12:23] ptrthomas commented on #319
ah @hosszubalazs finally appears ! thanks for confirming :)

[2018-03-01 03:12] smoothie2003 commented on #294
Hi Thomas, just wanted to let you know, our team is really starting to fall in love with this library. One thing we were thinking about was, can we potentially use this as a performance testing harness as well? You already have the regression test suit and the mock services embedded. Why not add a performance test harness ?

[2018-03-01 03:14] smoothie2003 opened #337 "Instead of using a karate.get('$request/Envelope/Body/cat/name') build a helper method"
Instead of using a karate.get('$request/Envelope/Body/cat/name') build a helper method such as requestPath('/Envelope/Body/cat/name') {Not my idea, Thomas came up with it} for the mock servers.

[2018-03-01 03:14] ptrthomas commented on #294
@smoothie2003 very glad to hear this :) do spread the word.

and yes, I can confirm this will be one of the next things we will look at. will count on you as an early adopter. if you are anyone you know can contribute, let me know.

[2018-03-01 03:17] ptrthomas commented on #337
yes. on seconds thoughts `requestPath` is confusing.

thinking of just `bodyPath(foo)` where foo can be xpath or jsonPath

[2018-03-01 20:28] smoothie2003 commented on #294
Should I raise a feature for this as well ? Or leave it ?

[2018-03-02 02:35] ptrthomas commented on #294
@smoothie2003 let's leave it for now, it needs some background work.

[2018-03-02 19:56] Ayoalias opened #338 "External File for Datadriven Test in Karate"
I am currently working on API Testing using Karate. How do I call data from an external file such as csv, json and xml using Karate?

[2018-03-03 00:59] ptrthomas commented on #338
please read the documentation: https://github.com/intuit/karate#reading-files

for these kinds of low-effort questions in the future, kindly use Stack Overflow: https://stackoverflow.com/questions/tagged/karate

[2018-03-03 00:59] #338 closed

[2018-03-04 06:40] ptrthomas commented on #264
for those finding this in the future, apparently changing the log level from DEBUG to INFO can solve this, especially if you have file-uploads and large payloads.

refer to the comments on this stack overflow post: https://stackoverflow.com/a/48434529/143475

[2018-03-05 18:06] coxjaso opened #339 "Custom error message on Match"
I am looking for a custom error message if a match fails, but I don't see docs on how to do this.
Trivial Example:

Given path '/channel/' + channelID
    And request {<prop>: <value>}
    When method patch
    Then status 200
    And match response.data.channel contains
    """
      {
        <prop>: <value>
      }
    """, **"An error message that is detailed....."**

[2018-03-05 18:42] ampc opened #340 "No suitable driver found"
Hello, I'm trying to setup a database connection using
[code]

I've already added the oracle driver to project dependencies. The `DbUtils` class is the same as the  `dogs.feature` example.

ERROR:

[code]

Karate:0.7.0

[2018-03-06 01:50] ptrthomas commented on #339
this is not directly supported. the cucumber-html report suffices for most purposes and you can use cucumber comments / `print` statements to add more context if needed.

this should also give you some ideas:

[code]

[2018-03-06 01:55] ptrthomas commented on #340
you have a mistake in your JSON I think:

[code]

refer to the doc: https://github.com/intuit/karate#embedded-expressions

[2018-03-06 01:55] #340 closed

[2018-03-06 19:02] ampc commented on #340
Solved, thank you. I have another issue related with string enclosing:

Exception:
`Caused by: org.springframework.jdbc.BadSqlGrammarException: StatementCallback; bad SQL grammar [SELECT * FROM users where ds_email_1=user.example@mail.com]`

Code:
[code]

How do I obtain SELECT * FROM users where ds_email_1='user.example@mail.com'.  I've already tried with '#(email)' without success. Thank you.

[2018-03-06 19:04] ptrthomas commented on #340
@ampc maybe you are missing single quotes ?

[code]

suggestion, for non-karate questions like this, please use StackOveflow, thanks: https://stackoverflow.com/questions/tagged/karate

[2018-03-07 14:15] PallaviMistry opened #341 "Karate Embedded Expression not working as expected for xml attribute"
This is : 3_PostData_Request.xml
[code]

This is the scenario file:
[code]

This is the result:
[code]

I would like to know why Karate is able to replace #(request_uuid) for xml element which has some text in it and why not for one without any text. How may I achieve replacement in both the cases seamlessely. I am using karate 0.7.0.1. Thanks !

[2018-03-07 16:02] YOU54F opened #342 "0.7.0 upgrade - nullPointerException when performing request with missing or invalid basic auth credentials"
The following scenario passes on 0.6.2 but fails on 0.7.0

[code]

I get the response
[code]
If I revert back to 0.6.2 it works again!

[2018-03-07 17:57] mdarke commented on #342
I see the same behaviour in my restful get call. Seems to happen when the http authorization header is absent in 0.7.0
karate	authtoken	outcome
0.6.2		yes
[NoAuthHeader.txt](https://github.com/intuit/karate/files/1790273/NoAuthHeader.txt)
success
[NoAuthHeader.txt](https://github.com/intuit/karate/files/1790276/NoAuthHeader.txt)
0.6.2		no			success
0.7.0		yes			success
0.7.0		no			npe

[2018-03-07 22:09] dpasmy opened #343 "Is that possible to move on to next step though current step fails in a scenario? Karate has any capabilities to do it?"
Scenario: api scenario
Given url one
When get
Then 201 --> **when Fails**
Give url two --> **want to run in case of failure too**

**If not..**
Is it possible to access scenario 1 response fields values  in scenario 2 url or request?

Scenario 1:
Give url
When post
Then 201
* def response1 = response

Scenario 2:
Given url+ response1.applicationId --> **possible?**
When get
Then 200

[2018-03-08 05:39] dsuren1 opened #344 "Does 0.7.0 support for absolute path in read ?"
Actually I have to send a file to multipart but this file is large and gets generated dynamically by a module (project follow maven setup), and this file rests in my user directory. Since jar creates this file outside I have no provision to bring it into the classpath during runtime. So I'm wondering if there is any support for referring the file path of the user directory to read function.

**Exa

[2018-03-08 05:39] dsuren1 commented on #344
@

[2018-03-08 05:54] ptrthomas commented on #341
@PallaviMistry  yes this is a bug ! You have a workaround:

[code]

[2018-03-08 06:17] ptrthomas commented on #343
not supported. refer https://github.com/intuit/karate#polling and https://github.com/intuit/karate#script-structure

for further questions like this, please use Stack Overflow: https://stackoverflow.com/questions/tagged/karate

[2018-03-08 06:17] #343 closed

[2018-03-08 06:19] ptrthomas commented on #344
already in 0.7.0 please read the doc: https://github.com/intuit/karate#reading-files (see `file:` prefix)

[2018-03-08 06:19] #344 closed

[2018-03-08 06:20] ptrthomas commented on #342
@YOU54F @mdarke I really need a way to replicate this. I just tried to write a test and it works:

https://github.com/intuit/karate/commit/83a5814c3cf6c60743c414d9fa5a8c815dbdf64c

[2018-03-08 08:07] rahulqelfo commented on #342
@here .Same issue for me.After upgrade getting the following error

`13:31:56.783 [main] ERROR com.intuit.karate - java.lang.NullPointerException, http call failed after 1345 milliseconds for URL: https://test.com/Testingf3ccf108-8efe-41fc-ba83-addd9f3a362c?overwrite=false
13:31:56.783 [main] ERROR com.intuit.karate - http request failed:
java.lang.NullPointerException
13:31:56.784 [main] ERROR co

[2018-03-08 09:43] YOU54F commented on #342
Cheers Peter, when i get on my machine I will pull that branch down and test

[2018-03-08 10:58] PallaviMistry commented on #341
Thanks for the quick response. Thanks !

[2018-03-08 11:04] ptrthomas commented on #342
@YOU54F and everybody else. it is not a branch. I'm confused with the title it says `PATCH` but then the example says `PUT`.

can someone please create a simple minimal example that I can run to replicate this problem please. it can use some public / fake end-point if it works. does that make sense ?

[2018-03-08 11:06] ptrthomas commented on #341
@PallaviMistry great, I'll keep this open until a formal 0.7.0 release.

can you also mark the StackOverflow question as accepted / upvote ?

[2018-03-08 11:21] YOU54F commented on #342
Sorry that is my fault, the issue occurs with any method

[code]

[2018-03-08 11:28] PallaviMistry commented on #341
Done !
The workaround solves my problem, however I wanted to avoid writing xpath in my scenario. No worries, I saw you fixed the issue in 0.7.1 version. Will wait for it to be available in maven.
Also for others help, there is one more workaround I used: In scenarioFile: * replace req.${request_uuid} = request_uuid And in xml I changed : OfferID="#(request_uuid)" to OfferID="${request_uuid}"

[2018-03-08 11:52] ptrthomas commented on #342
@YOU54F thanks, able to replicate ! looking into it. quick one - if you switch to `karate-jersey` does that work ?

[2018-03-08 12:14] YOU54F commented on #342
I can confirm that it works with `karate-jersey` and I receive the 401's as expected for the first 2 tests.

Top man as always chap!

[2018-03-08 12:51] ptrthomas commented on #342
@YOU54F great, thanks !

[2018-03-08 13:14] ptrthomas commented on #342
this is a bug in Apache ! https://issues.apache.org/jira/browse/HTTPCLIENT-1888

fixed in dev.

for those who need a workaround but don't want to use `karate-jersey` this is a possible workaround in the `pom.xml`.

[code]

[2018-03-08 13:58] YOU54F commented on #342
Brilliant thank you so much @ptrthomas, I have retested with `karate-apache` and the adding in the 4.5.5 version of httpclient and it's all sorted :)

[2018-03-08 15:06] tracyzhuyq opened #345 "0.6.2 call another .feature file not work"
When I try data-driven testing by looping over a *.feature file for each object in a JSON array, it shows
"* Scenarios (* undefined)
* Steps (* undefined)
0m0.000s".
Then I try call read('*.feature') without dynamic parameters(very simple, see the attached screenshots), and it doesn't work neither(shows the same message as above). What's wrong with that?

![image](https://user-images.githubusercon

[2018-03-08 22:10] ptrthomas commented on #345
I think you have the wrong eclipse plugin: please refer to the doc: https://github.com/intuit/karate#troubleshooting-cucumber-ide-support

[2018-03-08 22:10] #345 closed

[2018-03-09 01:32] tracyzhuyq commented on #345
Thanks  Peter. Yes, I forgot to change the Run Configure(change the Glue to com.intuit.karate) for the  newly added feature file. I fixed that problem. But calling another .feature file still doesn't work. It shows "demo.feature". However, the called .feature file could run standalone successfully. Is there anything mis-used?

[2018-03-09 01:56] tracyzhuyq commented on #345
Thanks Peter. Yes, I forgot to change the Run Configuration 'Glue' for the newly added feature files.

[2018-03-13 10:47] avyasbms opened #346 "karate : Complex JSON Schema matching"
[code]

In Above Example , Schema matching doesn't seems to be working as expected.  Need to match full JSON schema.

Reference: https://stackoverflow.com/questions/49231115/karate-complex-json-schema-matching

[2018-03-13 22:00] ptrthomas commented on #346
able to replicate with this example:

[code]

[2018-03-13 22:03] ptrthomas commented on #346
@avyasbms thanks a lot for finding this, it is fixed in dev. if you can build and run from source, do verify - else we can release a 0.7.0.2 shortly.

[2018-03-14 18:48] SreeCharanShroff opened #347 "parameterized basic auth fails"
Background:
* def global_variables = read('global_variables.json')
* url get global_variables.baseURL
* def userName = get global_variables.userName
* def userPassword = get global_variables.userPassword
* print userName
* print userPassword
* header Authorization = call read('basic-auth.js') { username: userName, password: userPassword }

failed features:
demo.appname.GET_permission_level_read: [

[2018-03-14 18:57] SreeCharanShroff commented on #347
Solution:
Background:
* def global_variables = read('global_variables.json')
* url get global_variables.baseURL
* def userName = get global_variables.userName
* def userPassword = get global_variables.userPassword
* print userName
* print userPassword
* header Authorization = call read('basic-auth.js') { username: '#(userName)', password: '#(userPassword)' }

[2018-03-14 18:57] #347 closed

[2018-03-15 05:37] ReenaVivek opened #348 "Full authentication is required to access this resource"
I am getting Full authentication is required to access this resource
when i run the code
"timestamp" : "2018-03-15T05:30:44.454+0000",
  "status" : 401,
  "error" : "Unauthorized",
  "message" : "Full authentication is required to access this resource",
  "path" : "/oauth/token"

My feature file looks like

@ignore
Feature: oauth 2 test using
    http://XXXX:9999/oauth

Background:
* url 'http://X

[2018-03-15 12:58] ptrthomas commented on #348
sorry, there's not enough info to replicate. it clearly looks like you are missing a header or two and it all depends on what the server expects. if you have a postman request working, just compare the payloads and headers and you can fix this in no time. for similar questions in the future, please use stack overflow: https://stackoverflow.com/questions/tagged/karate

[2018-03-15 12:58] #348 closed

[2018-03-15 18:38] mdarke opened #349 "Sanitize HTTP Authorization headers in logs/reports"
Would it be possible to give the ability to suppress or sanitize HTTP Authorization headers such that folks reading commonly accessible logs or reports can not decode these sensitive values?

[2018-03-15 20:20] ptrthomas commented on #349
wow,  that's in interesting one. karate is mostly used in pre-prod environments where this won't be an issue. in current form, you could set the log level to `INFO` and suppress all logs.

but I'm willing to look at ways to support this use case. how about if

- we add a `configure` option to 'switch off' header / payload logging at any point during a test
- so if you have your auth flow in a 'cal

[2018-03-15 20:48] mdarke commented on #349
Thanks for the quick reply Peter. We'd like to run Karate health checks through Jenkins without service id/passwords leaking into the logs. I'll investigate whether setting log level to INFO will meet our needs, it should be sufficient.

[2018-03-15 20:48] #349 closed

[2018-03-16 11:21] nithin1 opened #350 "could not find or read file"
when i am trying to read the json or js f file i am getting the error "could not find or read file"
![2018-03-16 16_50_41- groups feature - aveva - visual studio code](https://user-images.githubusercontent.com/9346196/37518209-377c35a6-293a-11e8-8c20-1a48abcee614.png)

[2018-03-16 12:51] ptrthomas commented on #350
something fishy here, the console says `read('classpath:headers.js')` but your feature says `read('headers.js')` ? did you edit this file before taking the screenshot ?

anyway. maybe your pom.xml is not having the setting mentioned here: https://github.com/intuit/karate#folder-structure

for such questions in the future, please use stack overflow: https://stackoverflow.com/questions/tagged/karate

[2018-03-16 12:51] #350 closed

[2018-03-16 16:28] nitzanav opened #351 "Freelance to develop tests with karate"
Hi,

I would like to hire some with experience in writing tests with karate nitzan.aviram@ongage.com

[2018-03-17 15:36] ptrthomas commented on #351
@nitzanav if you are on twitter, mention https://twitter.com/KarateDSL and I can re-tweet your message. I also suggest you post your message on LinkedIn - in the Test Automation groups: https://www.linkedin.com/groups/86204

[2018-03-17 15:36] #351 closed

[2018-03-17 22:19] nitzanav commented on #351
10x!

[2018-03-18 07:43] SreeCharanShroff opened #352 "call read for * url would not work"
Feature:
  T1

  Scenario: t1 test
    * print "\t\tin t1..."

Feature:
  T2

  Scenario: t2 test
    * call read('t1.feature')
    * print "\t\tin t2..."

works fine.
However, if:

Feature:
	T1
Scenario: t1 test
    * url "https://jsonplaceholder.typicode.com/"

Feature:
  T2

  Scenario: t2 test
    * call read('CLASSPATH:t1.feature')
    * print "\t\tin t2..."
    Given path 'posts/1'
    When

[2018-03-18 07:50] ptrthomas commented on #352
this is by design. the only things that are "global" are variables and configuration. you can get the effect you need like this:

[code]

and then

[code]

[2018-03-18 07:50] #352 closed

[2018-03-19 16:39] SreeCharanShroff opened #353 "Question: Could you please let us know if Karate can be integrated into existing JBehave framework ?"
Could you please let us know if Karate can be integrated into existing JBehave framework ?
if so, then please help us to bootstrap the same.

[2018-03-19 16:58] ptrthomas commented on #353
No. Also read: https://stackoverflow.com/a/47799207/143475

[2018-03-19 16:58] #353 closed

[2018-03-19 19:13] SreeCharanShroff opened #354 "Question: How to have a static variable for multiple scenarios in a single feature ?"
Question: How to have a static variable for multiple scenarios in a single feature ?

I want to declare a variable with some value before any scenario starts.
Above variable should be accessible to all of the scenarios in this feature, which can in turn be updated by any scenario in this feature, so that successive scenario receives the updated value from previous scenario.

[2018-03-19 20:11] saurangsu opened #355 "How to make dynamic xpath calls"
Hi,

I'm using the following xpath expression to retrieve some node values from an XML.

[code]
My question is - How do I make the the following section of the xpath dynamic

`[//resortID[text()='0450']]`

I was hoping something like this would solve the purpose, but it doesn't -
[code]

[2018-03-19 20:21] dharmaanu commented on #354
This question has been answered [here](https://stackoverflow.com/questions/46079130/karate-api-testing-reusing-variables-in-different-scenarios-in-the-same-featur) by @ptrthomas

[2018-03-19 22:37] #354 closed

[2018-03-19 23:01] ptrthomas commented on #355
actually this is a gap. where we have a way to do this for jsonPath so I'm treating this as a feature request. I think you can use this work-around for now (works only for string values, not XML chunks).

[code]

[2018-03-20 16:18] saurangsu commented on #355
Thanks, the workaround worked for me. You missed a " while setting the value of variable xpath though. I have a question - does the karate object hold the entire response in it by default?

Thanks again.

[2018-03-20 16:23] ptrthomas commented on #355
if the xml is in a variable you can do "$varName/Envelope/Etc", else it defaults to "$response/Envelope/Etc"

this section may make this convention clear: https://github.com/intuit/karate#special-variables

[2018-03-20 17:09] saurangsu commented on #355
Thanks

[2018-03-21 11:07] avyasbms commented on #346
Waiting for 0.7.0.2 to verify.

[2018-03-22 09:56] coriefe opened #356 "Changing feature resource directory --> NP in FileUtils.resolveIfClassPath"
Hello there! :-)

I'm testing karate and met the following problem: At my company, we use the "traditional" Maven folder structure with separate "src/test/resources" directory and would like to keep it that way. To achieve this, I put the feature-files of a karate-project in the source directory and use the CucumberOptions annotation to define the features source.
Running the test then fails with

[2018-03-22 12:02] coriefe commented on #356
Update:
I found the solution for this case (although I don't really understand it yet): Use "src/test/resource" instead of "src/test/resource/features" in the CucumberOptions annotation. But I still wonder why it's not possible to give the whole path?

Interestingly I also found another way to cause a NPE in "resolveIfClassPath". Namely compiling with JDK 1.7 (I only tested revision 75) and then e

[2018-03-22 13:48] coriefe commented on #356
Your "classpath:*" notation is working, too. Thanks. I think you can close the issue.

[2018-03-22 13:55] #356 closed

[2018-03-22 16:26] SreeCharanShroff opened #357 "How to navigate from step in feature to its implementation ?"
Within Karate demo archetype/project enclosed in github, how to navigate from step in feature to its implementation ?

[2018-03-22 16:32] ptrthomas commented on #357
can you please ask these kind of questions on Stack Overflow: https://stackoverflow.com/questions/tagged/karate

I'm sorry this is not clear to me at all.

[2018-03-22 16:32] #357 closed

[2018-03-22 17:52] cug245 opened #358 "question * eval indicates that a step definition is undefined"
Question: what am I doing wrong here?
I can paste an eval statement directly from the karate manual like
* eval if (zone == 'zone1') karate.set('temp', 'after') or just start typing * eval
and Intellij starts indicating the step needs to be defined.
I don't see a method in the StepDefs class for eval
I'm using Intellij ultimate edition 2016 build 145.597
pom.xml :
karate version 6.2
cucumber versi

[2018-03-22 19:59] railgadi opened #359 "Question-Can I generate cucumber json reports without using the TestParallel.java?"

[2018-03-22 23:02] ptrthomas commented on #358
this is available only in karate version 0.7.0 onwards. upgrade.

[2018-03-22 23:02] #358 closed

[2018-03-22 23:02] ptrthomas commented on #359
no

[2018-03-22 23:02] #359 closed

[2018-03-22 23:27] cug245 opened #360 "* configure ssl = true causes NoClassDefFoundError"
after Upgraded to Karate version 0.7.0

java.lang.NoClassDefFoundError: org/apache/http/conn/ssl/TrustAllStrategy
at com.intuit.karate.http.apache.ApacheHttpClient.configure(ApacheHttpClient.java:128)
  at com.intuit.karate.ScriptContext.configure(ScriptContext.java:276)
  at com.intuit.karate.ScriptContext.configure(ScriptContext.java:171)
  at com.intuit.karate.StepDefs.configure(StepDefs.java:9

[2018-03-23 00:18] ptrthomas commented on #360
clearly a maven JAR conflict. fix your pom.xml

create a fresh project using the quickstart archetype. if you still see this problem, raise a bug.

[2018-03-23 00:18] #360 closed

[2018-03-23 07:57] nVidiaPriyadarshini commented on #45
Hi Peter Thomas,
Karate is simply wow. I got to meet you at a conference and was lucky to view the demo of Karate first hand from you. Following up on the initial question in this thread, could you please guide us on how we can run Karate and Selenium together? I currently have a selenium TestNG based UI automation framework for my UI tests to which I would like to add the Karate backend automatio

[2018-03-23 08:59] ptrthomas commented on #45
@nVidiaPriyadarshini glad to hear this !

I think there are a few teams using Karate and Selenium successfully: this is advice I gave someone on Stack Overflow: https://stackoverflow.com/a/47233301/143475

Later the same team reported success: https://stackoverflow.com/q/47795762/143475

So if you still have questions, you can ask it on Stack Overflow and I can ask other team (whom I know) to resp

[2018-03-24 09:17] lokeshkp opened #361 "Getting java.lang.NoClassDefFoundError: org/apache/http/client/RedirectStrategy error"
Hi I am new to this tool try to learn and write simple web service test program as follows,

test.feature contains as below

_**Feature: Test User API Using Karate Framework
  Scenario: Fetch all users
    Given url 'http://services.groupkt.com/state/get/IND/all'
    When method GET
    Then status 200**_

KarateTestDemo.java contains as below

**import com.intuit.karate.testng.KarateRunner;
publi

[2018-03-24 11:01] ptrthomas commented on #361
duplicate of #360 please read it

[2018-03-24 11:01] #361 closed

[2018-03-24 15:48] lokeshkp commented on #360
As suggested I created new project and tried but issue remains the same.

[2018-03-24 15:51] lokeshkp commented on #361
As you suggest created new project still issue remains the same.

[2018-03-24 17:24] ptrthomas commented on #361
@lokeshkp unless you provide a FULL working example to replicate this, no one can help you.

From experience I am pretty sure you have a pom that has the wrong mix of dependencies. no one else has reported this issue.

[2018-03-25 07:26] lokeshkp commented on #361
@ptrthomas also I tried by down graded to version 0.6.2.3 but no luck

[2018-03-25 07:54] ptrthomas commented on #361
@lokeshkp sorry, this is not a full working example.

[2018-03-26 16:10] thecodesmith opened #362 "Support Groovy configuration and functions"
Hello, and thank you for building an awesome API testing tool!

My organization is primarily a Java shop, and we use Groovy extensively for testing, DevOps tools, and other automation. In using Karate, it would streamline our development if we could define configuration and reusable functions in Groovy, rather than JavaScript. In my opinion, these aspects of Groovy make it a great fit for Karate:

[2018-03-26 16:23] ptrthomas commented on #362
@thecodesmith thanks ! and really thanks for thinking through this and the details.

I'll be honest, as of now I'm not keen to add this to core. I can see how this appeals to those who use Groovy a lot. The `eval` keyword solves for the function wrapping point. The `Java.type()` is a reasonable way to do an `import` and that too just-in-time / on-the-fly. I'll grant the point on semicolons for mul

[2018-03-26 17:52] thecodesmith commented on #362
@ptrthomas Thanks for the consideration, and the quick reply. I do think an optional dependency would be the way to go, for the reasons you mentioned. There would be no need to make it the default. I would like to implement it and submit a PR, if you give the green light. Do you have any additional thoughts or direction you would like to provide before I would start on it?

[2018-03-27 02:46] ptrthomas commented on #362
@thecodesmith sure. one of the nice things about Nashorn (the JS engine) is that it is built into the JVM. come to think of it, there is a fair amount of wrapping going on, to make it work with Karate - for example see this: https://github.com/intuit/karate/blob/master/karate-core/src/main/java/com/intuit/karate/ScriptBindings.java

So JS is the "default" script expected, supported not just as fil

[2018-03-27 08:58] sagar20896 opened #363 "VM crash or System.exit called error"
I get this error!
I tried [this](https://stackoverflow.com/a/33757854/9374064), that didn't help.
[code]

[2018-03-27 18:27] ptrthomas commented on #363
not a karate issue
cannot replicate
likely the wrong JDK version (not 1.8) or OS (32 / 64 bit) mismatch

[2018-03-27 18:27] #363 closed

[2018-03-28 15:59] thecodesmith commented on #362
@ptrthomas Thanks for the overview, that helps provide a starting point. I will dig into it and see how it goes.

[2018-03-29 06:02] sagar20896 commented on #363
I have used `maven-compiler-plugin` and I have `JAVA_1_8` pointing to **jdk 8** version
I guess it doesn't pick it up.
[code]

[2018-03-29 09:26] ptrthomas commented on #363
yes, you'll have to figure this out on your own - clearly a problem with your environment / setup.

 my suggestion is try to run maven from the command-line and look at the log, especially when it all starts. it should tell you which Java version Maven is using etc.

[2018-03-29 09:29] ptrthomas commented on #363
@sagar20896 actually that maven snippet looks very unusual. please also try using the Maven quickstart from the documentation and see at least if the sample / skeleton project that generates is OK on your machine: https://github.com/intuit/karate#quickstart

[2018-03-29 10:10] sagar20896 commented on #363
@ptrthomas Thanks a lot for helping me out. I'm really sorry for creating this thread.
I realized later that even with the maven-compiler-plugin it was not picking the java version 8
I was testing all of this on a devops pipeline on cloud and did not have access to many things directly.
**The Fix:**  As you told Older Java version (v7) was getting used because it was the default java version. I la

[2018-03-29 10:15] ptrthomas commented on #363
@sagar20896 awesome ! thanks for the update.

[2018-04-02 07:54] ptrthomas commented on #355
implemented in this commit: https://github.com/intuit/karate/commit/25b767d7730d9f5f45d8e72ecd9d6cd2aedf59aa

[2018-04-02 07:55] ptrthomas commented on #337
implemented `bodyPath(string)` in this commit (forgot to ref in commit): https://github.com/intuit/karate/commit/25b767d7730d9f5f45d8e72ecd9d6cd2aedf59aa

[2018-04-02 20:46] anilkonduru opened #364 "Error running karate test case with log4j2"
I am getting ClassCastException, i am using log4j2. Is it must to use logback with karate?

java.lang.ClassCastException: org.apache.logging.slf4j.Log4jLogger cannot be cast to ch.qos.logback.classic.Logger

	at com.intuit.karate.cucumber.ReporterLogAppender.<init>(ReporterLogAppender.java:48)
	at com.intuit.karate.cucumber.KarateReporterBase.<init>(KarateReporterBase.java:40)
	at com.intuit.karat

[2018-04-03 00:54] ptrthomas commented on #364
yes. also refer: https://github.com/intuit/karate/issues/268#issuecomment-353329256

[2018-04-03 00:54] #364 closed

[2018-04-03 08:53] vmasule opened #365 "#ignore doesn't work inside CDATA"
I am trying to ignore dynamic content in CDATA but it doesn't work though it works fine outside CDATA.

# Expected Response:

`<item><![CDATA[<Output>
            <ApplicationDetails>
                <AppIDCallFlag>N</AppIDCallFlag>
                <AppID>#ignore</AppID>
                <DateApplicationUpdated>#ignore</DateApplicationUpdated>
                <TimeApplicationUpdated>#ignore</TimeAp

[2018-04-03 10:53] ptrthomas commented on #365
closing, unable to replicate. maybe your server is sending it already encoded, I don't know.

here are links to Karate's test suite where CDATA handling is demonstrated: https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/junit4/xml/xml.feature#L239

also please be aware of type-conversion, maybe this is not related to your issue - but still: https://github.c

[2018-04-03 10:53] #365 closed

[2018-04-06 15:19] vmasule commented on #365
Nested XML in CDATA is encoded. Is there any function that can convert the encoded xml string into xml and validate `#ignore` or any other functions.

I have tried all those options but it not evaluating nested XML. Is there any function that can explicitly convert and evaluate Karate functions such as `#ignore` ?

Currently I am using Citrus framework which has function that evaluates nested xml

[2018-04-06 15:46] ptrthomas commented on #365
@vmasule I'm sorry your question is very un-clear. do you mind being more clear about what the server is sending back and what you are trying to do and what you expect. I'm sure I can give you a solution, but you have to be more clear: https://stackoverflow.com/help/mcve

[2018-04-09 16:30] svijetha78 opened #366 "parallel execution"
hi
i want to do api testing with parallel execution like in jmeter when we specify count 200 , will this invoke 200 parallel thread . how does this work

[2018-04-09 16:36] ptrthomas commented on #366
karate is not for performance testing. for such questions please use Stack Overflow.

[2018-04-09 16:36] #366 closed

[2018-04-10 10:03] avyasbms commented on #346
@ptrthomas  Can you let me know how to verify?
A lot of our APIs are pending on this one.

[2018-04-10 11:58] Anupama123 opened #367 "post call calling post and get together"
I am calling post method for our application.
in out application we have 2 rest calls having same url but one is for get and another is for post
in the test i am calling only post method
but the call is triggering both post and get. I wants to call only post method but it is not happening
what could be the reason for it? Any workaround for this please

I wants to assert for 302 but it is not worki

[2018-04-10 12:16] ptrthomas commented on #367
@Anupama123 yes, your server is doing a "redirect" this is expected behavior. what you can do is disable karate following them (default behavior). use this test as a reference:

https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/redirect/redirect.feature

[2018-04-10 12:16] #367 closed

[2018-04-10 12:30] ptrthomas commented on #346
@avyasbms sorry, I should have done this earlier, but somehow thought you had a workaround.

I just released 0.7.0.2 - can you confirm that it works ?

[2018-04-10 12:51] Anupama123 opened #368 "cookies are not passed from one scenario to another scenario"
Hi Team,
  I am trying to pass cookies(jsessionID) from one scenario to another. But is not working.
For our application we need to get the jsession id from one call and pass it to another call.
but cookies(jesession id) i am not able to set  to 2nd call's cookie.

Can you suggest some solution please?

![cookieissue](https://user-images.githubusercontent.com/15910135/38557803-d34f9bfc-3ceb-11e8-8