[2021-01-11 15:29] ptrthomas commented on #1430
closing as duplicate of #1394

the most helpful thing you can do right now is follow the dev guide and verify, thanks: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-01-11 15:29] #1430 closed

[2021-01-11 15:35] staffier commented on #1430
Thanks, Peter - will do!

[2021-01-11 19:48] agolubev78 opened #1431 "Karate API can't access end point returns 500 error"
After applying the authorization token the URL. I can access the end point via Chrome browser. However when I'm trying to do the same with karate API I get the following error in red

A 500 error and [Fatal Error] :22:5: The element type "link" must be terminated by the matching end-tag "</link>".

[2021-01-12 02:03] ptrthomas commented on #1431
@agolubev78 please use stack overflow for these kinds of questions: https://stackoverflow.com/questions/tagged/karate

[2021-01-12 02:03] #1431 closed

[2021-01-12 10:38] suratdas opened #1432 "Integration of Extent report with Karate"
I made code change locally on karate-core to be able to integrate Extent report with Karate execution. The goals are below
1. Adopt, consume and archive extent report which may be already familiar with many teams.
2. It does not change the way we write or execute Karate test. Extent report is produced behind the scene. In fact, it can be seen progressing in real time as the report is appended afte

[2021-01-12 10:41] suratdas commented on #619
Opened a similar issue #1432 with Extent report POC.
Waiting for a response from Karate team.

[2021-01-12 11:14] ptrthomas commented on #1432
@suratdas I'm not in favor of having this in the core of karate because this means that we will have to support all possible 3rd party report aggregators, and this will add one more moving-part for us to worry about. the `RuntimeHook` (previously `ExecutionHook`) is supposed to be the means by which such integration is enabled, if there are any improvements needed to that - it can be a PR, or you

[2021-01-12 11:14] #1432 closed

[2021-01-12 15:25] joelpramos commented on #1432
I agree with @ptrthomas but I think if there were changes in the base Karate framework that made this integration easier (and are non breaking) you should open a PR only for those changes but maybe for the actual framework you can create it in your personal Github and link it here? I'm sure google searches will direct to this page.

[2021-01-12 21:08] joelpramos commented on #1373
@ptrthomas before I go down a rabbit hole let me know if this is a limitation of the Graal engine you mention in the upgrade guide.

When calling a feature in the background (and not assigning a it to a variable) that reads a .json file with keys, those json key variables are not accessible in the caller context nor in any features called from there (obviously if not accessible in the caller alrea

[2021-01-12 23:48] joelpramos commented on #1373
Something I noticed is that a Feature file with only Background section will not have those background steps executed. The background steps are included with each ScenarioRuntime and since there's no Scenario parsed and so the background steps are not executed. Might be worth a note in the upgrade guide - I see I had a few features just with Background sections mostly to reuse and init parameters.

[2021-01-13 01:35] ptrthomas commented on #1373
@joelpramos can you check if `karate.set('varname', value)` suffices as a workaround, in that case I'll leave it as is. it may actually be a good thing, local hiding of variables. for e.g. this particular diff: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#json-variables-no-longer-mutable-by-called-features

[2021-01-13 11:54] tijapavicic opened #1433 "Issue with mutual auth in Karate framework version 0.9.6"
Dear Karate Sensei Team

We just started using version 0.9.6 of Karate framework without Spring.
I am having problems with mutual auth.

I have generated client certificate and tested it via curl - I am receiving response with status 200.
Request>
[code]

Response>
```{"_id":"login","authenticationId":"CN=api.local","authorization":{"component":"internal/user","authLogin":false,"roles":[],"ipAddre

[2021-01-13 12:19] ptrthomas commented on #1433
@tijapavicic as far as I know it should. here's our integration test: https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/ssl/ssl-keystore.feature

to re-open, please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-01-13 12:19] #1433 closed

[2021-01-13 14:29] joelpramos commented on #1373
Yeah agree could be a good thing. Seems like we if assign the result of the called feature to a variable (see below assigned to varInContext) that we have access to the variables within that feature.

[code]
[code]

3rd matching condition (accessing storedVar) fails. Trying to use the Karate API directly produces the same result ( `* karate.call(true, 'this:js-read-reuse.feature')` ).

I'll give i

[2021-01-13 18:00] joelpramos commented on #1373
@ptrthomas the above works and it's how we use call read to call the reusable feature.

Will make scope shared:
`* call read('this:js-read-reuse.feature')`

Will not make scope shared:
`* call read 'this:js-read-reuse.feature'`

There's still some issue in my own tests that I can't seem to reproduce with a unit test but it must related to this. I'll check in these unit tests regardless cause I end

[2021-01-13 18:25] ptrthomas commented on #1373
@joelpramos see last row of table: https://github.com/intuit/karate#call-vs-read

[2021-01-14 02:23] Lorkenpeist commented on #1373
`replace` does not seem to work correctly anymore.  After replacing a string, the `toString()` method still returns the raw string.  Consider this test:

    Scenario:
      * def text = "words that need to be {replaced}"
      * replace text.{replaced} = "correct"
      * match text == "words that need to be correct"
      * match text.toString() == "words that need to be correct"

Both `match`es

[2021-01-14 02:55] ptrthomas commented on #1373
@Lorkenpeist excellent catch thank you ! fixed in `develop`. we should have an RC3 in a day or 2 but you can use the developer guide (see wiki) to verify.

[2021-01-14 06:26] ptrthomas commented on #1373
all: 0.9.9.RC3 has been released: https://twitter.com/KarateDSL/status/1349603552478461953

[2021-01-14 07:58] RakhmedovRS commented on #1415
@ptrthomas Hello. As it turned out the problem occurred for security restrictions. In order to avoid it user who runs UI test must have access to DevTools.

[2021-01-14 08:03] ptrthomas commented on #1415
@RakhmedovRS great, thanks for the update.

[2021-01-14 08:05] RakhmedovRS commented on #1415
A driver couldn't get TargetID from browser
It was found out. that DevTools was deprecated by security policy.

This text I add for the future google searches for this problem.

[2021-01-14 16:24] arochagabriel opened #1434 "Karate UI - Selenium (3) Docker Hub and NodeChrome"
Referening to this post: -> https://stackoverflow.com/a/65644566/143475

I faced an issue with input entry.

[code]

[code]

[code]

This only happens using [Selenium](https://github.com/SeleniumHQ/docker-selenium/tree/selenium-3)  but the same script works well using native Chrome.

[2021-01-14 17:20] ptrthomas commented on #1434
@arochagabriel closing this since you have not followed the process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-01-14 17:20] #1434 closed

[2021-01-14 17:54] Lorkenpeist commented on #1373
Looks good in `0.9.9.RC3`, thanks!

[2021-01-15 01:16] joelpramos commented on #1373
Finally figured out the issue @ptrthomas - it's not with the read. When using a dynamic variable in the Examples table we loose access to any variable or context defined in the background. There's probably some re-init of the engine somewhere?

Below scenario no 1 works but scenario no 2 fails with the following:
[code]

[code]

While doing it I also noticed something that I think is another error

[2021-01-15 01:27] joelpramos commented on #1373
I'm logging off now so won't be picking it up immediately. I also noticed some weird behaviors with the driver.input() when we pass something like this:

`
    * def credentials =
    """
        {
            "username" : '#(user)',
            "password" : '#(pass)'
        }
... some code here, call a reusable feature with the following

    * input(loginScreen.username, credentials.username)

[2021-01-15 01:31] joelpramos commented on #1426
I think this change impacted my PR here https://github.com/intuit/karate/pull/1429

Whe using the following options:
"karateOptions": "-g C:\\test_cases\\config -e dev01",

The config dir is getting dropped while parsing the options. I played briefly with it and I think it's the first parameter in those options that get dropped but couldnt investigate much. I rolled back to my previous local Karat

[2021-01-15 02:40] ptrthomas commented on #1373
@joelpramos as I linked earlier, please note that `call read 'js-read.json'` may not be what you intended.

for the second problem please see: https://github.com/intuit/karate/issues/1280

can you extend my simple example below to replicate:

[code]

[2021-01-15 08:08] ivangsa commented on #1426
Hi @joelpramos

I'm testing this now... I think this is related to escaping backslashes in your karateOptions (I expect in .vscode/launch.json, right?)

If I paste your karateOptions like this:
![image](https://user-images.githubusercontent.com/1246876/104697509-282c0980-5710-11eb-9452-da24abb4be71.png)
then it's being dropped:
![image](https://user-images.githubusercontent.com/1246876/104697681-6

[2021-01-15 14:52] joelpramos commented on #1426
I think that was just due to copy pasting from VS Code into git cause I remember with the previous code version I also needed to escape. Will provide more details for this soon.

[2021-01-15 19:53] joelpramos commented on #1373
Context to "anotherVariable" is lost but context of "data" is accessible.

[code]

[code]

[2021-01-15 20:38] joelpramos commented on #1373
This line in ScenarioRuntime.java solves it but I'm not sure if it's the best place as I find it odd in only happens when the expression in the Examples table is dynamic. If you think this is good enough I can open the PR.
![image](https://user-images.githubusercontent.com/53574318/104775974-44976880-5747-11eb-8a79-ab24938c27ca.png)

Simplified unit test:
[code]

I ended up writing a bunch of unit

[2021-01-15 20:57] bltemrah opened #1435 "How to use one calculation result of Scenario in different Scenario in different or same Feature in Karate API"
Please, note that the below question is different than;

https://stackoverflow.com/questions/59970840/calling-a-scenario-in-another-feature-file-by-scenario-name

Please let me know how to use one scenario output or variable from another scenario in a different or same feature? Here is my code;

Please check the below code. I need to use the total's result in the second scenario.

  Feature: CallF

[2021-01-16 00:48] ptrthomas commented on #1435
@bltemrah not supported: https://stackoverflow.com/a/46080568/143475

[2021-01-16 00:48] #1435 closed

[2021-01-16 01:04] ptrthomas commented on #1373
@joelpramos thanks ! this is the solution I would go with, do submit PR

[2021-01-16 06:37] ptrthomas commented on #1373
@joelpramos never mind, I made the change and actually it was not as straightforward as I expected, see second commit attempt above

[2021-01-16 18:21] joelpramos commented on #1373
I think now the __arg variable is only accessible in the Background section (using my test scripts). Seems to happen only when there's this dynamic expression. Let me try to create a minimal unit test to reproduce - I'll check them in a PR as I ended up creating a lot of tests to try to reproduce this.

Btw even reviewing your PR what I still didn't gather was why this wasn't a problem if the Exam

[2021-01-18 17:33] mvalle-stratio opened #1440 "Variable not difened in scenario outline"
Hi all, thx! for this marvellous tool!!!

Trying to evaluate a variable defined in "Examples", in a scenario outline, I'm received an error:
"evaluation (js) failed: if (**applied**=='false') karate.abort(),
javax.script.ScriptException: ReferenceError: "applied" is not defined in <eval> at line number 1
stack trace: jdk.nashorn.api.scripting.NashornScriptEngine.throwAsScriptException(NashornScrip

[2021-01-18 18:40] ptrthomas commented on #1440
@mvalle-stratio you have not followed this process, hence closing: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

that said - please focus on the 1.0 RC and this is most likely fixed: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

to re-open, please follow the process with 0.9.9.RC3

[2021-01-18 18:40] #1440 closed

[2021-01-19 07:53] LalithaSivajyothi97 opened #1442 "javascript evaluation failed: XXXClass.xxxmethod is not a function in <eval> at line number 1"
When I am executing karate feature file which is calling a parameterized java method, javascript evaluation failed: XXXClass.xxxmethod is not a function in <eval> at line number 1 error is showing up.

xxx_service.feature:29 - javascript evaluation failed: xxxClass.xxxService(outputFileWithCurrentTimeStamp, modifiedDemofilesPath, 'ftp.ikano.nu', '22', 'hostname', 'port','origi', 'servername', 'ser

[2021-01-19 07:56] ptrthomas commented on #1442
@LalithaSivajyothi97 to re-open please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-01-19 07:56] #1442 closed

[2021-01-19 16:26] joelpramos commented on #1426
Have updates on this - the tester was creating feature files that are in folders with spaces in Windows. When that happens the parsing isn't able to capture the configDir it seems. Just renamed the files or folders worked but we should probably fix that parsing (not sure exactly how though - maybe VS Code should send the file name with escape characters before the space?)

[2021-01-19 16:58] ptrthomas commented on #1426
cc @kirksl maybe you already figured this out, but if you hard-code `"debugServer": 4711` in the launch json, you can run the `DapServerRunner` test in debug mode and hit breakpoints for all messages sent by VS Code

[2021-01-19 16:59] ptrthomas commented on #1426
also here's the wiki: please do consider contributing changes if needed, I think we have some new CLI options that are debug related: https://github.com/intuit/karate/wiki/Debug-Server

[2021-01-19 17:43] ivangsa commented on #1426
@joelpramos can you paste me the actual complete command that is send to the server and I will look into this

[2021-01-19 17:59] joelpramos commented on #1426
[code]

was expecting karate-config-dev01.js to be loaded after that based on the specified config folder (which it is if the feature file name does not have a space).

[2021-01-19 19:56] dersvenhesse commented on #1281
That's wonderful news, thank you! Is there an ETA for the changes to be released in a new version?

[2021-01-20 02:22] ptrthomas commented on #1281
@dersvenhesse please see https://github.com/intuit/karate/wiki/1.0-upgrade-guide - so right now you can test 0.9.9.RC3

[2021-01-20 07:32] sumargoraymond commented on #1373
Getting JSON size based on the provided example https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/junit4/demos/js-arrays.feature no longer work on latest RC:

[code]

It raises error:
[code]

[2021-01-20 07:41] ptrthomas commented on #1373
@sumargoraymond yes, thanks - this is expected: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#java-api-s-for-maps-and-lists-are-no-longer-visible-within-js-blocks

[2021-01-20 07:50] sumargoraymond commented on #1373
Found an issue when matching using regex:

[code]

Regex was working on 0.9.6 and validated through https://regex101.com/

It raises an error on the latest RC:
[code]

[2021-01-20 08:11] ptrthomas commented on #1373
@sumargoraymond I have no idea about this. I hope someone here can volunteer to investigate and fix that if it is an issue. note that Java rules are used: https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html

[2021-01-20 08:41] ptrthomas commented on #1373
in addition to above comment I just realized that this may have something to do with the issue raised by @jkeys089 in a comment above and also refer #1407 - all: do weigh in with your thoughts. I had a quick look and couldn't get it working

[2021-01-20 08:55] sumargoraymond commented on #1373
Thanks @ptrthomas, will do look at it

[2021-01-20 08:56] sumargoraymond commented on #1373
Trying to match array using `contains any` will invoke an error on the following scenario:

[code]

It works on 0.9.6 so I assume it originally serves to check whether the array of data.foo contains any of the subset of [1, 2, 3, 4]

On the latest RC it raises an error complaining the length is less than expected
[code]

[2021-01-20 09:04] sumargoraymond commented on #1373
Notes: Using the following work for the above scenario:

[code]

[2021-01-20 09:28] ptrthomas commented on #1373
@sumargoraymond thanks once again, the `contains any` is fixed in `develop`

[2021-01-20 13:16] ivangsa commented on #1373
We are getting a lot of "org.graalvm.polyglot.PolyglotException: Java heap space" when debugging or printing large objects (like scenario results) but also when calling scenarios from a js for/while loop:

Before running some tests we have a "crawler" that searches for test-data in a master/detail way until we get enough data of each category, that's why we use a js loop so we can `break `as soon

[2021-01-20 13:35] ptrthomas commented on #1373
@ivangsa does this answer your question ? https://twitter.com/KarateDSL/status/1305144489523048448

[2021-01-20 14:13] ivangsa commented on #1373
@ptrthomas yess, we knew this but didn't make the association yet.. thank you!

[2021-01-20 14:17] ptrthomas commented on #1373
@ivangsa awesome. also the same trick works for the `call read('some.feature') fun` where fun can be a function, so this is not restricted to scenario outlines !

to everyone listening - there are SO many changes that I'm not sure if I can add all of those to the readme :(

[2021-01-20 20:19] phitranphitranphitran opened #1445 "logback.configurtationFile is ignored when --clean is passed"
**Karate Version**
0.9.6 (standalone karate-netty)

**How to reproduce**
[code]

**Issue**
`logback.configurationFile` is ignored when `--clean` is passed.
Settings in `logback.xml` don't get applied. Could also pass a non-existent file like `-Dlogback.configurationFile=gibberish.xml` and the logging will still be the same.

Looks like `LOGBACK_CONFIG` also needs to be used when `isClean` is true:

[2021-01-20 23:37] Lorkenpeist commented on #1373
I'm seeing an undesirable warning when my feature calls another feature which happens to use the same variable name.  I have 2 feature files:

`myFeature.feature`

    Feature:
      Scenario:
        * def myVar = "some value"
        * match myVar == "some value"

        * def otherVar = call read("getOtherVar.feature")
        * match otherVar.value == "some other value"

        # should not

[2021-01-21 02:35] ptrthomas commented on #1445
@phitranphitranphitran this is by design. the comment in the source code above explains WHY. if you have any better ideas, kindly contribute code and a PR, thanks. this is a `wontfix` for me

[2021-01-21 02:35] #1445 closed

[2021-01-21 02:38] ptrthomas commented on #1373
@Lorkenpeist I'm going to keep it as it is - but you are welcome to submit a PR. any variable in a calling feature "exists" in called features no matter if it is "shared" or "isolated".

[2021-01-22 14:26] joelpramos opened #1446 "Introducing a new keyword - continueOnStepFailure"
Proposing the introduction of a new keyword in the Karate DSL called "ignoreStepFailure".

The main use case is for a test not to fail on the first match test failure to ensure the produced reports provide visibility on what exactly failed in a test when there are multiple matches in a row. This should be the main case and used with caution - the following [stackoverflow post](https://stackoverflo

[2021-01-22 14:37] ptrthomas commented on #1446
@joelpramos I would prefer that this is either a `configure ignoreStepFailures = true` or `karate.ignoreStepFailures(true)` because it would avoid adding a gherkin keyword "step definition" - this strategy has served karate well, all the not-so-commonly-used helpers are hung off the `karate` JS object instead of "polluting" the set of keywords

just my 2 c - and another reason is the more options

[2021-01-22 14:40] ptrthomas commented on #1446
@joelpramos and an advantage of the above approaches is that this can be set-up in `karate-config.js`

[2021-01-22 15:09] joelpramos commented on #1446
Hhh not I got your point about the configure keyword. Yeah I'll move it to configure keyword before opening the PR. What do you think about the parameters above (will need to add an on/off on it as well or enable/disabled but thinking of moving that as the map of options to the config keyword).

I'll give it some thought about calling reusable features and whether this should be propagated down to

[2021-01-22 15:13] ptrthomas commented on #1446
@joelpramos I would go with `true` false to align with the other `configure` flags. I think `configure report = true` is a good existing example to follow, and it has the "extension" option e.g. `configure report = { showLog: true, showAllSteps: false }`

refer: https://github.com/intuit/karate#report-verbosity and the corresponding code

[2021-01-22 18:15] joelpramos commented on #1446
do you have if I don't want to propagate this setting to called features? e.g.

[code]

I would prefer to avoid the 'test.feature' to run with this configuration as true although i'd like to enable this configuration on a background of a Feature file to reuse in Scenarios or Scenario Outlines. The main reason I'd like to avoid propagating this for called features is to avoid mistakes in which peop

[2021-01-22 21:23] joelpramos commented on #1446
I think I figured it out, will give it a try for the PR

[2021-01-25 08:24] edwardsph opened #1448 "A # in a string is mis-interpreted in match contains"
The following matches both fail:
[code]
The error confusingly proves itself incorrect:
[code]
This was tested on 0.9.9 RC3. Please forgive me not creating a whole project to demonstrate it as it is so simple to replicate.
Is the # being interpreted as the start of a marker?

[2021-01-25 10:41] ptrthomas commented on #1448
@edwardsph excellent find, thank you very much. this is fixed in `develop`

[2021-01-25 16:55] neerajjain92 commented on #642
@nkpathrut I do appreciate you creating a ticket and posting on SO, when I searched the same issue google showed the GitHub issue first rather than the Stackoverflow one.
Also @ptrthomas you have done a very wonderful job in writing those awesome docs and giving us a wonderful framework, but searching through Docs is not as fast as just googling some questions, and if we just go and read the entir

[2021-01-25 17:19] ptrthomas commented on #642
@neerajjain92 ok. I'll give your comment the attention that it deserves.

[2021-01-25 17:35] patel-5788 opened #1450 "Cucumber reports does not show step details when we call other feature file"
i am using jenkins to generate cucumber html report. till now report were displaying all the steps feature and scenario.

recently I have refactored code to make it more reusable now my code structured ( based on called and caller ) is like this

[code]

i am using JUnit 5 parallel runner based on tag

cucumber html jenkins pluns setup

[code]

i dont see stps details in cucumebr html report.
plea

[2021-01-25 17:49] ptrthomas commented on #1450
@patel-5788 cucumber does not have the concept of calling features at all.

please use the karate reports, see example: https://stackoverflow.com/a/61685169/143475

you are welcome to contribute code. closing as `wontfix`

[2021-01-25 17:49] #1450 closed

[2021-01-26 17:59] joelpramos opened #1451 "Issue with #notnull passing when it should fail"
The below test passes when it shouldn't (different behavior in the previous version).
[code]

From what I could gathered it has to do with the _actual_ `Value` being interpreted as '#notpresent' and then the '#notnull' applies to that interpreted value.

Hope the screenshot below helps a bit but I'm not too familiar with this part of the framework.

![image](https://user-images.githubusercontent.c

[2021-01-26 18:11] ptrthomas commented on #1451
a recent change must be responsible: https://github.com/intuit/karate/commit/10be897b74b7128f0ceb4ebc92e871b50746ed3f

see if you can figure else I will look at it tomorrow

[2021-01-27 00:49] joelpramos opened #1452 "DebugHandler: debugger stops in background section for dynamic scenarios"
In dynamic scenarios the hooks are skipped and so only the context of the Background is retained from the ScenarioRuntime.

This basically means that when I have a breakpoint on the file below on line 9 (or an error) the debugger will be pointing to the last line of the background.

![image](https://user-images.githubusercontent.com/53574318/105926121-5ca49d00-600f-11eb-9ec0-08c19abbe04d.png)

[2021-01-27 01:22] joelpramos commented on #1452
When testing this I'm from my other Runner with parallel threads I'm getting a fun Graal error `Multi threaded access requested by thread Thread[pool-2-thread-1,5,main] but is not allowed for language(s) js.`.

Don't think it's related to the code change but to be continued tomorrow.

![image](https://user-images.githubusercontent.com/53574318/105928700-1140bd80-6014-11eb-8b07-162752fb0e6c.png)

[2021-01-27 10:05] rohit1212s opened #1455 "is:issue is:open After renaming the folder name feature file is not working"
After renaming the folder name feature file is still pointing to the old folder name and not able to pick the correct folder name.

Before renaming the folder name path was as below:-
command: C:/Workspace/eclipseproject/epos/src/test/java/epos/**maintenancer**/feature/GetAllowedActivitiesAdvisor.feature --glue classpath: --plugin pretty --monochrome

After renaming the folder structure path is as

[2021-01-27 10:16] ptrthomas commented on #1455
@rohit1212s follow this process please. and karate does not support these options, I think you are confused with cucumber. read the docs please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-01-27 10:16] #1455 closed

[2021-01-27 13:51] joelpramos commented on #1452
The above is unrelated to this PR and it's related to the nature of Graal and the restrictions with the JS engine. I believe there's still a problem because of how we are running things in dynamic scenario outlines:
- run background in a thread (which can potentially load karate-base.js which loads other features etc);
- than pass the full context to each iteration of scenario including whatever b

[2021-01-27 14:56] sirishamadhavaram opened #1456 "karate gatling performance values have not improved after using gatling-akka config"
Hi, In reference to the question posted on stackoverflow : https://stackoverflow.com/questions/65776092/karate-gatling-shows-a-significant-increase-in-response-time-than-plain-gatling
I have tried using the gatling-akka config to capture more requests per second. However, I noticed the mean requests/second , response time, etc. , before using gatling-akka config is more performant than the later o

[2021-01-27 15:17] ptrthomas commented on #1456
@sirishamadhavaram please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

you can look at how others have done it for reference. of course you are encouraged to help us find a fix if applicable: https://github.com/intuit/karate/issues/1379

[2021-01-27 15:17] #1456 closed

[2021-01-27 15:19] ptrthomas commented on #1456
@sirishamadhavaram one more thing - please focus on the 1.0.0 series: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

here's one more reference: https://github.com/intuit/karate/issues/1395

[2021-01-28 12:29] edwardsph opened #1458 "Misleading error reporting in match contains deep"
Tested on 0.9.9RC3.

The final match below fails as expected but the output reports things that the previous test didn't object to. It should report the additional element in the `public` array but I don't expect it to report issues in the `user` array.

[code]
The output is:
[code]

The user matches also don't make sense as `append` never changed position so even if a stricter rule were being rep

[2021-01-28 12:46] ptrthomas commented on #1458
@edwardsph this part of the algorithm is complicated. by all means please have a look at the code (`MatchOperation`) which is 10x easier to understand than before and consider contributing

this is a `wontfix` for me just right now (just prioritizing things on my side)

[2021-01-28 13:50] edwardsph commented on #1458
That makes sense to me - it is not a blocker. I'd be happy to take a look.

Did you see my stack overflow question about checking a range of response statuses - I was offering to contribute in that area as well if you thought it would be useful to more than just me: https://stackoverflow.com/questions/65843167/can-i-use-the-status-shortcut-in-karate-to-check-a-response-class-instead-of-jus

[2021-01-28 14:15] ptrthomas commented on #1458
@edwardsph my apologies, somehow missed that particular so question. just replied, hope that makes sense

[2021-01-28 14:40] ThomasCaud opened #1459 "Renew JWT every hour"
Hello,

First of all, thanks for all your work!

This is my need:
- We have severals features and scenarios
- Every call need to have a JWT
- We don't want to DDoS the fedid
So we use SingleCall, and it works perfectly: with only one token, we can launch all ours tests!

But...Using karate-gatling, we planned to launch tests during few hours. For a duration which last longer than the jwt validity.

[2021-01-28 15:01] ptrthomas commented on #1459
@ThomasCaud you can ask such questions on stack overflow please: https://stackoverflow.com/questions/tagged/karate

and in this case karate has nothing built-in. my suggestion is write a java singleton and use that instead of `callSingle()`

[2021-01-28 15:01] #1459 closed

[2021-01-28 17:54] crinjes opened #1461 "Keyword "contains" in multi-line json breaks parser"
For
[code]
0.9.6 errors out with
[code]
It trips over `contains` inside the string. Replacing it with `\x63ontains` or running 0.9.5 stops the parser from tripping up:
[code]

Standalone 0.9.6

[2021-01-28 17:57] ptrthomas commented on #1461
closing as `wontfix` but you are welcome to contribute a PR / fix.

workaround:
`* assert actual.message == 'a contains b'`

[2021-01-28 17:57] #1461 closed

[2021-01-28 18:09] ptrthomas commented on #1461
just remembered one more workaround. yes we are aware that the parser for `match` needs work, it should move to ANTLR in the future, but please do consider looking at the existing code and help us improve it

[code]

[2021-01-29 17:57] edwardsph opened #1462 "HTTP response parser ignoring Content-Type - Fatal error being reported on successful test"
Tested on 0.9.9 RC3

I am testing an API that can return RDF. Whether or not Karate could be made to support data formats beyond JSON & XML is a discussion for another time but at present I am getting an error because the parser is misinterpreting Turtle data as XML. Could the response parser pay attention to the Content-Type before attempting to parse data?

In the case below I have used a public

[2021-01-29 18:25] ptrthomas commented on #1462
@edwardsph tagging as `help wanted`

[2021-01-29 18:42] edwardsph commented on #1462
I'd be glad to look at it. I'll look at using the content type but if there is a fallback to try anything I'll still suppress the error unless you want me to go on a different direction. That makes sense to me as it is then up to the tester to decide what is an error.

[2021-01-29 18:45] ptrthomas commented on #1462
@edwardsph yes you can take a look, I'm worried about breaking existing tests for SOAP / XML responses that may not return proper headers

[2021-01-31 11:52] lhimo commented on #1162
@ptrthomas I tried the suggested modification:

`    @Override
    public RuntimeHook create() {
        return new DebugThread(Thread.currentThread().setContextClassLoader(<>), this);
    }
`

but I get the following error upon building:

`[ERROR] /C:/Users/user/Documents/karate/karate-core/src/main/java/com/intuit/karate/debug/DapServerHandler.java:[409,78] illegal start of type
[ERROR] /C:/User

[2021-01-31 12:41] ptrthomas commented on #1162
@lhimo I give up. cc @ivangsa if he has time

[2021-01-31 14:38] ivangsa commented on #1162
@djangofan @lhimo
I think this is just a classpath problem in your vscode setup...

I could start a debug session that loaded the jdbc driver alright (it just failed to connect to db I don't have running)

![image](https://user-images.githubusercontent.com/1246876/106387368-b6bfac80-63d9-11eb-8f9a-0a915f829378.png)

do this first, it will download all your project dependencies to target/dependency

[2021-02-01 09:16] lhimo commented on #1162
@ivangsa
I tried but I get:
`> Executing task: java -cp 'target/classes;target/test-classes;src/test/resources;target/dependency/*' com.intuit.karate.cli.Main -d <

Errore: impossibile trovare o caricare la classe principale com.intuit.karate.cli.Main
The terminal process "C:\WINDOWS\System32\cmd.exe /d /c java -cp 'target/classes;target/test-classes;src/test/resources;target/dependency/*' com.int

[2021-02-01 10:43] ivangsa commented on #1162
@lhimo Ok, I understand

If you have downloaded dependencies, which I expect you did... then the problem is related to cmd being your default shell being `C:\WINDOWS\System32\cmd.exe` you can change it
(I know vscode extension is supposed to work only with cmd on windows...):

![image](https://user-images.githubusercontent.com/1246876/106447540-e75b2100-6481-11eb-8535-fa2226ef98a7.png)

The comman

[2021-02-01 11:11] lhimo commented on #1162
It's working! Thanks @ivangsa

[2021-02-01 18:38] treboriwa opened #1465 "Feature Request: please add onError hook"
Please refer to this StackOverflow post for more details: https://stackoverflow.com/questions/65989260/karate-how-to-configure-the-afterscenario-hook-in-a-called-feature

It'd be great to have an onError hook available for use in called features. Given the example from the above post, I'm assuming the test2.feature file would look something like this?

[code]
Thanks in advance for looking into thi

[2021-02-01 19:02] ptrthomas commented on #1465
@treboriwa to be honest this is adding complexity to karate I'm not comfortable with.

@joelpramos your thoughts ? can the new configure be of use in this case

[2021-02-02 02:28] joelpramos commented on #1446
For those landing here from Google or other sources the keyword ended up being named "continueOnStepFailure". The following PR has some examples and a screenshot of the resulting report: https://github.com/intuit/karate/pull/1447

[2021-02-02 02:34] joelpramos commented on #1465
Wasn't how I intended to use but maybe the following will work (pseudo code using the keyword introduced on https://github.com/intuit/karate/issues/1446):

[code]

The way you should read the above is that basically after the configure keyword your scenario will continue executing even if steps with the keyword 'call' fail. The parameter continueAfter will ensure that the execution of the scenario

[2021-02-02 02:39] joelpramos commented on #1451
Confirmed that the fix is working after the changes in the develop branch.

[2021-02-02 04:14] ptrthomas commented on #1462
@edwardsph closing, but you can always submit a PR referencing this

[2021-02-02 04:14] #1462 closed

[2021-02-02 04:22] ptrthomas commented on #1465
@joelpramos I'm inclined to close this as `wontfix` but exploring this further:

* I am not in favor of having `afterScenario` and `afterFeature` work for "called" features
* because this means we have to specify "which level" the hook applies to, keep in mind these can be "configured" any time, even in the "global" `karate-config.js`
* hypothetically speaking, if we decide to intro an `onError` h

[2021-02-02 07:40] treboriwa commented on #1465
@joelpramos @ptrthomas Thank you for looking into it!

If I'm reading your above snippet correctly, it would get us closer to satisfying the use case I brought up, but still wouldn't capture the test result of "called" features (test2.feature, test3.feature). `continueOnStepFailure` would only ensure the "top level" feature executes the block where `enabled` is set to `true`.

But I'm just wonderi

[2021-02-02 07:51] ptrthomas commented on #1465
good point. actually the design is such that this below has the same effect. the principle is that any variable is "visible" to called features (and those called by those)

[code]

@treboriwa can you take a step back and summarize what you want to achieve at a high level, maybe there are other ways in karate to achieve what you want. I am still open to a "global" `onError` - actually we have it in

[2021-02-02 08:14] treboriwa commented on #1465
@ptrthomas In a nutshell, I need to capture the result of the "called" feature and write it to a JSON file for post execution processing. The after hook seems like the most effective way to achieve that, if it was possible to trigger it for "called" features.

So, if I have a "top level" feature (test1.feature) which calls two other features (test2.feature and test3.feature) each of which has an `

[2021-02-02 08:21] ptrthomas commented on #1465
@treboriwa how about this:

[code]

`one.feature`
[code]

did I miss anything ?

[2021-02-02 12:18] lhimo commented on #1373
Has this error emerged yet?

`>>>> js failed:
01: new java.math.BigDecimal(database.readValue('select field from table where condition'))
<<<<
org.graalvm.polyglot.PolyglotException: TypeError: instantiate on java.math.BigDecimal failed due to: no applicable overload found (overloads: [Method[public java.math.BigDecimal(java.math.BigInteger,int)], Method[public java.math.BigDecimal(java.math.BigIn

[2021-02-02 12:22] ptrthomas commented on #1373
@lhimo no and it seems to be something you are doing wrong. follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-02-02 14:01] joelpramos commented on #1465
I thought that afterScenario() / afterFeature() using the ExecutionHook is already called at all times? I was referring to using the Hook interface if it wasn't clear.

`continueOnStepFailure` shouldn't change anything in the hooks. There's already an afterStep() that should get invoked regardless of the step being successful, failed, skipped, aborted. Again, up to the implementer of the Execution

[2021-02-02 15:17] ptrthomas commented on #1465
yes you mean `RuntimeHook`. OP is referring to `configure afterScenario = fun`. `*that* hook is limited by design as I said to only fire when callDepth == 0

fine. then use the Java `RuntimeHook`. I'm declaring this a `wontfix` because my brain can't handle all the cases. you both can decide if you want to make all of this work via a `karate.blah()` API, I'm going to pass for now

[2021-02-02 15:18] ptrthomas commented on #1465
closing but PR-s can be submitted using this issue ref

[2021-02-02 15:18] #1465 closed

[2021-02-03 04:12] debasisj opened #1466 "karate-config error - The value 'DynamicObject<JSFunction>@6d445072' cannot be passed from one context to another."
This is in particular an issue when `karate-config.js` load a common utility feature such as
` config = karate.callSingle('classpath:helpers/common-utils.feature',config);`

Please see sample attached project and try to run with `mvn clean test -Dtest=UsersRunner`

This is a particular problem with latest karate core `0.9.9.RC3` with java version 12.0.2

If I downgrade the karate version to `karat

[2021-02-03 06:41] ptrthomas commented on #1466
@joelpramos this is something I'll need you to look at. so I was able to get `karate.callSingle()` rehydrate JS functions.

problem is `karate.callonce()` seems to be broken, see the commented out test called `testOutlineConfigJsCallOnceParallel()` in `FeatureRuntimeTest`

I wasn't in favor of `karate.callonce()` so removing it may be the way to go unless you figure out a fix.
if there are more fu

[2021-02-03 11:16] pcbue opened #1467 "Enhancement: log groups in perf events"
In KarateAction.scala, when sending perf events, also send "session.groups" instead "List.empty".

I've just take a look at existing issues, and blame the relevant code, and does not see any contraindication.

[2021-02-03 12:00] ptrthomas commented on #1467
@pcbue by any chance does this solve: https://stackoverflow.com/q/61753917/143475

in that case do consider posting an answer on stack overflow

[2021-02-03 13:01] joelpramos commented on #1466
I will look into it but I'm incline to agree with your last statement (supporting the reuse of functions outside of that context). We ended up refactoring places where we had callonce to create functions and just use plain call - there's no processing and it's just loading JS functions to memory for reusability in the scripts so no biggy. I also think you mentioned before to use callSingle() inste

[2021-02-03 13:06] joelpramos commented on #1466
Sorry I just put 1 + 1 together - on the nested function calls you can do it in a weird way (if this is what I think this is the problem you are referring to).

So karate-config.js snippet:
`config.Utils = karate.callSingle('your-single-feature.feature')`

[code]

Because basically the functions are only evaluated in the context that they are used.

[2021-02-03 13:17] ptrthomas commented on #1466
yeah, java proxies didn't work when I tried but I could have missed something.
nested function by which I mean any function not in the "root" of the map returned by `karate-config.js`

ok to summarize: I think `karate.callSingle()` has been fixed, so you could try this in your tests and see if it works
and if you have time, look at `karate.callonce()` - it may be an edge case where this is in the

[2021-02-03 13:18] pcbue commented on #1467
@ptrthomas yes, indeed, the stackoverflow problem could be fixed with such "grouping" logic.
I've put an answer related to it.

Thx for the merge

[2021-02-03 14:23] ptrthomas commented on #1467
@pcbue thanks for the contrib ! I'll keep this open until we release 1.0 so that it appears in the release notes

[2021-02-03 14:31] ptrthomas commented on #1467
@pcbue one more thing, would you be able to paste a screenshot of a before and after your change ?
even better, if you can make a small change to the demo / example: https://github.com/intuit/karate/tree/develop/examples/gatling

and show how to use this inside an actual test, that would be great. once I understand this more, I can update the docs, and feel free to suggest changes as well to the r

[2021-02-03 15:48] pcbue commented on #1467
@ptrthomas if I run "examples-gatling" module, I obtain the following
![image](https://user-images.githubusercontent.com/16940386/106770177-fedf0900-663d-11eb-87e5-c881fc8f8384.png)

If I make the following modification in "CatsKarateSimulation.scala"

[code]

and run the tests again, will leads to
![image](https://user-images.githubusercontent.com/16940386/106770687-80cf3200-663e-11eb-8ac2-636868

[2021-02-03 15:52] ptrthomas commented on #1467
@pcbue thank you very much, this is really helpful 👍

[2021-02-03 15:53] ptrthomas commented on #1467
@pcbue in case you use slack: https://twitter.com/KarateDSL/status/937271659785961477

[2021-02-03 18:55] workwithprashant opened #1469 "karate-config.js : Not able to add new {key : value} pair to Map generated from Java API"
**Notes**:
- Download [Sample project](https://github.com/workwithprashant/poc-karate-debug/tree/master) and execute `mvn clean test`
- Please build `develop` branch of **Karate** locally with version `2.0.0`
- Similar example used to work with `0.9.6` version of **Karate**

I am using `JavaDemo` class from https://github.com/intuit/karate#calling-java in `karate-config.js` as below. configMap is

[2021-02-04 03:49] debasisj commented on #1466
I checked with core/junit5 `2.0.0` and worked .. however as soon as I refer the url from `karate-config.js` - get the error `org.graalvm.polyglot.PolyglotException: ReferenceError: "baseUrl" is not defined

this is what is in karate-config.js looks like
`
function fn() {
  var env = karate.env; // get system property 'karate.env'
  karate.log('karate.env system property was:', env);
  if (!env) {

[2021-02-04 04:15] ptrthomas commented on #1466
you are over-writing `config` here:

`config = karate.callSingle('classpath:helpers/common-utils.feature', config);`

it is working as expected. any questions ?

[2021-02-04 04:48] debasisj commented on #1466
ok .. I have now updated my config as this `config.common = karate.callSingle('classpath:helpers/common-utils.feature',config);` and use `common.xy()` everywhere else .. working as expected. closing the ticket

[2021-02-04 04:48] #1466 closed

[2021-02-04 04:48] ptrthomas commented on #1469
cc @joelpramos interesting one

since the JS engine changed, unless we "patch" the objects originating from Java they won't "behave" like JS

so this is the fix: `var configMapFailure = karate.toJson(jd.doWork("fromJS"));`

I will document this in the release notes

[2021-02-04 04:48] #1469 closed

[2021-02-04 10:35] dzoku123 opened #1470 "Nashorn is Null error when running through mvn terminal"
[karate_framework2.zip](https://github.com/intuit/karate/files/5925050/karate_framework2.zip)

I have a karate 0.9.9.RC3 project with Java 11, tests run correctly if running directly through runner, however if I chose to run through 'mvn test' I get below error:

java.lang.ExceptionInInitializerError
        at examples.ExamplesParallelTest.testParallel(ExamplesParallelTest.java:14)
Caused by: jav

[2021-02-04 10:42] ptrthomas commented on #1470
you still have `karate-apache` in your pom.xml, you don't need it. read the docs: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#breaking-changes

[2021-02-04 10:42] #1470 closed

[2021-02-04 13:28] joelpramos commented on #1469
That explains a few things

I also noticed that we used to have several for-each pieces of Javascript code to map info into a DTO and doesn't work anymore - moving to use karate.map() works perfectly.

[2021-02-05 23:40] joelpramos commented on #1451
Can you confirm what would be your expectation for the following unit test @ptrthomas ?

[code]

It fails on the last match (number: null) but I think it should pass as the regex is optional. If my understanding is correct the below logic is missing a few conditions on the regex condition but also on the remaining to handle null values (`actual.isNull()`).

![image](https://user-images.githubuserc

[2021-02-06 03:22] ptrthomas commented on #1451
@joelpramos yes please submit PR

[2021-02-08 13:42] ilamn commented on #1360
@ptrthomas will this fix be part of next release?

[2021-02-08 14:22] ptrthomas commented on #1360
@ilamn yes, you can try this now in 0.9.9.RC3 - please read https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2021-02-08 16:06] ilamn commented on #1360
Thanks. I tried in 0.9.9.RC3 . still fails for me.
have modified the above test slightly.

[myproject-header.zip](https://github.com/intuit/karate/files/5944896/myproject-header.zip)

And def cookie = responseHeaders['Set-Cookie'][0]
works

And def cookie = responseHeaders['set-cookie'][0]
fails

[2021-02-08 17:04] ptrthomas commented on #1360
@ilamn before I look at the zip file may I mention:
* headers are case sensitive for the form `* match header set-cookie == 'something` refer: https://github.com/intuit/karate/tree/develop#match-header
* if you want to get a header the way you are doing, please see `* configure lowerCaseResponseHeaders = true`: https://github.com/intuit/karate/tree/develop#configure
* and finally there may be bett

[2021-02-08 17:04] boxingit commented on #630
I am using Karate 0.9.6 version and still facing this issue. afterScenario does not get executed after each scenario. It is working just like afterFeature.

[2021-02-08 17:06] ptrthomas commented on #630
@boxingit try 0.9.9.RC3 and if it is still a problem, follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-02-08 17:14] ilamn commented on #1360
yes @ptrthomas I confirm

- I am not using match
- i tried ```* configure lowerCaseResponseHeaders = true:``` did not help.
- my use case at work is, i need to get a customer header and assign it to a variable. so that i can pass it in request header to next api call. and not cookies. I just used cookie as an header example to demonstrate.

Thanks a lot for your time.

[2021-02-08 17:33] ptrthomas commented on #1360
@ilamn awesome, indeed our miss. would be great if you can build from source and confirm: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-02-08 17:51] ilamn commented on #1360
Thanks a lot for the quick turnaround @ptrthomas . can confirm it works now. is there any further RC planned ? would be nice if there is one, so that I can use the fix at my work.

[2021-02-08 17:54] ptrthomas commented on #1360
@ilamn yes I can confirm the last RC4 will go out this week

[2021-02-09 11:35] lhimo opened #1474 "Variables passed to a called feature file are not overwriting pre-defined values"
Running `mvn clean test` on the attached project gives:

`org.graalvm.polyglot.PolyglotException: match failed: EQUALS
  $ | data types don't match (NULL:STRING)
  null
  'test'
`

**Expected behaviour:**
The 'variable' value in the failing match statement should be "test" instead of null, as it's being passed when calling the external feature file "users.feature" from "users-calling.feature" on l

[2021-02-09 13:09] ptrthomas commented on #1474
@lhimo fixed. please confirm from `develop`: https://github.com/intuit/karate/wiki/Developer-Guide

closing as this is a refactor bug

[2021-02-09 13:09] #1474 closed

[2021-02-09 13:34] lhimo commented on #1474
@ptrthomas It's working now, thanks!

[2021-02-10 01:00] unrelentingfox opened #1475 "CONTAINS_DEEP MatchType does not work with nested arrays that contain only string values."
I have already created this stack overflow question (https://stackoverflow.com/questions/66129129/unsupported-match-type-for-string-contains-deep), but since it's not really a question, rather a feature request I thought I'd create an issue here.

I am trying to do a "contains deep" compare between two large nested json objects. However it looks like this operation doesn't work when one of the nes

[2021-02-10 01:52] tbruccoleri commented on #1475
@unrelentingfox see comment left on Stack Overflow. https://stackoverflow.com/questions/66129129/unsupported-match-type-for-string-contains-deep#comment116915940_66129129

[2021-02-10 02:25] ptrthomas commented on #1475
@unrelentingfox yes please re-confirm on 0.9.9.RC4 - and do consider submitting a PR: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2021-02-10 05:30] unrelentingfox commented on #1475
Wow, thanks for the quick response. I had checked the github releases and didn't see any release candidates. Probably should have actually checked maven!

I have confirmed that this issue is fixed in 0.9.9.RC4. I will close this issue, thanks!

[2021-02-10 05:30] #1475 closed

[2021-02-10 05:36] ptrthomas commented on #1475
@unrelentingfox that's a good input. since bintray is going away we'll probably use GitHub for RC releases, thanks for confirming !

[2021-02-10 22:19] ricardgo403 commented on #1373
Hi, I was just trying to test my suites with the 0.9.9.RC4 (2021-02-09) Standalone JAR. I built the jar file following the Developer-Guide and everything was looking good, but when running the scenarios there are errors with the karate-config.js file, especially when reading files. These errors are not present using the standalone jar from v0.9.6.

`karate-config.js

01: function fn() {
02:   cons

[2021-02-11 02:08] ptrthomas commented on #1373
@ricardgo403 I think using the `file:` prefix would work `file:configs/dev.json` - but this sounds like a miss in the refactoring, would you be able to follow this process ? https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-02-12 17:20] ricardgo403 opened #1480 "Issue with the read function in 0.9.9RC4 Standalone Jar"
# Issue in Karate 0.9.9.RC4 (2021-02-09) Standalone Jar

## Description
- I followed the developer guide provided by intuit/karate repo to build the jar, and till this point, everything looked great, because all the unit tests passed and the built was successful. [Build JAR](https://github.com/intuit/karate/wiki/Developer-Guide#build-standalone-jar-and-zip)

- Then I tried to run my already built

[2021-02-12 18:44] ptrthomas commented on #1480
@ricardgo403 I've attempted a fix, but see some other failures now. cc @ivangsa in case he has time to investigate

[2021-02-15 04:46] workwithprashant opened #1481 "Executing tests using surefire through custom Mojo broke in Karate 0.9.9+ builds"
I am using custom Mojo to execute surefire plugin to run Karate tests which worked perfectly with Karate 0.9.6 build and has stopped working in 0.9.9.RC4 build.

Environment:
- Maven 3.6.3
- JDK 8

**Steps to reproduce the issue:**
1. Download repository https://github.com/workwithprashant/poc-karate-plugin
2. Execute steps for [Karate 0.9.6](https://github.com/workwithprashant/poc-karate-plugin/b

[2021-02-15 06:02] ptrthomas commented on #1481
closing as won't-fix as this is not a minimal example and considered "out of scope", anyone is welcome to submit a PR

[2021-02-15 07:37] #1481 closed

[2021-02-15 14:39] edwardsph opened #1482 "File not found when creating results after running with .features()"
Testing in 0.9.9 RC4
[code]
The tests run but during the result processing I get:
[code]
I seems that when finding features `ResourceUtils.findFilesByExtension()` relativizes to the working directory with no classpath prefix. Then later a call to `ResourceUtils.getResource()` fails the file.exists() test:
[code]

[2021-02-15 15:14] ptrthomas commented on #1482
closing as won't fix as `.findFeatureFiles()` is non-standard usage and more like an internal API

anyone is free to submit a PR against this issue ref

[2021-02-15 15:14] #1482 closed

[2021-02-15 18:52] joelpramos opened #1483 "Multi threaded access issue with functions in karate-base"
This was a thought one to reproduce... I'll check in a scenario to reproduce soon.

Basically I get the Graal `Multi threaded access requested by thread Thread[pool-1-thread-1,5,main] but is not allowed for language(s) js.` in the following conditions:

1. A karate-base.js file exists and calls a "reusable" Feature file where a JS function is defined;
2. ~~You are executing at least two *dynamic*

[2021-02-15 20:16] joelpramos commented on #1483
@ptrthomas see https://github.com/intuit/karate/pull/1484

Was trying today with the attach/detach and it's that painful Graal limitation. Happens when reattaching the vars into the karate-config.js execution however I think it only happens in the second execution of the Scenario Outline. There must be a solution

[2021-02-15 21:39] joelpramos commented on #1483
I'm stopping for today but have some progress. Changing the line below fixes this particular issue as the Type of Value (JS_FUNCTION) is retained thus the dettach/attach feature works.

![image](https://user-images.githubusercontent.com/53574318/107994662-178adf80-6fab-11eb-9c64-72769f6e5b18.png)

It does break a bunch of other tests which are mostly to see the results as JSON. E.g. below for refe

[2021-02-16 04:08] ptrthomas commented on #1480
@ricardgo403 haven't heard back, and I'm assuming this is fixed, closing. please open a new issue with specifics if needed, and try and simplify the project more (also don't check in the big zip file please)

[2021-02-16 04:08] #1480 closed

[2021-02-16 14:19] edwardsph opened #1486 "Gradle wiki page is raw HTML"
https://github.com/intuit/karate/wiki/Gradle displays as raw HTML in the wiki

[2021-02-16 14:43] ptrthomas commented on #1486
weird. clicked edit and did nothing else. seems ok now

[2021-02-16 14:43] #1486 closed

[2021-02-16 15:07] edwardsph commented on #1486
OK that is very weird. I tried in Safari and the page loaded but the wiki TOC was raw html. Now the whole page is, along with Chrome on a Mac and Chrome/Edge/Firefox on Windows.
Perhaps it is a GitHub glitch.

[2021-02-16 18:37] workwithprashant commented on #1481
Found the the solution and fixed it in the Mojo https://github.com/workwithprashant/poc-karate-plugin/commit/39099fcd01de6fe78a94e08c16face2a48f60900

[2021-02-18 12:12] hujunhaorobert commented on #1480
@ptrthomas I had reported a similar issue in the early part of thread #1373. When running mock testing with the latest karate-0.9.9.RC4.jar, I got the same error.
`Caused by: com.intuit.karate.KarateException: >>>> js failed:
01: read('karate-config.js')
<<<<
org.graalvm.polyglot.PolyglotException: java.io.FileNotFoundException: null/karate-config.js (No such file or directory)
- com.intuit.karate

[2021-02-18 12:14] ptrthomas commented on #1480
@hujunhaorobert no RC so if you are able to follow these instructions and build locally, that will be very helpful: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-02-18 12:40] ivangsa commented on #1373
Hi, --watch option is not supported anymore when starting mocks?
[code]
I've tried with `-w` `-W` and `--watch` to no avail

[2021-02-18 12:42] ivangsa commented on #1373
also in RC4, I'm not sure if it worked before, karate expressions are replaced ok in inlined json and json files but they are not replaced in yml files
I think I have tried with all combinations of quotes and no-quotes

[2021-02-18 12:57] ptrthomas commented on #1373
@ivangsa yes, watch is gone. and I don't think we ever supported yaml embedded expressions

[2021-02-18 13:03] ivangsa commented on #1373
ah ok, I though that yml and json where treated mostly the same..
is there any plan to support yaml embedded expressions? I know it can be done in javascript

[2021-02-18 13:11] ptrthomas commented on #1373
@ivangsa nope, we designed for json / xml only

[2021-02-18 17:02] ivangsa opened #1488 "When starting mocks from test.features "karate.read" fails to find relative files"
After starting a mock.feature from a test.feature karate.read() iterprets file paths relative to the last executed feature which is the mock instead of current feature

This is the simplest use case I could drill down to:
[code]

see mocks relative path:
org.graalvm.polyglot.PolyglotException: java.io.**FileNotFoundException**: W:\dev\sandbox\myproject\target\test-classes\examples\\**mocks**\data\

[2021-02-18 17:44] ptrthomas commented on #1488
this is a `wontfix` for me. you are welcome to provide a PR. a lot depends on WHEN the `readAndProcess` function in this case was defined and we can't support all these edge cases.

[2021-02-18 17:44] #1488 closed

[2021-02-18 18:35] ivangsa commented on #1488
Ok, I wont investigate this now because it was just a POC but readAndProcess is something we do a lot. Thanks

[2021-02-18 19:21] H-Developer-19 opened #1489 "add parent scenario name and parent feature file name to karate.info"
**Karate Version**
0.9.6

**How to reproduce**
1. Create 2 feature files (users.feature and users-activation.feature)
2. In users.feature add Scenario "get all users and then get the first user by id"
2.1. This scenario prints karate.info and  makes simple api GET call
3. In users-activation.feature add Scenario "get all users and activate them"
3.1. This scenario calls previous feature file
4. Ru

[2021-02-19 01:35] ptrthomas commented on #1489
this API is deprecated. please read this: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#karateinfo-deprecated

I'm not in favor of adding more things like parent feature, what is the need for this ? for such complex things we recommend you use the `RuntimeHook`: https://github.com/intuit/karate/blob/develop/karate-core/src/test/java/com/intuit/karate/core/runner/MandatoryTagHook.java

[2021-02-19 01:35] #1489 closed

[2021-02-19 07:37] sangamthakur-sec opened #1490 "Need help with process using Karate"
Can you please help me with the process I am into too many thoughts and seeking a place to solve this to start with?

I have automation test cases which after execution successful generate's the har file and then we want to use that har file to read and do the API testing.

Do we have provision to do that with Karate? I looking to leverage API automation on a single click once we can create the fr

[2021-02-19 08:10] ptrthomas commented on #1490
@sangamthakur-sec no karate does not support HAR files. you are welcome to contribute code to do it

[2021-02-19 08:10] #1490 closed

[2021-02-19 08:23] rodrigocal opened #1491 "Number of aliases for non-scalar nodes exceeds the specified max=50"
Hi, @ptrthomas we have inherited a big yml file with address data we use as db in our tests, with latest 0.9.9.RC4 we are getting this error (not with previous versions)

The errortrace  that I get is like this :

[code]

[myproject.zip](https://github.com/intuit/karate/files/6008471/myproject.zip)

is there some way to configure this:
"Number of aliases for non-scalar nodes exceeds the specified

[2021-02-19 08:28] ptrthomas commented on #1491
@rodrigocal I have no idea and tagging as `help wanted` we just use the snakeyaml library (which was upgraded) and maybe that has a config setting. I think the best thing is for you to do some research on that and if you can contribute a PR, that is ideal - but if you at least figure out if it is a simple fix we can do it

[2021-02-19 09:12] gauravkhuraana commented on #1470
Putting the latest dependency 0.9.9.RC4 and just keeping one dependency only karate-junit4 solved this problem as mentioned at the link shared by @ptrthomas Thank you

    <dependency>
            <groupId>com.intuit.karate</groupId>
            <artifactId>karate-junit4</artifactId>
            <version>0.9.9.RC4</version>
            <scope>test</scope>
        </dependency>

[2021-02-19 09:13] gauravkhuraana commented on #1372
Putting the latest dependency 0.9.9.RC4 and just keeping one dependency only karate-junit4 solved this problem as mentioned at the link shared by @ptrthomas Thank you

Also used the Runner instead of karateOptions

    <dependency>
            <groupId>com.intuit.karate</groupId>
            <artifactId>karate-junit4</artifactId>
            <version>0.9.9.RC4</version>
            <scope>test</sc

[2021-02-20 16:53] joelpramos opened #1492 "Background section on dynamic Scenario Outlines runs even when scenarios are not selected for execution"
If a Feature file has a tag which is not selected (e.g. @ignore and run with ~@ignore ) the background section of those scenarios still run. No impacts in the output results but if could impact performance of the overall execution.

It only happens for dynamic scenario outlines.

[2021-02-21 14:13] joelpramos commented on #1491
https://github.com/jenkinsci/configuration-as-code-plugin/issues/1374#issuecomment-633307255

Try this and check whether the property and/or the environment property works. If it works might not be a bad idea to increase this default number within the karate framework itself.

[2021-02-21 15:07] ptrthomas commented on #1483
@joelpramos finally took a look. I think this was related to `callonce` also. anyway please do confirm it works fine for you now

[2021-02-21 16:35] joelpramos commented on #1483
@ptrthomas fix is working. Opened a new PR with cleaned up unit tests for this issue: https://github.com/intuit/karate/pull/1496

[2021-02-21 16:55] ptrthomas commented on #1483
awesome. I'll close this as this relates to an "in-development" version

[2021-02-21 16:55] #1483 closed

[2021-02-22 11:15] dilleswarmandala-tudip opened #1498 "How to repeat some steps in a feature file based on the condition."
According to my requirement, if the auth token expires I will get status code 401. I have to make an API call to get the new token and need to call the same API from which I got the status code 401. Is there any way to do this?

[2021-02-22 11:17] ptrthomas commented on #1498
@dilleswarmandala-tudip please don't ask these kinds of questions here, use stack overflow: https://stackoverflow.com/a/55823180/143475

[2021-02-22 11:17] #1498 closed

[2021-02-22 22:57] hujunhaorobert commented on #1480
@ptrthomas , I had build a new karate-2.0.0.jar successfully by following the developer guide, which is great.
When running the mock test, there is an exception seen:
`$ java -jar karate-2.0.0.jar -m main-mock-server.feature -p 8644
09:50:17.219 [main]  INFO  com.intuit.karate - Karate version: 2.0.0
09:50:18.299 [main]  ERROR com.intuit.karate - mock-server background failed - main-mock-server.fe

[2021-02-23 01:43] ptrthomas commented on #1480
@hujunhaorobert help us replicate this please

[2021-02-23 07:43] ptrthomas opened #1499 "[enhancement] support calling other scenarios in the same (implied) feature by tag"
idea via https://stackoverflow.com/q/66328766/143475

I think it is a good idea to support `* call read('@sometag')` and look within the same file.

it can make self-contained examples easier, and we can optimize to not re-parse the feature etc.

[2021-02-23 13:38] ptrthomas commented on #1499
on second thoughts - no. the reason is we want to encourage re-usable routines to live in separate features always, typically with an `@ignore` tag or tucked away under `classpath:` etc

the moment you tag a `Scenario` in the same feature file, it will run by default unless you a) add an `@ignore` tag and b) make sure you run so that `@ignore` is excluded which gets really confusing

[2021-02-23 17:21] ptrthomas commented on #1488
this should be fixed in `develop` now

[2021-02-23 17:59] ivangsa commented on #1488
cheers!

[2021-02-23 22:45] hujunhaorobert commented on #1480
@ptrthomas do you want to me replicate the issue I reported above or the issue by  @ricardgo403 at this thread beginning? I just guess the 2 issues might be duplicated or due to the same root cause, so I put my finding here for reference.

[2021-02-24 00:48] ptrthomas commented on #1480
@hujunhaorobert I want you to replicate the issue you found please, follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-02-24 07:57] anju0610 opened #1500 "Failed to select drop down using select"
When I am trying to select a dropdown as follows, I am getting the below error
Feature: UI Automation
  Background:
    * call read('LaunchURLAndNavigateToHC.feature')

  Scenario: Ordering

    And delay(2000)
    And select('select[name="IO:c489c6e948e1374087b5d97ddab33011"]' , 2)

I am able to locate the same option with the same locator in other framework for eg.In serenity bdd I am bale to lo

[2021-02-24 08:29] ptrthomas commented on #1500
@anju0610 please ask these kinds of questions on stack overflow, e.g. https://stackoverflow.com/q/51349903/143475

[2021-02-24 08:29] #1500 closed

[2021-02-24 15:52] MercierAdrien opened #1501 "Problem with tags since 0.9.6"
Please find attached a folder with a project that was used to reproduce this problem.

The difference is between these two commands:
mvn clean install -Dkarate.options="--tags @foo"
mvn clean install

In the first case, the features "baz" and "bar" are launched twice (you can see it in the cucumber reports easily)
In the second case, it works as intended.
This was not the case with 0.9.5 and was i

[2021-02-24 16:00] ptrthomas commented on #1501
@MercierAdrien if you are running `Runner.parallel()` two times, what else did you expect

once you fix that, please focus on 0.9.9.RC4 we are not going to maintain old versions

[2021-02-24 16:00] #1501 closed

[2021-03-01 14:53] ivangsa opened #1502 "Karate RuntimeHooks beforeScenario is not executed for Dynamic scenarios"
When running dynamic scenarios RuntimeHook#beforeScenario are not executed

This is the output of MyRuntimeHook
[code]
[myproject.zip](https://github.com/intuit/karate/files/6062429/myproject.zip)

[2021-03-01 15:06] ptrthomas commented on #1502
looks introed in https://github.com/intuit/karate/pull/1453 - cc @joelpramos can either of you sort this out, this will take time for me to get to

[2021-03-01 15:14] ivangsa commented on #1502
@joelpramos you probably have more context for this already, otherwise let me know I'll look into it..

[2021-03-01 15:18] joelpramos commented on #1502
Seems like on `beforeRun()` the condition shouldn't be `background == null` (for dynamic scenarios) but rather checking that it's not the background section that's being executed. Probably a combination with the check for dynamic and ensuring the execution is not for the background section, as that's executed separately before each scenario iteration.

@ivangsa I can check this later in the week o

[2021-03-01 15:22] ivangsa commented on #1502
yes, it's already set as a junit test
![image](https://user-images.githubusercontent.com/1246876/109518163-4d02f300-7aaa-11eb-9aa7-8d34b422b8b3.png)

[2021-03-02 01:41] hujunhaorobert commented on #1480
Hi @ptrthomas , here I attached a demo repo to replicate the failure : Would you please check it? https://github.com/hujunhaorobert/demoMockFailure

[2021-03-02 05:57] JoshSchreuder commented on #1373
Has the `callSingle` / path handling changed? Just testing out the RC, and my code to load some generic authentication code is no longer working. Couldn't see anything in the breaking changes.

Code:
[code]

Is now throwing

[code]

If I comment this out and log what's passed in it seems fine

[code]

Returns
[code]

Which is where my feature file is.

I'm running with the JAR file (Windows) as fo

[2021-03-02 06:03] ptrthomas commented on #1373
@JoshSchreuder certainly can be a bug. the BEST thing you can do is follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-02 09:25] JoshSchreuder commented on #1373
@ptrthomas 👍  I'll try and put together a minimal project that reproduces this for you

[2021-03-02 10:44] hujunhaorobert commented on #1373
@ptrthomas , I created a repo https://github.com/hujunhaorobert/demoMockFailure to replicate the failure mentioned in #1480 (java.lang.NullPointerException). Could you please have a look?

[2021-03-02 12:25] ptrthomas commented on #1480
@hujunhaorobert @joshschreuder I think I fixed the problem you reported, can you confirm off the `develop` branch

[2021-03-02 23:43] hujunhaorobert commented on #1480
@ptrthomas I regenerate karate-2.0.0.jar based on the latest develop branch, seems the reported error is gone. Thanks for your effort on the fix solution!

[2021-03-02 23:46] hujunhaorobert commented on #1373
@ptrthomas I re-generate karate-2.0.0.jar based on the latest develop branch and re-run the mock testing, seems the reported error is gone. Thanks for your effort on the fix solution!

[2021-03-04 07:29] sumargoraymond commented on #1373
Not really sure if this is related with current RC, however even if report verbosity is configured to show log , HTTP response is not shown on the report.

` karate.configure('report', { showLog: true, showAllSteps: true });
`

![Screen Shot 2021-03-04 at 14 26 44](https://user-images.githubusercontent.com/6355510/109926667-c80c1980-7cf5-11eb-87be-93c01a9d73a4.png)

Or perhaps this is new intended

[2021-03-04 08:11] ptrthomas commented on #1373
@sumargoraymond if you or anyone can fix or at least replicate that will be great, I'm going to treat this as low priority. I also don't remember if the logger needs to be `DEBUG` for this to work

[2021-03-04 09:43] aman379 opened #1504 "Karate Package showing error"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

Please have a look at my project structure... Could not figure out the solution.
![ima

[2021-03-04 09:44] ptrthomas commented on #1504
@aman379 not even reading this. follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-04 09:44] #1504 closed

[2021-03-04 09:45] aman379 commented on #1504
I have shared the screenshot of *.feature file, the *.java file and the pom.xml file.

[2021-03-04 09:45] sumargoraymond commented on #1373
Hi @ptrthomas . It works perfectly on DEBUG. Thanks a lot!

[2021-03-04 18:45] staffier opened #1505 "Request headers are being lower-cases when they get to a Karate mock server"
Send a request to a Karate mock that has a header with an upper case letter.  On the server side, "* print requestHeaders" will show that header in all lower case, and "* match requestHeadsers.[header_name][0] == '____'" will fail with the following:

match failed: EQUALS
  $ | actual path does not exist (STRING:STRING)
  '#notpresent'

[KarateIssue.zip](https://github.com/intuit/karate/files/6085

[2021-03-04 18:56] ptrthomas commented on #1505
closing as duplicate of #1360

IMPORTANT: please test the 1.0 RC and re-open this only if you see the same problem on that version: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2021-03-04 18:56] #1505 closed

[2021-03-04 19:01] ptrthomas commented on #1505
p.s. and I'm still waiting for your feedback on #1430

I realize you have used the RC - but 2 things (and read #1360)
* use the `match header` syntax to match headers, this takes case of case-insensitivity
* the mock may or may not convert to lower case, this is allowed as per the spec

[2021-03-04 19:21] staffier commented on #1430
We're in the process of upgrading from 0.9.6 to 0.9.9.RC4 today, actually, so I should have feedback soon!

[2021-03-04 19:31] staffier commented on #1505
Offline, Peter and I confirmed there is a work-around on the server side for this: just use "assert" instead of "match," e.g.

`* assert headerContains('callerName', '[value]')`

[2021-03-05 07:51] ivangsa opened #1506 "How do you document reusable Karate features (packed in jars)?"
My question is how do you **document features required input (a.k.a `__arg`) and their output**, other than look into the feature source code?

The context is, when doing E2E testing for a wide bussiness process, we need to provide some teams reusable features so they can **move services state from left to right** in the business process (i.e. create-account, fill-shopping-cart, inform-payments, p

[2021-03-05 07:59] ptrthomas commented on #1506
we've been clear that we don't encourage this: https://stackoverflow.com/a/58339662/143475

[2021-03-05 07:59] #1506 closed

[2021-03-05 08:33] ivangsa commented on #1506
Ok, I understand you don't encourage reusable features or home-grown frameworks...

We have the problem of teams to the right of the bussiness process...

for instance payments team, before starting testing payments, without some reusable features, they will need to understand, code in their tests (and maintain) how to create-account, search-products, fill-cart, fill-address... (and we didn't star

[2021-03-05 09:00] ptrthomas commented on #1506
you are welcome. I would leave it up to you, every team (and team leader) is different. one option you can consider is stand up a REST service for your org that does these "set up" flows. of course you now have landed in a situation where you have created services needed to test some services, so who tests those, lol.

[2021-03-05 09:16] ivangsa commented on #1506
hmmm yes... but maybe those "set up" services are just analogous to reusable features (which would run locally) but with the extra complexity of provisioning them as services...

[2021-03-05 09:19] ptrthomas commented on #1506
that's why it is for YOU to decide - you started out by saying there's so much for teams to understand, maintain, code etc. so maybe the effort of creating a service for test is worth it ! note that you can always write a Java lib to do it. then maybe JavaDoc is your answer since you are so particular about having this "documented" also

[2021-03-05 09:23] ivangsa commented on #1506
It's there a way to configure java-interoperability to map to a strong typed java parameter?, not just a Map<String, Object>
I mean calling some method with this interface:
`public CustomReturn someMethod(CustomInput input)`
rather than
`public Map<String, Object> someMethod(Map<String, Object> input)`

[2021-03-05 09:25] ptrthomas commented on #1506
you can very well write a "wrapper" that calls a karate feature behind the scenes and be as strongly typed as you want. I personally think that's a bad idea - since Karate's selling point (for most people anyway) has been that you can work with loosely-typed JSON and never need to write POJO-s. but hey

[2021-03-05 09:29] ivangsa commented on #1506
yes I can understand that, what I meant was call a strong typed java method with loosely-typed JSON from inside an scenario:

[code]

[2021-03-05 10:40] ptrthomas commented on #1506
@ivangsa nope, I'm pretty confident we'll never support this from a feature file 🙏

meanwhile have a look at this, it may give you some other ideas, all the best ! https://twitter.com/KarateDSL/status/1184450203614498817

[2021-03-05 11:04] ivangsa commented on #1506
OK, thank you... `karate.toBean()` can do what we are looking for... Sorry I missed that in the docs..

[2021-03-05 11:18] ptrthomas commented on #1506
@ivangsa great. note that with the JS engine change there is one limitation when you convert arrays to java collections. note the use of `karate.toJava()` here: https://github.com/intuit/karate/blob/develop/karate-demo/src/test/java/demo/unit/cat.feature#L32

[2021-03-05 12:13] koolharishg opened #1507 "Background steps are not displayed when karate.fail('message') is used in .js file"
We have a distributed project where we're providing a few additional utility functions via a javascript file. When we use karate.fail() in js file or function, it's failing as the evaluation happens at js level when the js file is called from karate.call(). However, we do not see any background steps that were intended to be displayed in the report when karate.fail() is called from a javascript fi

[2021-03-05 12:47] ptrthomas commented on #1507
closing since you double posted to stack overflow: https://stackoverflow.com/a/66492425/143475

[2021-03-05 12:47] #1507 closed

[2021-03-05 13:05] joelpramos commented on #1506
The .tobBean() was probably what you're looking for, to use with Karate and print nicely in the logs/reports you also have a `karate.toJson()`.

Regarding reusability - I am a proponent of reusing features. You just got to ensure that your code reviewers for testers enforce best practices on anything that's reusable and create some best practices. At first my thought process was also packaging in

[2021-03-05 13:48] ptrthomas commented on #1506
@joelpramos thanks. I'll admit my "offcial" views on re-use (first link in this thread) are stricter than necessary. people will do it anyway - and I want to force a balance. that said, keep in mind karate feature files are not proper programming constructs. I would have no problem if we were talking about a) strongly-typed b) ide-discoverable code

BTW the `doc` keyword is in 1.0- https://github.

[2021-03-05 16:38] ivangsa commented on #1506
thanks @joelpramos for your point of view... yes we reuse features,

to ask teams to _implement the whole business process_ in karate scripts just to make some tests is inviable
any team following that advice is set to fail, because it make no practical sense

but we need something to document those features and I think something like this will do for us

`* def result = call read('classpath:Shopp

[2021-03-05 17:05] joelpramos commented on #1506
Happy to discuss this topic and help how I can!

@ptrthomas remind me - we did not remove the "description" when parsing Features right? and that can potentially be used for documentation purposes as well? https://cucumber.io/docs/gherkin/reference/#feature

[2021-03-05 17:11] ptrthomas commented on #1506
@joelpramos yep. you can try this:

[code]

which prints:
[code]

[2021-03-05 17:13] joelpramos commented on #1506
Perfect, I've seen and we talked about this but I just connected the dots that it might be a good idea to have as a guideline a short description when the short name is insufficient

[2021-03-06 08:36] ptrthomas commented on #1446
@joelpramos I've updated a stack-overflow post which is my go-to link for people who ask the question if karate supports "soft assertions" etc. to link here, just FYI. I guess based on feedback we can add official docs at a later point in time

here's the link: https://stackoverflow.com/a/54108755/143475

[2021-03-06 12:19] ptrthomas commented on #1502
@joelpramos I attempted a fix which I have not tested: https://github.com/intuit/karate/commit/aa4ed4781ef3ac2825b9ed671596cc936899d18e

wanted to make sure you were aware of `scenario.isOutlineExample()`
also I did a micro-optimization for that special case of hooks in debug mode, hope I didn't break anything.

[2021-03-06 14:16] joelpramos commented on #1502
Still few tweaks needed based on my unit tests. We are currently triggering the beforeScenario() for the background section (but not after scenario).

For outline scenarios I'd suggest not to trigger beforeScenario() and afterScenario() for the background section. To me it's already a "before" concept to begin with. Those would be executed for each execution of Scenario Outline.

The beforeStep()

[2021-03-06 14:33] ptrthomas commented on #1502
@joelpramos if there is a background, the beforeScenario() should be executed no matter what scenario it is IMO. and once fired it shouldn't be executed. is that not how it is / should be ?

[2021-03-06 14:38] joelpramos commented on #1502
The beforeScenario() is being executed for the background section; then beforeScenario() and afterScenario() are executed as expected for each iteration of Scenario Outline.

Since dynamic scenarios "pre execute" the background section before and just reuse the results, the desired behavior is a decision we'll have to make as it will never be 100% consistent with "normal" scenarios in which backgr

[2021-03-06 15:49] ptrthomas commented on #1502
@joelpramos oh ok - if there is a background it should execute only once for a dynamic. agreed. I think you can go ahead, we are aligned. not something I use that much so I'm biased ;)

[2021-03-06 15:55] ptrthomas commented on #1502
@joelpramos and for a dynamic - we want the `beforeScenario()` to fire before every scenario - but unlike "normal" scenarios, we ignore the background. did I get that right ?

[2021-03-06 16:01] joelpramos commented on #1502
Correct @ptrthomas . So here's my proposal now that I'm thinking through the different use cases, let me know what you think.

- execute beforeScenario() / afterScenario() per iteration of dynamic scenario outline (so as many times as needed per iteration);
- do not execute beforeScenario() / afterScenario() for background section (again, for dynamic only)
- add beforeBackground() / afterBackgroun

[2021-03-06 16:11] ptrthomas commented on #1502
@joelpramos yep this sounds great. IMO `beforeBackground()` is "good to have" - but go ahead 👍

[2021-03-08 00:36] joelpramos commented on #1502
Opened PR https://github.com/intuit/karate/pull/1508. I ran all the unit tests - will review any test failures tomorrow. @ivangsa check out whether my unit test coverage on `HooksTest` satisfies all your use cases.
Few notes:

- ended up dropping `isFirstExample()` and `isLastExample()` since how would I know in the parallel runner? a future improvement could be exposing the calculated Examples Ta

[2021-03-09 08:04] sunnygnkr opened #1509 "java.lang.ExceptionInInitializerError on running a simple get request from runner class everytime."
![Runner file](https://user-images.githubusercontent.com/70650769/110437499-77246880-80db-11eb-92b9-84291c100aef.png)

//Installed all the dependencies correctly,even created a maven archetype project. But everytime I run the test I get this error in eclipse.
[java.lang.ExceptionInInitializerError
	at com.intuit.karate.junit5.Karate.iterator(Karate.java:90)
	at java.base/java.lang.Iterable.spliter

[2021-03-09 08:25] ptrthomas commented on #1509
@sunnygnkr not looking at the screenshot or log. please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-09 08:25] #1509 closed

[2021-03-09 10:41] Shobhit1515 opened #1510 "Unable to perform UI automation from the Spring boot project's jar file with CLI?"
Hi, this is to get my UI test scripts work with the help of jars using CLI. API tests are working fine but in case of UI tests it's not able to hit URL after opening the browser window. Hence it fails at the * driver 'https//:github.com/login'  step with the error: 13:41:55.695 driver config / start failed: failed to construct class by name: karate-http.properties not found, aborting, options: {ty

[2021-03-09 11:38] ptrthomas commented on #1510
@Shobhit1515 I'm sorry, this does not fit our definition of a simple example at all, so I'm closing this issue. anyone monitoring the project feed is welcome to jump in with suggestions - or you can continue to try your luck on stack-overflow, open a new question if needed, and keep it simple and focused

one of the reasons is that trying to build your custom JAR is tricky and we had a lot of issu

[2021-03-09 11:38] #1510 closed

[2021-03-09 12:13] Shobhit1515 commented on #1510
As I've tried making problem statement bit specific to the driver configuration and CLI runs. I respect your concerns and let's not talk of jars. But anything which you would've thought could be a source of error in my case would have given me a direction of taking my work forward and explore more possibilities. Thanks!

[2021-03-10 01:52] staffier commented on #1430
Happy to report after our upgrade to 0.9.9.RC4 we are no longer encountering issues with call() bombing out!

[2021-03-10 01:57] ptrthomas commented on #1430
@staffier thank you for the update 👍

[2021-03-10 12:18] vs-dsva commented on #1216
With 0.9.9-RC4 runing in Jenkins I have a similar situation:

[code]

On local however I get the following:

[code]

[2021-03-10 13:12] ptrthomas commented on #1216
@vs-dsva so is it still hanging or it is just the report files not being written ? if the latter you need to ensure file permissions and all are appropriate. since no one else has reported this for the RC - we can't do anything unless you provide a way to replicate. you are welcome to contribute code of course

[2021-03-10 13:16] vs-dsva commented on #1216
Hi,

File permissions are okay. The tests are running perfectly with version
0.9.6 on the same job and same location.
Upgrading to 0.9.9-RC4 is troublesome, I wanted to use it for customizing
report output format (the -f parameter).

Regards,
  Daniel

On Wed, 10 Mar 2021 at 15:13, Peter Thomas <notifications@github.com> wrote:

[2021-03-10 13:18] ptrthomas commented on #1216
@vs-dsva we are thinking of releasing 1.0 off `develop` very soon. if you can help us troubleshoot and fix this great - else you may have to remain on 0.9.6 - cheers

[2021-03-10 13:27] ptrthomas commented on #1216
@vs-dsva I did take a look at the code and tried to improve the logic. here is the commit: https://github.com/intuit/karate/commit/9344dd518b8142793c289299ad4b26b73e875b8d

if you can follow the developer guide, and build locally can confirm - that would be great: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-03-10 14:22] vs-dsva commented on #1216
Hi,

Built it accordingly to the developer guide. Made the fat-jar and ran it
both locally and on Jenkins and it worked.
The version is however strange:

HTML report: (paste into browser to view) | Karate version:
*2.0.0*file:///home/jenkins/workspace/ent-common-api-test/KarateAPI/target/karate-reports/karate-summary.html

Thanks for fixing it so fast!

Regards,
  Daniel

On Wed, 10 Mar 2021 at 15

[2021-03-10 14:24] ptrthomas commented on #1216
@vs-dsva thank you for reporting this and confirming the fix 👍 don't worry about the `2.0.0` that's just the dummy version we use for the in-dev version

[2021-03-11 05:55] ptrthomas commented on #1373
<img width="991" alt="image" src="https://user-images.githubusercontent.com/915480/110742436-5fc0b900-825c-11eb-9aa9-5b6578b768e2.png">

image (to use in wiki) showing rare need to use `karate.toJava()` when migrating to 1.0

[2021-03-11 12:48] joelpramos commented on #1373
@ptrthomas and that image - I'd recommended adding the `.toJson()` as well if you haven't already. Although not the best use case, how I've seen folks on my end printing map objects with the `print` does seem like useful and something that a lot of people are used to do (even for triaging). The map objects now need to be wrapped with the toJson().

[2021-03-11 12:56] ptrthomas commented on #1373
@joelpramos there's already a section on the wiki: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#java-in-js

and if within JS folks should use `karate.log()` and it should print properly

[2021-03-13 15:09] #1373 closed

[2021-03-13 17:59] lupul-cel-bun opened #1512 "Failed function calls within `afterScenario` should be reported somehow in execution summary"
If the cleanup fails, it makes debugging large tests suites quite difficult.
If the user sees that everything is green in the execution summary, it is unlikely that he will parse the logs for phrases indicative of errors.
If this is not possible to report it in the execution summary, we should amend the documentation(https://github.com/intuit/karate#hooks) so the user knows to keep an eye out for

[2021-03-13 18:15] ptrthomas commented on #1512
@lupul-cel-bun this is likely to be fixed in the 1.0 release: https://github.com/intuit/karate/wiki/1.0-upgrade-guide (0.9.9.RC4 is available to test)

if not, I consider it a `wontfix` - you are welcome to contribute code. we have always recommended a pre-test clean up strategy or the hooks: https://stackoverflow.com/a/60944060/143475

[2021-03-13 18:15] #1512 closed

[2021-03-15 03:30] ptrthomas commented on #1502
1.0 released

[2021-03-15 03:30] #1502 closed

[2021-03-15 03:31] ptrthomas commented on #1467
1.0 released

[2021-03-15 03:31] #1467 closed

[2021-03-15 03:31] ptrthomas commented on #1394
1.0 released

[2021-03-15 03:31] #1394 closed

[2021-03-15 03:31] ptrthomas commented on #1220
1.0 released

[2021-03-15 03:31] #1220 closed

[2021-03-15 03:31] ptrthomas commented on #1156
1.0 released

[2021-03-15 03:31] #1156 closed

[2021-03-15 03:32] ptrthomas commented on #1177
1.0 released

[2021-03-15 03:32] #1177 closed

[2021-03-15 03:32] ptrthomas commented on #1282
1.0 released

[2021-03-15 03:32] #1282 closed

[2021-03-15 03:32] ptrthomas commented on #1327
1.0 released

[2021-03-15 03:32] #1327 closed

[2021-03-15 03:32] ptrthomas commented on #751
1.0 released

[2021-03-15 03:32] #751 closed

[2021-03-15 03:33] ptrthomas commented on #1303
1.0 released

[2021-03-15 03:33] #1303 closed

[2021-03-15 03:33] ptrthomas commented on #1181
1.0 released

[2021-03-15 03:33] #1181 closed

[2021-03-15 03:33] ptrthomas commented on #1287
1.0 released

[2021-03-15 03:33] #1287 closed

[2021-03-15 03:33] ptrthomas commented on #1271
1.0 released

[2021-03-15 03:33] #1271 closed

[2021-03-15 03:33] ptrthomas commented on #1280
1.0 released

[2021-03-15 03:33] #1280 closed

[2021-03-15 03:33] ptrthomas commented on #1283
1.0 released

[2021-03-15 03:33] #1283 closed

[2021-03-15 03:34] ptrthomas commented on #1292
1.0 released

[2021-03-15 03:34] #1292 closed

[2021-03-15 03:34] ptrthomas commented on #1293
1.0 released

[2021-03-15 03:34] #1293 closed

[2021-03-15 03:34] ptrthomas commented on #1298
1.0 released

[2021-03-15 03:34] #1298 closed

[2021-03-15 03:34] ptrthomas commented on #1306
1.0 released

[2021-03-15 03:34] #1306 closed

[2021-03-15 03:34] ptrthomas commented on #1175
1.0 released

[2021-03-15 03:34] #1175 closed

[2021-03-15 03:34] ptrthomas commented on #1322
1.0 released

[2021-03-15 03:34] #1322 closed

[2021-03-15 03:34] ptrthomas commented on #1331
1.0 released

[2021-03-15 03:34] #1331 closed

[2021-03-15 03:35] ptrthomas commented on #1333
1.0 released

[2021-03-15 03:35] #1333 closed

[2021-03-15 03:35] ptrthomas commented on #1341
1.0 released

[2021-03-15 03:35] #1341 closed

[2021-03-15 03:35] ptrthomas commented on #1337
1.0 released

[2021-03-15 03:35] #1337 closed

[2021-03-15 03:35] ptrthomas commented on #1352
1.0 released

[2021-03-15 03:35] #1352 closed

[2021-03-15 03:35] ptrthomas commented on #1370
1.0 released

[2021-03-15 03:35] #1370 closed

[2021-03-15 03:35] ptrthomas commented on #1368
1.0 released

[2021-03-15 03:35] #1368 closed

[2021-03-15 03:36] ptrthomas commented on #1375
1.0 released

[2021-03-15 03:36] #1375 closed

[2021-03-15 03:36] ptrthomas commented on #1260
1.0 released

[2021-03-15 03:36] #1260 closed

[2021-03-15 03:36] ptrthomas commented on #1313
1.0 released

[2021-03-15 03:36] #1313 closed

[2021-03-15 03:36] ptrthomas commented on #1382
1.0 released

[2021-03-15 03:36] #1382 closed

[2021-03-15 03:36] ptrthomas commented on #1385
1.0 released

[2021-03-15 03:36] #1385 closed

[2021-03-15 03:36] ptrthomas commented on #1387
1.0 released

[2021-03-15 03:36] #1387 closed

[2021-03-15 03:37] ptrthomas commented on #1393
1.0 released

[2021-03-15 03:37] #1393 closed

[2021-03-15 03:37] ptrthomas commented on #1321
1.0 released

[2021-03-15 03:37] #1321 closed

[2021-03-15 03:37] ptrthomas commented on #1413
1.0 released

[2021-03-15 03:37] #1413 closed

[2021-03-15 03:37] ptrthomas commented on #1426
1.0 released

[2021-03-15 03:37] #1426 closed

[2021-03-15 03:37] ptrthomas commented on #1424
1.0 released

[2021-03-15 03:37] #1424 closed

[2021-03-15 03:37] ptrthomas commented on #1448
1.0 released

[2021-03-15 03:37] #1448 closed

[2021-03-15 03:37] ptrthomas commented on #1451
1.0 released

[2021-03-15 03:37] #1451 closed

[2021-03-15 03:38] ptrthomas commented on #1452
1.0 released

[2021-03-15 03:38] #1452 closed

[2021-03-15 03:38] ptrthomas commented on #1446
1.0 released

[2021-03-15 03:38] #1446 closed

[2021-03-15 03:38] ptrthomas commented on #1492
1.0 released

[2021-03-15 03:38] #1492 closed

[2021-03-15 03:39] ptrthomas commented on #1329
1.0 released

[2021-03-15 03:39] #1329 closed

[2021-03-15 04:38] JoshSchreuder opened #1515 "JS / Multi threaded access error when using karate.callSingle()"
I mentioned this issue here:
https://github.com/intuit/karate/issues/1373#issuecomment-788636073

Thought it might be fixed in #1480 in 1.0 but it appears not having tried the release version this morning.

Here is a minimal repro repo:
https://github.com/JoshSchreuder/karate-repro

0.9.6
`java "-Dkarate.config.dir=C:\Temp\karaterepro" -jar "C:\temp\karate0.9.6.jar" "C:\Temp\karaterepro\demo\api"`

[2021-03-15 04:47] ptrthomas commented on #1515
@JoshSchreuder well, it would have been nice if you tested the last RC as requested. I'm going to wait on this as windows is difficult for me to troubleshoot :| anyone reading this is welcome to submit a PR

it is quite likely that if you prefix `file:` to the paths it will work. try your luck

[2021-03-15 05:14] ptrthomas commented on #1515
note to all - this appears to be a very un-conventional way of deriving paths:

[code]

quite likely there are alternate / better ways such as not using the `karate.config.dir` prop - which I think we internally update to an absolute path (which is the source of this problem probably), and `karate.callSingle('file:features/auth/auth.feature')` may work. note that karate supports a "working directo

[2021-03-15 05:24] JoshSchreuder commented on #1515
@ptrthomas yeah my apologies, I didn't have anything setup to build a new JAR off the source at the time.

Anyway, switching to `file:` seems to work quite well I think, I will try it out with my main project. If overriding `karate.config.dir` is not supported and for internal use only I'm fine if you want to close this if the workaround works just as well.

[2021-03-15 05:32] ptrthomas commented on #1515
@JoshSchreuder awesome - thanks ! yes, I'll close this and not add a note to the release-notes as the likelihood of others running into this is really low

later - do consider suggesting any tips we can add for windows users using the stand-alone - that we can add to the docs as to how to better structure projects.

[2021-03-15 06:08] JoshSchreuder commented on #1515
Got it working with a combination of custom argument, and `--configdir`.

My usecase is admittedly a bit unusual perhaps, I am running the JAR file from the VS Code extension via command.

A couple more things I found that I didn't spot in the breaking changes, not sure if bugs or intentional changes but I can put a repro up if you want:

- `And match response.data.size() == 50` no longer works fo

[2021-03-15 06:10] ptrthomas commented on #1515
use `response.data.length` I'll update the notes if needed

headers should propagate, so I'll need more details

[2021-03-15 06:12] JoshSchreuder commented on #1515
That was my first thought, but that didn't work either:
[code]

I'll put up a repro case for this.

[2021-03-15 06:13] ptrthomas commented on #1515
cc @kirksl to be aware of VS Code extension usage

actually we prefer `karate.sizeOf(array)` since we don't want to trust the JS engine to do array length calcs

[2021-03-15 06:14] JoshSchreuder commented on #1515
Oh I worked out the length thing, needed to change to `And **assert** response.data**.length** == 50`

[2021-03-15 06:16] JoshSchreuder commented on #1515
Oh and finally... getting an exception when running in multi threaded mode with my `callSingle` in `karate.config.js` (I think that's why).

[code]

I'll try and repro this minimally also.

[2021-03-15 06:18] ptrthomas commented on #1515
ugh yes, that's an edge case with the `match` parser which I hadn't considered.

just for completeness, this should work (long story): `* match (response.data.length) == 50` will see if this can be improved

and the exception is very bad news :| cc @joelpramos

if your callSingle is setting up functions, try removing those and stick to pure data. else well. we need to dig

[2021-03-15 08:34] VictorCapitole opened #1516 "Error when adding excel file into a request"
Hi, when adding an excel file into a POST request I'm getting this error:

import-items.feature:23 - could not find or read file: with_all_correct_params.xlsx

I have the test file and the excel file in the same folder, I don't understand why it cannot find it.
My request goes like this:

`Given path '/api/v1/excel/snapshot/import-items'`
 `And multipart file fileName = {read: 'with_all_correct_pa

[2021-03-15 08:51] ptrthomas commented on #1516
@VictorCapitole sorry, please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

but most likely you will get your answer from stack overflow: https://stackoverflow.com/q/61636814/143475

[2021-03-15 08:51] #1516 closed

[2021-03-15 22:00] JoshSchreuder commented on #1515
My callSingle runs a feature that does a bunch fo auth calls to grab user tokens for the pending test run. I guess it's probably reproducible with an API key inside callSingle but I will give it a go and see if I can minimally repro it.

[2021-03-16 04:33] hujunhaorobert opened #1517 "Exception: Target host is not specified from the 2nd scenario in mock testing feature"
Noticed this issue since karate-0.9.9-RC4.jar and also in the latest karate-1.0.0.jar released yesterday. The  failure demo repo is attached here:
https://github.com/hujunhaorobert/demoMockFailure

[code]

[2021-03-16 04:39] ptrthomas commented on #1517
@hujunhaorobert thanks do submit the way to replicate. if you need this expedited, consider contributing a fix. this will take time for me to get to - so anyone else reading this - please consider helping out.

[2021-03-16 04:47] hujunhaorobert commented on #1517
@ptrthomas I will look into the fix solution.

[2021-03-16 05:21] nareshkumardavuluri opened #1518 "Running mvn test does not identify and run the karate tests"
I have created a new maven project from below karate archetype:

com.intuit.karate
karate-archetype
0.9.6

And I get the project built successfully

I haven't made any changes to the pom.xml,

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0

[2021-03-16 05:31] ptrthomas commented on #1518
@nareshkumardavuluri sorry, you HAVE to follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-16 05:31] #1518 closed

[2021-03-16 05:40] nareshkumardavuluri opened #1519 "Running mvn tests throws ExceptionInInitialierError and does not run tests."
Attached the demo project which I have created using karate archetype.

I get below error when running **mvn test**

[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running examples.ExamplesTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.306 s <<< FAILURE! - in exam

[2021-03-16 06:03] ptrthomas commented on #1519
@nareshkumardavuluri this is most likely since you are using a version of java which is not supported
anyway, I'm closing this because we are NOT supporting the old version of karate anymore and 1.0 was just released yesterday: https://github.com/intuit/karate/wiki/1.0-upgrade-guide

if you still see the problem on karate 1.0.0 - you can comment here and we will re-open this issue itself

[2021-03-16 06:03] #1519 closed

[2021-03-16 06:27] auto110 opened #1520 "can't find the outputCucumberJson(true) method on the Runner "builder" when switch the version from 0.9.9.RC3 to 1.0.0"
It works when the karate-junit5 is 0.9.9.RC3, however, it can't find the outputCucumberJson(true) method on the Runner "builder" when switch the version from 0.9.9.RC3 to 1.0.0

I attached the reproduce project.

[outputCucumberJson.zip](https://github.com/intuit/karate/files/6146554/outputCucumberJson.zip)

[2021-03-16 06:35] ptrthomas commented on #1520
you have a mistake, see the `classpath:`

[code]

and you have missed this part of the release notes: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#junit-5

everything is working fine.

[2021-03-16 06:35] #1520 closed

[2021-03-16 06:42] auto110 commented on #1520
![image](https://user-images.githubusercontent.com/33770132/111266504-9ab05b80-8665-11eb-98fe-228c1c322262.png)

I am seeing the what document is writing

[2021-03-16 06:43] ptrthomas commented on #1520
@auto110 any questions ?

[2021-03-16 06:48] auto110 commented on #1520
This is what the document writing:
[code]

I feel confused, I am using Runner.path not new Karate().feature('some.feature'). When the code above will work?

[2021-03-16 06:49] ptrthomas commented on #1520
[myproject.zip](https://github.com/intuit/karate/files/6146651/myproject.zip)

ok let me make it easy for you. see the 2 changes I made to your project.

please confirm that it works :)

[2021-03-16 06:59] auto110 commented on #1520
sorry, it still not works.  When I only change the karate-junit5 version from 1.0.0 to 0.9.9.RC3 and reimport the dependency,  it works.

[2021-03-16 07:03] ptrthomas commented on #1520
@auto110 sorry, it works for me. maybe your local maven repository is corrupted, maybe you are editing the wrong files.

I cannot help you anymore

I suggest you start a clean project, use the latest karate archetype: https://github.com/intuit/karate#quickstart and try again

[2021-03-16 08:22] auto110 commented on #1520
@ptrthomas  thanks a lot for your kindly help. As your suggest, I cleaned up all the artifacts in my local maven repository and then re-resolve artifacts, it works now.  Thanks a lot again.

[2021-03-16 08:25] ptrthomas commented on #1520
@auto110 great to hear that 👍

[2021-03-16 10:59] ptrthomas commented on #1515
@JoshSchreuder & @joelpramos - we have another report of the `callSingle()` issue here: https://stackoverflow.com/q/66651979/143475

I've asked the OP to comment in this thread. and meanwhile I tried my best to replicate the situation of a callSingle + feature + HTTP call in our "parallel" test that already mixes a `callonce`, here is the commit: https://github.com/intuit/karate/commit/89f68168a43

[2021-03-16 12:44] joelpramos commented on #1515
@JoshSchreuder do you have a karate-config.js / karate-base.js with functions and are you using those inside the feature called by callSingle()?

@ptrthomas I might only be able to look at this on the weekend or further but was something that I don't think your additional tests included.

[2021-03-16 17:05] ptrthomas commented on #1515
reopening and making sure @aleruz is part of the conversation :)

[2021-03-16 23:10] JoshSchreuder commented on #1515
My karate-config, minimally, is basically what's in https://github.com/JoshSchreuder/karate-repro in terms of callSingle. The results of the callSingle get stored and reused across test runs (basically a authenticated token cache).

karate-config.js callSingle -> auth.feature -> karate.config.js store variable

[2021-03-17 01:06] hujunhaorobert commented on #1517
@ptrthomas I had some debugging on the latest develop branch and gradually come to understand why it was failed. Seems there is a logic error in callOnce() in ScenarioEngine.java:
in MockService-Test.feature
[code]
When running the 2nd scenario(duplicated), the url definition`(* url mockServerHost )` in the Background is clear by callOnce() in ScenarioEngione.java. I reckon it might be because of

[2021-03-17 01:55] ptrthomas commented on #1517
@hujunhaorobert thanks this helps a lot ! I'll take a look cc @joelpramos

[2021-03-17 07:19] ptrthomas commented on #1515
@JoshSchreuder I'm on a mac and I made this one change to `karate-config.js` to use `file:`:

[code]

and ran this command. btw karate has some improvements, it will look for `karate-config.js` in the root folder by default and even `logback.xml`:

[code]

and everything ran fine for karate 1.0. which brings me to ask cc @aleruz by any chance are you both on windows ?

[2021-03-17 08:32] aleruz commented on #1515
@ptrthomas I am on Mac as well. I am trying to debug right now, and found two things which seems to change the result of my test making it pass. But I need a bit more time to test it. At the moment, my suspicion is on two parallel runners which I created with different tags but which may be interfering in some tests (that was an experiment I did and that did not create issue with 0.9.6). Removing

[2021-03-17 11:40] rpiterman opened #1521 "karate.merge does not work with data from examples"
When using karate.merge with data from examples, it does not work correctly.

here is a test feature file (could not attach because of file type restrictions):

--

[code]

[2021-03-17 12:39] ptrthomas commented on #1521
@rpiterman see slight changes I made, refer: https://github.com/intuit/karate#scenario-outline-enhancements

`Examples` are strings by default, so it is best to use the `!` prompt to convert.

[code]

[2021-03-17 12:39] #1521 closed

[2021-03-17 12:48] shwetam2390 opened #1522 "Gatling with Karate (Maven project): I'm trying to setup Gatling in my existing karate project but during build it is failing as follows"
Following failure is seen:

15:11:32.152 [main] ERROR io.gatling.app.Gatling$ - Run crashed java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: scala/Serializable at com.intuit.karate.gatling.KarateProtocol$$anon$1.newComponents(KarateProtocol.scala:34) at io.gatling.core.protocol.ProtocolComponentsRegistry.$anonfun$components$1(Protocol.scala:68) at scala.collection.mutable.HashMap.ge

[2021-03-17 13:06] ptrthomas commented on #1522
@shwetam2390 sorry, you have to follow this process EXACTLY as described: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-17 13:06] #1522 closed

[2021-03-17 14:13] aleruz commented on #1515
So, the `callSingle` works ok when a single feature is calling that. Tested it with a single test.
Then, duplicated the test and run 3 of them with "parallel" set to "5" --> ERROR.
Changed the "parallel" to 1 --> SUCCESS.

[code]

[2021-03-17 14:53] ptrthomas commented on #1515
@aleruz please please please can you submit a way to replicate ?

[2021-03-17 15:05] joelpramos commented on #1515
@ptrthomas @aleruz the parallel issue reminded me of this comment/thread so leaving here for reference (the fix was different at the time but might be important context) https://github.com/intuit/karate/issues/1483#issuecomment-779459942 .

I'll try my best to check this out on the weekend.

[2021-03-17 16:42] aleruz commented on #1515
@ptrthomas I am trying as suggested in the guidelines, at the moment without success :-/

[2021-03-17 16:58] ptrthomas commented on #1515
@aleruz ok. as I said earlier an alternative is to clone the karate github, switch to the develop branch, look at the [`ParallelTest.java`](https://github.com/intuit/karate/blob/develop/karate-core/src/test/java/com/intuit/karate/core/parallel/ParallelTest.java) and tweak the files called

[2021-03-17 18:22] workwithprashant opened #1523 ""over-writing existing variable" log message needs to be set as [debug] log level"
`over-writing existing variable '{}' with new value: {}` is currently set at `WARN` log level.

`10:07:33.439 [main] WARN  com.intuit.karate - over-writing existing variable 'user' with new value: 'NEW VALUE'`

It's not really a warning and it increases the log size especially when executing performance test where we only want to check for actionable warnings. I have discussed with @ptrthomas abou

[2021-03-17 19:54] aleruz commented on #1515
I started from the blueprint, as suggested in https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue. Using the `ParallelTest.java`, trying to create a main feature which calls a sub-feature which calls another sub-feature. I also added some "Thread.sleep" to simulate a slow API (that is actually my real case). In parallel, trying to understand what in my current tests can be a reason for th

[2021-03-17 21:14] staffier commented on #1422
I noticed something similar takes place when "retry until" is involved with Gatling.  In these instances, all but the last retry attempt results in an OK (the last is flagged a OK or KO depending on whether or not the test ultimately passed or failed).  So, for example, if you set the retry count to 5, and run `constantUsersPerSec(1) during (1 second)`, if the test is retried and failed all 5 time

[2021-03-17 22:50] BurhanH commented on #1515
By the way, I have the same issue with parallel execution.
It will not fail if I will run via parameter like **mvn test -D test=MyTest**  but it will fail for **mvn test -D karate.options='--tags @MyTest'**.
Somehow a parallel runner proceeds those two parameters differently.

[2021-03-18 02:35] ptrthomas commented on #1515
@BurhanH thank you ! that is the breakthrough we needed maybe. the tags passed on the command-line is processed using the JS engine and we have missed making it isolated per-thread there. can @aleruz and @JoshSchreuder confirm that if you *don't* use tags on the command-line there is a difference ?

[2021-03-18 02:44] ptrthomas opened #1525 "HTML form post with content-type urlencoded does not log request body"
see https://stackoverflow.com/q/66680725/143475

[2021-03-18 02:58] JoshSchreuder commented on #1515
@ptrthomas unfortunately I can reproduce this without tags (though my CI build does use them, so would be good if that can work too). From the VS Code running, running a single scenario in a file:

[code]

[2021-03-18 05:26] Mandaleena opened #1526 "Response Cookie value not updated in the next request - Karate"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-18 09:43] aleruz commented on #1515
I'll try to reproduce it in my project, but could take some time. In the example repo I mentioned above, I am trying now to run from command line with maven and tags, but tests are still passing.

[2021-03-18 10:15] aleruz commented on #1525
@ptrthomas would you have suggestions on where to start look at? I may be able to help, but could help me if you give me the right direction ;-)

[2021-03-18 10:34] ptrthomas commented on #1525
I think we are good, thanks ! btw if you use slack: https://twitter.com/KarateDSL/status/937271659785961477

[2021-03-18 12:18] edwardsph commented on #1525
Please see https://github.com/intuit/karate/commit/7cce901cdcf90d1718f51b94f5bc737859350063#commitcomment-48398007 for a concern about charsets in content types.

[2021-03-18 15:08] jkaliaSignify commented on #1515
I kinda resolved it
Before i had a karate-config file that had a karate.callSingle()

example
```var authCall = karate.callSingle('classpath:oauth/create-token.feature', config).token ```

that kept failing

but now if i do this

[code]

[2021-03-18 15:14] ptrthomas commented on #1515
@BurhanH if you can provide a way to replicate that would be VERY helpful

based on @aleruz -s last comment, maybe this is if the `callSingle()` throws an `Exception` ?

and all - thanks for the theories - but I would really appreciate a foolproof way to replicate ! thx

[2021-03-18 18:24] BurhanH commented on #1515
I've tried to reproduce the issue in a new, clean, and isolated environment. No luck!
Probably it's related to how we use` karate.callSingle("classpath:our.feature")` in `karate-config.js` file or to be more precise something here in this file (our.feature) is the cause of the issue for us.
Thanks
P/S: I will keep you posted in case of changes.

[2021-03-18 23:55] scr-oath opened #1528 "post with large body gets ClassCastException"
Large payloads have a `ClassCastException` because they switch to a chunking encoder that is not a `FullHttpRequest` and can't be cast.

[code]

## Issue demonstration project

<https://github.com/scr-oath/show-large-payload-bug>

## Commandline to run

[code]

## Results

Results will be output under `build/karate-reports/show.large.payload.bug.large-payload.html`

[2021-03-18 23:57] scr-oath commented on #1528
![image](https://user-images.githubusercontent.com/41922797/111712525-04b63580-880b-11eb-9779-ec266db9eee3.png)

[2021-03-19 07:52] aleruz commented on #1515
Still trying to reproduce it in the clean repo, without success.
In my project, these are some of the relevant logging:

[code]

Maybe this can make you ring a bell. Seems quite weird, checking logs, because the 2 calls are done sequentially and the first returns correctly and the call seems to be cached.
In the clean repository I tried to add some pauses here and there to reach around 35s of lock

[2021-03-19 08:03] ptrthomas commented on #1515
@aleruz are you calling any custom Java code in these flows ?

and to all: since using a quick-start has failed, please try your best to strip away everything from your project so that at least you can submit that

[2021-03-19 09:00] aleruz commented on #1515
@ptrthomas Well, because of your answer I actually found something interesting, that again I tried to replicate somehow in the example repo without success.

When I have this snippet in the feature that fails

[code]
the test fail. Even if I don't call the function. I was trying without calling the function, but did not think on the definition itself.
Can this make any sense to you?

Also, I was t

[2021-03-21 14:51] joelpramos commented on #1515
I gave it a shot at reproducing the scenarios described in this thread and didn't get the `org.graalvm.polyglot.PolyglotException: Multi threaded access requested by thread Thread[pool-1-thread-1,5,main] but is not allowed for language(s) js.` yet but got another thread context sharing exception with Graal.

Using the following _karate-config.js_:
`
function fn() {
  var configuration = karate.cal

[2021-03-21 17:31] intest opened #1531 "Problem (bug?) with basic auth js script after upgrade from 0.9.6 to 1.0.0"
I've just upgraded Karate from 0.9.6 to 1.0.0 and I'm struggling with basic auth. Previously it worked perfect, now I'm getting this:

[code]
And these details in the report:
[code]

Any ideas? Is it a bug in Karate or am I doing something wrong? (beside the upgrade I didn't change anything else)

[2021-03-21 17:50] ptrthomas commented on #1531
@intest please read this part of the release notes: https://github.com/intuit/karate/wiki/1.0-upgrade-guide#javabean-property-short-cuts-dont-work-in-all-cases

[2021-03-21 17:50] #1531 closed

[2021-03-21 18:11] intest commented on #1531
I forgot to metion, that I tried it also and I got:

[code]

Also tried with `    var encoded = Base64.encoder.encodeToString(temp.getBytes());` and still the same.
I'm not into JS so much, so I really don't know how to fix it. I would be really grateful for help.

[2021-03-21 18:17] ptrthomas commented on #1531
@intest sorry this worked for others so you are certainly missing something. please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

refer: https://github.com/intuit/karate/issues/1373#issuecomment-753519111

[2021-03-21 19:21] joelpramos commented on #1531
To use the toBytes() the object needs to be a string. I think I stumbled on this Peter but forgot to report but it’s just this engine that’s “less forgiving”. @intest do temp.toString().getBytes()

[2021-03-21 21:14] intest commented on #1531
It works! Thank you so much @joelpramos :)

[2021-03-22 07:55] gavl-cdl opened #1532 ""org.graalvm.polyglot.PolyglotException: not found" when running in parallel"
Minimal repro: zip attached

This project contains a shared feature, which defines which defines a javascript function:
[code]

There are then three "caller" features, each containing a "Background" that calls the "shared" feature:

[code]

Each caller than has five scenarios which call the function with a parameter and assert the result.

[code]

If I use `Runner.path("classpath:/examples").paral

[2021-03-22 08:00] aleruz commented on #1515
In my scenarios, I never execute features inside the `karate-config.js` but instead in the background section.

[2021-03-22 08:02] gavl-cdl commented on #1532
If I amend the background step in the callers to to use `callonce`:

[code]

Then I get the same `The value 'DynamicObject<JSFunction>@2b9f4737' cannot be passed from one context to another` error mentioned in https://github.com/intuit/karate/issues/1515#issuecomment-803596320

[2021-03-22 08:07] ptrthomas commented on #1532
@gavl-cdl thanks for the repro, yes we would like to solve this and #1515 asap

[2021-03-22 11:28] aleruz commented on #1532
Isn't maybe the trailing `/` wrong to specify a classpath? This seems more a classpath resolving issue. The thing is that now all the errors start with the `org.graalvm.polyglot.PolyglotException` which could actually be misleading.

[2021-03-22 11:39] vishnupriya-k commented on #1269
I am also facing the same problem, I need to switch to a new browser window pop up.

Scenario : I am trying to place an order using PayPal and the PayPal button is in iframe. It could click this by switching to this frame. But it opens a new window pop up and I am unable to access any of the elements like Username and Submit button

Can someone help me on this, please?

[2021-03-22 12:51] ptrthomas commented on #1532
@aleruz great, since I am going to take time to get to this - do consider submitting a PR for misleading error messages

[2021-03-22 12:55] ptrthomas commented on #1269
@vishnupriya-k follow this process or try stack overflow please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-22 13:08] gavl-cdl commented on #1532
It possibly is wrong, but I would argue that the tests should either all pass or all fail (because they're basically the same) rather than giving a mix of pass/fail for the same "Background" step.

This problem *does* occur in our very-not-minimal test pack without the slash, but I've not been able to reproduce it (yet) in this minimal case without it (I'll keep trying) - my hunch is that the slas

[2021-03-22 13:18] gavl-cdl commented on #1532
Re-running our very-fat "real" test pack, I found a similar stack processing the thymeleaf templates (see the "caused by"):
[code]
(full stack attached)
[template-not-found-stack.txt](https://github.com/intuit/karate/files/6182396/template-not-found-stack.txt)

[2021-03-22 13:27] ptrthomas commented on #1532
@gavl-cdl that doesn't sound good at all. I hope this is a one off. if this happens a lot - I'd be worried if spring or something heavy like that is in the mix and slowing down / colliding with our shaded classgraph, see this link: https://github.com/intuit/karate/pull/1408#issue-543436487

note to self: we may have to move the report templates into some in-memory cache

[2021-03-22 13:41] joelpramos commented on #1515
Additional info for the thread: just saw this in a suite of tests without `callSingle()` or `callonce` but firewall were missing rules and all the tests failed however, in the middle of all those HTTP connect timeouts, this exception popped up once or twice. I might focus my attention to try to cause failures in Features and run a large set in parallel to try to reproduce (already have a case in m

[2021-03-22 14:21] ptrthomas commented on #1515
@joelpramos wild guess - the routine that tries to format a JS error message may be encountering the thread / context problem when unpacking the Throwable that originated from Graal perhaps

[2021-03-22 20:14] aleruz opened #1533 "Match Regex fails when '?' is present in the regex expression"
https://github.com/aleruz/karate-call-single-bug/blob/main/src/test/java/examples/regexp/regexp.feature

```mvn test "-Dkarate.options=--tags @regex" ```

The regex parsing fails when the `?` is present in the regex. Considering that this is a very frequently used quantifier, this error can be quite frequent.

[code]

After debugging, found the issue in the `MatchOperation` class.
I fixed the bug

[2021-03-23 01:57] ptrthomas commented on #1533
@aleruz thanks for this ! merged 👍

[2021-03-24 02:41] ptrthomas commented on #1517
looks like the `url` is getting re-set on the builder when it shouldn't. here is another way to replicate from: https://stackoverflow.com/q/66773950/143475

[code]

[2021-03-25 10:40] remo-vonarx opened #1535 "Setup with JUnit5 RuntimeException: not found"
Hi there

I have issues setting up a initial test with JUnit 5. I hope you could help me here, on Stackoverflow they told me to open up an issue here. I hope you can help me out on this one:

Having the following directory structure: `src/test/java` containing a `karate-config.js` and the package `utils/` with a `basic-auth.js`.

**karate-config.js:**
`function fn() {
    var env = karate.env; //

[2021-03-25 10:41] remo-vonarx commented on #1535
Using IntelliJ with AdoptOpenJDK-15 btw.

[2021-03-25 10:45] ptrthomas commented on #1535
@remo-vonarx sorry, on stack overflow the instructions were clearly to follow this process, which you haven't: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-03-25 10:45] #1535 closed

[2021-03-25 12:37] joelpramos commented on #1535
I commented in stackoverflow as well so folks land there from Google but seems like you did not set up the testResources in maven. By default maven only copies the *.java files to the target directory where it actually runs your tests so you explicitly must tell maven to also copy the other files. See: https://github.com/intuit/karate/tree/master#folder-structure

[2021-03-25 14:21] majinEma opened #1536 "Cucumber json output: keyword is not correct for Scenario Outline"
How to reproduce it: just run a `./gradlew clean build` in the attached project.
[karate.zip](https://github.com/intuit/karate/files/6205291/karate.zip)

When the feature file contains a `Scenario Outline` and I enable the `.outputCucumberJson(true)` the json file created is different from the one I got when using `0.9.6`.
[code]

This is what I get using karate `1.0.0`
[code]

while using `0.9.6`

[2021-03-25 15:03] ptrthomas commented on #1536
@majinEma before we even start on this - would you be able to confirm what the "real" cucumber does ? just to make sure !

[2021-03-25 15:27] majinEma commented on #1536
Sure:
With this feature file
[code]

I get this json output using cucumber `6.8.2`

[code]
If you need a cucumber sample project to run let me know

[2021-03-25 15:38] ptrthomas commented on #1536
@majinEma no this is fine, thanks for confirming ! just made the fix, would be great if you can build and test locally: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-03-25 15:40] majinEma commented on #1536
Thank you very! I'm testing it.

[2021-03-26 10:00] majinEma commented on #1536
It works. I tested locally with the `karate-core` jar I got building from develop branch.

[2021-03-26 14:17] ptrthomas commented on #1528
@scr-oath I have some challenges with java 11 and gradle so it would be great if you can build locally and test: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-03-26 15:01] ptrthomas commented on #1517
@hujunhaorobert would you be able to build and test, that would be very helpful: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-03-26 15:32] ptrthomas commented on #1515
one more question for all, we now think that one of the causes could be the use of `configure headers = fun` or `karate.configure('headers', fun)` and where `fun` is a JS function

can y'all have a look whether that was involved. the other suspects are:
* `karate.callSingle()` where you have passed some value as the second argument
* use of `Background`
* use of `callonce`
*` callonce` or `karate.

[2021-03-26 17:41] ptrthomas commented on #1532
@gavl-cdl okay should be fixed now. and were you in a spring-boot jar situation by any chance ? hopefully you won't see either of the problems above any more - please do build and test locally: https://github.com/intuit/karate/wiki/Developer-Guide

[2021-03-26 21:29] aleruz commented on #1515
So, I found something else, that could be useful for debugging (I'll try to reproduce it in the example repo):
* Background section is executing a feature with `callSingle`
* the inner feature has in the background section a function
[code]
   and calls a sub-feature with `karate.call()` two times with different parameters.
   With this situation, test fails.
   Commenting the `pause` function mak

[2021-03-27 00:03] scr-oath commented on #1528
FWIW, I made the test program work with jdk8 - just ditched the HttpClient - no need to double test that the server is up (the `HttpServer` came in with 8, so is still usable)

[2021-03-27 00:28] joelpramos commented on #1515
Fixed the cases I identified and reproduced in https://github.com/intuit/karate/pull/1530 (fix in the same PR with the unit tests). Hopefully it'll solve several of the issues being reported (fingers crossed ....).

Branch might need a bit more cleanup. @ptrthomas I also think we do some deep clones at a few parts in the code that may no longer be necessary but I did not try to remove them (decide

[2021-03-27 00:31] scr-oath commented on #1528
Ok - after figuring out that (A) I needed to build on the "developer" branch, and (B) that I needed to use version 2.0.0 and enable `mavenLocal()`, I was able to run the test locally and it passed :smile:

[2021-03-27 00:35] scr-oath commented on #1528
![image](https://user-images.githubusercontent.com/41922797/112704898-9d773180-8e59-11eb-9093-07c7b6edb311.png)

[2021-03-27 00:50] joelpramos commented on #1515
Btw I have not tested the fix yet in any large "real" test suite to check whether there were any unexpected behaviours that are not currently covered in unit tests. Certain areas I'd want to review would be the scope sharing, how the reports look like and whether there's a impact to the displaying of variables in the debugger in VS Code.

[2021-03-27 01:24] ptrthomas commented on #1528
@scr-oath ah my bad I should have mentioned `fixed` ! thanks for confirming 👍

[2021-03-27 02:32] scr-oath commented on #1528
Great - what's the ETA for 1.0.1? (if there's a link describing the release schedule, that'd be great)

[2021-03-27 02:33] ptrthomas commented on #1528
@scr-oath no link, but it should be pretty soon (max within a week) once we get #1515 sorted out which is a P1

[2021-03-27 03:10] ptrthomas commented on #1384
closing because of inactivity

[2021-03-27 03:10] #1384 closed

[2021-03-27 03:11] ptrthomas commented on #1458
closing as `wontfix` for now. this needs community contribution

[2021-03-27 03:11] #1458 closed

[2021-03-27 03:12] ptrthomas commented on #1491
closing as `wontfix` but PR-s welcome

[2021-03-27 03:14] ptrthomas commented on #1422
closing as `wontfix` PR-s welcome

[2021-03-27 03:14] #1422 closed

[2021-03-27 03:22] ptrthomas commented on #1312
moving to project board this needs more thinking and a reset: https://github.com/intuit/karate/projects/3#card-32867382

[2021-03-27 03:22] #1312 closed

[2021-03-27 08:20] aleruz commented on #1515
@joelpramos I fetched your branch `issue-1515`, built it with
```mvn clean install -P pre-release -pl -karate-robot```

but it seems same for me. And if I keep the same test, but comment the

```* def pause = function(pause){ java.lang.Thread.sleep(pause) }```

part on the background section, then the test passes.
So, both things are not working together.

[2021-03-27 12:10] ptrthomas commented on #1515
@joelpramos @aleruz I just checked in a very simple fix for specifically the `callSingle()` with arg problem. I actually tried the other cases I thought of - e.g. `configure headers = function` plus `callonce` and it all seems to be good, that parallel test above already covers that. maybe this was all that was needed ? can you test again and confirm.

[2021-03-27 12:16] ptrthomas commented on #1515
FYI the single line of code with which I was able to reproduce: https://github.com/intuit/karate/commit/43d8bf723e56f16ec9a75b1c89e45aeab66b2e0e#diff-6365020418ae2a40912aa4f001d49d2bbf988410171accd760333fea2b5b98acR3

<img width="1365" alt="image" src="https://user-images.githubusercontent.com/915480/112720429-3ffbe700-8f24-11eb-8260-43caaf7762c9.png">

[2021-03-27 12:53] aleruz commented on #1515
Seems in my use case this is making no difference. :-(

[2021-03-27 13:03] ptrthomas commented on #1515
@aleruz that doesn't help at all. I'm proposing to set a rule that `karate.callSingle()` can only return a JSON and NO functions. is everyone ok with this ? can you remove all functions in your `karate.callSingle()` and see what happens ?

[2021-03-27 13:18] joelpramos commented on #1515
@aleruz question on your scenario, you said your feature called by callSingle() does a call twice to the same feature with different parameters.

Few questions on that - are those parameters reused within that call and how does that loop work? Any chance you can drop a screenshot here of that piece only and take out any private names / paths you might have?

[2021-03-27 15:58] ptrthomas commented on #1515
okay one more time, my last commit is again a simple one but with one critical fix for "magic variables" that I really hope is the end of it

would be great if everyone here can try this version

[2021-03-27 17:06] joelpramos commented on #1515
Tested the scenarios I had with these code and works great. Thanks @ptrthomas , will check in a few things on top of that test for completeness that I tried in my local. @aleruz keep us posted on your results.

[2021-03-27 20:52] aleruz commented on #1515
@ptrthomas my previous comment was referring to the fact I checked out and built your commit, but it did not help in my situation. I did it also with the latest commit, now.
@joelpramos Did the same with your commit, but also no luck.

https://github.com/aleruz/karate-call-single-bug/blob/main/src/test/java/examples/products/ProductDetails.feature
https://github.com/aleruz/karate-call-single-bug/b

[2021-03-28 01:45] ptrthomas commented on #1515
sorry I can't make sense of what @aleruz is saying. is that a runnable example ? can someone translate all that above into a simple example which I can use to replicate the problem ? can anybody else run the latest and confirm the results ?

[2021-03-28 08:31] aleruz commented on #1515
@ptrthomas : I did run my code in my environment with the commits you and @joelpramos did. This did not fix my specific case.

Then @joelpramos asked me for screenshots or code examples to understand the structure, and I committed my tests, which of course won't work because they miss all the configurations.

As I said, I found a workaround and can work with that (explained in my comment above). I

[2021-03-28 09:18] ptrthomas commented on #1515
@aleruz okay no worries ! sorry I'm just keen to get this solved. myself and @joelpramos are confident that the latest version solves all issues, so I really hope you haven't missed any step when building. maybe we can take this offline and get on a call next week if you are okay with that.

meanwhile I'm thinking of releasing over the next 2 days, there are a few important fixes, and we can hopef

[2021-03-28 12:26] aleruz commented on #1515
@ptrthomas I'll get another try tomorrow. For building, I did remove the 2.0.0 package in the local maven, then fetched your commit (exactly the commit ID), built as suggested in the "development" page, run the test again.
I am also ok with a call. I would suggest to align on Slack.

[2021-03-28 13:37] ptrthomas commented on #1515
@aleruz one more thing - and this is important. are you calling any Java code that returns Java objects that contain data coming from karate and/or JS. in that case, ALL BETS ARE OFF :)

[2021-03-28 14:19] ptrthomas commented on #1515
one more try and a small code-change again: https://github.com/intuit/karate/commit/4bac49c400fe9f7e53b50c229f09b3b08ba66a1b#diff-12a620743447978c823403798f5740cacc1eb990fb5603d015760002e5096431R175

I realized that line 175 (before this commit) could be entered by multiple threads (after a callSingle result was cached)
which would blow up because we use the JS engine to "attach"

anyone who can t

[2021-03-28 20:06] aleruz commented on #1515
@ptrthomas 🎉 seems this time is THE time 🎉 In my case no more issue! 👏🏻 Sad I could not reproduce it in an own separate example.

[2021-03-29 01:46] ptrthomas commented on #1515
thank you @aleruz ! I think we are ready to release

[2021-03-29 08:04] gavl-cdl commented on #1532
Yes, the full-fat "real" test pack has spring-boot in play.

I *think* I followed the local build steps correctly, and everything seems to pass (both the minimal-repro test included above, and our "real" test pack) with the development version.  Thanks!

[2021-03-29 09:11] ptrthomas commented on #1532
@gavl-cdl awesome. and you may have noticed that we have #1515 sorted out as well

[2021-03-30 04:53] ptrthomas commented on #1526
edit - has been reported by another team, reopening. details and way to replicate to follow cc @staffier

[2021-03-30 04:56] staffier commented on #1526
@ptrthomas, as I mentioned offline, I'm running into instances where Karate is attempting a 2nd POST request after a 302 redirect response, and ultimately neglecting to pass in authentication credentials.  With v0.9.6 (Apache-HttpClient 4.5.12), the subsequent request was a GET (which is, I believe, correct), and the credentials were passed along just fine.

I'm attaching a simple project that sor

[2021-03-30 15:53] staffier commented on #1526
The authentication issue is resolved - I now land on the home page fully authenticated after passing in form field credentials.  The flow leading up to authentication are still different, though.  With v0.9.6, I see some 302 redirects in the logs, and Karate subsequently makes GET requests in response to those responses.  With v1.0.0, the 302s are missing, and I instead see follow-up POST requests

[2021-03-30 16:33] staffier commented on #1526
In case other are following this thread, a simple work-around for this is to re-define the 'Cookie' header before making any post-authentication requests, e.g.:

[code]

[2021-03-30 18:45] ptrthomas commented on #1526
@staffier attempted a fix - but some concerns since I had to bring back some apache code that used to be there in the pre 1.0 version that I thought was no longer required.

if you know of other areas where cookies are in play do take a look. also cc @chaudharydeepak and @sumargoraymond if you can take a look at cookies !

all reading this thread: please help by testing this commit where you know

[2021-03-30 19:38] ptrthomas commented on #1526
@staffier thanks for confirming !

[2021-04-03 03:35] SriwanKm opened #1537 "Gradle runner not working with Karate"
Gradle Runner is unable to find the tests included in my folder

[2021-04-03 03:37] SriwanKm commented on #1537
Tried a million variations and looked at many examples of simple gradle setup for karate tests, but no matter how I try karate framework is not working, can not locate the tests. Please fix

[2021-04-03 03:54] ptrthomas commented on #1537
@SriwanKm sorry, works for me. please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

also see this first: https://github.com/intuit/karate/wiki/Gradle

[2021-04-03 03:54] #1537 closed

[2021-04-03 04:17] SriwanKm commented on #1537
It doesn't work, the gradle instructions are what I followed, also Intellij doesn't work properly either

[2021-04-03 04:19] SriwanKm opened #1538 "Stop Trying to close the issue, Your framework is not working"
The gradle instructrions provided are insufficient, I only could find one example that works via gradle build and it is not transferrable to my project. Also the intellij cucumber plugin does not work, keep getting message could not find cucumber.cli.main

[2021-04-03 04:29] SriwanKm opened #1539 "Even the JObserver project in the examples does not work !"
IMPORTANT: If you have a general question please use Stack Overflow instead where Karate has a dedicated "tag": https://stackoverflow.com/questions/tagged/karate

If you are sure you have found a bug, please make sure you follow the instructions here: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-03 04:30] ptrthomas commented on #1538
@SriwanKm really sorry to hear that. This is an open-source project run by volunteers in their spare time. Do try to contribute code, or you are welcome to look elsewhere for solutions. Have a nice day.

[2021-04-03 04:30] #1538 closed

[2021-04-03 04:30] #1539 closed

[2021-04-05 03:54] ptrthomas commented on #1536
1.0.1 released

[2021-04-05 03:54] #1536 closed

[2021-04-05 03:54] ptrthomas commented on #1533
1.0.1 released

[2021-04-05 03:54] #1533 closed

[2021-04-05 03:54] ptrthomas commented on #1532
1.0.1 released

[2021-04-05 03:54] #1532 closed

[2021-04-05 03:55] ptrthomas commented on #1528
1.0.1 released

[2021-04-05 03:55] #1528 closed

[2021-04-05 03:55] ptrthomas commented on #1526
1.0.1 released

[2021-04-05 03:55] #1526 closed

[2021-04-05 03:55] ptrthomas commented on #1525
1.0.1 released

[2021-04-05 03:55] #1525 closed

[2021-04-05 03:55] ptrthomas commented on #1523
1.0.1 released

[2021-04-05 03:55] #1523 closed

[2021-04-05 03:55] ptrthomas commented on #1517
1.0.1 released

[2021-04-05 03:55] #1517 closed

[2021-04-05 03:56] ptrthomas commented on #1515
1.0.1 released

[2021-04-05 03:56] #1515 closed

[2021-04-05 10:59] Artashes1996 opened #1541 "Cannot invoke "javax.script.ScriptEngine.createBindings()" because "com.intuit.karate.ScriptBindings.NASHORN" is null"
Hello @ptrthomas ,
When I try to run test system brings me the following error message **Cannot invoke "javax.script.ScriptEngine.createBindings()" because "com.intuit.karate.ScriptBindings.NASHORN" is null**

[2021-04-05 11:04] ptrthomas commented on #1541
@Artashes1996 follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-05 11:04] #1541 closed

[2021-04-05 11:35] Artashes1996 commented on #1541
Hello @ptrthomas ,
When I try to run test system brings me the following error message Cannot invoke "javax.script.ScriptEngine.createBindings()" because "com.intuit.karate.ScriptBindings.NASHORN" is null  Iuse Maven

[2021-04-05 11:36] Artashes1996 commented on #1541
@ptrthomas Karate Framework works with Java 15 or Java 16?

[2021-04-05 11:47] ptrthomas commented on #1541
@Artashes1996 if you use 1.0.1 https://github.com/intuit/karate/wiki/1.0-upgrade-guide

[2021-04-05 11:56] Artashes1996 commented on #1541
When I run mvn install **The POM for com.intuit.karate:karate-apache:jar:1.0.1 is missing, no dependency information available**

[2021-04-05 11:56] Artashes1996 commented on #1541
@ptrthomas

[2021-04-05 12:00] ptrthomas commented on #1541
@Artashes1996 please read the link above, this is explained there

[2021-04-05 12:05] Artashes1996 commented on #1541
I read documentation, but i cann't find solution.

2021 թ. ապր 5, երկ, 16:00 Peter Thomas ***@***.***) օգտատերը
գրել է․

[2021-04-05 12:08] ptrthomas commented on #1541
@Artashes1996 see screenshot below. I am locking this thread. we have told you multiple times to ask these kinds of questions on stack overflow, if you cannot, you will be blocked from the GitHub project.

<img width="967" alt="image" src="https://user-images.githubusercontent.com/915480/113572334-a2946780-9635-11eb-8af8-b8c7d9b6bfa8.png">

[2021-04-05 13:27] Artashes1996 opened #1542 "Cannot invoke "javax.script.ScriptEngine.createBindings()" because "com.intuit.karate.ScriptBindings.NASHORN" is null #1541"
I am use java 16 with maven. When I run karate test System brings me
**Cannot invoke "javax.script.ScriptEngine.createBindings()" because "com.intuit.karate.ScriptBindings.NASHORN" is null**

This is my Runner class
[code]

[2021-04-05 13:28] Artashes1996 commented on #1542
@ptrthomas can you send me pom.xml with Runner class?

[2021-04-05 13:35] ptrthomas commented on #1542
duplicate of #1541

[2021-04-05 13:35] #1542 closed

[2021-04-06 17:15] scr-oath commented on #1528
Thanks… FWIW, I can't use the new version - it doesn't allow form-fields 😦 I'll have to file a new issue…

[2021-04-06 17:21] ptrthomas commented on #1528
@scr-oath well. do consider submitting a PR also. unlikely we will release soon though so you may have to stick to 0.9.6

[2021-04-06 21:10] scr-oath commented on #1528
For better or worse, there were some subtle changes (improvements?) to background - before, I observed that it ignored background for outline/template and now it doesn't - so that was polluting things for a test I had that had both a regular and outlined scenario... Anyway… with the different things now being split, my local tests work but it was very very strange indeed that the errors were repor

[2021-04-06 23:34] hujunhaorobert commented on #1517
@ptrthomas tested on 1.0.1, the original issue is gone. Thanks for your effort on the fixing.

[2021-04-07 03:11] ptrthomas commented on #1528
@scr-oath yes a minimal example would help. indeed there were improvements to an outline. a `Background` has to be pre-evaluated for a "dynamic" outline. things get more complicated if a `callonce` is involved etc.

[2021-04-07 18:53] qcloop opened #1543 "Karate Framework's karate-apache does not have release 1.0."
Hi there,

I use karate as part of tests. While trying to upgrade to 1.*, I ran into issue with

Could not find artifact com.intuit.karate:karate-apache:jar:1.0.0

[2021-04-07 19:11] babusekaran commented on #1543
@qcloop  you only need one dependency from `1.0.0` which will be `karate-core`  [singe dependency](https://github.com/intuit/karate/wiki/1.0-upgrade-guide#single-dependency)

please read the [1.0 upgrade guide](https://github.com/intuit/karate/wiki/1.0-upgrade-guide) for more details

[2021-04-07 19:41] #1543 closed

[2021-04-08 02:38] go4no opened #1544 "There is a delay after upgrading from 0.9.6 to 1.0.1 in Karate."
There is a delay after upgrading Karate 1.0.0 and 1.0.1

It is fast if you execute call read without variable declaration.

Occurs when declaring a variable in def and repeating call read with an array,
The more times you repeat that logic, the slower it gets.

In karate 0.9.6 there is no delay.

Attach an example and a screenshot of the results.

[test_delay_feature.zip](https://github.com/intuit

[2021-04-08 02:45] ptrthomas commented on #1544
@go4no I consider this a won't fix. also it is likely that there won't be a delay if you use "shared scope" - directly call without assigning to a variable. we have to snapshot variables and create a new javascript context for each call (and this gets complicated for `callonce` and `callSingle()` etc) which probably explains the delay

you are most welcome to look into the code, and contribute a f

[2021-04-08 03:24] govindsin opened #1545 "Unable to use __loop method for feature file"
Hi Team,

I am unable to use __loop method to loop feature file directly.
Whenever I tried to use __loop, it throws an error "__loop" is not defined. Please assist.

[2021-04-08 03:29] ptrthomas commented on #1544
@go4no on second thoughts will re-open and explore if we can optimize the second-level calls

[2021-04-08 04:10] ptrthomas commented on #1545
@govindsin sorry you have to follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-08 04:10] #1545 closed

[2021-04-08 04:35] govindsin opened #1546 "__loop method not working in Karate version: 0.9.2"
Hi Peter,

I am trying the same way mentioned via below link, but still unable to loop:
https://stackoverflow.com/questions/51017356/how-to-loop-with-in-the-feature-file-in-karate

Please do let me know in case I am missing anything.

Feature:
 Background:
   * def jsonPathTest = Java.type('com.test.utility.FileUtility').getNames()

 Scenario:
   * def jsonName = karate.get('jsonPathTest[' + __loo

[2021-04-08 04:39] ptrthomas commented on #1546
closing as duplicate of #1545

I'm sorry we insist on the rules. but first read the documentation: https://github.com/intuit/karate#built-in-variables-for-call

[2021-04-08 04:39] #1546 closed

[2021-04-08 04:48] ptrthomas commented on #1544
I just confirmed that if you convert all the:

`* def delayed09 = call read('classpath:test/print.feature') arrNum50`

to:

`* call read('classpath:test/print.feature') arrNum50`

there is no problem at all. can you confirm this @go4no ? in which case I will close this as a won't fix. there are multiple ways in which you can loop within a karate feature without overhead - such as the dynamic scena

[2021-04-08 05:26] ptrthomas commented on #1544
<img width="980" alt="image" src="https://user-images.githubusercontent.com/915480/113972581-73117500-9858-11eb-81bc-09e0e34c2f96.png">

for those who'd like to investigate this in future - commenting out this one line solves the problem: https://github.com/intuit/karate/blob/ce6d887694e799fa3728620f015d9395d193cb25/karate-core/src/main/java/com/intuit/karate/core/ScenarioEngine.java#L2042

I susp

[2021-04-08 05:38] govindsin commented on #1546
Hi Peter,

I read the document you mentioned and followed the same way, but looks like I am missing something and unable to loop.
The example mentioned to store values in json and iterate --- e.g. kittens

but what i am trying to do is to get the values from the excel sheet and iterate that row accordingly. For iterating the rows, I tried to use __loop method to get the row number via iteration va

[2021-04-08 05:43] go4no commented on #1544
@ptrthomas

As you mentioned, when using "shared scope", we have confirmed that there is no problem.

However, in my project configuration, recursive calls are required.

This is a method that configures the http request as an independent _request.feature and processes the request and response result confirmation in a separate feature.
Some of the actual sources are attached to aid in understandin

[2021-04-08 06:11] ptrthomas commented on #1546
yes, read the docs: https://github.com/intuit/karate#data-driven-features

[2021-04-08 06:13] ptrthomas commented on #1544
@go4no yes. if you really need recursive calls, you will have to help us change the code, right now I'm treating this as low priority

[2021-04-09 02:58] DobaKung opened #1547 "Karate modifies response body but does not re-calculate content-length header"
I have a scenario set up as follows:

**sample.feature**
[code]

sample-api returns the following response with `Content-Length` of 541.

[code]

When calling through Karate, Karate returns to client the following body with the same `Content-Length` of 541 (where the number should be less because this response body is shorter than the one from sample-api)

[code]

Is this an expected behaviour?

[2021-04-09 04:08] ptrthomas commented on #1547
@DobaKung in the mock / proceed, quite possible we haven't handled this can you try setting the content-length manually or to null and see if that unblocks this ? we can consider improving this part of the code. a sample would help expedite: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-09 04:44] DobaKung commented on #1547
Thanks for the reply @ptrthomas! Since sample-api is an external API which I cannot alter, I would be able to set `Content-Length` only on Karate side. I have tried setting it this way:

[code]
which resulted in error: `[nioEventLoopGroup-3-2] 652904513 ERROR com.intuit.karate - closing connection: value`.

I have also tried to re-calculate the length using `xmlstring` as follows:

[code]
This way

[2021-04-09 09:53] DobaKung commented on #1547
Sorry, my bad. I just realised that I was not using the latest version of Karate (it was 0.9.6) so I updated to the latest version (1.0.1) and the issue seemed to be fixed.

May you close the issue now 👍

[2021-04-09 10:11] ptrthomas commented on #1547
@DobaKung thanks for the update !

[2021-04-09 10:11] #1547 closed

[2021-04-09 16:16] babusekaran opened #1548 "[mobile] support `wait` APIs similar to web"
From https://stackoverflow.com/questions/67020785/i-need-to-dynamic-wait-solution-in-karate-mobile-framework-instead-of-delay

Right now `wait` APIs in karate UI like `waitFor()`, `waitUntil()`, `waitForText()` is only supported from web and mobile-web, should support them on mobile apps as well.

[2021-04-09 18:22] ptrthomas commented on #1465
just remembered a hack that may elegantly solve the requirement here. you can wrap anything in karate in JS try-catch blocks and handle errors manually. and you can wrap this into some reusable function etc.

[code]

[2021-04-09 21:57] treboriwa opened #1549 "Unable to terminate driver instance"
In the following example, I attempt to quit the _driver_ before invoking the _robot_, but whether I use _driver.close()_ or _driver.quit()_ the _driver_ instance remains active:

[code]
And here's the output:
[code]
Note the **_14:02:22.497 [main]  WARN  com.intuit.karate - 'driver' is active, use 'robot.' prefix for robot methods_** line in the log.

[2021-04-10 23:12] Sourabh25 opened #1551 "Getting javax.net.ssl.SSLHandshakeException with 1.0.1 version"
I am observing the below SSL Handshake exception

 Running conduitApp.ConduitTest
19:04:35.430 [main] DEBUG com.intuit.karate.Suite - [config] classpath:karate-config.js
19:04:36.598 [main] INFO  com.intuit.karate - karate.env system property was: null
19:04:36.985 [main] DEBUG com.intuit.karate - request:
1 > GET https://conduit.productionready.io/api/tags
1 > Host: conduit.productionready.io
1 >

[2021-04-11 04:07] ptrthomas commented on #1551
works for me out of the box:

[code]

[2021-04-11 04:07] #1551 closed

[2021-04-11 04:12] ptrthomas commented on #1549
@treboriwa I'll take some time to look at this. do consider going through the code and submitting a PR

[2021-04-11 15:22] Sourabh25 commented on #1551
I am working behind a proxy. Could you please help me resolving this issue. As I mentioned I tried various options which I could find but none of them worked for me.
What should be the next steps for debugging this issue.

[2021-04-11 15:25] ptrthomas commented on #1551
@Sourabh25 please search stack overflow. this is nothing we can help you with: https://stackoverflow.com/search?q=%5Bkarate%5D+proxy

[2021-04-12 10:26] Dyadko opened #1552 "call() and callSingle() ignores scenario by tag"
Version: 1.0.1

After an update to the latest 1.0.1 `karate-config.js` expression like `karate.callSingle('classpath:OAuth.feature@auth=qaservice', config)` (as used to work in 0.9.6) is ignored. _OAuth.feature_ was configured as Scenario Outline with tagged examples. Changing _OAuth.feature_ to have only one scenario, the call() and callSingle() works well - `karate.callSingle('classpath:OAuth.fe

[2021-04-12 10:54] ptrthomas commented on #1552
@Dyadko kindly submit a way to replicate: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

hope that is fair as we have been asking users to try RC versions for MONTHS now

[2021-04-12 12:21] ptrthomas commented on #1384
@babusekaran this is a duplicate of #1548 right ?

[2021-04-12 12:34] babusekaran commented on #1384
@ptrthomas yes, `retry()` should now work for mobile

[2021-04-12 14:33] ptrthomas commented on #1544
reopening anyway and cc @joelpramos - we will look at this - because even if a rare use-case, we'd like the best performance

also I had a look and the performance impact is pretty significant :|

thanks for reporting this @go4no

[2021-04-12 20:33] reini2150 opened #1553 "NPE Chrome.start()"
Several static Chrome.start() methods with no ScenarioRuntime object "sr" are throwing a NPE because the "sr" eventually is provided to the DriverOptions constructor which tries to pull a logAppender from it.

[2021-04-12 20:47] Dyadko commented on #1552
karate-config.js
[code]
basic-auth.js
[code]
OAuth.feature
[code]

[2021-04-12 20:55] Dyadko commented on #1552
sorry @ptrthomas , had not time during the day to add samples
btw, what channel do you use to ask users to try RC?

[2021-04-13 04:30] ptrthomas commented on #1552
@Dyadko can I request a zip or even a clone-able git repo is fine. why is explained in detail in the link I provided.

[2021-04-13 04:31] ptrthomas commented on #1553
follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-13 11:06] maheshchaudhar opened #1554 "Getting java.net.URISyntaxException: Illegal character error when we pass '{' in one of the query parameter for get request."
Getting  java.net.URISyntaxException: Illegal character error when we pass '{' in one of the query parameters for "GET" request.

Example : Try : http://127.0.0.1:8090/mock-server/Test/v1/address/validate?address=Test{Test}

[2021-04-13 11:09] ptrthomas commented on #1554
@maheshchaudhar please ask these kinds of questions on stack overflow, here's an example: https://stackoverflow.com/a/67068873/143475

[2021-04-13 11:09] #1554 closed

[2021-04-13 11:17] ptrthomas commented on #1552
@Dyadko also after reading your question carefully - I am surprised that this used to work in 0.9.6 if I understood this correctly

as far as I know, the "cache key" for `callSingle()` has always been the string-expression that is the first argument.
so it is now working as designed anyway. you may be able to achieve the "variation" of behavior by using the second argument

so I'm still not sure i

[2021-04-13 11:33] maheshchaudhar commented on #1554
Raised question :
https://stackoverflow.com/questions/67074059/karate-mockserver-getting-java-net-urisyntaxexception-illegal-character-error

On Tue, 13 Apr 2021 at 16:39, Peter Thomas ***@***.***> wrote:

[2021-04-13 13:49] aleruz opened #1555 "`logPrettyResponse` configuration parameter is not considered"
`logPrettyResponse` is not considered when configured, either in `karate-config.js` or in the feature itself.
Looking at the code I found the issue and will submit a PR to fix it.

[2021-04-13 14:06] aleruz commented on #1555
Tested it locally in my project.

[2021-04-13 14:10] ptrthomas commented on #1555
@aleruz thanks ! we keep the issue open until we release the official version with the fix

[2021-04-13 17:54] aleruz commented on #1555
ok :) sorry.

[2021-04-14 18:56] DeepTom opened #1557 "How to call karate features present in a dependency JAR from another karate feature file"
I would like to re-use karate feature file present in a JAR (added as dependency to the working maven java project).
In the documentation I can see the following :

Advanced users who build frameworks on top of Karate have the option to supply a karate-base.js file that Karate will look for on the classpath:. This is useful when you ship a JAR file containing re-usable features and JavaScript / Ja

[2021-04-14 18:58] ptrthomas commented on #1557
use stack overflow please: https://stackoverflow.com/a/58339662/143475

[2021-04-14 18:58] #1557 closed

[2021-04-14 19:22] ericdriggs opened #1558 "Java type in karate-config with parallel runner causing error: Multi threaded access"
Given using config = karate.callSingle to define a Java.type variable
When execute parallel runner,
Then get reliable "Multi threaded access requested by thread" error

MVC repo (tests pass when run individually, failure when run in parallel):
https://github.com/ericdriggs/karate-parallel-runner-concurrent-access/

Seems related to https://github.com/oracle/graal/issues/631

[2021-04-14 20:39] ericdriggs commented on #1558
Think I can probably do a workaround by defining a javascript object and then defining individual functions on that javascript object to simulate static method interop.
Still, an interesting race condition, and a crying shame that graal has such a ridiculous default without a flag to turn it off.

[2021-04-15 02:02] ptrthomas commented on #1558
thanks, this helps cc @joelpramos

[2021-04-15 05:54] DeepTom commented on #1557
@ptrthomas , Sure. https://stackoverflow.com/questions/67102946/how-to-call-karate-features-present-in-a-dependency-jar-from-another-karate-feat

The link you shared unfortunately does not answer the question. I would really appreciate if you could answer the question I posted on stackoverflow.

[2021-04-15 20:13] Dyadko commented on #1552
ok, I've created a repo with all prepared. Sorry, was busy...
https://github.com/Dyadko/karate-call-feature-by-tag

[2021-04-16 06:14] Artashes1996 opened #1559 "Why we use Karate-config.js but technologies are java (Maven,Gradle)"
Why we use Karate-config.js but technologies are java (Maven,Gradle)

[2021-04-16 06:18] ptrthomas commented on #1559
@Artashes1996 PLEASE don't double post questions like this. answered on stack overflow. this is your last warning

[2021-04-16 06:18] #1559 closed

[2021-04-16 07:26] ptrthomas commented on #1552
@Dyadko many thanks for the example, because this would have been impossible to understand otherwise. fixed. if you can follow the development guide and confirm that would help: https://github.com/intuit/karate/wiki/Developer-Guide

cc @joelpramos in case related to anything you are looking at. this is an edge case where the tag is at an `Examples` row level and I added a check to care about tags

[2021-04-16 14:48] ptrthomas commented on #1549
@treboriwa so I realized that there's no problem other than you can't use the "short cut" notation any more. anyway, I've fixed this but haven't tested - so please follow the developer guide and let us know: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

I don't know now if you expect the reverse to work and right now there's no way to "quit" a robot instance. I don't consider eithe

[2021-04-16 15:27] ptrthomas commented on #1558
@ericdriggs so - this is a won't fix. I've added this below to the documentation. given the way graal js behaves today there is no way we can get a java instance created on one thread to work across threads. anybody is welcome to find a way.

I've tweaked our existing parallel troublemaker test to replicate this if you comment out one line in the offending karate-config.js.

<img width="872" alt="

[2021-04-16 15:34] treboriwa commented on #1549
@ptrthomas thank you for looking into this and a quick turnaround! I'll take it for a spin soon and report back if I run into any issues. Regarding the "short cut" notation, I'm assuming you're referring to keywords used by both - driver and robot, like this one `* click('Clear')`? In the above example, once the driver is in fact terminated, the "short cut" notation should still work, since at tha

[2021-04-16 15:42] ptrthomas commented on #1549
@treboriwa I mean that `robot.this()` and `robot.that()` will continue to work no matter what. we do a massive hack internally so that you can skip the `robot.` part when you don't mix a driver which is 99.9% of users.

[2021-04-16 16:01] treboriwa commented on #1549
Ha! OK, got it. Thanks again, @ptrthomas

[2021-04-16 17:11] ptrthomas commented on #1544
@go4no I think it is fixed. would you be able to build from the `develop` branch and test ? https://github.com/intuit/karate/wiki/Developer-Guide

@joelpramos had a hunch that we were re-processing cyclic references, so that explains the change, which seems to be working well

[2021-04-16 17:42] ptrthomas commented on #1553
reopening. would have been nice if at least the version was mentioned, but hey

[2021-04-16 17:51] krstcs opened #1560 "Dynamic Scenario Outline does not evaluate background section"
When evaluating a dynamic Scenario Outline, the Background section isn't evaluated correctly and the first action in the scenario outline will throw an exception: `org.graalvm.polyglot.PolyglotException: ReferenceError: "<method called>" is not defined`.

[search.feature.txt](https://github.com/intuit/karate/files/6327058/search.feature.txt)

The attached file shows the problem in the last scenari

[2021-04-16 18:26] ptrthomas commented on #1560
tagging @joelpramos to see if that makes it assignable

[2021-04-16 18:57] joelpramos commented on #1560
I don't have an option to self-assign but maybe after this comment. I'm checking this.

[2021-04-16 19:00] joelpramos commented on #1544
Good call ... I'm certain if that's not it, it's definitely a contributing factor, good fix

[2021-04-16 20:57] reini2150 commented on #1553
Didn't mean to be impolite but apparently managed to. So sorry for that and a big thank you for fixing it and your work in general.

[2021-04-17 00:12] aaronjwhiteside opened #1561 "Path encoding issue after upgrade from 0.9.6 to 1.0.1"
From reading the documentation it seems that paths should be url encoded by Karate.

This example works in 0.9.6 but fails after upgrading to 1.0.1.

[code]

with the following error:

[code]

Looking at the spec, https://tools.ietf.org/html/rfc3986, the character ``|`` does not appear to be special?

Changing the scope variable to be ```'root%7C'``` seems to fix the problem and karate is happy, b

[2021-04-17 04:24] ptrthomas commented on #1561
@aaronjwhiteside closing as won't fix. we just use apache behind the scenes. you are welcome to provide a PR to fix it

[2021-04-17 04:26] ptrthomas commented on #1560
@joelpramos yeah that worked ! learnt something today

[2021-04-17 12:38] aaronjwhiteside commented on #1561
@ptrthomas  I'm ok with taking a stab at fixing this.

But I just want to make sure I'm fixing the right thing..

From the README.md

I take this to mean that if I use the Comma delimited style that every "part" of that path should be escaped.

For example:
[code]
Should come out like this: ```abc/%2F/123%7C/%26/%3F/%3D```

But
[code]
Should be left alone? I have a feeling that isn't right.

Becau

[2021-04-17 13:46] ptrthomas commented on #1561
@aaronjwhiteside all this is fine. in 1.X we decided to simplify what "http client" implementations need to handle and all the processing that the http-request-builder does ends up as a [`HttpRequest`](https://github.com/intuit/karate/blob/bd38d87cf2b9a397bcd2b304ee9a70a1da83c2ec/karate-core/src/main/java/com/intuit/karate/http/HttpRequest.java) object.

now in this object, the path-chunks and eve

[2021-04-17 14:17] ptrthomas commented on #1561
@aaronjwhiteside one more thing, I'm open to adding keywords like `pathEncoded` and `urlEncoded` to complement `path` and `url` - as a way to "bring your own encoding" - perhaps that may simplify the rules ?

[2021-04-18 04:07] aaronjwhiteside commented on #1561
@ptrthomas So I think I have a grasp on it now. The problem is that here we're expecting Apache Http Client to know how to encode a full url we pass to it.

But it expects the URL to already be encoded, and performs no translation/encoding on it.

They provide a utility to help users in this regard:
https://javadoc.io/doc/org.apache.httpcomponents/httpclient/latest/org/apache/http/client/utils/URI

[2021-04-18 04:19] ptrthomas commented on #1561
reopening. thanks for the research, that helps. agree that `url` should remain as-is and `path` should always encode. there is a question about what if users append the forward-slash via `path` which unfortunately is quite common, many users don't realize that the comma-delimited way is preferred. so not very sure about the empty trailing path idea, I would keep it simple - or which is why we can

[2021-04-18 04:31] aaronjwhiteside commented on #1561
I think if users append the forward slash to the first path segment, we continue to strip it off as is done right now, just to keep that part backwards compatible.

The trailing slash is actually an artifact of how the current code is written and is the recommended way when using Apache's `URIBuilder` to append a trailing slash without having it be escaped by appending it to the end of the last pa

[2021-04-18 04:39] ptrthomas commented on #1561
@aaronjwhiteside all good, so a PR with some extra tests should be fine. I just worry about teams I've seen doing things like `* path 'foo/bar/baz'`

[2021-04-18 04:54] ptrthomas commented on #1561
@aaronjwhiteside thinking more about my example `* path 'foo/bar/baz'` I don't mind us forcing a breaking change in the next version so that this stops working, this has always bugged me

[2021-04-18 06:35] treboriwa commented on #1549
I tested it with this fix applied and it works as expected. Thanks again for the quick turnaround @ptrthomas

[2021-04-18 13:47] joelpramos commented on #1558
@ptrthomas far from me to say this solves everything (cause you know, Graal) but either of the added line in the `catch` solves this specific reproduce unit test you added (either `this.JS.context.asValue(value)` or the commented line `Value.asValue(value.asHostObject())`, both work).

I think it's worth adding the second on the catch and slightly modify the warn message / catch method.

![image](

[2021-04-18 14:23] ptrthomas commented on #1558
@joelpramos that's a neat trick and I'm still not sure how it works, and glad I had the tests lined up. do review !

[2021-04-18 16:10] Dyadko commented on #1552
@ptrthomas , verified. works well.

[2021-04-19 08:58] cba64 commented on #1333
Hello @ptrthomas,
We tried to upgrade but we are now facing this issue:
[code]
So far we did not find the solution ... so we thought that maybe you would have an idea about that ?

[2021-04-19 09:01] ptrthomas commented on #1333
@cba64 nope. follow this process please: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-19 12:01] aaronjwhiteside commented on #1561
hi @ptrthomas  I've opened a draft PR, https://github.com/intuit/karate/pull/1565

Still working through some issues:

karate-demo passes, but karate-mock-servlet fails

[code]

[2021-04-19 12:11] ptrthomas commented on #1561
@aaronjwhiteside yes, that was in response to a very old issue raised - and since I've felt that we may be doing "too much"

take a look at the server-side unpacking of the request which uses armeria / netty and you can see what I mean, and I did that in a hurry:
https://github.com/intuit/karate/blob/7cce901cdcf90d1718f51b94f5bc737859350063/karate-core/src/main/java/com/intuit/karate/http/Request.

[2021-04-19 12:22] aaronjwhiteside commented on #1561
@ptrthomas OK, I'll take a look tomorrow, getting late here :)

[2021-04-19 17:13] rooeque commented on #1333
@cba64 which scala version are you on? karate 1.+ uses gatling 3.5, which is only binary compatible with Scala 2.13

[2021-04-20 03:08] dinesh19aug opened #1566 "Karate netty: Multiple feature file -m (mocks) is rolled back"
Karate netty no longer accepts multiple feature file. This feature was added and merged in 0.9.6 as part of https://github.com/intuit/karate/pull/1159.

In 1.0.0 FeatureServer was replaced MockServer in Main.java class and this https://github.com/intuit/karate/issues/1281 change rolled back the feature.

Please add the option of accepting multiple feature file backs.
**Diff:**
_-- @Option(names =

[2021-04-20 03:34] ptrthomas commented on #1566
this is a `wontfix` because it added more complexity and we re-wrote the mock from scratch. please contribute code if you want this back

[2021-04-20 03:51] dinesh19aug commented on #1566
@ptrthomas  Can you please provide pointer where should I start looking? I see that FeatureServer has been replaced by MockServer. If you can just list key files that I can start with to add this change back, I can work on it.

[2021-04-20 04:09] ptrthomas commented on #1566
@dinesh19aug sure, here is an explanation on what went behind this change and thoughts on how it can be brought back: https://github.com/intuit/karate/issues/1338

and the `MockHandler` is the main file: https://github.com/intuit/karate/blob/4db11f0012aa89a6de008550ce50596e0457eb06/karate-core/src/main/java/com/intuit/karate/core/MockHandler.java

when you submit a PR you can use this issue as a r

[2021-04-20 06:32] srajeshw opened #1567 "Integration of karate framework with Jenkins"
While integrating karate framework with Jenkins if we pass thread count more than 1 in test runner parallel, it's not working. It's working fine with thread count 1, if we provide thread count as 2, giving error, any specific reason?

[2021-04-20 07:29] ptrthomas commented on #1567
@srajeshw there are many who run parallel suites without any problem. sounds like a limitation of your jenkins env, so please work with your ops team or equivalent. if you can replicate following the process here we will fix, but otherwise you are on your own: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-20 07:29] #1567 closed

[2021-04-20 11:53] aaronjwhiteside commented on #1561
@ptrthomas

So the issue turns out to be that http servlet engines are required to decode the url before passing it to servlets..

A quick hack of, in `Request.java` gets past that particular issue but causes other problems.

It's not trivial to decode a url, some things need to be decoded but essentially ignored by the servlet engine, the case of `/` is a good example, a servlet engine is not sup

[2021-04-20 12:08] ptrthomas commented on #1561
@aaronjwhiteside thanks, the changes look ok and thanks for the readme edits. I'll wait for the ci to be green then

cc @joelpramos for a second opinion, especially about the proposal to break users who have mixed forward-slashes into `path` usage.

[2021-04-20 13:52] cba64 commented on #1333
@rooeque Indeed, thank you
Well @ptrthomas, if no versions of karate is to be compatible with gatling 3.4 / scala 2.12 (I did not understand it that way when reading this issue, and I did not see that information in the docs), then we will try to do the gatling/scala upgrade in order to be able to use it again (hoping we'll manage to finally get out of this little 'infinite loop' version game :) )

[2021-04-20 13:55] ptrthomas commented on #1333
@cba64 ha ha, very funny. the reason I point people to the submit-issue page is because comparing your code with the current version of the reference-example is the fastest way to solve issues, but hey - to each his / her own

p.s. this is an oss project, PR-s for the documentation are most welcome

[2021-04-20 14:04] cba64 commented on #1333
@ptrthomas merely saying that this issue should be tagged as won't fix instead of fixed

[2021-04-20 14:07] ptrthomas commented on #1333
@cba64 nope I consider this `fixed` and IMO anyone who reads the whole thread would come to that conclusion. you had plenty of time to provide feedback and contribute to the docs or release notes and unfortunately that didn't happen

[2021-04-20 16:32] ptrthomas opened #1568 "match contains with regex on rhs as string fails"
refer: https://stackoverflow.com/q/67181618/143475

to replicate:

[code]

workaround:
[code]

[2021-04-20 18:40] kalpanagudi commented on #1446
I have tried continueOnStepFailure by taking latest karate version which is 1.0.0 but the step is failed with unrecognized configure key error.
Apart from adding this * configure  continueOnStepFailure = true to feature file anything should taken care on any other places?

[2021-04-21 07:10] xudong-yang opened #1569 "read function does not handle a path with @ symbol properly"
An @ symbol can not be included in the path of `read` function.

That is to say:
[code]
won't work.

I understand the string following an @ symbol is interpreted as the tag, so [the FileUtils.parsePathAndTags method simply divides the path into 2 parts by the first @ symbol](https://github.com/intuit/karate/blob/789e8c703b2359a6fd40f284c5ca81e475fa5054/karate-core/src/main/java/com/intuit/karate/c

[2021-04-21 07:16] ptrthomas commented on #1569
@xudong-yang I have no hesitation in tagging this issue as a `wontfix`. anyone is welcome to contribute a PR to fix this or update the docs with all the fine-print. thanks for reporting this

[2021-04-21 08:07] ptrthomas commented on #1569
added to project board: https://github.com/intuit/karate/projects/3#card-59508155

[2021-04-21 15:01] ivangsa commented on #1566
Hi,

@ptrthomas @dinesh19aug  we are also interested on multiple mock features, something simple, first feature in order that matches an scenario serves de request..

@dinesh19aug if you can help me test this https://github.com/ivangsa/karate/commits/features/mockHandler

other improvements we are interested also are configuring a prefix (or contextPath) which is already include above
and runtime-

[2021-04-22 06:57] ivangsa commented on #1566
@dinesh19aug yes we have a similar use case, some endpoints are complex enough to go on a separate file, while others are simple and can be combined on one feature...

The refactoring is just in the MockHandler, instead of keeping just one feature/scenario-runtime variable I create a list of features/runtimes... but each are instantiated and executed just the same... everything else is just augmen

[2021-04-22 07:15] aaronjwhiteside commented on #1561
@ptrthomas

Just pushed a new commit.

Long story short tracked down the issue to Spring, it was decoding the path info using Latin-1 instead of UTF-8.

Two changes,
1) in the mock servlet case, don't allow spring to decode the pathInfo, we set it explicitly.
2) in the normal spring boot + tomcat case, don't use `@PathVariable` that too was being decoded using Latin-1 instead of UTF-8.
2.1) becaus

[2021-04-22 07:18] ptrthomas commented on #1561
@aaronjwhiteside great, thanks for the research. if possible - can you suggest a way teams can scan their existing feature files to see if any usage of `path` has a forward-slash mixed in on the right, which can be part of the release notes. maybe a simple regex find in the IDE etc

[2021-04-22 07:25] aaronjwhiteside commented on #1561
Something like this should work:

[code]

[2021-04-22 12:19] joelpramos commented on #1561
I have mixed feelings about this change - primarily as I find comma separated paths counter intuitive as an HTTP path can definitely have forward slashes (regardless of interpretation for RESTful this is observed with SOAP and just in general across the internet).

My feeling is that the impacted users of this change will vastly exceed the number of users with needs for special encoding.

Would we

[2021-04-22 13:20] ptrthomas commented on #1561
@joelpramos agree. how about we introduce a new keyword called `pathParams` that will do things the "strict" way

[2021-04-22 23:11] dinesh19aug commented on #1566
Ok. I will test it and add comment by Friday Eod

[2021-04-23 01:22] aaronjwhiteside commented on #1561
@joelpramos

Trying to understand this statement, are you saying that a URL of `http://something.com/path//otherpath/finalpath` is valid?

The changes to karate don't preclude that,

[code]

Without correct encoding, I feel Karate's `path` step is meaningless? Without encoding all it provides is a sugar syntax over `+` for string concatenation?

And if you don't encode anything, how can we say it'

[2021-04-23 18:50] joelpramos commented on #1561
@aaronjwhiteside

So starting from the basics I don't think most people need to worry about URL encoding (if we consider most users use Karate for API testing of SOAP or REST APIs and there's a `param` keyword already for GET requests). This is obviously not 100% accurate for paths like `http://something.com/books/id-of-book-with-?-specialcharacter`. I'd say that in general this is mostly common i

[2021-04-24 02:29] dinesh19aug commented on #1566
@ivangsa  - I verified the solution fix and able to make use of multiple feature file after creating stand alone jar. Added some code refactoring for big methods in MockHandler. Please review PR - https://github.com/ivangsa/karate/pull/1

[2021-04-24 02:39] dinesh19aug commented on #1566
@ptrthomas / @ivangsa - There is another enhancement which I think would be very useful.
Summary:
Given a directory, iterate recursively and find all the feature file. Automatically add the multiple feature file.
EX:
/Users/dinesh/karate/featureDir
 - api1
      - ap1.feature
      - api1-feature1-response.json

 - api2
      - ap2.feature
      - api2-feature1-response.json

Assume that **-F** ==

[2021-04-24 06:01] ptrthomas commented on #1566
@dinesh19aug I'm not sure about this especially how to determine the order of finding files. I would prefer explicit and via the api.

[2021-04-24 08:37] ivangsa commented on #1566
@dinesh19aug if you can guaranty same order every time (i.e alphabetical) it should be ok as long a there is not "default" scenario..
Maybe you can reuse "--mocks" options as it is a list of  `File` and can hold a directory as well

For me it's ok... I will merge your changes now so you can manage this on top if @ptrthomas it's ok with that

[2021-04-24 13:22] staffier opened #1571 "GET requests to path '__admin/stop' no longer stop a mock server"
Instead, such requests are interpreted as any other, resulting in a 404 error (assuming the request path/method won't match any of your scenarios).

[KarateIssue.zip](https://github.com/intuit/karate/files/6369656/KarateIssue.zip)

[2021-04-24 16:45] ptrthomas opened #1572 "out of memory reported for large payloads - needs investigation"
reported here: https://stackoverflow.com/q/67244491/143475

[2021-04-24 17:29] iamsethi commented on #1572
The issue can be replicated by running below scenario,i've save the expected response in a github gist and i am asserting this against the actual response i get from [api](https://jsonplaceholder.typicode.com/photos)

`    Given url 'https://jsonplaceholder.typicode.com/photos'
    When method GET
    Then actual_resp = response
    And status 200
    Given url 'https://gist.github.com/iamsethi/ba

[2021-04-24 17:52] ptrthomas commented on #1572
@iamsethi as I said on stack overflow this needs investigation. if you can help great, else be prepared to stay on the old version for some time

[2021-04-24 19:18] aleruz commented on #1572
Tried on mac, with jdk 8 and jdk 11. Could not reproduce. Maybe you have small amount of memory assigned to the jvm and so the heap is too small?
Which jdk did you use?

[2021-04-25 05:51] chaudharydeepak commented on #1572
I was able to replicate the issue - and it only resolved by `-Xmx6g` on my mac running `OpenJDK Runtime Environment GraalVM CE 21.0.0 (build 11.0.10+8-jvmci-21.0-b06)`

Issue is not reading bigger json response from endpoint or loading local json file, but actual match step itself: `Then match response  == '#(^^expected_resp)'`

<i>PS - i would normally prefer any api return paginated responses vs

[2021-04-25 08:32] ptrthomas commented on #1572
@chaudharydeepak great, this is very helpful. yes, no surprises that this is a "match contains" on a large array

maybe we don't need to do anything. but if you have time, do see if there is any opportunity to create less maps etc in `MatchOperation`.

@iamsethi so for now, either increase memory or change your test. comparing a large json array like this is absolutely not recommended. normally yo

[2021-04-25 08:33] iamsethi commented on #1572
openjdk 11.0.4 2019-07-16 LTS
OpenJDK Runtime Environment Corretto-11.0.4.11.1 (build 11.0.4+11-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.4.11.1 (build 11.0.4+11-LTS, mixed mode)

[2021-04-25 08:34] ptrthomas commented on #1572
@iamsethi please see my solution - which is to sort large JSON arrays and then do an exact match. I am closing this issue

[2021-04-25 08:34] #1572 closed

[2021-04-25 09:02] iamsethi commented on #1572
yes workaround worked.Thanks @ptrthomas

[2021-04-25 12:09] ptrthomas commented on #1458
adding one more edge case from stack overflow: https://stackoverflow.com/q/67252838/143475

adding this to the project board so we don't miss these: https://github.com/intuit/karate/projects/3#card-59780883

[2021-04-26 01:08] dinesh19aug commented on #1566
@ptrthomas / @ivangsa  - I am trying to understand why would ordering matter here? Ex - I have 10 feature files, why would  ordering matter if feature file 10 is loaded before feature file 1? The code is eventually, just creating a list of scenarios from all files.  If you can provide a criteria, I can provide an option load the file in order - by name(asc/desc), number of scenarios in each file o

[2021-04-26 03:14] dinesh19aug commented on #1569
@ptrthomas / @xudong-yang - I have added changes to handle this issue. Please review the below PR
https://github.com/intuit/karate/pull/1573

[2021-04-26 04:14] ptrthomas commented on #1566
@dinesh19aug fine, fine, you all can do what you want - if you read the previous threads it may be clear why the previous PR submitter was very keen on having "precedence rules" - also people may use a blank scenario to "catch all", what happens if the same path appears in 2 files, and what is the order in which you recurse sub-directories

I'd like to stick to `--mock` if you don't mind unless yo

[2021-04-27 11:33] FlashBytes opened #1576 "Header Content of "Content-Type" cannot be set to use capital Letters"
First things first: Thanks to the creator, developer and maintainer of KarateDSL: This is a lot of work.

**Situation:**

I need to test if a service is compliant to https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2 and can use lower case characters but also works if capital letters are used. I want to test it by sending header values with lower case and upper case characters.

**Compl

[2021-04-27 12:05] ptrthomas commented on #1576
@FlashBytes that's weird, I didn't expect to see the header values modified like this and I would consider this a bug.

so now I'll need you to follow this process and especially since it is not clear what version you are on etc, will re-open once we have a way to replicate: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-27 12:05] #1576 closed

[2021-04-27 16:35] gunjanvora opened #1577 "File is not uploading in iframe"
I am trying to upload a file in iframe. while switching the frame and running driver.inputFile command its uploading in main html.
Expected: file should be uploaded in iframe form
Attached: ui-test.zip
run:
mvn clean test -Dtest=UiRunner

[ui-test.zip](https://github.com/intuit/karate/files/6386111/ui-test.zip)

[2021-04-27 17:35] ptrthomas commented on #1577
tagging as `help wanted` - anyone listening: do help if you can

[2021-04-27 19:37] FlashBytes commented on #1576
[myproject.zip](https://github.com/intuit/karate/files/6387083/myproject.zip)

Hello @ptrthomas  I added a zip and I was using the instructions from your link. The Zip contains the demo project for Maven.

I used KarateDSL version 0.9.6.

**How to reproduce:**
1. Extract the project from the zip.
2. Modify the users.feature by using a URL where you can send a PUT request to. I was using 127.0.0.1

[2021-04-28 03:30] ptrthomas commented on #1576
great, that's all that I needed to hear :) thank you for the way to replicate. we actually re-wrote a lot of the header handling, so it is good to know these edge cases have gotten sorted out. one request is please follow the project feeds (twitter / linkedin) and try the RC versions so that we get early feedback

[2021-04-28 06:41] aaronjwhiteside commented on #1561
I want to point out here that there is the correct way to encode things and the not correct way. Karate prior to 1.0.0 was "mostly" correct in that it encoded all special characters in the path with the exception of `/`. So from my point of view this is a regression... special characters (ignoring `/`) were encoded correctly.

I think if we want to be "correct", we should encode all the special ch

[2021-04-28 12:44] joelpramos commented on #1561
For VS is not we "need" it's more we "should" :) Fancy colors go a long way in avoiding frustration.

I'm ok with the `configure pathEncoding` keyword. I think it achieves everything we all agreed. Wondering whether we keep three values `none`, `simple`, `encoded`, where `none` is 1.0.0, `simple` is 0.9.6 (enabled by default) and `encoded` is the proper encoding to avoid regression for 0.9.6 - wha

[2021-04-28 14:33] ptrthomas commented on #1561
quick 2c I don't like the configure option that much, it is un-necessary bloat
I'm proposing that we break users. but intro a `raw path` keyword as @aaronjwhiteside suggested so that the breaking change is to type 4 characters where needed for the old behavior. also trying to lean hard towards doing the right thing wdyt :|

[2021-04-28 14:46] joelpramos commented on #1561
I'm also good with that as it's a very simple/straightforward path for upgrade. Might need to bump the minor version and update the Upgrade guide to represent the breaking change?

[2021-04-28 14:52] ptrthomas commented on #1561
yes, I'm guessing this would be 1.1.0 and the release notes would mention

[2021-04-29 14:39] yunjoopark opened #1578 "karate test with multipart/mixed"
I upgraded the library version to `1.0.1`, but I faced an issue.
I'm going to test an API that requires both `multipart file` and `multipart files`.
The scenario should be with the `Content-Type = 'multipart/mixed'`. However, it fails.

As shown in the below example, `multipart/mixed` is run with `@mock-servlet-todo`.
https://github.com/intuit/karate/blob/ae199b270b9f566847d275760d779456ff7d5289/k

[2021-04-29 14:42] ptrthomas commented on #1578
@yunjoopark it doesn't work for the mock-servlet - but should work fine in "normal" cases. anyway please follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

we spent a lot of time asking users to try RC versions. you may need to continue using an old version - but contributing code and help speed up a release

[2021-04-29 14:42] #1578 closed

[2021-04-29 14:45] yunjoopark commented on #1578
Does `multipart/mixed` work?

[2021-04-29 14:46] ptrthomas commented on #1578
@yunjoopark it is supposed to work. but maybe there is a bug. so the answer is "I don't know". the best thing you can do is follow the process in the link above so that we can fix the issue. does that make sense ?

[2021-04-29 18:29] yunjoopark opened #1579 "scenario with multipart field"
After upgrading to 1.0.1, I faced this issue.

In the following feature, multipart field is a json .
I passed it converted to a string to build a request successfully in `multiPartInternal()`
[code]

The feature failed with the following output.
[code]
logs:
[code]

[2021-04-29 18:52] ptrthomas commented on #1579
try this please:

[code]

if that doesn't work, I'm sorry we need you to submit a working example: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

[2021-04-29 18:52] #1579 closed

[2021-04-30 11:08] ivangsa commented on #1566
following back, we find this feature very useful: spliting mocks in several feature files (and also configuring a prefx/contextPath)
obviously paths can no be repeated in different files or first one will take precedence.. and default scenario would only make sense in last feature

there is already a draft PR #1570 already for this... if you guys agree I can update it to _open_

[2021-04-30 12:25] ptrthomas commented on #1566
has @dinesh19aug tested this ?

[2021-04-30 14:38] sujin-sam opened #1580 "[Karate-Gatling] Group function in Gatling doesn't provide group response time in report"
I have the following project
[karate-with-gatling.zip](https://github.com/intuit/karate/files/6406044/karate-with-gatling.zip)

I use the Group function which will call two feature files

- When I run the `sampleSimulation`
`mvn test-compile gatling:test -Dgatling.simulationClass=performance.data.sampleSimulation`

I get the report as below, which doesn't have the response times for the group name

[2021-05-01 00:52] chaudharydeepak commented on #1571
My 2 cents -

1. I think this functionality doesn't exist anymore - karate-netty is empty, may be the functionality moved to karate-core with armeria. see here https://github.com/intuit/karate/commit/1340f37274a159c7ac416d650d4f639ace86de8c#diff-7f3a8d388a58a274ae12fa880d63d08eef8e85d39b2a4348798402da89101eec

2. I do not see any code / url matching '__admin/stop' to invoke stop on server.

@ptrth

[2021-05-01 01:23] ptrthomas commented on #1571
@chaudharydeepak yes this is a case where I simply forgot to port the change and this is hard to have test automation for, so I don't insist on a unit-test. you should be able to easily port the old code to armeria.

here's the old code: https://github.com/intuit/karate/blob/v0.9.6/karate-core/src/main/java/com/intuit/karate/netty/FeatureServerHandler.java#L88 - which you already found. yes please

[2021-05-01 03:04] chaudharydeepak commented on #1571
@ptrthomas thank you. yup, will try apply as decorator first. will send a pr shortly.

[2021-05-01 05:30] ptrthomas commented on #1571
@chaudharydeepak thank you so much ! this really helps. not checking for `POST` is fine, convenient for anyone to open a browser / curl etc.

@staffier can you test when you get a chance that it works as expected from the `develop` branch ?

[2021-05-01 18:34] staffier commented on #1571
@chaudharydeepak & @ptrthomas -- looks great, thanks so much!

[2021-05-01 19:33] ptrthomas commented on #1571
@staffier great ! I'll keep this open until we release a formal version

[2021-05-01 19:58] staffier commented on #1571
my bad - sorry for jumping the gun here

[2021-05-01 21:05] dinesh19aug commented on #1566
@ptrthomas / @ivangsa  - This is how I tested and it matches the the intended behavior:

**Test 1: Single feature file with same paths**
Given mock files test1.feature
When two scenarios with same path exist - /test exists
Then first scenario is picked up.

**test1.feature**
Feature: stateful mock server
### The response file Bye.txt will be displayed
Scenario: pathMatches('/test')
* def response

[2021-05-02 03:29] ptrthomas commented on #1566
@dinesh19aug thanks - re-opening

[2021-05-03 09:18] ptrthomas commented on #1566
merged ! thanks all. would be nice if someone contributes documentation (just a few lines should do) we don't have a date yet in mind for release

[2021-05-03 09:25] ptrthomas commented on #1561
so @aaronjwhiteside apologies for sitting on this. I'm chilling a bit after the mad rush of 1.X
can you revise the PR so that we take the hit of breaking users and intro the new `raw path` "prefix" keyword
I'll plan a release 1.1.0-RC1 so that we can release that to the wild for feedback

[2021-05-03 12:49] dinesh19aug commented on #1566
@ptrthomas I will add some documentation

[2021-05-03 14:56] instylecases opened #1582 "How to unset proxy in Karate."
For my setup, Some of the tests require me to have proxy, while other do not. What would be any efficient way to unset proxy in Karate?.
Thanks

[2021-05-03 15:11] ptrthomas commented on #1582
please ask these kinds of questions on stack overflow: https://stackoverflow.com/q/47957125/143475 and you can use the `configure` keyword any time in a feature also (not just the karate-config.js)

[2021-05-03 15:11] #1582 closed

[2021-05-03 16:13] arthur25000 opened #1583 "[karate-core][1.0.1] Error in the calculation of the position of an element"
There is a bug in the calculation of the position of an element that affects karate-core 1.0.1 "rightOf" (and other similar functions).

The problem comes from the function com.intuit.karate.driver.DriverOptions#getPositionJs which adds the scrolled pixels to the coordinates of an element before the loop that find an element on the right.

The problem lies in the fact that when getting an element

[2021-05-03 17:00] ptrthomas commented on #1583
@arthur25000 thanks ! please submit a PR, much appreciated

[2021-05-03 17:01] ptrthomas commented on #1583
@arthur25000 if you can add a regression test to cover this into the `karate-e2e-tests` that would be great - but not mandatory

[2021-05-04 06:33] arthur25000 commented on #1583
Hi Thomas,

Sure I'll do that as soon as I have a little bit of time this week.

[2021-05-04 10:49] ptrthomas commented on #1583
@arthur25000 thanks for the PR and the tests ! can you also update the `karate-core` readme, a couple of lines should do. or paste it here as a comment and I'll add it under `position(locator)`

[2021-05-05 03:17] dinesh19aug commented on #1566
Updated documentation: https://github.com/intuit/karate/pull/1585

[2021-05-05 06:44] aaronjwhiteside commented on #1561
@ptrthomas acking your comment, might take me a few days to get around to it..

And just confirming that the new `raw path` step will perform the same prefix `/` trimming as the current codebase does, as opposed to truly being "raw" in that we accept whatever is passed in and append it to the `url`?

[2021-05-05 06:55] ptrthomas commented on #1561
@aaronjwhiteside great point.

* my answer is yes, let it behave the same way as current code base
* although it seems to defeat the purpose of `raw`
* we'll see what the feedback is for an RC before we take a "final" decision
* and we have the option to do the right thing for `raw` in a future release which yes - may mean a breaking change again
* but we can request users now that when they do a

[2021-05-05 09:03] arthur25000 commented on #1583
Hi Thomas

Ok, I'll do it. While checking the JS documentation on getBoundingClientRect() to update the readme, I realized I got it wrong in my explanation : it's the other way around. This function gives the coordinates relative to the current viewport while  com.intuit.karate.driver.DriverOptions#getPositionJs gives the absolute position. But the fix still holds as we need to pass relative posit

[2021-05-05 12:35] anilkrishnaraj opened #1586 "binary.feature is missing in responseBytes section"
404 error is showing when we click on binary.feature example.

[Link to the file](https://github.com/intuit/karate/blob/master/karate-junit4/src/test/java/com/intuit/karate/mock/binary.feature)

![res](https://user-images.githubusercontent.com/11063162/117141305-fd071c00-adcb-11eb-85e1-0ef87e65d0db.png)

[2021-05-05 13:42] ptrthomas commented on #1586
thanks fixed

[2021-05-05 13:42] #1586 closed

[2021-05-05 14:56] forlixdev opened #1587 "with karate-gatling dependency version 1.0.1 empty attributes are added to the soap request"
It seems that using the following karate-gatling dependency (version 1.0.1)

[code]
the request are not passed as it is but there's an empty attribute (xmlns) added the the soap request, making my tests failing. That is instead of:
`<service>123456789</service>`
the request sent is having an empty xmlns attribute:
`<service xmlns="">123456789</service>`

The problem is quite similar to the one rep

[2021-05-05 15:24] ptrthomas commented on #1587
I definitely don't consider this a priority, tagging as `help wanted`

[2021-05-05 16:11] ptrthomas commented on #1587
@forlixdev here's a way you can help. I think there is a way to force the XML parser used by `XmlUtils` but it needs some research, e.g. https://stackoverflow.com/a/3316678/143475 - so it would be great if you can investigate, fix and submit a PR. does that make sense ?

[2021-05-05 17:23] forlixdev commented on #1587
Of course, I can do some research about it, even if being only a tester I don't know if I'm able to finalize it.
As you said is not a critical bug, only a bit annoying since it worked with the previous version.

[2021-05-05 17:32] ptrthomas commented on #1587
@forlixdev no worries.  do try, any bit of research helps - it may be as simple as copying karate xml to string conversion code and trying it in the offending pom / project etc. we can try ask around for volunteers later

[2021-05-06 13:09] brianngo313 opened #1588 "Environment specific config doesn't work on v1.0.1"
[myproject.zip](https://github.com/intuit/karate/files/6438546/myproject.zip)

## Steps to reproduce:
1. Create a new skeleton project with

[code]

2. Replace `karate-config.js` with env specific config `karate-config-sandbox.js`

[code]

3. Replace fixed url in `users.feature` to configurable url `baseUrl`

[code]

4. Run test and log
[code]

## How did I find this bug?
I'm upgrading karate v0.9

[2021-05-06 13:25] ptrthomas commented on #1588
@brianngo313 won't look at this unless you follow this process: https://github.com/intuit/karate/wiki/How-to-Submit-an-Issue

next time please provide this feedback for RC releases when we ask, e.g: https://twitter.com/KarateDSL/status/1359010765219393538

so now this may take time to fix. you are welcome to submit a PR of course

[2021-05-06 13:40] joelpramos commented on #1588
20:58:18.081 [main] INFO  com.intuit.karate.Runner - using system property 'karate.env': staging

this log is suspicious... are overriding the variable within one of your tests?

[2021-05-07 01:20] brianngo313 commented on #1588
Well, sorry my bad, actually env1=staging, I anonymized my codes

[2021-05-07 02:29] brianngo313 commented on #1588
Sorry for the inconvenience, I updated the issue description following the howto guide

[2021-05-07 03:00] ptrthomas commented on #1588
reopening - right now tagged as `help wanted`